Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
Owners: none

chore: use parentProposals for clarity
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

make inbox storage layout more clear
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

first iteration
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

docs(protocol): add nethermind's operator & rm chainbound's temporarily
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Owners: none

fix
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Owners: none

docs(protocol): add nethermind's operator & rm chainbound's temporarily (#19950)
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Owners: none

chore(main): release taiko-alethia-client 1.11.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Owners: @cyberhorsey, @YoGhurt111

chore(main): release eventindexer 0.14.0
  .release-please-manifest.json
  packages/eventindexer/CHANGELOG.md
  packages/eventindexer/package.json
Owners: @KorbinianK, @bearni95

chore(main): release taiko-alethia-protocol 2.4.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Owners: @KorbinianK, @bearni95

chore(main): release bridge-ui 2.15.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Owners: @KorbinianK, @bearni95

chore(main): release relayer 0.12.1
  .release-please-manifest.json
  packages/relayer/CHANGELOG.md
  packages/relayer/package.json
Owners: @KorbinianK, @bearni95

chore(protocol): make inbox storage layout cleaner (#19947)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

fix bug
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/test/layer1/shasta/inbox/InboxForceInclusion.t.sol
Owners: none

Delete packages/protocol/.claude/settings.local.json
  packages/protocol/.claude/settings.local.json
Owners: none

Update .gitignore
  packages/protocol/.gitignore
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

Update repo--merge-gatekeeper.yml
  .github/workflows/repo--merge-gatekeeper.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--check-links.yml
  .github/workflows/repo--check-links.yml
Owners: @YoGhurt111, @RogerLamTd

retry codec
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/CODEC_SPECS.md
  packages/protocol/contracts/layer1/shasta/libs/LibClaimRecordCodec.sol
  packages/protocol/contracts/layer1/shasta/libs/LibCodec.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposalCoreStateCodec.sol
  packages/protocol/contracts/shared/based/libs/LibBonds.sol
  packages/protocol/test/layer1/shasta/EventGasComparison.t.sol
  packages/protocol/test/layer1/shasta/LibCodec.t.sol
  packages/protocol/test/layer1/shasta/ProposalCoreStateCodec/LibProposalCoreStateCodec_Core.t.sol
  packages/protocol/test/layer1/shasta/ProposalCoreStateCodec/LibProposalCoreStateCodec_Fuzz.t.sol
  packages/protocol/test/layer1/shasta/ProposalCoreStateCodec/LibProposalCoreStateCodec_Gas.t.sol
  packages/protocol/test/layer1/shasta/claimCodec/ClaimCodecCore.t.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/libs/LibProposalCoreStateCodec.sol
  packages/protocol/test/layer1/shasta/claimCodec/ClaimCodecCore.t.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/libs/CODEC_SPECS.md
  packages/protocol/contracts/layer1/shasta/libs/LibProposalCoreStateCodec.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/libs/LibClaimRecordCodec.sol
  packages/protocol/package.json
  packages/protocol/test/layer1/shasta/ClaimRecordCodec/LibClaimRecordCodec_Core.t.sol
  packages/protocol/test/layer1/shasta/ClaimRecordCodec/LibClaimRecordCodec_Fuzz.t.sol
  packages/protocol/test/layer1/shasta/ClaimRecordCodec/LibClaimRecordCodec_Gas.t.sol
  pnpm-lock.yaml
Owners: @KorbinianK, @bearni95

fmt
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibClaimRecordCodec.sol
  packages/protocol/test/layer1/shasta/ClaimRecordCodec/LibClaimRecordCodec_Core.t.sol
  packages/protocol/test/layer1/shasta/ClaimRecordCodec/LibClaimRecordCodec_Fuzz.t.sol
  packages/protocol/test/layer1/shasta/ClaimRecordCodec/LibClaimRecordCodec_Gas.t.sol
Owners: none

revert
  packages/protocol/package.json
  pnpm-lock.yaml
Owners: @KorbinianK, @bearni95

Update CODEC_SPECS.md
  packages/protocol/contracts/layer1/shasta/libs/CODEC_SPECS.md
Owners: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: none

more
  packages/protocol/contracts/layer1/shasta/libs/CODEC_SPECS.md
  packages/protocol/contracts/layer1/shasta/libs/LibProposalCoreStateCodec.sol
  packages/protocol/contracts/layer1/shasta/libs/OPTIMIZATION_GUIDE.md
Owners: none

more
  packages/protocol/contracts/layer1/shasta/libs/CODEC_OPTIMIZATION_GUIDE.md
  packages/protocol/contracts/layer1/shasta/libs/OPTIMIZATION_GUIDE.md
Owners: none

update
  packages/protocol/contracts/layer1/shasta/libs/LibClaimRecordCodec.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposalCoreStateCodec.sol
  packages/protocol/gas-reports/LibClaimRecordCodec_benchmark.md
  packages/protocol/gas-reports/LibProposalCoreStateCodec_benchmark.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/shasta/libs/LibClaimRecordCodec_Core.t.sol
  packages/protocol/test/layer1/shasta/libs/LibClaimRecordCodec_Fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibClaimRecordCodec_Gas.t.sol
  packages/protocol/test/layer1/shasta/libs/LibCodecBenchmark.sol
  packages/protocol/test/layer1/shasta/libs/LibProposalCoreStateCodec_Core.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposalCoreStateCodec_Fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposalCoreStateCodec_Gas.t.sol
Owners: none

Update CODEC_OPTIMIZATION_GUIDE.md
  packages/protocol/contracts/layer1/shasta/libs/CODEC_OPTIMIZATION_GUIDE.md
Owners: none

Update CODEC_OPTIMIZATION_GUIDE.md
  packages/protocol/contracts/layer1/shasta/libs/CODEC_OPTIMIZATION_GUIDE.md
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/libs/LibClaimRecordCodec.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposalCoreStateCodec.sol
  packages/protocol/test/layer1/shasta/libs/LibClaimRecordCodec_Core.t.sol
  packages/protocol/test/layer1/shasta/libs/LibClaimRecordCodec_Fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibClaimRecordCodec_Gas.t.sol
  packages/protocol/test/layer1/shasta/libs/LibCodecBenchmark.sol
  packages/protocol/test/layer1/shasta/libs/LibProposalCoreStateCodec_Gas.t.sol
Owners: none

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
