Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

chore(repo): remove monitors package as Defender is deprecated
  .github/workflows/monitors.yml
  README.md
  packages/monitors/.gitignore
  packages/monitors/README.md
  packages/monitors/defender/mainnet/.defender/deployment-log.mystack.json
  packages/monitors/defender/mainnet/.env.example
  packages/monitors/defender/mainnet/README.md
  packages/monitors/defender/mainnet/actions/Bridge-MessageProcessed/index.js
  packages/monitors/defender/mainnet/actions/ER20Vault-BridgedTokenChanged/index.js
  packages/monitors/defender/mainnet/actions/ERC20Vault-BalanceDrop/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ApprovedCount/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ConflictingProofs/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-GuardiansUpdated/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ProvingAutoPauseEnabled/index.js
  packages/monitors/defender/mainnet/actions/SGXVerifier-verifyProofFailure/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-BlockProposed/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-BlockVerified/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-CalldataTxListCount/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-ProvingPaused/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-TransitionContestedCount/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-TransitionProved/index.js
  packages/monitors/defender/mainnet/actions/Vaults-BridgedTokenDeployed/index.js
  packages/monitors/defender/mainnet/serverless.yml
  packages/monitors/package.json
  pnpm-lock.yaml
Owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95

cleanup
  packages/protocol/.eslintignore
Owners: none

implement and test SyncedBlockManager
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
  packages/protocol/foundry.toml
  packages/protocol/test/shared/shasta/SyncedBlockManager.t.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

fix issue in verify
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/lib/LibDecoder.sol
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/lib/LibDecoder.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
Owners: none

Update
  packages/tools/taiko-batch-stats-indexer/batches-proved-index.js
  packages/tools/taiko-batch-stats-indexer/networks.js
Owners: none

implement InboxStateManager
  packages/protocol/contracts/layer1/shasta/iface/IInboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerTest.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

feat: update repo readme (#124)
  README.md
Owners: none

chore(repo): remove monitors package as Defender is deprecated (#19870)
  .github/workflows/monitors.yml
  README.md
  packages/monitors/.gitignore
  packages/monitors/README.md
  packages/monitors/defender/mainnet/.defender/deployment-log.mystack.json
  packages/monitors/defender/mainnet/.env.example
  packages/monitors/defender/mainnet/README.md
  packages/monitors/defender/mainnet/actions/Bridge-MessageProcessed/index.js
  packages/monitors/defender/mainnet/actions/ER20Vault-BridgedTokenChanged/index.js
  packages/monitors/defender/mainnet/actions/ERC20Vault-BalanceDrop/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ApprovedCount/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ConflictingProofs/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-GuardiansUpdated/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ProvingAutoPauseEnabled/index.js
  packages/monitors/defender/mainnet/actions/SGXVerifier-verifyProofFailure/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-BlockProposed/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-BlockVerified/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-CalldataTxListCount/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-ProvingPaused/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-TransitionContestedCount/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-TransitionProved/index.js
  packages/monitors/defender/mainnet/actions/Vaults-BridgedTokenDeployed/index.js
  packages/monitors/defender/mainnet/serverless.yml
  packages/monitors/package.json
  packages/protocol/.eslintignore
  pnpm-lock.yaml
Owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95

more
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerEncodingTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerPartialHashTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerStorageTest.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

fix(taiko-client): add extended retry for missing trie node sync errors
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator.go
Owners: @cyberhorsey, @YoGhurt111

fix
  packages/protocol/contracts/layer1/shasta/iface/IInboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerEncodingTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerPartialHashTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerStorageTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerTest.t.sol
Owners: none

name
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

chore: remove redundant words
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByOperator.t.sol
Owners: none

rename
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

fix
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

fix(protocol): audit nits (#170)
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Owners: none

implement InboxStateManager (#19873)
  packages/protocol/contracts/layer1/shasta/iface/IInboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/shasta/InboxStateManagerEncodingTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerPartialHashTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerStorageTest.t.sol
  packages/protocol/test/layer1/shasta/InboxStateManagerTest.t.sol
Owners: none

Update BlockCalls.py
  packages/protocol/contracts/layer1/shasta/offchain-specs/BlockCalls.py
Owners: none

chore
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/shared/shasta/SyncedBlockManager.t.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/iface/IInboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

feat(protocol): propose one proposal & fix bugs in finalisation (#19872)
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/iface/IInboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxStateManager.sol
  packages/protocol/contracts/layer1/shasta/lib/LibDecoder.sol
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

implement and test SyncedBlockManager (#19871)
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/offchain-specs/BlockCalls.py
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/shared/shasta/SyncedBlockManager.t.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

chore(docs): minor identifier mismatch
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Owners: @RogerLamTd

fix(docs-site): minor identifier mismatch (#19876)
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Owners: @RogerLamTd

chore(eventindexer, relayer): fix inconsistent function name in comment (#19784)
  packages/eventindexer/pkg/mock/event_repository.go
  packages/eventindexer/pkg/repo/event.go
  packages/relayer/pkg/mock/event_repository.go
  packages/relayer/pkg/repo/event.go
Owners: none

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
