Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111

Update ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/TaikoAnchor.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/test/layer2/based/anchor/TaikoAnchor.t.sol
  packages/protocol/test/layer2/helpers/TaikoAnchor_NoBaseFeeCheck.sol
Owners: none

more
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/TaikoAnchor.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
  packages/protocol/test/layer2/helpers/TaikoAnchor_NoBaseFeeCheck.sol
  packages/protocol/test/shared/shasta/SyncedBlockManager.t.sol
Owners: none

Update ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/anchor/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
  packages/protocol/contracts/layer2/based/docs/Proving.mmd
  packages/protocol/contracts/layer2/based/iface/IBlockHashProvider.sol
  packages/protocol/contracts/layer2/based/libs/LibManifest.sol
  packages/protocol/contracts/layer2/shasta/iface/IAnchor.sol
  packages/protocol/contracts/layer2/shasta/iface/IBlockHashManager.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
  packages/protocol/contracts/layer2/shasta/impl/BlockHashManager.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/anchor/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/eip1559/LibEIP1559.sol
Owners: none

Update ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Owners: none

Update ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Owners: none

Update ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Owners: none

Update ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Owners: none

Update LibEIP1559.t.sol
  packages/protocol/test/layer2/based/eip1559/LibEIP1559.t.sol
Owners: none

move
  packages/protocol/contracts/layer2/based/IBlockHashProvider.sol
  packages/protocol/contracts/layer2/based/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/script/layer2/hekla/DeployPacayaL2.s.sol
  packages/protocol/test/layer2/Layer2Test.sol
  packages/protocol/test/layer2/based/TaikoAnchor.t.sol
  packages/protocol/test/layer2/helpers/TaikoAnchor_NoBaseFeeCheck.sol
Owners: none

move
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer2/based/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/libs/LibEIP1559.sol
  packages/protocol/contracts/shared/based/LibSharedData.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_ForkBoundaries.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer2/based/eip1559/LibEIP1559.t.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/OntakeAnchor.sol
  packages/protocol/test/layer2/based/libs/LibEIP1559.t.sol
Owners: none

fix
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/test/layer2/based/TaikoAnchor.t.sol
Owners: none

chore
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer2/based/IBlockHashProvider.sol
  packages/protocol/contracts/layer2/based/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/contracts/layer2/based/libs/LibEIP1559.sol
Owners: none

first iteration
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

small optimization
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

merge check logic inside notifyProposer
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

deposit and withdraw logic. Move minBond to BondManager
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

implement debit and credit bond functions
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

refactor
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

use uint96 everywhere
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
  packages/protocol/contracts/shared/shasta/libs/LibBondOperation.sol
Owners: none

make contract concrete
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

make BondManager abstract and have concrete implementations for L1 and L2
  packages/protocol/contracts/layer1/shasta/iface/IBondManagerL1.sol
  packages/protocol/contracts/layer1/shasta/impl/BondManagerL1.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer2/shasta/impl/BondManagerL2.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

time based withdrawal approach
  packages/protocol/contracts/layer1/shasta/iface/IBondManagerL1.sol
  packages/protocol/contracts/layer1/shasta/impl/BondManagerL1.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer2/shasta/impl/BondManagerL2.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

add natspec to withdrawalDelay
  packages/protocol/contracts/layer1/shasta/impl/BondManagerL1.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

cleanup
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
Owners: none

fix: withdrawal delay logic
  packages/protocol/contracts/layer1/shasta/impl/BondManagerL1.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
Owners: none

fix: withdrawal delay logic
  packages/protocol/contracts/layer1/shasta/impl/BondManagerL1.sol
Owners: none

simplify withdraw
  packages/protocol/contracts/layer1/shasta/impl/BondManagerL1.sol
Owners: none

revert order of operations in deposit
  packages/protocol/contracts/layer1/shasta/impl/BondManagerL1.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

feat(protocol): update base fee config (#175)
  packages/protocol/contracts/layer1/surge/SurgeDevnetInbox.sol
  packages/protocol/contracts/layer1/surge/SurgeHoodiInbox.sol
  packages/protocol/contracts/shared/based/LibSharedData.sol
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_prover_set.go
  packages/taiko-client/bindings/pacaya/gen_surge_proposer_wrapper.go
  packages/taiko-client/bindings/pacaya/gen_taiko_anchor.go
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/bindings/pacaya/gen_taiko_wrapper.go
  packages/taiko-client/pkg/config/protocol_config.go
Owners: @cyberhorsey, @YoGhurt111

fix: wrap existing error instead of creating new one in setLatestNonce
  packages/relayer/bridge/bridge.go
Owners: none

Update repo--claude.yml
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
  packages/protocol/contracts/layer2/based/libs/LibManifest.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/libs/LibManifest.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/script/layer2/hekla/DeployPacayaL2.s.sol
  packages/protocol/test/layer2/based/TaikoAnchor.t.sol
  packages/protocol/test/layer2/helpers/TaikoAnchor_NoBaseFeeCheck.sol
Owners: none
