Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111

more
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

Update Derivation.md
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

Update Derivation.md
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

Update Derivation.md
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

Update Derivation.md
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

chore(protocol): add network configuration for deployment (#176)
  packages/protocol/contracts/layer1/surge/SurgeDevnetInbox.sol
  packages/protocol/contracts/layer1/surge/SurgeMainnetInbox.sol
  packages/protocol/script/layer1/surge/DeploySurgeL1.s.sol
  packages/protocol/script/layer1/surge/deploy_surge_l1.sh
Owners: none

Update Derivation.md
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

Update Derivation.md
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

more
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

more
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

fix(repo): fix claude comment (#19901)
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

chore(main): release relayer 0.12.1
  .release-please-manifest.json
  packages/relayer/CHANGELOG.md
  packages/relayer/package.json
Owners: @KorbinianK, @bearni95

chore(main): release bridge-ui 2.15.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Owners: @KorbinianK, @bearni95

chore(main): release taiko-alethia-protocol 2.4.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Owners: @KorbinianK, @bearni95

chore(main): release eventindexer 0.14.0
  .release-please-manifest.json
  packages/eventindexer/CHANGELOG.md
  packages/eventindexer/package.json
Owners: @KorbinianK, @bearni95

chore(main): release taiko-alethia-client 1.10.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Owners: @cyberhorsey, @YoGhurt111

remove claim aggregation
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/libs/LibManifest.sol
  packages/protocol/contracts/shared/shasta/libs/LibBondOperation.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/docs/Derivation.md
  packages/protocol/contracts/layer2/based/libs/LibManifest.sol
Owners: none

ejector + rust setup for workspace
  Cargo.lock
  Cargo.toml
  packages/ejector/.env.example
  packages/ejector/Cargo.toml
  packages/ejector/crates/beacon/Cargo.toml
  packages/ejector/crates/beacon/src/lib.rs
  packages/ejector/crates/bindings/Cargo.toml
  packages/ejector/crates/bindings/src/lib.rs
  packages/ejector/crates/config/src/lib.rs
  packages/ejector/crates/monitor/Cargo.toml
  packages/ejector/crates/monitor/src/lib.rs
  packages/ejector/crates/utils/Cargo.toml
  packages/ejector/crates/utils/src/eject.rs
  packages/ejector/crates/utils/src/lib.rs
  packages/ejector/crates/utils/src/lookahead.rs
  packages/ejector/crates/utils/src/receipt.rs
  packages/ejector/src/main.rs
  rust-toolchain.toml
Owners: none

Dockerfile
  .gitignore
  packages/ejector/Dockerfile
Owners: none

validate pr title
  .github/workflows/repo--validate-pr-title.yml
Owners: @YoGhurt111, @RogerLamTd

change unwrap to expect
  packages/ejector/src/main.rs
Owners: none

adds ome tests, panic on error of preconfs enabled
  Cargo.lock
  packages/ejector/crates/beacon/Cargo.toml
  packages/ejector/crates/beacon/src/lib.rs
  packages/ejector/crates/monitor/src/lib.rs
  packages/ejector/crates/utils/src/lookahead.rs
Owners: none

add graceful shutdown
  Cargo.lock
  Cargo.toml
  packages/ejector/Cargo.toml
  packages/ejector/crates/config/src/lib.rs
  packages/ejector/crates/server/Cargo.toml
  packages/ejector/crates/server/src/lib.rs
  packages/ejector/src/main.rs
Owners: none

typo
  packages/ejector/crates/utils/src/lookahead.rs
Owners: none

Create Derivation2.md
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
Owners: none

Update IInbox.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
Owners: none

docs(protocol): enable ejector and EOA fallback proposer on Hekla (#19896)
  packages/protocol/deployments/hekla-contract-logs.md
Owners: none

Config object
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer2/based/libs/LibManifest.sol
Owners: none

Update Derivation2.md
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
Owners: none

more
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
  packages/protocol/contracts/shared/shasta/libs/LibBondOperation.sol
Owners: none

fmt
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
  packages/protocol/contracts/layer2/based/libs/LibManifest.sol
Owners: none

Update Derivation2.md
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
Owners: none

Update Derivation2.md
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
Owners: none

Update Derivation2.md
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
Owners: none

more
  packages/protocol/contracts/layer2/based/docs/Derivation.md
  packages/protocol/contracts/layer2/based/docs/Derivation2.md
  packages/protocol/contracts/layer2/based/docs/Proving.mmd
Owners: none

more
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
Owners: none

remove unwraps
  packages/ejector/crates/beacon/src/lib.rs
  packages/ejector/crates/server/src/lib.rs
Owners: none

never eject on an error checking if preconfs enabled
  packages/ejector/crates/monitor/src/lib.rs
Owners: none
