Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
Owners: none

chore
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/REFACTORING_RECOMMENDATIONS.md
Owners: none

remove redundant return info
  packages/protocol/contracts/layer1/based/IProposeBatch.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/snapshots/ProposeAndProve.json
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
Owners: none

remove blocks from event
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/snapshots/ProposeAndProve.json
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
Owners: none

feat(protocol): fix test failures (#19962)
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/REFACTORING_RECOMMENDATIONS.md
  packages/protocol/test/layer1/shasta/inbox/TestInboxWithMockBlobs.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/shared-contracts.txt
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/LibProposedEventEncoder.md
  packages/protocol/gas-reports/LibProveDataDecoder.md
  packages/protocol/gas-reports/LibProvedEventEncoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
Owners: none

reuse pacaya slots
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaInbox.sol
Owners: none

chore(protocol): reuse pacaya ring buffer (#19964)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaInbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/package.json
  packages/protocol/test-all-inbox-implementations.sh
  packages/protocol/test/layer1/shasta/inbox/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/README.md
  packages/protocol/test/layer1/shasta/inbox/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized3.sol
Owners: @KorbinianK, @bearni95

more
  packages/protocol/test-all-inbox-implementations.sh
  packages/protocol/test/layer1/shasta/inbox/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
Owners: none

feat(protocol): implement custom decoder and encoder to improve gas efficiency (#19954)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibCodec.sol
  packages/protocol/contracts/layer1/shasta/libs/LibPackUnpack.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/gas-reports/LibProposeDataDecoder.md
  packages/protocol/gas-reports/LibProposedEventEncoder.md
  packages/protocol/gas-reports/LibProveDataDecoder.md
  packages/protocol/gas-reports/LibProvedEventEncoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/test/layer1/shasta/EventGasComparison.t.sol
  packages/protocol/test/layer1/shasta/LibCodec.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpack.t.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpackFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
  pnpm-workspace.yaml
Owners: none

Update InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
Owners: none

fix
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

fmt
  packages/protocol/test/layer1/shasta/inbox/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized3.sol
Owners: none

rename
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
Owners: none

Update LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
Owners: none

Update gen-layouts.sh
  packages/protocol/script/gen-layouts.sh
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/package.json
  packages/protocol/test-all-inbox-implementations.sh
  packages/protocol/test/layer1/shasta/inbox/README.md
  packages/protocol/test/layer1/shasta/inbox/run-inbox-tests.sh
Owners: @KorbinianK, @bearni95

chore
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/README.md
  packages/protocol/test/layer1/shasta/inbox/TestInboxFactory.sol
Owners: none

Update TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxFactory.sol
Owners: none

Update InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

event Finalized and lastFinalizedTimestamp
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
Owners: none

Improve the logs (#182)
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
Owners: @cyberhorsey, @YoGhurt111

deadline uint48
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

feat: modify overseer to use registration roots
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/iface/IOverseer.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/Overseer.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStoreBase.sol
  packages/protocol/test/layer1/preconf/mocks/MockOverseer.sol
Owners: none

fix
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

Update packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
Owners: none

feat(taiko-client): fallback to sgx proof
  .claude/settings.local.json
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
Owners: @cyberhorsey, @YoGhurt111

rm useless flag
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/lookahead.go
Owners: @cyberhorsey, @YoGhurt111

fix lint
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
Owners: @cyberhorsey, @YoGhurt111

add originBlockHash
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol
Owners: none

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
