Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111

chore(protocol): make sure the wrapper is not used alone (#19849)
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
Owners: none

chore(protocol): configurable gas issuance changes (#19843)
  packages/protocol/contracts/layer1/based2/IInbox.sol
  packages/protocol/contracts/layer1/based2/libs/LibValidate.sol
  packages/protocol/script/layer1/mainnet/DeployWhitelistWithEjecter.sol
Owners: none

chore(docs-site): add rpc, oracle and aa providers (#19835)
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Owners: @RogerLamTd

chore
  packages/protocol/contracts/layer1/based2/libs/LibVerify.sol
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/IShastaInboxStore.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxStore.sol
Owners: none

fix pipeline
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Owners: none

add fallbackPreconfer to whitelist ctor
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/script/layer1/mainnet/DeployWhitelistWithEjecter.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Owners: none

feat(prover): add support for external signer from optimism module
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/pkg/flags/config.go
Owners: @cyberhorsey, @YoGhurt111

Create DESIGN.md
  packages/protocol/contracts/layer1/based3/DESIGN.md
Owners: none

Update DESIGN.md
  packages/protocol/contracts/layer1/based3/DESIGN.md
Owners: none

Create BuildBlocks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/BuildBlocks.sol
Owners: none

more
  packages/protocol/contracts/layer1/based3/offchain-specs/BuildBlocks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/IOffchainData.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/SystemCalls.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/based3/offchain-specs/BuildBlocks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/IOffchainData.sol
Owners: none

more
  packages/protocol/contracts/layer1/based3/offchain-specs/Hooks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/IOffchainData.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/ISpecs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Specs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/SystemCalls.sol
Owners: none

more
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/IShastaInboxStore.sol
Owners: none

fix
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Hooks.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/ISpecs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Specs.sol
Owners: none

more
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/based3/DESIGN.md
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/IShastaInboxStore.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxStore.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/BlobDecoder.py
  packages/protocol/contracts/layer1/based3/offchain-specs/BlockPreparer.py
  packages/protocol/contracts/layer1/based3/offchain-specs/Data.py
  packages/protocol/contracts/layer1/based3/offchain-specs/ISpecs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/README.md
  packages/protocol/contracts/layer1/based3/offchain-specs/Specs.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/SystemCall.py
  packages/protocol/contracts/layer1/based3/offchain-specs/requirements.txt
Owners: none

chore
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Owners: none

more
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/offchain-specs/Data.py
Owners: none

Update ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Owners: none

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-preconfirmation.mdx
Owners: @RogerLamTd

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
Owners: @RogerLamTd

chore(docs-site): update guides for based preconfs upgrade (#19790)
  _typos.toml
  packages/docs-site/.prettierignore
  packages/docs-site/astro.config.ts
  packages/docs-site/package.json
  packages/docs-site/src/assets/custom-icons.ts
  packages/docs-site/src/content/config.ts
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
  packages/docs-site/src/content/docs/network-reference/software-releases-and-deployments.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/composeverifier-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikoanchor-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikoinbox-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/taiko-alethia-nodes.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-preconfirmation.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-rollups.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/inception-layers.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/pacaya-fork-taiko-alethia.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/what-is-taiko-alethia.md
Owners: @RogerLamTd

chore(main): release docs-site 1.29.4
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Owners: @RogerLamTd

chore(main): release docs-site 1.29.4 (#19850)
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Owners: @RogerLamTd

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Owners: @RogerLamTd

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Owners: @RogerLamTd

chore(docs-site): missed config (#19853)
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Owners: @RogerLamTd

chore(main): release docs-site 1.29.5
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Owners: @RogerLamTd

chore(main): release docs-site 1.29.5 (#19854)
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Owners: @RogerLamTd

support multiple blobs
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Owners: none

feat(taiko-client): add support for external signer from optimism module (#19851)
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/pkg/flags/config.go
Owners: @cyberhorsey, @YoGhurt111

chore(main): release relayer 0.13.0
  .release-please-manifest.json
  packages/relayer/CHANGELOG.md
  packages/relayer/package.json
Owners: @KorbinianK, @bearni95

chore(main): release bridge-ui 2.15.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Owners: @KorbinianK, @bearni95

chore(main): release eventindexer 0.14.0
  .release-please-manifest.json
  packages/eventindexer/CHANGELOG.md
  packages/eventindexer/package.json
Owners: @KorbinianK, @bearni95

chore(main): release taiko-alethia-protocol 2.4.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Owners: @KorbinianK, @bearni95

chore(main): release taiko-alethia-client 1.10.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Owners: @cyberhorsey, @YoGhurt111

feature(protocol): the script of upgrading prover set for preconf
  packages/protocol/script/layer1/hekla/UpgradeHeklaProverSet.s.sol
Owners: none

feat(protocol): prepare the calldata for mainnet preconf
  packages/protocol/script/layer1/mainnet/DeployWLAndWrapper.s.sol
Owners: none

Update packages/protocol/script/layer1/hekla/UpgradeHeklaProverSet.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaProverSet.s.sol
Owners: none
