Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @davidtaikocha, @KorbinianK, @bearni95, @cyberhorsey

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd @davidtaikocha
go.sum                      @YoGhurt111 @RogerLamTd @davidtaikocha
.github/workflows/*         @YoGhurt111 @RogerLamTd @davidtaikocha
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111 @davidtaikocha

fix: fix DeployProtocolOnL1.s.sol after merging main
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Owners: none

Update deploy-a-contract.mdx
  packages/docs-site/src/content/docs/guides/app-developers/deploy-a-contract.mdx
Owners: @RogerLamTd

feat: update bindings
  packages/taiko-client/bindings/shasta/.githead
  packages/taiko-client/bindings/shasta/gen_shasta_anchor.go
  packages/taiko-client/bindings/shasta/gen_shasta_inbox.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/pkg/state_indexer/state.go
  packages/taiko-client/proposer/transaction_builder/blob.go
Owners: @cyberhorsey, @YoGhurt111, @davidtaikocha

fix: fix lint errors
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/state_indexer/state.go
Owners: @cyberhorsey, @YoGhurt111, @davidtaikocha

feat: update shasta fork height
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
Owners: none

chore: update PACAYA_FORK_TAIKO_MONO in ci
  .github/workflows/taiko-client--test.yml
Owners: @YoGhurt111, @RogerLamTd, @davidtaikocha

feat(protocol): add contracts of alethia-hoodi testnet
  packages/protocol/contracts/layer1/alethia-hoodi/AlethiaHoodiInbox.sol
  packages/protocol/contracts/layer1/alethia-hoodi/AlethiaHoodiTaikoToken.sol
  packages/protocol/contracts/layer1/alethia-hoodi/verifiers/AlethiaHoodiVerifier.sol
  packages/protocol/contracts/shared/libs/LibNetwork.sol
Owners: none

Update lookahead.rs
  packages/ejector/crates/utils/src/lookahead.rs
Owners: none

delete AlethiaHoodiTaikoToken, use TaikoToken instead
  packages/protocol/contracts/layer1/alethia-hoodi/AlethiaHoodiTaikoToken.sol
Owners: none

Update lib.rs
  packages/ejector/crates/beacon/src/lib.rs
Owners: none

docs(protocol): contract deployment logs of alethia-hoodi testnet
  packages/protocol/deployments/alethia-hoodi-contract-logs.md
Owners: none

feat: fix a bug in shastaManifest.ValidateMetadata
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta.go
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta_test.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/transaction_builder/blob.go
Owners: @cyberhorsey, @YoGhurt111, @davidtaikocha

fix: update ci
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd, @davidtaikocha

fix(repo): revert claude auto review changes, dont run on forks (#20031)
  .github/workflows/claude-code-review.yml
Owners: @YoGhurt111, @RogerLamTd, @davidtaikocha

split aggregation and calculating bonds to libraries
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibTransitionAggregation.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Owners: none

inbox uses LibBonds as well
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/snapshots/shasta-prove.json
Owners: none

avoid passing the entire config struct to calculateBondInstructions
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibTransitionAggregation.sol
  packages/protocol/snapshots/shasta-prove.json
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibTransitionAggregation.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
Owners: none

use LibBonds.mergeInstructions
  packages/protocol/contracts/layer1/shasta/libs/LibTransitionAggregation.sol
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/libs/LibTransitionAggregation.sol
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none
