Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

docs(protocol): upgrade prover set to make router as entrypoint (#19859)
  packages/protocol/deployments/hekla-contract-logs.md
Owners: none

fix(protocol): emit Proved event for aggregated claim records (#19895)
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

convert back to use require-statement
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibBlobs.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
  packages/protocol/contracts/layer2/shasta/impl/BlockHashManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
Owners: none

fix(bridge-ui): fix issue where TokenInput quota validation always returning false (#19814)
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
Owners: none

refactor using Claude code for formatting
  packages/protocol/CLAUDE.md
  packages/protocol/contracts/layer1/preconf/iface/IOverseer.sol
  packages/protocol/contracts/layer1/preconf/impl/Overseer.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBlockHeader.sol
  packages/protocol/contracts/shared/governance/SimpleMultisig.sol
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
Owners: none

fmt
  packages/protocol/CLAUDE.md
  packages/protocol/contracts/layer1/preconf/iface/IOverseer.sol
  packages/protocol/contracts/layer1/preconf/impl/Overseer.sol
  packages/protocol/contracts/shared/governance/SimpleMultisig.sol
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
Owners: none

shorten separator lines
  packages/protocol/CLAUDE.md
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/lib/LibDecoder.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
  packages/protocol/contracts/layer2/shasta/impl/BlockHashManager.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/libs/LibBondOperation.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStoreBase.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByOperator.t.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByProtectorOrWhitelistedPreconfer.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter2.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter2TestBase.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasherBase.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasher_InvalidEOP.t.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasher_MissingEOP.t.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasher_PreconfViolation.t.sol
Owners: none

feat(protocol): enable claim record aggregation (#19892)
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibBlobs.sol
Owners: none

refactor(protocol): revert to using require-statement (#19897)
  packages/protocol/.claude/settings.local.json
  packages/protocol/CLAUDE.md
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/lib/LibDecoder.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
  packages/protocol/contracts/layer2/shasta/impl/BlockHashManager.sol
  packages/protocol/contracts/shared/shasta/iface/IBondManager.sol
  packages/protocol/contracts/shared/shasta/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/impl/BondManager.sol
  packages/protocol/contracts/shared/shasta/impl/SyncedBlockManager.sol
  packages/protocol/contracts/shared/shasta/libs/LibBondOperation.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStoreBase.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByOperator.t.sol
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStore_PostedByProtectorOrWhitelistedPreconfer.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter2.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter2TestBase.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasherBase.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasher_InvalidEOP.t.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasher_MissingEOP.t.sol
  packages/protocol/test/layer1/preconf/slasher/PreconfSlasher_PreconfViolation.t.sol
Owners: none

fix compilation issues
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/foundry.toml
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_BondToken.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_EtherAsBond.t.sol
  packages/protocol/test/layer1/based/InboxTest_ForkBoundaries.t.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/.claude/settings.local.json
Owners: none

Update code4rena-2024-03-taiko-final-report.md
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update IInbox.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
Owners: none

Update LibManifest.sol
  packages/protocol/contracts/layer2/shasta/libs/LibManifest.sol
Owners: none

Update Anchor.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
Owners: none

Update settings.local.json
  packages/protocol/.claude/settings.local.json
Owners: none

Update LibManifest.sol
  packages/protocol/contracts/layer2/shasta/libs/LibManifest.sol
Owners: none

Update LibManifest.sol
  packages/protocol/contracts/layer2/shasta/libs/LibManifest.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

fix(repo): fix claude cr
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

.
  CONTRIBUTING.md
Owners: none

.
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

account for issue instead of pull_req trigger
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

fix
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetInbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

fix(driver): stop tickers/timers and cancel context on close to prevent leaks
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

Update repo--claude.yml
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--claude.yml
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--claude.yml
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--claude.yml
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--claude.yml
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

remove solver
  packages/protocol/contracts/layer2/shasta/docs/Proving.md
Owners: none

more
  packages/protocol/contracts/layer2/shasta/docs/Derivation.md
  packages/protocol/contracts/layer2/shasta/docs/Proving.md
  packages/protocol/contracts/layer2/shasta/docs/Proving.mmd
Owners: none

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
