Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

fix
  packages/protocol/contracts/layer1/based2/AbstractInbox.sol
  packages/protocol/contracts/layer1/based2/Inbox.sol
  packages/protocol/contracts/layer1/based2/libs/LibPropose.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

remove unnecessary todos
  packages/protocol/contracts/layer1/based2/codec/LibCodecBatchContext.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecProposeBatchInputs.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecProveBatchInputs.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecProverAuth.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecSummary.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecTransitionMeta.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

log out peers in info mode
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

add advertise
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

add peer loop
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

check dv5local
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

make sure discovery/etc is working in peer loop
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

add peerINfo to log
  go.mod
  go.sum
  packages/taiko-client/driver/driver.go
Owners: @YoGhurt111, @RogerLamTd, @cyberhorsey

clean up
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

Fix deprecated package
  go.mod
  go.sum
  packages/taiko-client/driver/driver.go
Owners: @YoGhurt111, @RogerLamTd, @cyberhorsey

log peers info
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

better logging
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

log
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

first draft
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
Owners: none

Update CodecPrompt.md
  packages/protocol/contracts/layer1/based2/codec/CodecPrompt.md
Owners: none

Update code4rena-2024-03-taiko-final-report.md
  packages/protocol/audit/code4rena-2024-03-taiko-final-report.md
Owners: none

second draft
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxState.sol
Owners: none

chore
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxState.sol
Owners: none

refactor
  packages/protocol/contracts/layer1/based3/IShastaInbox.sol
  packages/protocol/contracts/layer1/based3/IShastaInboxStore.sol
  packages/protocol/contracts/layer1/based3/ShastaInbox.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxState.sol
  packages/protocol/contracts/layer1/based3/ShastaInboxStore.sol
Owners: none

wip
  .gitignore
  Cargo.lock
  Cargo.toml
  packages/ejector/.env.example
  packages/ejector/.gitignore
  packages/ejector/Cargo.toml
  packages/ejector/crates/config/.gitignore
  packages/ejector/crates/config/Cargo.toml
  packages/ejector/crates/config/src/lib.rs
  packages/ejector/src/main.rs
  rustfmt.toml
Owners: none

fix lint
  packages/taiko-client/driver/driver.go
Owners: @cyberhorsey, @YoGhurt111

fix(repo): claude workflow permissions
  .github/workflows/claude-code-review.yml
Owners: @YoGhurt111, @RogerLamTd

chore(protocol): change pr permission and remove github_token (#19845)
  .github/workflows/claude-code-review.yml
Owners: @YoGhurt111, @RogerLamTd

revert
  .github/workflows/claude-code-review.yml
Owners: @YoGhurt111, @RogerLamTd

rm from workflow
  .github/workflows/taiko-client--docker.yml
Owners: @YoGhurt111, @RogerLamTd

revert
  .github/workflows/claude-code-review.yml
Owners: @YoGhurt111, @RogerLamTd

fix(taiko-client): p2p fixes (#19841)
  go.mod
  go.sum
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/pkg/rpc/methods.go
Owners: @YoGhurt111, @RogerLamTd, @cyberhorsey

add nonzero address validation to ForcedInclusionStore ctor
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
Owners: none

feat(protocol): remove deprecated PreconfRouter and TaikoWrapper (#19836)
  .github/workflows/repo--claude.yml
  packages/protocol/contracts/layer1/based2/AbstractInbox.sol
  packages/protocol/contracts/layer1/based2/IInbox.sol
  packages/protocol/contracts/layer1/based2/Inbox.sol
  packages/protocol/contracts/layer1/based2/libs/LibBinding.sol
  packages/protocol/contracts/layer1/based2/libs/LibPropose.sol
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradePacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
Owners: @YoGhurt111, @RogerLamTd

chore(main): release taiko-alethia-client 1.9.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Owners: @cyberhorsey, @YoGhurt111

chore(main): release taiko-alethia-client 1.9.0 (#19801)
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Owners: @cyberhorsey, @YoGhurt111

fix: use batchId before processing batches
  packages/protocol/contracts/layer1/based2/libs/LibPropose.sol
Owners: none

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-alethia.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-alethia-node-with-docker.mdx
Owners: @RogerLamTd

.
  packages/docs-site/src/content/docs/guides/node-operators/run-a-node-for-taiko-hekla.mdx
Owners: @RogerLamTd

make getFallbackPreconfer an implementation detail of getCurrentPreconger
  packages/protocol/contracts/layer1/based2/AbstractInbox.sol
  packages/protocol/contracts/layer1/based2/Inbox.sol
  packages/protocol/contracts/layer1/based2/libs/LibBinding.sol
  packages/protocol/contracts/layer1/based2/libs/LibValidate.sol
Owners: none

revert workflow space changes
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

Update checkBalanceToBridge.ts
  packages/bridge-ui/src/libs/bridge/checkBalanceToBridge.ts
Owners: none

chore(protocol): make sure the wrapper is not used alone (#19813)
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
Owners: none

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
