Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

refactor
  packages/protocol/contracts/layer1/shasta/impl/InboxBase.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxWithSlotOptimization.sol
  packages/protocol/test/layer1/shasta/inbox/InboxSlotOptimization.t.sol
Owners: none

Update InboxBase.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxBase.sol
Owners: none

doc
  packages/protocol/contracts/layer1/shasta/impl/InboxBase.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxWithSlotOptimization.sol
Owners: none

Delete STORAGE_OPERATIONS_ANALYSIS.md
  packages/protocol/STORAGE_OPERATIONS_ANALYSIS.md
Owners: none

Delete SHASTA_INBOX_TEST_PLAN.md
  packages/protocol/SHASTA_INBOX_TEST_PLAN.md
Owners: none

Update InboxBase.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxBase.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

change request sync margin to 64
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

publish request if havent seen a proposal
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

Create BondManager.t.sol
  packages/protocol/test/shared/based/BondManager.t.sol
Owners: none

more tests
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/shared/based/BondManager.t.sol
Owners: none

Update bridge-ui--ci.yml
  .github/workflows/bridge-ui--ci.yml
Owners: @YoGhurt111, @RogerLamTd

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Owners: @YoGhurt111, @RogerLamTd

Update cleanup-releases.yml
  .github/workflows/cleanup-releases.yml
Owners: @YoGhurt111, @RogerLamTd

Update docs-site--preview.yml
  .github/workflows/docs-site--preview.yml
Owners: @YoGhurt111, @RogerLamTd

Update docs-site--production.yml
  .github/workflows/docs-site--production.yml
Owners: @YoGhurt111, @RogerLamTd

Update eventindexer.yml
  .github/workflows/eventindexer.yml
Owners: @YoGhurt111, @RogerLamTd

Update fork-diff--preview.yml
  .github/workflows/fork-diff--preview.yml
Owners: @YoGhurt111, @RogerLamTd

Update fork-diff--production.yml
  .github/workflows/fork-diff--production.yml
Owners: @YoGhurt111, @RogerLamTd

Update nfts.yml
  .github/workflows/nfts.yml
Owners: @YoGhurt111, @RogerLamTd

Update protocol.yml
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

Update relayer.yml
  .github/workflows/relayer.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--check-links.yml
  .github/workflows/repo--check-links.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--claude.yml
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--typo-check.yml
  .github/workflows/repo--typo-check.yml
Owners: @YoGhurt111, @RogerLamTd

Update repo--vercel-deploy.yml
  .github/workflows/repo--vercel-deploy.yml
Owners: @YoGhurt111, @RogerLamTd

Update snaefell-ui--ci.yml
  .github/workflows/snaefell-ui--ci.yml
Owners: @YoGhurt111, @RogerLamTd

Update supplementary-contracts.yml
  .github/workflows/supplementary-contracts.yml
Owners: @YoGhurt111, @RogerLamTd

Update taiko-client--docker.yml
  .github/workflows/taiko-client--docker.yml
Owners: @YoGhurt111, @RogerLamTd

Update taiko-client--hive-test.yml
  .github/workflows/taiko-client--hive-test.yml
Owners: @YoGhurt111, @RogerLamTd

Update taiko-client--pages.yml
  .github/workflows/taiko-client--pages.yml
Owners: @YoGhurt111, @RogerLamTd

Update taiko-client--test.yml
  .github/workflows/taiko-client--test.yml
Owners: @YoGhurt111, @RogerLamTd

Update taikoon-ui--ci.yml
  .github/workflows/taikoon-ui--ci.yml
Owners: @YoGhurt111, @RogerLamTd

Update ui-lib--ci.yml
  .github/workflows/ui-lib--ci.yml
Owners: @YoGhurt111, @RogerLamTd

check tip
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @YoGhurt111, @RogerLamTd, @cyberhorsey

re-use requests
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

rm build
  .github/workflows/taiko-client--docker.yml
Owners: @YoGhurt111, @RogerLamTd

can request 128 behind tip
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

chore(taiko-client): lower request sync margin (#19913)
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

chore(main): release taiko-alethia-client 1.10.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Owners: @cyberhorsey, @YoGhurt111

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
