Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

chore(main): release taiko-alethia-client 1.10.1 (#19886)
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Owners: @cyberhorsey, @YoGhurt111

change min base fee to 0.025gwei
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
Owners: none

Update packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
Owners: none

fix(repo): fix check links to inclide 200 status
  .github/workflows/repo--check-links.yml
Owners: @YoGhurt111, @RogerLamTd

remove bonds from L1
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetInbox.sol
  packages/protocol/contracts/layer2/based/BondManager.sol
  packages/protocol/contracts/layer2/based/IBondManager.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
  packages/protocol/contracts/shared/based/libs/LibBondInstruction.sol
  packages/protocol/contracts/shared/based/libs/LibBondOperation.sol
  packages/protocol/test/shared/based/SyncedBlockManager.t.sol
Owners: none

feat(protocol): change min base fee to 0.025 gwei (#19915)
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
Owners: none

more
  packages/protocol/contracts/layer2/based/BondManager.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
Owners: none

chore
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
Owners: none

feat(protocol): enforce min base fee to 0.025 gwei
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
Owners: none

feat(protocol): enforce min base fee to 0.025 gwei (#19918)
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
Owners: none

fix(repo): fix check links to inclide 200 status (#19916)
  .github/workflows/repo--check-links.yml
Owners: @YoGhurt111, @RogerLamTd

fix
  packages/protocol/.claude/settings.local.json
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/ShastaInboxTestBase.sol
Owners: none

fix
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBufferOverflow.t.sol
Owners: none

fix
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBufferOverflow.t.sol
  packages/protocol/test/layer1/shasta/inbox/ShastaInboxTestBase.sol
  packages/protocol/test/shared/based/BondManager.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

fix(protocol): anchor transaction base fee non zero (#177)
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
Owners: none

the execution tx hashes
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
Owners: none

fix(protocol): missing documentation in anchorV3 (#178)
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
Owners: none

ci: bump actions/checkout to v5
  .github/workflows/bridge-ui--ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/cleanup-releases.yml
  .github/workflows/docs-site--preview.yml
  .github/workflows/docs-site--production.yml
  .github/workflows/eventindexer.yml
  .github/workflows/fork-diff--preview.yml
  .github/workflows/fork-diff--production.yml
  .github/workflows/nfts.yml
  .github/workflows/protocol.yml
  .github/workflows/relayer.yml
  .github/workflows/repo--check-links.yml
  .github/workflows/repo--claude.yml
  .github/workflows/repo--typo-check.yml
  .github/workflows/repo--vercel-deploy.yml
  .github/workflows/snaefell-ui--ci.yml
  .github/workflows/supplementary-contracts.yml
  .github/workflows/taiko-client--docker.yml
  .github/workflows/taiko-client--hive-test.yml
  .github/workflows/taiko-client--pages.yml
  .github/workflows/taiko-client--test.yml
  .github/workflows/taikoon-ui--ci.yml
  .github/workflows/ui-lib--ci.yml
Owners: @YoGhurt111, @RogerLamTd

Update .github/workflows/taiko-client--docker.yml
  .github/workflows/taiko-client--docker.yml
Owners: @YoGhurt111, @RogerLamTd

Create InboxCoverageImprovement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxCoverageImprovement.t.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

chore
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxCoverageImprovement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/ShastaInboxTestBase.sol
Owners: none

fmt
  packages/protocol/test/layer1/shasta/inbox/InboxCoverageImprovement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/ShastaInboxTestBase.sol
Owners: none

revert
  packages/protocol/contracts/layer1/based/IBondManager.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/based/libs/LibVerification.sol
Owners: none

Delete packages/protocol/.claude/settings.local.json
  packages/protocol/.claude/settings.local.json
Owners: none

forge fmt & update contract layout tables
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
Owners: none

deadline
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibDecoder.sol
Owners: none

Update Derivation.md
  packages/protocol/docs/Derivation.md
Owners: none

Update ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
Owners: none

Update Derivation.md
  packages/protocol/docs/Derivation.md
Owners: none

move
  packages/protocol/contracts/shared/based/libs/LibBondOperation.sol.sol
Owners: none

move
  packages/protocol/contracts/shared/based/libs/LibBondOperation.sol
Owners: none

Update LibBondInstruction.sol
  packages/protocol/contracts/shared/based/libs/LibBondInstruction.sol
Owners: none

improve
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/shared/based/libs/.claude/settings.local.json
Owners: none

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetInbox.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetInbox.sol
Owners: none

rename
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxWithSlotReuse.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/shared/based/libs/.claude/settings.local.json
  packages/protocol/contracts/shared/based/libs/LibBonds.sol
Owners: none

feat(taiko-client): fallback preconf (#19546)
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_preconf_router.go
  packages/taiko-client/bindings/pacaya/gen_preconf_whitelist.go
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/config_test.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
  packages/taiko-client/scripts/gen_bindings.sh
Owners: @cyberhorsey, @YoGhurt111

docs(protocol): the preconf deployment logs on mainnet (#19778)
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
Owners: none

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
