Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

feat(taiko-client): Add duration metrics to PreconfBlockApiServer methods
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/metrics/metrics.go
Owners: @cyberhorsey, @YoGhurt111

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

chore(taiko-client): add duration to logs on preconfblockapiserver methods
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

improve encoder/decoder
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
Owners: none

more
  packages/protocol/gas-reports/LibProposeDataDecoder.md
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
Owners: none

Update LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
Owners: none

Update LibProposeDataDecoder.md
  packages/protocol/gas-reports/LibProposeDataDecoder.md
Owners: none

test(protocol): test different inbox implementations using one set of tests (#19965)
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/package.json
  packages/protocol/script/gen-layouts.sh
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/README.md
  packages/protocol/test/layer1/shasta/inbox/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/run-inbox-tests.sh
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
Owners: @KorbinianK, @bearni95

more fields needed?
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
Owners: none

Update LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
Owners: none

Update LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
Owners: none

Update IInbox.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
Owners: none

inbox now uses BatchParams
  packages/protocol/contracts/layer1/based/IProposeBatch.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/LibProposeDataDecoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

apply new interfaaces and use scopes in TaikoInbox to avoid stack too deep error
  packages/protocol/contracts/layer1/based/IProposeBatch.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
Owners: none

only decode forced inclusions when there's data
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/snapshots/ProposeAndProve.json
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
Owners: none

Revert last 4 commits (65da2a0f3, 1ebaa9171, 5ad6fe5cd, fbabcaefa)
  packages/protocol/contracts/layer1/based/IProposeBatch.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/snapshots/ProposeAndProve.json
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
Owners: none

save gas by not decoding the regular batch params on the wrapper
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/snapshots/ProposeAndProve.json
Owners: none

refactor to use base test file
  packages/protocol/snapshots/ProposeAndProve.json
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/shared/ForkTestBase.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/shared/ForkTestBase.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/.gas-snapshot
  packages/protocol/layout/layer1-contracts.md
  packages/protocol/layout/layer2-contracts.md
  packages/protocol/snapshots/ProposeAndProve.json
Owners: none

chore
  packages/protocol/.gas-snapshot
  packages/protocol/layout/layer1-contracts.md
  packages/protocol/layout/layer2-contracts.md
  packages/protocol/snapshots/ProposeAndProve.json
Owners: none

forge fmt & update contract layout tables
  packages/protocol/.gas-snapshot
  packages/protocol/layout/layer1-contracts.md
  packages/protocol/layout/layer2-contracts.md
  packages/protocol/snapshots/ProposeAndProve.json
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

feat(protocol): remove same slot signals and solver support from ERC20 Vault (#19959)
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/mainnet/multirollup/MainnetERC20Vault.sol
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20VaultOriginal.sol
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/shared-contracts.txt
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradePacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault_solver.t.sol
Owners: none

refactor
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxForceInclusion.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpackFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol.disabled
Owners: none

fix
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
Owners: none

Update package.json
  packages/protocol/package.json
Owners: @KorbinianK, @bearni95

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

restore tests
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/MockLibBlobs.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol.disabled
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol.disabled
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

chore: suggest using errors.New instead of fmt.Errorf with no parameters
  packages/relayer/processor/config.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/pkg/config/protocol_config.go
  packages/taiko-client/pkg/rpc/methods.go
Owners: @cyberhorsey, @YoGhurt111

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

feat(taiko-client): Add duration metrics to PreconfBlockApiServer (#19969)
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/metrics/metrics.go
Owners: @cyberhorsey, @YoGhurt111

basic
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
