Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

Create InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
Owners: none

Update InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
Owners: none

Update InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
Owners: none

Create LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
Owners: none

restore LibProveInputDecoder
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol
Owners: none

restore encoders
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
Owners: none

restore codec tests
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibPackUnpack.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibPackUnpackFuzz.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoderFuzz.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProveInputDecoderFuzz.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
Owners: none

Create InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
Owners: none

Create InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
Owners: none

restore inbox tests
  packages/protocol/test/layer1/shasta/inbox/INBOX_TEST_DOCUMENTATION.md
  packages/protocol/test/layer1/shasta/inbox/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxForceInclusion.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxMockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/MockLibBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/README.md
  packages/protocol/test/layer1/shasta/inbox/REFACTORING_RECOMMENDATIONS.md
  packages/protocol/test/layer1/shasta/inbox/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/run-inbox-tests.sh
Owners: none

Create MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
Owners: none

Update MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
Owners: none

feat(protocl): refactor Proposal struct (with originBlockHash) (#19968)
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/docs/Derivation.md
  packages/protocol/gas-reports/LibProposeDataDecoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/package.json
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxForceInclusion.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/MockLibBlobs.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpackFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol.disabled
Owners: @KorbinianK, @bearni95

chore(taiko-client): add emoji to quickly identify logs
  packages/taiko-client/driver/preconf_blocks/api.go
Owners: @cyberhorsey, @YoGhurt111

more
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/test/layer1/shasta/inbox/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
Owners: none

Update packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/api.go
Owners: @cyberhorsey, @YoGhurt111

fix
  packages/protocol/test/layer1/shasta/inbox/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestAdapter.sol
Owners: none

fix(taiko-client): elapsed time in histograms
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
Owners: @cyberhorsey, @YoGhurt111

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.bkup
  packages/protocol/test/layer1/shasta/inbox/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxOptimized3.sol
Owners: none

chore(taiko-client): add more histogram buckets
  packages/taiko-client/internal/metrics/metrics.go
Owners: @cyberhorsey, @YoGhurt111

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111
