Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111

fix(repo): fix protocol bot push workflow
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

add logic to check the preconfer into the PreconfWhitelist contract
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/shasta/iface/IProposerChecker.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Owners: none

remove old scripts
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/mainnet/DeployWhitelistWithEjecter.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
Owners: none

add tests
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Owners: none

add tools package
  README.md
Owners: none

add forced inclusion to new inbox
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibDecoder.sol
Owners: none

ensure no forced inclusion is due if none is being proposed
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

organize code in internal functions
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

fix(repo): fix protocol bot push workflow (#19878)
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

chore(main): release docs-site 1.29.6
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Owners: @RogerLamTd

remove DeployProtocolOnL1 script from pipeline
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Owners: none

feat(protocol): incorporate preconfs into new shasta design (#19879)
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/shasta/iface/IProposerChecker.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/script/layer1/mainnet/DeployWhitelistWithEjecter.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Owners: none

more
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

fix
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

Update Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
Owners: none

fix: review nits
  packages/protocol/contracts/layer1/preconf/iface/IOverseer.sol
  packages/protocol/contracts/layer1/preconf/impl/Overseer.sol
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfConstants.sol
  packages/protocol/contracts/shared/governance/SimpleMultisig.sol
Owners: none

fix: claude suggestions
  packages/protocol/contracts/shared/governance/SimpleMultisig.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/shared/governance/SimpleMultisig.sol
Owners: none

feat(proposer): add logging for maxTxListsPerEpoch validation (#174)
  packages/taiko-client/proposer/config.go
Owners: @cyberhorsey, @YoGhurt111

more natspec
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/layout/layer1-contracts.txt
Owners: none

allow flexibility of per blob offset and size
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

optimize for full blobs by introducing two modes for BlobLocator and Frame
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
Owners: none

natspec and optimize
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

forge fmt & update contract layout tables
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
Owners: none

introduce LibCoreState library for readability
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibCoreState.sol
Owners: none

Revert "introduce LibCoreState library for readability"
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibCoreState.sol
Owners: none

introduce LibCoreState library for readability
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/lib/LibCoreState.sol
Owners: none

chore(main): release docs-site 1.29.6 (#19877)
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Owners: @RogerLamTd

fix(taiko-client): add extended retry for missing trie node sync errors (#19874)
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator.go
Owners: @cyberhorsey, @YoGhurt111

chore(repo): update link in readme
  README.md
Owners: none
