Repository taikoxyz/taiko-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95, @cyberhorsey

.github/CODEOWNERS:

go.mod                      @YoGhurt111 @RogerLamTd
go.sum                      @YoGhurt111 @RogerLamTd
.github/workflows/*         @YoGhurt111 @RogerLamTd
/packages/*/package.json    @KorbinianK @bearni95
/packages/docs-site/**      @RogerLamTd
/packages/taiko-client/**   @cyberhorsey @YoGhurt111

Update LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
Owners: none

more
  packages/protocol/gas-reports/LibProposeDataDecoder.md
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
Owners: none

optimize
  packages/protocol/contracts/layer1/shasta/libs/LibPackUnpack.sol
  packages/protocol/gas-reports/LibProposeDataDecoder.md
Owners: none

opt
  packages/protocol/contracts/layer1/shasta/libs/LibPackUnpack.sol
Owners: none

fmt
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
Owners: none

fmt (#19955)
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibPackUnpack.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeDataDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/gas-reports/LibProposeDataDecoder.md
  packages/protocol/test/layer1/shasta/benchmark/LibProposeDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeDataDecoderFuzz.t.sol
Owners: none

LibProveDataDecoder
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol.disabled
Owners: none

LibProveDataDecoder (#19956)
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveDataDecoder.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveDataDecoderFuzz.t.sol.disabled
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/gas-reports/LibProveDataDecoder.md
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
Owners: none

chore
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveDataDecoderGas.t.sol
Owners: none

Create LibPackUnpackFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibPackUnpackFuzz.t.sol
Owners: none

Update gen-layouts.sh
  packages/protocol/script/gen-layouts.sh
Owners: none

rename
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaInbox.sol
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
Owners: none

Update protocol.yml
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

Update protocol.yml
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

Update protocol.yml
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

Revert "Update protocol.yml"
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

Revert "Update protocol.yml"
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

Revert "Update protocol.yml"
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

relayer/processor: fix gasLimit=0 owner test and add EventStatusRecalled case
  packages/relayer/processor/can_process_message_test.go
Owners: none

chore: update build workflow
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
Owners: @YoGhurt111, @RogerLamTd, @cyberhorsey

remove ERC20Vault with solver support
  packages/protocol/contracts/layer1/mainnet/multirollup/MainnetERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20VaultOriginal.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradePacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
Owners: none

remove same-slot signal and solver
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
Owners: none

Update inbox_without_provermarket.txt
  packages/protocol/gas-reports/inbox_without_provermarket.txt
Owners: none

remove solver support from erc20 vault
  packages/protocol/contracts/layer1/mainnet/multirollup/MainnetERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20VaultOriginal.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradePacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
Owners: none

remove same slot signals from SignalService
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault_solver.t.sol
Owners: none

Update inbox_without_provermarket.txt
  packages/protocol/gas-reports/inbox_without_provermarket.txt
Owners: none

sync local and github action foundry version
  .github/workflows/protocol.yml
  packages/protocol/.foundry-version
  packages/protocol/README.md
  packages/protocol/package.json
  packages/protocol/scripts/install-foundry.sh
Owners: @YoGhurt111, @RogerLamTd, @KorbinianK, @bearni95

fix
  packages/protocol/.foundry-version
  packages/protocol/scripts/install-foundry.sh
Owners: none

Update .foundry-version
  packages/protocol/.foundry-version
Owners: none

Update protocol.yml
  .github/workflows/protocol.yml
Owners: @YoGhurt111, @RogerLamTd

ci(protocol): fix Claude action not trigged by cross-fork PRs (#19903)
  .github/workflows/repo--claude.yml
Owners: @YoGhurt111, @RogerLamTd

try
  packages/protocol/test/layer1/shasta/inbox/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
Owners: none

fix
  packages/protocol/test/layer1/shasta/LibCodec.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
Owners: none

add virtual function to getBlobHash
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
Owners: none

more
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxWithMockBlobs.sol
Owners: none

fix tests
  packages/protocol/test/layer1/shasta/inbox/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/TestInboxWithMockBlobs.sol
Owners: none

Update InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
Owners: none

fix
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxTest.sol
Owners: none

Update InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/InboxRingBuffer.t.sol
Owners: none
