Repository taikoxyz/taiko-mono, pull requests merged in 2022-11, with the labels that each got.

#270 feat(relayer): Wait N confirmations on source chain before processing message on destination chain
  packages/relayer/.default.env
  packages/relayer/.golangci.yml
  packages/relayer/cli/cli.go
  packages/relayer/errors.go
  packages/relayer/indexer/service.go
  packages/relayer/indexer/service_test.go
  packages/relayer/message/process_message.go
  packages/relayer/message/processor.go
  packages/relayer/message/processor_test.go
  packages/relayer/types.go
Labels: relayer

#259 feat(relayer): Asynchronous message processing, error handling, nonce management, and indexer folder structuring
  go.mod
  go.sum
  packages/relayer/.default.env
  packages/relayer/.golangci.yml
  packages/relayer/cli/cli.go
  packages/relayer/indexer/filter_then_subscribe.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_event_test.go
  packages/relayer/indexer/handle_no_events_in_batch.go
  packages/relayer/indexer/handle_no_events_remaining.go
  packages/relayer/indexer/service.go
  packages/relayer/indexer/service_test.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/message/process_message.go
  packages/relayer/message/processor.go
  packages/relayer/proof/encoded_signal_proof.go
Labels: relayer

#176 feat(bridge): implement a bridge UI
  packages/bridge-frontend/.eslintrc.js
  packages/bridge-frontend/.gitignore
  packages/bridge-frontend/.prettierrc
  packages/bridge-frontend/README.md
  packages/bridge-frontend/package-lock.json
  packages/bridge-frontend/package.json
  packages/bridge-frontend/postcss.config.js
  packages/bridge-frontend/public/favicon.ico
  packages/bridge-frontend/public/index.html
  packages/bridge-frontend/public/manifest.json
  packages/bridge-frontend/public/robots.txt
  packages/bridge-frontend/public/taikologo.png
  packages/bridge-frontend/schema.graphql
  packages/bridge-frontend/src/.prettierrc
  packages/bridge-frontend/src/App.tsx
  packages/bridge-frontend/src/assets/abi/Bridge.ts
  packages/bridge-frontend/src/assets/abi/TokenVault.ts
  packages/bridge-frontend/src/components/BridgeForm.tsx
  packages/bridge-frontend/src/components/Transactions.tsx
  packages/bridge-frontend/src/components/chainSelector/ChainOptions.tsx
  packages/bridge-frontend/src/components/chainSelector/ChainSelector.tsx
  packages/bridge-frontend/src/components/chainSelector/ChainSwap.tsx
  packages/bridge-frontend/src/components/chainSelector/index.tsx
  packages/bridge-frontend/src/components/tokenSelector/Token.tsx
  packages/bridge-frontend/src/components/tokenSelector/index.tsx
  packages/bridge-frontend/src/config/chains.ts
  packages/bridge-frontend/src/config/defaults.ts
  packages/bridge-frontend/src/config/tokens.ts
  packages/bridge-frontend/src/index.css
  packages/bridge-frontend/src/index.tsx
  packages/bridge-frontend/src/pages/Home.tsx
  packages/bridge-frontend/src/react-app-env.d.ts
  packages/bridge-frontend/src/reportWebVitals.ts
  packages/bridge-frontend/src/setupTests.ts
  packages/bridge-frontend/src/types.ts
  packages/bridge-frontend/tailwind.config.js
  packages/bridge-frontend/tsconfig.json
Labels: bridge

#295 chore(relayer): add HTTP service for health and prometheus metrics
  go.mod
  go.sum
  packages/relayer/.default.env
  packages/relayer/cli/cli.go
  packages/relayer/http/errors.go
  packages/relayer/http/routes.go
  packages/relayer/http/server.go
  packages/relayer/http/server_test.go
Labels: relayer

#291 chore(relayer): add additional test coverage
  packages/relayer/.golangci.yml
  packages/relayer/bridge.go
  packages/relayer/caller.go
  packages/relayer/cli/cli.go
  packages/relayer/cmd/main.go
  packages/relayer/flags.go
  packages/relayer/header_syncer.go
  packages/relayer/indexer/filter_then_subscribe.go
  packages/relayer/indexer/filter_then_subscribe_test.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_event_test.go
  packages/relayer/indexer/handle_no_events_in_batch_test.go
  packages/relayer/indexer/handle_no_events_remaining_test.go
  packages/relayer/indexer/service.go
  packages/relayer/indexer/service_test.go
  packages/relayer/indexer/set_initial_processing_block_by_mode_test.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/indexer/subscribe_test.go
  packages/relayer/message/process_message.go
  packages/relayer/message/process_message_test.go
  packages/relayer/message/processor.go
  packages/relayer/message/processor_test.go
  packages/relayer/mock/bridge.go
  packages/relayer/mock/eth_client.go
  packages/relayer/mock/event_repository.go
  packages/relayer/mock/header_syncer.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/proof/types.go
Labels: test, relayer

#287 feat(protocol): enable whitelisting provers (disabled for now)
  go.mod
  go.sum
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Events.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/contracts/test/bridge/libs/TestBadReceiver.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeRetry.sol
  packages/protocol/contracts/test/thirdparty/TestMessageSender.sol
  packages/relayer/.default.env
  packages/relayer/.golangci.yml
  packages/relayer/bridge.go
  packages/relayer/caller.go
  packages/relayer/cli/cli.go
  packages/relayer/cmd/main.go
  packages/relayer/flags.go
  packages/relayer/header_syncer.go
  packages/relayer/http/errors.go
  packages/relayer/http/routes.go
  packages/relayer/http/server.go
  packages/relayer/http/server_test.go
  packages/relayer/indexer/filter_then_subscribe.go
  packages/relayer/indexer/filter_then_subscribe_test.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_event_test.go
  packages/relayer/indexer/handle_no_events_in_batch_test.go
  packages/relayer/indexer/handle_no_events_remaining_test.go
  packages/relayer/indexer/service.go
  packages/relayer/indexer/service_test.go
  packages/relayer/indexer/set_initial_processing_block_by_mode_test.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/indexer/subscribe_test.go
  packages/relayer/message/process_message.go
  packages/relayer/message/process_message_test.go
  packages/relayer/message/processor.go
  packages/relayer/message/processor_test.go
  packages/relayer/mock/bridge.go
  packages/relayer/mock/eth_client.go
  packages/relayer/mock/event_repository.go
  packages/relayer/mock/header_syncer.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/proof/types.go
Labels: protocol

#297 chore(all): Fix links after renaming taikochain to taikoxyz
  README.md
  go.mod
  packages/relayer/bridge.go
  packages/relayer/cli/cli.go
  packages/relayer/cli/cli_test.go
  packages/relayer/cli/containers_test.go
  packages/relayer/cmd/main.go
  packages/relayer/indexer/filter_then_subscribe.go
  packages/relayer/indexer/filter_then_subscribe_test.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_event_test.go
  packages/relayer/indexer/handle_no_events_in_batch.go
  packages/relayer/indexer/handle_no_events_remaining.go
  packages/relayer/indexer/handle_no_events_remaining_test.go
  packages/relayer/indexer/service.go
  packages/relayer/indexer/service_test.go
  packages/relayer/indexer/set_initial_processing_block_by_mode.go
  packages/relayer/indexer/set_initial_processing_block_by_mode_test.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/indexer/subscribe_test.go
  packages/relayer/message/process_message.go
  packages/relayer/message/process_message_test.go
  packages/relayer/message/processor.go
  packages/relayer/message/processor_test.go
  packages/relayer/mock/block_repository.go
  packages/relayer/mock/blocker.go
  packages/relayer/mock/bridge.go
  packages/relayer/mock/event_repository.go
  packages/relayer/proof/block_header.go
  packages/relayer/proof/block_header_test.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/proof/encoded_signal_proof_test.go
  packages/relayer/proof/prover.go
  packages/relayer/proof/prover_test.go
  packages/relayer/repo/block.go
  packages/relayer/repo/block_test.go
  packages/relayer/repo/containers_test.go
  packages/relayer/repo/event.go
  packages/relayer/repo/event_test.go
  packages/website/docs/intro.md
  packages/website/docusaurus.config.js
  packages/website/faq/index.md
  packages/website/src/pages/index.tsx
  packages/whitepaper/README.md
  packages/whitepaper/main.tex
Labels: enhancement

#296 feat(protocol): whitelist provers & temporarily disable coverage check
  README.md
  codecov.yml
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Events.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/contracts/test/bridge/libs/TestBadReceiver.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeRetry.sol
  packages/protocol/contracts/test/thirdparty/TestMessageSender.sol
Labels: protocol

#238 test(bridge): LibBridgeProcess unit tests
  packages/protocol/.eslintignore
  packages/protocol/contracts/L2/V1TaikoL2.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSignal.sol
  packages/protocol/contracts/test/bridge/TestHeaderSync.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeProcess.sol
  packages/protocol/tasks/utils.ts
  packages/protocol/test/bridge/Bridge.test.ts
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/libs/LibTrieProof.test.ts
  packages/protocol/test/test_integration.sh
  packages/protocol/test/utils/rpc.ts
  pnpm-lock.yaml
Labels: test, protocol

#305 fix(test): fix two occasional errors when running bridge tests
  packages/protocol/test/bridge/Bridge.test.ts
  packages/protocol/test/bridge/libs/LibBridgeInvoke.test.ts
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/bridge/libs/LibBridgeRetry.test.ts
Labels: test, protocol

#288 feat(protocol): step 3 - enhance ZKP handling & change proofs order
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Events.sol
  packages/protocol/contracts/L1/v1/V1Finalizing.sol
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/L1/v1/V1Utils.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/contracts/test/thirdparty/TestMessageSender.sol
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/L1/TaikoL1.test.ts
Labels: enhancement, protocol

#243 feat(protocol): implement tokenomics v1
  .gitignore
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Finalizing.sol
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/L1/v1/V1Utils.sol
  packages/protocol/contracts/L1/v1/V1Verifying.sol
  packages/protocol/contracts/L2/V1TaikoL2.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/libs/LibAnchorSignature.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/contracts/libs/LibInvalidTxList.sol
  packages/protocol/contracts/libs/LibTxDecoder.sol
  packages/protocol/contracts/libs/LibTxUtils.sol
  packages/protocol/contracts/test/libs/TestLibAnchorSignature.sol
  packages/protocol/docs/L1/LibData.md
  packages/protocol/docs/L1/TaikoL1.md
  packages/protocol/docs/L1/v1/V1Finalizing.md
  packages/protocol/docs/L1/v1/V1Proposing.md
  packages/protocol/docs/L1/v1/V1Utils.md
  packages/protocol/docs/L2/V1TaikoL2.md
  packages/protocol/docs/libs/LibAnchorSignature.md
  packages/protocol/docs/libs/LibConstants.md
  packages/protocol/docs/libs/LibInvalidTxList.md
  packages/protocol/hardhat.config.ts
  packages/protocol/tasks/config.ts
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/protocol/test/bridge/libs/LibBridgeData.test.ts
  packages/protocol/test/constants/messages.ts
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/protocol/test/libs/LibTxUtils.test.ts
  packages/whitepaper/main.tex
Labels: protocol

#323 feat(protocol): make `TaikoL1/V1TaikoL2.getConstants()` returning `K_ZKPROOFS_PER_BLOCK`
  .github/workflows/docker.yml
  README.md
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L2/V1TaikoL2.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/relayer/Dockerfile
Labels: enhancement, protocol

#271 feat(relayer): HTTP api for exposing events table for bridge UI
  go.mod
  go.sum
  packages/relayer/.default.env
  packages/relayer/cli/cli.go
  packages/relayer/cli/cli_test.go
  packages/relayer/errors.go
  packages/relayer/event.go
  packages/relayer/http/get_events_by_address.go
  packages/relayer/http/get_events_by_address_test.go
  packages/relayer/http/routes.go
  packages/relayer/http/server.go
  packages/relayer/http/server_test.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/message/process_message.go
  packages/relayer/mock/event_repository.go
  packages/relayer/repo/event.go
  packages/relayer/repo/event_test.go
Labels: relayer

#336 docs(protocol): fix typo
  packages/bridge-frontend/src/assets/abi/TokenVault.ts
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/docs/bridge/TokenVault.md
Labels: enhancement

#340 feat(protocol): add `TaikoL1.getBlockProvers`
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/test/L1/TaikoL1.test.ts
Labels: protocol

#321 refactor(protocol): optimize commit gas cost
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Events.sol
  packages/protocol/contracts/L1/v1/V1Finalizing.sol
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/L2/V1TaikoL2.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/test/genesis/generate_genesis.test.ts
Labels: protocol

#348 docs(whitepaper): unify branding message
  packages/whitepaper/main.tex
Labels: documentation

#347 refactor(protocol): optimize implementation and improve code readability
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TkoToken.sol
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/L1/v1/V1Utils.sol
  packages/protocol/contracts/L1/v1/V1Verifying.sol
  packages/protocol/contracts/L2/V1TaikoL2.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSignal.sol
  packages/protocol/contracts/libs/LibConstants.sol
Labels: protocol

#356 chore(bridge): add a FAILED message status
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/tasks/utils.ts
  packages/protocol/test/bridge/libs/LibBridgeData.test.ts
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/bridge/libs/LibBridgeRetry.test.ts
Labels: enhancement, bridge

#363 refactor(protocol): rename/move a file to libs/
  packages/protocol/contracts/libs/LibAnchorSignature.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
Labels: protocol, license

#351 feat(tokenomics): charge more fees for blocks that are harder to prove
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/L1/v1/V1Utils.sol
  packages/protocol/contracts/L1/v1/V1Verifying.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/docs/libs/LibConstants.md
Labels: enhancement, protocol
