Repository taikoxyz/taiko-mono, pull requests merged in 2022-12, with the labels that each got.

#368 fix(preprocessor): fix hardhat preprocessor configs
  packages/protocol/hardhat.config.ts
Labels: protocol

#358 feat(genesis): support deterministic L2 pre-deployed contract addresses
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/protocol/test/genesis/test_config.json
  packages/protocol/utils/generate_genesis/erc20.ts
  packages/protocol/utils/generate_genesis/interface.ts
  packages/protocol/utils/generate_genesis/v1TaikoL2.ts
Labels: protocol

#353 feat(bridge-ui): ERC20 Bridge + approval
  packages/bridge-ui/src/App.svelte
  packages/bridge-ui/src/components/buttons/SelectToken.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/constants/abi/ERC20.ts
  packages/bridge-ui/src/domain/bridge.ts
  packages/bridge-ui/src/erc20/bridge.spec.ts
  packages/bridge-ui/src/erc20/bridge.ts
  packages/bridge-ui/src/eth/bridge.spec.ts
  packages/bridge-ui/src/eth/bridge.ts
  packages/bridge-ui/src/i18n.js
Labels: bridge

#379 fix(relayer): save block by chain id
  packages/relayer/.golangci.yml
  packages/relayer/TaikoL1.json
  packages/relayer/abigen.sh
  packages/relayer/cli/cli.go
  packages/relayer/contracts/TaikoL1.go
  packages/relayer/contracts/V1TaikoL2.go
  packages/relayer/indexer/filter_then_subscribe.go
  packages/relayer/indexer/filter_then_subscribe_test.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_event_test.go
  packages/relayer/indexer/handle_no_events_in_batch.go
  packages/relayer/indexer/handle_no_events_in_batch_test.go
  packages/relayer/indexer/handle_no_events_remaining.go
  packages/relayer/indexer/handle_no_events_remaining_test.go
  packages/relayer/indexer/service.go
  packages/relayer/indexer/service_test.go
  packages/relayer/indexer/set_initial_processing_block_by_mode.go
  packages/relayer/indexer/set_initial_processing_block_by_mode_test.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/repo/block.go
Labels: relayer

#381 fix(protocol): fix `BlockVerified` event
  packages/protocol/contracts/L1/v1/V1Verifying.sol
Labels: bug, protocol

#391 fix(protocol): update avg proof time and avg block time
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/L1/v1/V1Utils.sol
  packages/protocol/contracts/L1/v1/V1Verifying.sol
  packages/protocol/contracts/libs/LibConstants.sol
Labels: protocol

#406 feat(protocol): allow empty L2 blocks
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/libs/LibTxDecoder.sol
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/protocol/test/libs/LibTxDecoder.test.ts
Labels: protocol

#400 feat(deployment): fund L1 bridge
  packages/protocol/package.json
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/genesis/test_config.json
Labels: protocol

#445 feat(protocol): preprocess variables for testing
  packages/protocol/hardhat.config.ts
Labels: test, protocol

#451 refactor(test): Refactoring fixture() pattern to before/beforeEach pattern for tests
  packages/protocol/test/ConfigManager.test.ts
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/protocol/test/L1/TkoToken.test.ts
  packages/protocol/test/L2/TaikoL2.test.ts
  packages/protocol/test/bridge/BridgedERC20.test.ts
  packages/protocol/test/bridge/EtherVault.test.ts
  packages/protocol/test/bridge/TokenVault.test.ts
  packages/protocol/test/bridge/libs/LibBridgeData.test.ts
  packages/protocol/test/bridge/libs/LibBridgeInvoke.test.ts
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/bridge/libs/LibBridgeRetry.test.ts
  packages/protocol/test/bridge/libs/LibBridgeSend.test.ts
  packages/protocol/test/bridge/libs/LibBridgeSignal.test.ts
  packages/protocol/test/thirdparty/AddressManager.test.ts
  packages/protocol/test/thirdparty/LibMerkleTrie.test.ts
  packages/protocol/test/thirdparty/LibSecureMerkleTrie.test.ts
Labels: bridge

#461 fix(test): added console logs for potentially debugging rare case
  packages/protocol/test/bridge/Bridge.test.ts
Labels: test, protocol

#444 refactor(protocol): Keep only 100k recent L2 block hashes on L1
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Verifying.sol
  packages/protocol/contracts/libs/LibSharedConfig.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/test/libs/LibTxDecoder.test.ts
Labels: protocol

#482 feat(protocol): invalidBlock must from golden touch address with 0 gasprice
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/genesis/generate_genesis.test.sh
  packages/protocol/test/genesis/generate_genesis.test.ts
Labels: enhancement, protocol

#483 fix(test): Fixed integration test case
  packages/protocol/test/bridge/Bridge.test.ts
Labels: bridge

#478 refactor(protocol): use a Config object to replace LibConstants
  .github/workflows/solidity.yml
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/LibData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/v1/V1Proposing.sol
  packages/protocol/contracts/L1/v1/V1Proving.sol
  packages/protocol/contracts/L1/v1/V1Utils.sol
  packages/protocol/contracts/L1/v1/V1Verifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/contracts/libs/LibInvalidTxList.sol
  packages/protocol/contracts/libs/LibSharedConfig.sol
  packages/protocol/contracts/libs/LibTxDecoder.sol
  packages/protocol/contracts/libs/LibTxUtils.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/libs/TestLibTxUtils.sol
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/protocol/test/libs/LibTxDecoder.test.ts
  packages/protocol/test/libs/LibTxUtils.test.ts
Labels: protocol
