Repository taikoxyz/taiko-mono, pull requests merged in 2023-07, with the labels that each got.

#14085 refactor(bridge-ui-v2): menu changes
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/LinkButton/LinkButton.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/styles/override.css
  packages/bridge-ui-v2/src/styles/utilities.css
  pnpm-lock.yaml
Labels: area.bridge, meta.alpha-4

#14094 fix(bridge-ui): migrate to wallet connect 2.0
  packages/bridge-ui/README.md
  packages/bridge-ui/package.json
  packages/bridge-ui/src/chain/chains.ts
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/AddCustomERC20.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectToken.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/ConnectWallet.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/NoticeModal.svelte
  packages/bridge-ui/src/components/Router.svelte
  packages/bridge-ui/src/components/Tabs/Tab.svelte
  packages/bridge-ui/src/components/Tabs/Tabs.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/constants/__mocks__/envVars.ts
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/domain/chain.ts
  packages/bridge-ui/src/domain/relayerApi.ts
  packages/bridge-ui/src/domain/token.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.spec.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/store/transaction.spec.ts
  packages/bridge-ui/src/utils/getAddressForToken.ts
  packages/bridge-ui/src/utils/switchNetwork.spec.ts
  packages/bridge-ui/src/utils/switchNetwork.ts
  packages/bridge-ui/src/vault/tokenVaults.ts
  packages/bridge-ui/src/vite-env.d.ts
  packages/bridge-ui/src/wagmi/client.ts
  packages/bridge-ui/src/wagmi/watcher.ts
  pnpm-lock.yaml
Labels: category.bug, area.bridge, meta.alpha-3

#14083 feat(protocol): unify taiko tokens acros L1, L2s, and L3s
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/IMintableERC20.sol
  packages/protocol/test/TokenVault.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
  packages/website/pages/docs/reference/contract-documentation/common/IMintableERC20.md
Labels: area.protocol, meta.alpha-4, category.feature

#14099 fix(bridge-ui-v2): fixed menus
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/styles/components.css
  packages/bridge-ui-v2/src/styles/utilities.css
Labels: area.bridge, meta.alpha-4

#14169 feat(protocol): update Alpha-4 network configs
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol, meta.alpha-4

#13935 feat(website): add deploy a contract documentation using thirdweb
  packages/website/pages/docs/guides/build-on-taiko/deploy-a-contract.mdx
Labels: area.website

#14212 feat(protocol): bring back whitelisted proposer
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
Labels: area.protocol

#14187 feat(website): Docs Taiko L2 EIP-1559 high level overview
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/website/pages/docs/concepts/overview.mdx
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoConfig.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/L2/LibL2Consts.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2Signer.md
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgeErrors.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/IBridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
  packages/website/pages/docs/reference/contract-documentation/common/ICrossChainSync.md
  packages/website/pages/docs/reference/contract-documentation/common/IMintableERC20.md
  packages/website/pages/docs/reference/contract-documentation/common/Proxied.md
  packages/website/pages/docs/reference/contract-documentation/gov/TaikoGovernor.md
  packages/website/pages/docs/reference/contract-documentation/signal/ISignalService.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
  packages/website/public/images/diagrams/concepts/eip-1559/fee-layout.png
Labels: area.docs, area.protocol

#14300 fix(website): Fix Careers link in footer
  packages/website/components/Home/Footer.tsx
Labels: area.website

#14295 feat(bridge-ui-v2): transaction logic
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/libs/bridge/bridgeTxMessageStatusPoller.ts
  packages/bridge-ui-v2/src/libs/bridge/isBridgeTxProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
Labels: area.bridge

#14316 docs(website): add error code to node troubleshooting
  packages/website/pages/docs/reference/node-troubleshooting.mdx
Labels: area.website

#14221 feat(protocol): decouple proof(s) verification from core protocol
  .github/workflows/protocol.yml
  packages/protocol/contracts/L1/IProofVerifier.sol
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/proofTypes/LibVerifyZKP.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Labels: category.enhancement, area.protocol

#14325 feat(protocol): update `DeployOnL1` script for `ProofVerifier`
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol
