Repository taikoxyz/taiko-mono, pull requests merged in 2023-12, with the labels that each got.

#15301 chore(protocol): improve `DeployOnL1` logs
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/assignmenthook/AssignmentHook.go
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/DeployCapability.sol
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
Labels: area.protocol

#15297 docs:Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15310 feat(protocol): add `TIMELOCK_ADDRESS` to `SetRemoteBridgeSuites` script
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Labels: area.protocol

#15325 feat(protocol): add skeleton workflow to main so it can be run on PRs to build image
  .github/workflows/guardianproverhealthcheck.yaml
  .github/workflows/lint-pr.yml
Labels: area.status-page

#15322 feat(bridge-ui-v2): updated UI to work with updated protocol
  packages/bridge-ui-v2/src/abi/index.ts
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/BridgePausedModal.svelte
  packages/bridge-ui-v2/src/components/BridgePausedModal/index.ts
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui-v2/src/libs/bridge/messageStatusPoller.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/storage/BridgeTxService.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.test.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.ts
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/stores/modal.ts
Labels: area.bridge

#15329 chore(repo): remove website badget from `README.md`
  README.md
Labels: area.repo

#15330 chore(relayer): Add docker-compose.yml
  packages/relayer/README.md
  packages/relayer/docker-compose/docker-compose.yml
Labels: area.relayer

#15335 fix(bridge-ui-v2): configuredCustomTokens in file/document is inconsistency
  packages/bridge-ui-v2/config/sample/configuredCustomTokens.example
  packages/bridge-ui-v2/config/schemas/configuredCustomTokens.schema.json
  packages/bridge-ui-v2/scripts/exportJsonToEnv.js
Labels: area.bridge

#15313 refactor(bridged-ui-v2): change to variable for css
  packages/bridge-ui-v2/src/styles/override.css
Labels: area.bridge

#15339 chore(bridge-ui-v2): Update isBridgePaused method
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/util/checkForPausedContracts.ts
Labels: area.bridge

#15332 chore(repo): remove packages/status-page description from README.md
  README.md
Labels: area.status-page

#15341 refactor(bridged-ui-v2): create variable for conditions
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
Labels: area.bridge

#15338 fix(repo): fix some typos
  packages/eventindexer/cmd/flags/generator.go
  packages/eventindexer/cmd/main.go
  packages/fork-diff/fork.yaml
  packages/fork-diff/index.html
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/relayer/cmd/main.go
Labels: area.event-indexer

#15344 fix(protocol): Non-recursive abi.encode for Zk Verifier
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
Labels: area.protocol

#15349 chore(repo): update contribution guidelines
  CONTRIBUTING.md
Labels: area.repo

#15355 feat(protocol): grant `securityCouncil` the `PROPOSER` role
  packages/protocol/script/DeployOnL1.s.sol
  pnpm-lock.yaml
Labels: area.protocol

#15350 feat(protocol): Use taikoL2's address as the treasury address in circuits
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Labels: area.protocol

#15348 feat(bridge-ui-v2): Update encoded signal proof in BridgeProver.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
Labels: area.bridge

#15374 feat(protocol): update genesis generation scripts for #15368
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/genesis/test_config.js
  packages/protocol/utils/generate_genesis/interface.ts
  packages/protocol/utils/generate_genesis/main.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#15371 docs(CONTRIBUTING.md): add YouTube link
  CONTRIBUTING.md
Labels: area.docs

#15388 feat(protocol): update `PlonkVerifier` for A6
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/verifiers/PlonkVerifier.yulp
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/script/AddSGXVerifierInstances.s.sol
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#15382 chore(bridge-ui-v2): refactoring and style adjustments
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/state.ts
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Button/ActionButton.svelte
  packages/bridge-ui-v2/src/components/Button/CloseButton.svelte
  packages/bridge-ui-v2/src/components/Button/index.ts
  packages/bridge-ui-v2/src/components/Button/states.ts
  packages/bridge-ui-v2/src/components/Button/types.ts
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/CloseButton/index.ts
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusFilterDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/customActions/closeOnEscapeOrOutsideClick.ts
  packages/bridge-ui-v2/src/libs/customActions/index.ts
  packages/bridge-ui-v2/src/libs/customActions/withHoverAndFocusListener.ts
  packages/bridge-ui-v2/src/styles/components.css
  packages/bridge-ui-v2/tailwind.config.js
Labels: area.bridge

#15395 feat(bridge-ui-v2): L2 <-> L2 bridging with multi-hop
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/config/sample/configuredBridges.example
  packages/bridge-ui-v2/config/schemas/configuredBridges.schema.json
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/proof/BridgeProver.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/proof/index.ts
  packages/bridge-ui-v2/src/libs/proof/types.ts
Labels: area.bridge

#15400 fix(bridge-ui-v2): bugfixes
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/token/tokens.ts
Labels: area.bridge

#15412 chore(bridge-ui-v2): add error messages
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#15417 fix(eventindexer): add a log, and add table name to stats queries
  packages/eventindexer/.l1.env
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/indexer/save_block_assigned_event.go
  packages/eventindexer/repo/stat.go
  packages/guardian-prover-health-check/guardianprover.go
Labels: area.event-indexer

#15421 chore(fork-diff): update forkdiff
  packages/fork-diff/fork.yaml
  packages/fork-diff/index.html
Labels: area.docs

#15430 feat(guardian-prover-health-check): Guardianprover uptime
  packages/guardian-prover-health-check/cmd/flags/common.go
  packages/guardian-prover-health-check/cmd/flags/generator.go
  packages/guardian-prover-health-check/cmd/main.go
  packages/guardian-prover-health-check/generator/config.go
  packages/guardian-prover-health-check/generator/config_test.go
  packages/guardian-prover-health-check/generator/generator.go
  packages/guardian-prover-health-check/healthcheck.go
  packages/guardian-prover-health-check/healthchecker/healthchecker.go
  packages/guardian-prover-health-check/http/get_stats.go
  packages/guardian-prover-health-check/http/get_uptime_by_guardian_prover_id.go
  packages/guardian-prover-health-check/http/get_uptime_by_guardian_prover_id_test.go
  packages/guardian-prover-health-check/http/routes.go
  packages/guardian-prover-health-check/http/server.go
  packages/guardian-prover-health-check/http/server_test.go
  packages/guardian-prover-health-check/migrations/1666651000_create_stats_table.sql
  packages/guardian-prover-health-check/mock/health_check_repo.go
  packages/guardian-prover-health-check/mock/stat_repo.go
  packages/guardian-prover-health-check/repo/healthcheck.go
  packages/guardian-prover-health-check/repo/healthcheck_test.go
  packages/guardian-prover-health-check/repo/stat.go
  packages/guardian-prover-health-check/stat.go
Labels: area.guardian-prover-dashboard

#15426 fix(bridge-ui-v2): ETHBridge Handling for Different Destination Addresses
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
Labels: area.bridge

#15429 feat(bridge-ui-v2): Sort Transactions by Latest First in Bridge UI
  packages/bridge-ui-v2/src/libs/bridge/fetchTransactions.ts
Labels: area.bridge

#15432 chore(guardian-prover-health-check-ui): UI updates
  .vscode/settings.json
  packages/guardian-prover-health-check-ui/src/components/Blocks/BlocksList.svelte
  packages/guardian-prover-health-check-ui/src/components/DesktopOrLarger/DesktopOrLarger.svelte
  packages/guardian-prover-health-check-ui/src/components/DesktopOrLarger/index.ts
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/HealthCheckFilter.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/HealthCheckRow.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/HealthChecksList.svelte
  packages/guardian-prover-health-check-ui/src/components/Header/Header.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Filter.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Overview.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/OverviewTableHeader.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/OverviewTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/Page/Page.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/util/truncateString.test.ts
  packages/guardian-prover-health-check-ui/src/lib/util/truncateString.ts
Labels: area.guardian-prover-dashboard

#15424 fix(bridge-ui-v2): Ensure Modal Close Button Triggers Cancellation Logic
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
Labels: area.bridge

#15422 fix(protocol): fix bridge token transfer check
  packages/protocol/contracts/L1/hooks/AssignmentHook.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Labels: area.protocol
