Repository taikoxyz/taiko-mono, pull requests merged in 2023-04, with the labels that each got.

#13526 chore(bridge-ui): clean tabs component
  packages/bridge-ui/src/components/Tabs/Tabs.svelte
Labels: bridge

#13504 feat(status-page): order the provers by count descending
  packages/status-page/src/pages/home/Home.svelte
  packages/status-page/src/utils/getNumProvers.ts
Labels: status-page

#13501 feat(protocol): enable EIP-1559 for L2
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/libs/TestLib1559Math.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/docs/L2EIP1559.md
  packages/protocol/foundry.toml
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/deploy_on_l1.sh
  packages/protocol/test/tokenomics/blockFee.test.ts
  packages/protocol/test/utils/onNewL2Block.ts
  packages/protocol/test2/GasComparison.t.sol
  packages/protocol/test2/Lib1559Math.sol
  packages/protocol/test2/LibFixedPointMath.t.sol
  packages/protocol/test2/LibTokenomics.t.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/protocol/test2/TaikoL2.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
Labels: protocol

#13490 feat(website): add index sections to reference and resources
  packages/website/pages/docs/reference.mdx
  packages/website/pages/docs/resources.mdx
Labels: website

#13545 chore(protocol): update L1 deployment script to set treasure address
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/deploy_on_l1.sh
Labels: protocol

#13557 refactor(protocol): optimize keyForName
  .github/workflows/protocol.yml
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/TestContracts.sol
  packages/protocol/contracts/test/erc20/RegularERC20.sol
  packages/protocol/contracts/test/thirdparty/TestTaikoToken.sol
  packages/protocol/test/bridge/BridgedERC20.test.ts
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/bridge/libs/LibBridgeRetry.test.ts
  packages/protocol/test/bridge/libs/LibBridgeSend.test.ts
  packages/protocol/test/etherVault/EtherVault.test.ts
  packages/protocol/test/libs/LibTrieProof.test.ts
  packages/protocol/test/tokenVault/TokenVault.test.ts
  packages/protocol/test/utils/bridge.ts
  packages/protocol/test/utils/signal.ts
  packages/protocol/test/utils/taikoL2.ts
  packages/protocol/test/utils/taikoToken.ts
  packages/protocol/test2/genesis/GenerateGenesis.g.sol
  packages/protocol/test2/genesis/test_config.json
  packages/protocol/utils/generate_genesis/erc20.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: protocol

#13552 refactor(protocol): split oracle proving into a function
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test2/TaikoL1OracleProver.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Labels: protocol

#13560 feat(protocol): make parentGasUsed verifiable on L2
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL1OracleProver.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
Labels: protocol

#13539 test(protocol): add a test to calculate and verify 1559 params for alpha-3
  packages/protocol/contracts/L2/LibL2Consts.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/test2/Lib1559Math.sol
  packages/protocol/test2/Taiko1559Params.t.sol
  packages/protocol/test2/TaikoL2.t.sol
  packages/protocol/test2/genesis/GenerateGenesis.g.sol
  packages/website/pages/docs/reference/contract-documentation/L2/LibL2Consts.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
Labels: protocol

#13565 feat(protocol): allow multiple Taiko deployments to sync signals
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/deploy_on_l1.sh
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgeCustomErrors.md
Labels: protocol

#13571 refactor(protocol): optimize proveBlock gas cost
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
Labels: protocol

#13570 feat(protocol): update `TaikoL2.getBasefee` parameters
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test2/TaikoL2.t.sol
  packages/protocol/test2/genesis/GenerateGenesis.g.sol
Labels: protocol

#13564 feat(protocol): Test time weighted solution and cut rest if good
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/foundry.toml
  packages/protocol/test2/LibTokenomics.t.sol
  packages/protocol/test2/LibTokenomicsMainnetMock.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/protocol/test2/TaikoL2.t.sol
  packages/protocol/test2/TestLn.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Labels: tokenomics

#13546 feat(protocol): Prover rewards (proposer fees) discussed changes
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/foundry.toml
  packages/protocol/test2/LibTokenomics.t.sol
  packages/protocol/test2/LibTokenomicsMainnetMock.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/protocol/test2/TaikoL2.t.sol
  packages/protocol/test2/TestLn.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: tokenomics

#13540 refactor(protocol): recommend changes to Dani's PR (part1)
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/LibL2Consts.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/foundry.toml
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/tokenomics/blockFee.test.ts
  packages/protocol/test/utils/fixture.ts
  packages/protocol/test/utils/taikoL1.ts
  packages/protocol/test2/GasComparison.t.sol
  packages/protocol/test2/LibTokenomics.t.sol
  packages/protocol/test2/LibTokenomicsMainnetMock.t.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/protocol/test2/TaikoL2.t.sol
  packages/protocol/test2/TestLn.sol
  packages/protocol/utils/generate_config/main.py
  packages/relayer/TaikoL1.json
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/taikol2/TaikoL2.go
  packages/status-page/src/constants/abi/TaikoL1.ts
  packages/status-page/src/pages/home/Home.svelte
  packages/tokenomics/main.py
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L2/LibL2Consts.md
Labels: tokenomics

#13591 feat(protocol): enable ETH deposit from L1 to L2 using withdrawalsRoot
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test2/GasComparison.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: protocol

#13579 refactor(protocol): minor optimize signal service merkle proof
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/test/libs/TestLibTrieProof.sol
  packages/protocol/contracts/thirdparty/LibSecureMerkleTrie.sol
  packages/protocol/test/utils/signal.ts
  packages/protocol/test2/SignalServiceCalc.sol
Labels: bridge, protocol

#13581 fix(bridge-ui): pending transactions custom store with better error handling
  packages/bridge-ui/src/App.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/modals/FaucetModal.svelte
  packages/bridge-ui/src/store/transactions.spec.ts
  packages/bridge-ui/src/store/transactions.ts
  packages/bridge-ui/src/utils/Deferred.spec.ts
  packages/bridge-ui/src/utils/Deferred.ts
Labels: bridge

#13508 test(bridge-ui): switchEthereumChain test
  packages/bridge-ui/src/utils/switchEthereumChain.spec.ts
Labels: test, bridge

#13622 test(protocol): try fixing workflow errors in #13611
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: test

#13568 refactor(bridge-ui): storage and custom tokens
  .gitignore
  packages/bridge-ui/.eslintrc.cjs
  packages/bridge-ui/jest.config.js
  packages/bridge-ui/src/storage/CustomTokenService.spec.ts
  packages/bridge-ui/src/storage/CustomTokenService.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/utils/jsonParseOrEmptyArray.spec.ts
  packages/bridge-ui/src/utils/jsonParseOrEmptyArray.ts
Labels: bridge

#13635 refactor(protocol): improve on top of Dani's PR
  README.md
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test2/LibLn.sol
  packages/protocol/test2/TaikoL1.sim.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test2/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test2/TaikoL1OracleProver.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/tokenomics/.gitignore
  packages/tokenomics/CHANGELOG.md
  packages/tokenomics/README.md
  packages/tokenomics/main.py
  packages/tokenomics/package.json
  packages/tokenomics/plots.py
  packages/tokenomics/present.py
  packages/tokenomics/presents/cbvp1.py
  packages/tokenomics/presents/cbvp2.py
  packages/tokenomics/presents/p0.py
  packages/tokenomics/presents/vbcp1.py
  packages/tokenomics/presents/vbcp2.py
  packages/tokenomics/presents/vbvps1.py
  packages/tokenomics/presents/vbvps2.py
  pnpm-lock.yaml
Labels: protocol

#13489 feat(protocol): Calculate fee/reward based on proof time w/ 1559 math
  README.md
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/foundry.toml
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/tokenomics/blockFee.test.ts
  packages/protocol/test/utils/fixture.ts
  packages/protocol/test/utils/taikoL1.ts
  packages/protocol/test2/LibLn.sol
  packages/protocol/test2/LibTokenomics.t.sol
  packages/protocol/test2/TaikoL1.sim.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test2/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test2/TaikoL1OracleProver.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/protocol/utils/generate_config/README.md
  packages/protocol/utils/generate_config/main.py
  packages/relayer/TaikoL1.json
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/taikol2/TaikoL2.go
  packages/status-page/src/constants/abi/TaikoL1.ts
  packages/tokenomics/.gitignore
  packages/tokenomics/CHANGELOG.md
  packages/tokenomics/README.md
  packages/tokenomics/main.py
  packages/tokenomics/package.json
  packages/tokenomics/plots.py
  packages/tokenomics/present.py
  packages/tokenomics/presents/cbvp1.py
  packages/tokenomics/presents/cbvp2.py
  packages/tokenomics/presents/p0.py
  packages/tokenomics/presents/vbcp1.py
  packages/tokenomics/presents/vbcp2.py
  packages/tokenomics/presents/vbvps1.py
  packages/tokenomics/presents/vbvps2.py
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L2/LibL2Consts.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  pnpm-lock.yaml
Labels: tokenomics

#13617 feat(protocol): enable ETH deposit from L1 to L2 using withdrawalsRoot [1]
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
  packages/protocol/foundry.toml
  packages/protocol/test/tokenomics/proofReward.test.ts
  packages/protocol/test2/GasComparison.t.sol
  packages/protocol/test2/LibFixedPointMath.t.sol
  packages/protocol/test2/LibLn.sol
  packages/protocol/test2/TaikoL1.sim.sol
  packages/protocol/test2/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test2/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test2/TaikoL1OracleProver.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L2/LibL2Consts.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
Labels: protocol

#13597 feat(protocol): allow proof cooldown period [2]
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/test/utils/fixture.ts
  packages/protocol/test/utils/onNewL2Block.ts
  packages/protocol/test/utils/taikoL1.ts
  packages/protocol/test2/TaikoL1.sim.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test2/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test2/TaikoL1OracleProver.t.sol
  packages/protocol/test2/TaikoL1TestBase.t.sol
  packages/protocol/test2/TaikoL1_Oracle.sol
  packages/tokenomics/main.py
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: protocol

#13611 refactor(protocol): optimize proving logics [3]
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/IAddressManager.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/TestContracts.sol
  packages/protocol/contracts/thirdparty/AddressManager.sol
  packages/protocol/foundry.toml
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/test/Bridge.t.sol
  packages/protocol/test/EtherVault.t.sol
  packages/protocol/test/GasComparison.t.sol
  packages/protocol/test/Lib1559Math.sol
  packages/protocol/test/LibFixedPointMath.t.sol
  packages/protocol/test/LibLn.sol
  packages/protocol/test/SignalServiceCalc.sol
  packages/protocol/test/Taiko1559Params.t.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/protocol/test/TaikoL1_Oracle.sol
  packages/protocol/test/TaikoL2.t.sol
  packages/protocol/test/TokenVault.t.sol
  packages/protocol/test/bridge/BridgedERC20.test.ts
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/generate_genesis.test.sh
  packages/protocol/test/genesis/test_config.json
  packages/protocol/test/genesis/testnet/docker-compose.yml
  packages/protocol/test/genesis/testnet/init_geth.sh
  packages/protocol/test/libs/LibTrieProof.test.ts
  packages/protocol/test/signal/SignalService.integration.test.ts
  packages/protocol/test/utils/bridge.ts
  packages/protocol/test/utils/fixture.ts
  packages/protocol/test/utils/signal.ts
  packages/protocol/test/utils/taikoToken.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
  packages/website/pages/docs/reference/contract-documentation/common/IAddressManager.md
Labels: protocol

#13645 feat(protocol): update `ANCHOR_GAS_COST`
  packages/protocol/contracts/L2/LibL2Consts.sol
Labels: protocol

#13567 fix(bridge-ui): wrong spacing #13339
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/form/Memo.svelte
  packages/bridge-ui/src/components/form/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui/src/components/form/To.svelte
Labels: area.bridge

#13668 refactor(protocol): optimize address manager impl
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/test/ExampleStaticAddressManager.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/protocol/test/TaikoToken.t.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Labels: area.protocol

#13670 fix(protocol): fix contract names in `DeployOnL1` script output
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#13673 feat(protocol): need one real ZKP every N blocks
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Labels: area.protocol, meta.alpha-3

#13672 feat(protocol): ensure non-zero 1559 basefee
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/TaikoL2.t.sol
Labels: area.protocol, meta.alpha-3

#13657 feat(protocol): simulate protocol and tokenomics
  packages/protocol/foundry.toml
  packages/protocol/package.json
  packages/protocol/simulation/README.md
  packages/protocol/simulation/exports/simulation_data_1682692028.txt
  packages/protocol/simulation/exports/simulation_data_1682692255.txt
  packages/protocol/simulation/exports/simulation_data_1682693127.txt
  packages/protocol/simulation/exports/simulation_data_1682760421.txt
  packages/protocol/simulation/exports/simulation_data_1682760720.txt
  packages/protocol/simulation/exports/simulation_data_1682761401.txt
  packages/protocol/simulation/exports/simulation_data_1682761622.txt
  packages/protocol/simulation/exports/simulation_data_1682761795.txt
  packages/protocol/simulation/plots/1682692028_blockfee_with_time.png
  packages/protocol/simulation/plots/1682692028_proof_time_per_block.png
  packages/protocol/simulation/plots/1682692028_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682692255_blockfee_with_time.png
  packages/protocol/simulation/plots/1682692255_proof_time_per_block.png
  packages/protocol/simulation/plots/1682692255_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682760421_blockfee_with_time.png
  packages/protocol/simulation/plots/1682760421_proof_time_per_block.png
  packages/protocol/simulation/plots/1682760421_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682760720_blockfee_with_time.png
  packages/protocol/simulation/plots/1682760720_proof_time_per_block.png
  packages/protocol/simulation/plots/1682760720_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682761401_blockfee_with_time.png
  packages/protocol/simulation/plots/1682761401_proof_time_per_block.png
  packages/protocol/simulation/plots/1682761401_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682761622_blockfee_with_time.png
  packages/protocol/simulation/plots/1682761622_proof_time_per_block.png
  packages/protocol/simulation/plots/1682761622_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682761795_blockfee_with_time.png
  packages/protocol/simulation/plots/1682761795_proof_time_per_block.png
  packages/protocol/simulation/plots/1682761795_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/requirements.txt
  packages/protocol/simulation/simulation_data_parser.py
  packages/protocol/test/TaikoL1.sim.sol
Labels: area.tokenomics, meta.alpha-3
