Repository taikoxyz/taiko-mono, pull requests merged in 2023-06, with the labels that each got.

#13844 fix(repo): fix openAI review workflow
  .github/workflows/openai-review.yml
Labels: option.review-by-ai

#13850 chore(bridge-ui): rename for consistency
  packages/bridge-ui/src/bridge/ERC20Bridge.spec.ts
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/bridge/ETHBridge.spec.ts
  packages/bridge-ui/src/bridge/ETHBridge.ts
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/ActionButtons.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectToken.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/TransactionDetail.svelte
  packages/bridge-ui/src/domain/bridge.ts
  packages/bridge-ui/src/domain/transaction.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/store/chain.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/bridge-ui/src/utils/getAddressForToken.ts
  packages/bridge-ui/src/utils/isEthOrTokenReleased.ts
  packages/bridge-ui/src/utils/isTransactionProcessable.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.ts
  packages/bridge-ui/src/utils/selectChain.spec.ts
  packages/bridge-ui/src/utils/selectChain.ts
  packages/bridge-ui/src/wagmi/watcher.ts
Labels: category.enhancement, area.bridge, meta.alpha-3

#13853 fix(protocol): hash deposit IDs
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Labels: category.bug, meta.alpha-3

#13859 feat(protocol): cherry-pick changes in #13853 into alpha-3 branch
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Labels: area.protocol, meta.alpha-3

#13861 test(protocol): update `emptyDepositsRoot` in taikoL1.t.sol
  packages/protocol/test/TaikoL1.t.sol
Labels: area.protocol

#13856 chore(bridge-ui): improve type checking
  packages/bridge-ui/src/bridge/ETHBridge.spec.ts
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/domain/chain.ts
  packages/bridge-ui/src/domain/relayerApi.ts
  packages/bridge-ui/src/domain/token.ts
  packages/bridge-ui/src/globals.d.ts
  packages/bridge-ui/src/proof/ProofService.spec.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.spec.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/signer/subscriber.spec.ts
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/utils/addressAvatar.spec.ts
  packages/bridge-ui/src/utils/addressSubsection.spec.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
  packages/bridge-ui/src/utils/getAddressForToken.ts
  packages/bridge-ui/src/utils/isOnCorrectChain.spec.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
  packages/bridge-ui/src/utils/truncateString.spec.ts
  packages/bridge-ui/src/vault/tokenVaults.ts
Labels: category.enhancement, area.bridge, meta.alpha-3

#13864 fix(protocol): fix issue for fee-collecting eth-deposit
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/test/TaikoL1.t.sol
Labels: category.bug, meta.alpha-3, meta.alpha-3-fast-follow

#13858 chore(bridge-ui): improve token type
  packages/bridge-ui/src/components/BridgeForm/SelectToken.svelte
  packages/bridge-ui/src/domain/token.ts
  packages/bridge-ui/src/token/tokens.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/bridge-ui/src/utils/getAddressForToken.ts
  packages/bridge-ui/src/utils/getIsMintedWithEstimation.spec.ts
  packages/bridge-ui/src/utils/getIsMintedWithEstimation.ts
  packages/bridge-ui/src/utils/mintERC20.spec.ts
  packages/bridge-ui/src/utils/mintERC20.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.ts
Labels: category.enhancement, area.bridge, meta.alpha-3

#13865 feat(protocol): cherry-pick changes in #13864 into alpha-3 branch
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/test/TaikoL1.t.sol
Labels: area.protocol, meta.alpha-3, meta.alpha-3-fast-follow

#13873 feat(protocol): update A3 static address manager after re-genesis
  packages/protocol/contracts/common/A3StaticAddressManager.sol
Labels: area.protocol, meta.alpha-3

#13862 chore(protocol): create batch_auction_design.md
  packages/protocol/docs/batch_auction_design.md
Labels: area.tokenomics, meta.alpha-4, option.review-by-ai

#13892 fix(bridge-ui): issue with decimals
  packages/bridge-ui/src/bridge/ERC20Bridge.spec.ts
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/bridge/ETHBridge.spec.ts
  packages/bridge-ui/src/bridge/ETHBridge.ts
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/domain/bridge.ts
  packages/bridge-ui/src/domain/transaction.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.spec.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
Labels: category.bug, area.bridge, meta.alpha-3

#13933 fix(website): bridge guide link
  packages/website/pages/docs/guides/use-the-bridge.mdx
Labels: area.docs, area.website

#13929 docs(website): update use the bridge docs and feedback form
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/use-the-bridge.mdx
Labels: area.website

#13920 chore(website): update taiko nodes documentation
  packages/website/excalidraw/taiko-nodes.excalidraw
  packages/website/pages/docs/concepts/overview.md
  packages/website/pages/docs/concepts/taiko-nodes.mdx
  packages/website/public/images/diagrams/concepts/taiko-nodes/taiko-nodes.png
Labels: area.website

#13932 docs(protocol): update bridge docs
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgeErrors.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeInvoke.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRelease.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSend.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgeErrors.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
Labels: area.bridge, area.protocol, area.website

#13919 chore(website): update proposing docs
  packages/website/pages/docs/concepts/_meta.json
  packages/website/pages/docs/concepts/creating-taiko-blocks/_meta.json
  packages/website/pages/docs/concepts/creating-taiko-blocks/anchor-transaction.mdx
  packages/website/pages/docs/concepts/creating-taiko-blocks/proposing-blocks.mdx
  packages/website/pages/docs/concepts/proposing.mdx
Labels: area.website

#13944 feat(protocol): proxy upgrade scripts
  packages/protocol/package.json
  packages/protocol/script/upgrade/UpgradeAddressManager.s.sol
  packages/protocol/script/upgrade/UpgradeBridge.s.sol
  packages/protocol/script/upgrade/UpgradeScript.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoL2.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoToken.s.sol
  packages/protocol/script/upgrade/UpgradeTokenVault.s.sol
  packages/protocol/script/upgrade_to.sh
Labels: category.enhancement, area.protocol

#13925 feat(protocol): Auction testing
  packages/protocol/test/TaikoL1Auction.t.sol
Labels: area.protocol, meta.alpha-4, category.feature

#13836 feat(protocol): implement batch block auction
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibAuction.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTkoDistribution.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/docs/batch_auction_design.md
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/protocol/test/TaikoL1Auction.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: area.protocol, meta.alpha-4

#13943 feat(bridge-ui): sentry integration
  packages/bridge-ui/.default.env
  packages/bridge-ui/package.json
  packages/bridge-ui/src/app.ts
  packages/bridge-ui/src/components/AddressDropdown.svelte
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
  packages/bridge-ui/src/components/BridgeForm/ProcessingFee.svelte
  packages/bridge-ui/src/components/BridgeForm/SelectChain.svelte
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/ConnectWallet.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/constants/__mocks__/envVars.ts
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/sentry.ts
  packages/bridge-ui/src/signer/subscriber.ts
  packages/bridge-ui/src/vite-env.d.ts
  packages/bridge-ui/svelte.config.cjs
  pnpm-lock.yaml
Labels: category.enhancement, area.bridge, meta.alpha-3

#13969 fix(bridge-ui): filtering out BLL token failure when bridging
  packages/bridge-ui/src/components/BridgeForm/BridgeForm.svelte
Labels: area.bridge, meta.alpha-3

#13978 fix(protocol): fix bug in auction design & impl
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibAuction.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/TaikoL1Auction.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: category.bug, area.protocol, meta.alpha-4, category.feature

#13868 feat(protocol): use ring buffer for ETH deposit and optimize storage
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/relayer/TaikoL1.json
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/status-page/src/constants/abi/TaikoL1.ts
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: area.protocol, meta.alpha-4, category.feature

#14034 feat(bridge-ui-v2): env vars
  .github/workflows/bridge-ui-v2.yml
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/routes/+layout.ts
  packages/bridge-ui-v2/svelte.config.js
  packages/bridge-ui-v2/tailwind.config.js
  packages/bridge-ui-v2/vite.config.ts
  pnpm-lock.yaml
Labels: area.bridge, meta.alpha-4

#14043 feat(bridge-ui-v2): use web3modal
  lefthook.yml
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/.vscode/extensions.json
  packages/bridge-ui-v2/.vscode/settings.json
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/app.html
  packages/bridge-ui-v2/src/components/Button/Button.svelte
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/LinkButton/LinkButton.svelte
  packages/bridge-ui-v2/src/components/Logo/LogoWithText.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/libs/classNames/index.ts
  packages/bridge-ui-v2/src/libs/connect/index.ts
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/libs/i18n/en.json
  packages/bridge-ui-v2/src/libs/i18n/i18n.ts
  packages/bridge-ui-v2/src/libs/i18n/index.ts
  packages/bridge-ui-v2/src/libs/util/classNames.test.ts
  packages/bridge-ui-v2/src/libs/util/classNames.ts
  packages/bridge-ui-v2/src/libs/util/logger.ts
  packages/bridge-ui-v2/src/libs/wagmi/client.ts
  packages/bridge-ui-v2/src/libs/wagmi/index.ts
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/routes/+layout.ts
  packages/bridge-ui-v2/tailwind.config.js
  packages/bridge-ui-v2/tsconfig.json
  pnpm-lock.yaml
Labels: area.bridge, meta.alpha-4

#14051 fix(bridge-ui): reduce sample rate
  packages/bridge-ui/src/sentry.ts
Labels: area.bridge, meta.alpha-3

#14052 fix(bridge-ui-v2): fixing vercel build
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/routes/+layout.ts
  packages/bridge-ui-v2/vite.config.ts
Labels: area.bridge, meta.alpha-4

#14059 chore(website): Verify contract fix tab contents and remove headers
  packages/website/pages/docs/guides/verify-a-contract.mdx
Labels: category.bug, area.docs

#13796 feat(protocol): document skipping withdrawalsRoot check in circuits and client
  packages/protocol/docs/how_taiko_proves_blocks.md
Labels: area.protocol, meta.alpha-4

#14023 feat(protocol): update PlonkVerifier for new L3 circuits
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
  packages/protocol/test/TaikoL1TestBase.t.sol
Labels: area.protocol
