Repository taikoxyz/taiko-mono, pull requests merged in 2023-02, with the labels that each got.

#13083 fix(protocol): allow resolver to return zero address for EtherVault
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
Labels: protocol

#13104 fix(website): fix link to the contract addresses
  packages/website/pages/docs/testnet-guide/use-the-bridge.md
Labels: website

#13102 chore(repo): update smart contract markdown docs
  packages/protocol/docs/L1/TaikoL1.md
  packages/protocol/docs/L1/TkoToken.md
  packages/protocol/docs/L2/TaikoL2.md
  packages/protocol/docs/bridge/Bridge.md
  packages/protocol/docs/bridge/BridgedERC20.md
  packages/protocol/docs/bridge/EtherVault.md
  packages/protocol/docs/bridge/IBridge.md
  packages/protocol/docs/bridge/TokenVault.md
  packages/protocol/docs/common/AddressResolver.md
  packages/protocol/docs/common/IAddressManager.md
  packages/protocol/docs/common/IHeaderSync.md
  packages/protocol/docs/common/IMintableERC20.md
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/website/pages/docs/reference/contract-documentation/L1/ProofVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/_meta.json
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/IBridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
  packages/website/pages/docs/reference/contract-documentation/signal/ISignalService.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
Labels: protocol, website

#13114 feat(relayer): catch relayer & status page up to new testnet
  packages/relayer/.default.env
  packages/relayer/cli/cli.go
  packages/relayer/indexer/service.go
  packages/relayer/message/process_message.go
  packages/relayer/message/processor.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/status-page/src/App.svelte
  packages/status-page/src/components/StatusIndicator.svelte
  packages/status-page/src/domain/status.ts
  packages/status-page/src/pages/home/Home.svelte
  packages/status-page/src/utils/displayStatusValue.ts
  packages/status-page/src/utils/getBlockFee.ts
  packages/status-page/src/utils/getConfig.ts
  packages/status-page/src/utils/getProofReward.ts
  packages/status-page/src/utils/truncateString.ts
Labels: relayer, status-page

#13132 feat(protocol): deploy a test ERC-20 token to test bridge
  packages/protocol/tasks/deploy_L1.ts
Labels: test, bridge, protocol

#13133 feat(protocol): update Yul PlonkVerifier
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/tasks/utils.ts
Labels: protocol

#13134 feat(protocol): re-implement bridge receive check
  packages/protocol/contracts/bridge/Bridge.sol
Labels: protocol

#13124 feat(relayer): prepare bridge relayer API for frontend
  packages/relayer/TaikoL1.json
  packages/relayer/TokenVault.json
  packages/relayer/abigen.sh
  packages/relayer/cli/cli.go
  packages/relayer/cli/cli_test.go
  packages/relayer/contracts/bridge/Bridge.go
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/tokenvault/TokenVault.go
  packages/relayer/event.go
  packages/relayer/event_test.go
  packages/relayer/http/get_block_info.go
  packages/relayer/http/routes.go
  packages/relayer/http/server.go
  packages/relayer/http/server_test.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_event_test.go
  packages/relayer/migrations/1666650599_create_events_table.sql
  packages/relayer/repo/event.go
  packages/relayer/repo/event_test.go
  packages/relayer/types.go
Labels: relayer

#13120 docs(website): fix node requirements
  packages/website/pages/docs/testnet-guide/run-a-node.md
Labels: documentation, website

#13135 chore(protocol): update `hardhat-etherscan` plugin configs to verify contracts in internal devnet
  packages/protocol/hardhat.config.ts
  packages/protocol/test/genesis/test_config.json
Labels: dx, protocol

#13137 refactor(protocol): use custom error for TaikoL2
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/TaikoL2.test.ts
Labels: protocol

#13145 test(protocol): fix #13143 workflow errors
  packages/protocol/test/genesis/generate_genesis.test.ts
Labels: test, protocol

#13143 test(protocol): use custom errors for TaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TkoToken.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/test/libs/TestLibProving.sol
  packages/protocol/test/L1/TaikoL1.integration.test.ts
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/protocol/test/L1/TkoToken.test.ts
  packages/protocol/test/bridge/BridgedERC20.test.ts
  packages/protocol/test/constants/errors.ts
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/protocol/test/tokenVault/TokenVault.test.ts
  packages/protocol/test/utils/commit.ts
  packages/protocol/test/utils/errors.ts
  packages/protocol/test/utils/propose.ts
  packages/protocol/test/utils/verify.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: protocol

#13101 fix(website): fix darkmode bug on docs website
  packages/website/components/Footer.tsx
  packages/website/theme.config.tsx
  pnpm-lock.yaml
Labels: website

#13166 feat(protocol): make custom errors in L1 libs a part of the `TaikoL1.sol`'s ABI
  packages/protocol/contracts/L1/TaikoCustomErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
Labels: enhancement, protocol

#13178 chore(protocol): bump solidity version in `TaikoCustomError.sol`
  packages/protocol/contracts/L1/TaikoCustomErrors.sol
Labels: protocol

#13189 test(protocol): use explicit gasLimit and disabled one test
  packages/protocol/test/tokenomics/proofReward.test.ts
  packages/protocol/test/utils/propose.ts
  packages/protocol/test/utils/prove.ts
  packages/protocol/test/utils/verify.ts
Labels: protocol

#13187 refactor(protocol): remove unnecessary zero assignment
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/LibReceiptDecoder.sol
  packages/protocol/contracts/libs/LibTxDecoder.sol
  packages/protocol/contracts/libs/LibTxUtils.sol
  packages/protocol/contracts/test/libs/TestLibProving.sol
  packages/protocol/contracts/test/thirdparty/TestLibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibBytesUtils.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/LibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
Labels: protocol

#13190 refactor(protocol): remove unnecessary field from events
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/IHeaderSync.sol
Labels: protocol

#13162 feat(website): create a showcase page
  packages/website/components/card/index.tsx
  packages/website/pages/_meta.json
  packages/website/pages/showcase.mdx
  packages/website/public/images/showcase/bridge-showcase.png
  packages/website/public/images/showcase/orbiter-showcase.png
  pnpm-lock.yaml
Labels: website

#13196 refactor(protocol): hash public inputs into instance
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/libs/LibZKP.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/libs/TestLibProving.sol
Labels: protocol

#13184 feat(protocol): partially randomize prover reward
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/LibReceiptDecoder.sol
  packages/protocol/contracts/libs/LibSharedConfig.sol
  packages/protocol/contracts/libs/LibTxDecoder.sol
  packages/protocol/contracts/libs/LibTxUtils.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/L1/TestTaikoL2.sol
  packages/protocol/contracts/test/L1/TestTaikoL2EnablePublicInputsCheck.sol
  packages/protocol/contracts/test/libs/TestLibProving.sol
  packages/protocol/contracts/test/thirdparty/TestLibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibBytesUtils.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/LibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
Labels: protocol

#12989 chore(protocol): update protocol configurations for alpha-2 testnet
  packages/protocol/contracts/libs/LibSharedConfig.sol
Labels: zkevm, protocol, client

#13199 refactor(protocol): extract two anchor-related functions
  packages/protocol/.solhint.json
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/TaikoCustomErrors.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TkoToken.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeInvoke.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRelease.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSend.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/IAddressManager.sol
  packages/protocol/contracts/common/IHeaderSync.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibAnchorSignature.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibInvalidTxList.sol
  packages/protocol/contracts/libs/LibMath.sol
  packages/protocol/contracts/libs/LibReceiptDecoder.sol
  packages/protocol/contracts/libs/LibSharedConfig.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/libs/LibTxDecoder.sol
  packages/protocol/contracts/libs/LibTxUtils.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/L1/TestTaikoL2.sol
  packages/protocol/contracts/test/L1/TestTaikoL2EnablePublicInputsCheck.sol
  packages/protocol/contracts/test/libs/TestLibProving.sol
  packages/relayer/TaikoL1.json
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/taikol2/TaikoL2.go
  packages/status-page/src/constants/abi/TaikoL1.ts
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Labels: protocol

#13072 test(protocol): integration tests for isMessageFailed
  .github/workflows/protocol.yml
  packages/protocol/package.json
  packages/protocol/test/L1/TaikoL1.integration.test.ts
  packages/protocol/test/bridge/Bridge.integration.test.ts
  packages/protocol/test/test_integration.sh
  packages/protocol/test/tokenomics/blockFee.test.ts
  packages/protocol/test/tokenomics/proofReward.test.ts
  packages/protocol/test/utils/blockListener.ts
  packages/protocol/test/utils/bridge.ts
  packages/protocol/test/utils/commit.ts
  packages/protocol/test/utils/fixture.ts
  packages/protocol/test/utils/propose.ts
  packages/protocol/test/utils/proposer.ts
  packages/protocol/test/utils/provider.ts
  packages/protocol/test/utils/taikoL2.ts
  packages/protocol/test/utils/verify.ts
Labels: test, protocol

#13163 fix(bridge-ui): change text of button to "bridge"
  packages/bridge-ui/src/components/form/BridgeForm.svelte
Labels: bridge

#13208 feat(protocol): update `PlonkVerifier` to accept new public inputs
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibZKP.sol
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
  packages/protocol/contracts/libs/yul/PlonkVerifier_10_txs.yulp
  packages/protocol/contracts/libs/yul/PlonkVerifier_80_txs.yulp
  packages/protocol/contracts/test/libs/TestLibZKP.sol
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/data/test_proof.json
  packages/protocol/test/libs/LibZKP.test.ts
  packages/protocol/test/tokenomics/proofReward.test.ts
  packages/protocol/test/utils/taikoToken.ts
Labels: protocol

#13229 fix(protocol): fix `PlonkVerifier`'s name in `AddressManager`
  packages/protocol/package.json
  packages/protocol/tasks/deploy_L1.ts
Labels: protocol
