Repository taikoxyz/taiko-mono, pull requests merged in 2023-11, with the labels that each got.

#15088 feat(relayer): proof changes for bridgable app
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/indexer/save_block_proposed_event.go
  packages/eventindexer/tasks/tasks.go
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
  packages/relayer/encoding/signal_proof_test.go
  packages/relayer/encoding/types.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/processor.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/proof/encoded_signal_proof_test.go
Labels: area.relayer

#15094 feat(protocol): update deployment scripts based on #15061
  packages/fork-diff/index.html
  packages/protocol/README.md
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/common/AuthorizableContract.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/genesis/generate_genesis.test.sh
  packages/protocol/genesis/test_config.js
  packages/protocol/genesis/test_config.json
  packages/protocol/script/AuthorizeRemoteTaikoProtocols.s.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/script/upgrade/UpgradeBridge.s.sol
  packages/protocol/script/upgrade/UpgradeERC1155Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC20Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC721Vault.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.sol
  packages/protocol/script/upgrade/UpgradeTaikoL2.s.sol
  packages/protocol/utils/generate_genesis/main.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC1155Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC721Vault.md
Labels: area.protocol, meta.alpha-6

#15095 refactor(protocol): check EOA differently
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/libs/LibAddress.sol
Labels: area.protocol, meta.alpha-6

#15097 fix(website): swap ecosystem descriptions
  packages/website/components/Ecosystem/EcosystemSection.tsx
Labels: area.website

#15011 feat(protocol): allow using both blob & calldata for DA
  packages/protocol/contracts/4844/BlobHashReader.yulp
  packages/protocol/contracts/4844/IBlobHashReader.sol
  packages/protocol/contracts/4844/Lib4844.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/L1/verifiers/IVerifier.sol
  packages/protocol/contracts/L1/verifiers/PlonkVerifier.yulp
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/contracts/tokenvault/libs/LibVaultUtils.sol
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/bridge/Bridge.t.sol
  pnpm-lock.yaml
Labels: area.protocol, meta.alpha-6

#15099 refactor(bridge-ui-v2): change inverted conditions
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
Labels: area.bridge

#15096 refactor(bridge-ui-v2): add a constant IPFS PREFIX to make the code m…
  packages/bridge-ui-v2/src/libs/util/safeParseUrl.ts
Labels: area.bridge

#15098 refactor(bridge-ui-v2): remove redundant conditions
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
Labels: area.bridge

#15108 fix(protocol): remove duplicate field in SlotB
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#15110 fix(protocol): fix an issue in `DeployOnL1` script
  packages/protocol/genesis/test_config.js
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#15111 feat(protocol): Return value to sgx addition
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/test/L1/SgxVerifier.t.sol
Labels: area.protocol

#15104 fix(protocol): deploy TransparentUpgradeableProxy for bridged token differently
  packages/protocol/contracts/libs/LibDeploy.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/genesis/test_config.js
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol, meta.alpha-6

#15119 feat(protocol): also add syncedInBlock field to Snippet
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
Labels: area.protocol, meta.alpha-6

#15116 chore(protocol): improve BlockVerified event
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
Labels: area.protocol, meta.alpha-6

#15120 fix(protocol): hash taiko address with assignment
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol, meta.alpha-6

#15105 feat(protocol): allow DA slicing and blob sharing
  packages/protocol/.solhint.json
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol, meta.alpha-6

#15123 feat(protocol): deployment script updates based on #15104
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/genesis/test_config.js
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#15117 feat(protocol): Add more data to cross sync snippet
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Labels: area.protocol, meta.alpha-6

#15084 feat(bridge-ui-v2): NFT transaction page
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Icon/IconFlipper.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusFilterDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/util/customActions.ts
  packages/bridge-ui-v2/src/libs/util/safeParseUrl.ts
Labels: area.bridge

#15131 feat(website): add WizardBridgeEVM, Meson, BlockPI and RollupCodes to ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/blockpi.png
  packages/website/public/images/ecosystem/meson.png
  packages/website/public/images/ecosystem/rollupcodes.svg
  packages/website/public/images/ecosystem/wizardbridgeevm.png
Labels: area.website

#15126 feat(website): Fix Broken Link for Meta Merge in EcosystemSection.tsx
  packages/website/components/Ecosystem/EcosystemSection.tsx
Labels: area.website

#15135 docs(website): Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15121 Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15118 Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15171 chore(website): Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15159 feat(protocol): allow TKO mint and burn
  packages/protocol/contracts/L1/TaikoToken.sol
Labels: area.protocol, meta.alpha-6

#15161 feat(protocol): add maxBlockId to ProverAssignment
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol, meta.alpha-6

#15125 fix(bridge-ui-v2): processing fee and recipient not sticking
  packages/bridge-ui-v2/README.md
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/RecipientStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCardGrid.svelte
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
Labels: area.bridge

#15172 feat(protocol): hash parent's metahash into current metahash
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
Labels: area.protocol, meta.alpha-6

#15173 feat(protocol): allow pay L1 builder a conditional tip
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: category.enhancement, area.protocol, meta.alpha-6

#15202 fix(protocol): fix and improve CrossChainSynced event
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
Labels: area.protocol, meta.alpha-6

#15201 feat(protocol): added maxProposedIn & metaHash in Assignment
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol, meta.alpha-6

#15200 feat(protocol): restrict max gas paying prover
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/libs/LibAddress.sol
Labels: area.protocol, meta.alpha-6

#15208 feat(protocol): move prover assignment verification to hook
  packages/Unknown.pdf
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/gov/TaikoGovernor.sol
  packages/protocol/contracts/L1/hooks/AssignmentHook.sol
  packages/protocol/contracts/L1/hooks/IHook.sol
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2EIP1559Configurable.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/Proxied.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/team/TimeLockTokenPool.sol
  packages/protocol/contracts/tokenvault/BaseVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L2/Lib1559Math.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Labels: category.enhancement, area.protocol, meta.alpha-6

#15018 docs(website): update reference docs
  packages/website/pages/docs/reference/contract-documentation/L1/ProofVerifier.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/IBridge.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC1155.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/BridgedERC721.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC1155Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC20Vault.md
  packages/website/pages/docs/reference/contract-documentation/tokenvault/ERC721Vault.md
Labels: area.website

#15032 chore(website): Adds Particle Taiko Onboarding to learning-resources
  packages/website/pages/docs/resources/learning-resources.mdx
Labels: area.website

#15242 feat(protocol): improve bridged token name and symbol override
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/LibBridgedToken.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
Labels: area.protocol, category.feature

#15206 feat(bridge-ui-v2): fetch cross-chain metadata
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/libs/bridge/fetchNFTs.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
  packages/bridge-ui-v2/src/libs/util/fetchNFTMetadata.ts
  packages/bridge-ui-v2/src/stores/index.ts
  packages/bridge-ui-v2/src/stores/metadata.ts
  pnpm-lock.yaml
Labels: area.bridge

#15257 (DEBUG BRANCH) Approve shall be applied on ER20Vault not translator
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/erc20/adapters/BaseAdapter.sol
  packages/protocol/contracts/tokenvault/erc20/adapters/UsdcAdapter.sol
  packages/protocol/contracts/tokenvault/erc20/registry/ERC20NativeRegistry.sol
  packages/protocol/contracts/tokenvault/erc20/registry/IERC20NativeRegistry.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
Labels: area.protocol

#15260 docs(website): Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15280 docs(website): Add provers
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15261 feat(protocol): Make Governor and TimelockControler upgradable
  packages/protocol/contracts/L1/gov/TaikoGovernor.sol
  packages/protocol/contracts/L1/gov/TaikoTimelockController.sol
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#15265 feat(protocol): Genesis / DeployOnL1 with new proxy upgrades
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/hooks/AssignmentHook.sol
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibDeployHelper.sol
  packages/protocol/contracts/team/TimeLockTokenPool.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/genesis/test_config.js
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#15245 chore(bridge-ui-v2): update confirm step design
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/stores/theme.ts
  packages/bridge-ui-v2/static/placeholder.svg
Labels: area.bridge

#15234 feat(protocol): Add airdrop contracts
  packages/protocol/contracts/team/airdrop/ERC20Airdrop.sol
  packages/protocol/contracts/team/airdrop/ERC20Airdrop2.sol
  packages/protocol/contracts/team/airdrop/ERC721Airdrop.sol
  packages/protocol/contracts/team/airdrop/MerkleClaimable.sol
  packages/protocol/package.json
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/team/airdrop/MerkleClaimable.t.sol
  packages/protocol/utils/airdrop/airdrop_db/example_claimList.json
  packages/protocol/utils/airdrop/buildMerkleTree.ts
  pnpm-lock.yaml
Labels: area.protocol

#15289 feat(protocol): improve DeployOnL1 logs
  packages/protocol/contracts/libs/LibDeployHelper.sol
Labels: area.protocol

#15282 feat(protocol): Improve and test guardian prover
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/provers/Guardians.sol
  packages/protocol/contracts/common/AuthorizableContract.sol
  packages/protocol/contracts/libs/LibDeploy.sol
  packages/protocol/contracts/team/TimelockTokenPool.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/test/DeployCapability.sol
  packages/protocol/test/L1/Guardians.t.sol
  packages/protocol/test/L1/SgxVerifier.t.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/team/TimelockTokenPool.t.sol
  packages/protocol/test/team/airdrop/MerkleClaimable.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Labels: area.protocol

#15288 feat(protocol): allow changing Bridged ERC20 token on dest chain
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/compiled/FiatTokenProxy.json
  packages/protocol/contracts/compiled/FiatTokenV2_1.json
  packages/protocol/contracts/compiled/README.md
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC20Base.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/IBridgedERC20.sol
  packages/protocol/contracts/tokenvault/adaptors/USDCAdaptor.sol
  packages/protocol/test/tokenvault/BridgedERC20.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Labels: area.protocol
