Repository taikoxyz/taiko-mono, pull requests merged in 2023-03, with the labels that each got.

#13250 fix(protocol): Wrong calculation when minting ERC20 tokens
  packages/protocol/contracts/test/erc20/FreeMintERC20.sol
  packages/protocol/contracts/test/erc20/MayFailFreeMintERC20.sol
Labels: protocol

#13263 fix(protocol): make download solc script can run outside the protocol dir
  packages/protocol/scripts/download_solc.sh
Labels: bug

#13249 feat(bridge-ui): support both bull and horse tokens on the bridge UI
  packages/bridge-ui/.default.env
  packages/bridge-ui/.editorconfig
  packages/bridge-ui/.prettierrc.json
  packages/bridge-ui/README.md
  packages/bridge-ui/package.json
  packages/bridge-ui/src/components/buttons/SelectToken.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/icons/Bull.svelte
  packages/bridge-ui/src/components/icons/Unknown.svelte
  packages/bridge-ui/src/components/modals/FaucetModal.svelte
  packages/bridge-ui/src/components/providers/BaseQueries.svelte
  packages/bridge-ui/src/components/providers/QueryProvider.svelte
  packages/bridge-ui/src/constants/abi/MintableERC20.ts
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/domain/bridge.ts
  packages/bridge-ui/src/domain/token.ts
  packages/bridge-ui/src/pages/home/Home.svelte
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
  pnpm-lock.yaml
Labels: enhancement, bridge

#13278 feat(protocol): update `LibBlockHeader` to hash post Shanghai fork blocks
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/test/libs/LibBlockHeader.test.ts
  packages/protocol/test/thirdparty/LibBlockHeaderDecoder.test.ts
  packages/protocol/test/utils/rpc.ts
  packages/protocol/test/utils/signal.ts
Labels: protocol

#13296 fix(protocol): fix workflow errors in #13293
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/test/tokenomics/blockFee.test.ts
  packages/protocol/test/utils/onNewL2Block.ts
Labels: protocol

#13337 chore(bridge-ui): clean up domains
  packages/bridge-ui/src/App.svelte
  packages/bridge-ui/src/bridge/ERC20Bridge.spec.ts
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/bridge/ETHBridge.spec.ts
  packages/bridge-ui/src/bridge/ETHBridge.ts
  packages/bridge-ui/src/chain/chains.ts
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Transaction.svelte
  packages/bridge-ui/src/components/TransactionDetail.svelte
  packages/bridge-ui/src/components/Transactions.svelte
  packages/bridge-ui/src/components/buttons/Connect.svelte
  packages/bridge-ui/src/components/buttons/SelectToken.svelte
  packages/bridge-ui/src/components/form/AddCustomERC20.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/form/ProcessingFee.svelte
  packages/bridge-ui/src/components/form/SelectChain.svelte
  packages/bridge-ui/src/components/modals/FaucetModal.svelte
  packages/bridge-ui/src/components/modals/SwitchEthereumChainModal.svelte
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/domain/block.ts
  packages/bridge-ui/src/domain/bridge.ts
  packages/bridge-ui/src/domain/chain.ts
  packages/bridge-ui/src/domain/fee.ts
  packages/bridge-ui/src/domain/message.ts
  packages/bridge-ui/src/domain/proof.ts
  packages/bridge-ui/src/domain/token.ts
  packages/bridge-ui/src/fee/processingFee.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/store/fee.ts
  packages/bridge-ui/src/store/providers.ts
  packages/bridge-ui/src/store/token.ts
  packages/bridge-ui/src/token/tokens.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.ts
  packages/bridge-ui/src/vite-env.d.ts
Labels: bridge

#13354 refactor(protocol): check signer in anchor()
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/test/libs/TestLibAnchorSignature.sol
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/protocol/test/libs/LibAnchorSignature.test.ts
  packages/protocol/test2/TaikoL2.t.sol
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2Signer.md
Labels: protocol

#13350 refactor(protocol): use instance as-is
  packages/protocol/contracts/L1/libs/LibProving.sol
Labels: protocol

#13379 refactor(protocol): remove block header from signal proof
  packages/protocol/contracts/signal/SignalService.sol
Labels: protocol

#13380 feat(bridge-ui): Tabs Component
  packages/bridge-ui/src/App.svelte
  packages/bridge-ui/src/components/Tabs/Tab.svelte
  packages/bridge-ui/src/components/Tabs/TabList.svelte
  packages/bridge-ui/src/components/Tabs/TabPanel.svelte
  packages/bridge-ui/src/components/Tabs/Tabs.svelte
  packages/bridge-ui/src/components/Tabs/index.ts
  packages/bridge-ui/src/pages/home/Home.svelte
Labels: enhancement, bridge

#13349 chore(bridge-ui): move maps out of the store
  packages/bridge-ui/src/App.svelte
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/bridge/ETHBridge.ts
  packages/bridge-ui/src/bridge/bridges.ts
  packages/bridge-ui/src/chain/chains.ts
  packages/bridge-ui/src/components/Transaction.svelte
  packages/bridge-ui/src/components/TransactionDetail.svelte
  packages/bridge-ui/src/components/Transactions.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/form/ProcessingFee.svelte
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/domain/chain.ts
  packages/bridge-ui/src/fee/processingFees.ts
  packages/bridge-ui/src/proof/ProofService.spec.ts
  packages/bridge-ui/src/proof/ProofService.ts
  packages/bridge-ui/src/provider/providers.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/store/bridge.ts
  packages/bridge-ui/src/store/providers.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.ts
  packages/bridge-ui/src/vault/tokenVaults.ts
Labels: enhancement, bridge

#13403 chore(bridge-ui): mocking env vars
  packages/bridge-ui/src/bridge/ERC20Bridge.spec.ts
  packages/bridge-ui/src/bridge/ETHBridge.spec.ts
  packages/bridge-ui/src/constants/__mocks__/envVars.ts
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
Labels: bridge

#13427 refactor(protocol): various changes based on Brecht & Dani's feedback
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/test/L1/TaikoL1.integration.test.ts
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/protocol/test2/TaikoL1.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: protocol

#13426 fix(protocol): allow deposit Ether to any address on L2
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
Labels: bridge, protocol

#13449 feat(protocol): instead of revert, emit a special event for conflicting proofs
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/relayer/TaikoL1.json
Labels: protocol

#13443 refactor(protocol): change TaikoToken's decimals from 18 to 8
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test2/LibTokenomics.t.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL1TestBase.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
Labels: protocol

#13453 docs(website): add a new Sepolia faucet
  packages/website/pages/docs/guides/receive-tokens.mdx
Labels: website

#13442 feat(protocol): change time-based fee/reward calculation
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibL1Tokenomics.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/foundry.toml
  packages/protocol/snapshot.txt
  packages/protocol/test2/LibL1Tokenomics.t.sol
  packages/protocol/test2/LibTokenomics.t.sol
  packages/protocol/test2/TaikoL1.t.sol
  packages/protocol/test2/TaikoL2.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
Labels: protocol

#13441 docs(website): add taiko roadmap
  packages/website/pages/docs/index.mdx
  packages/website/public/images/roadmaps/taiko-roadmap.png
Labels: website

#13447 feat(protocol): add foundry deployment scripts
  .github/workflows/protocol.yml
  packages/protocol/.gitignore
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/download_solc.sh
  packages/protocol/tasks/compile_yul.ts
  packages/protocol/tasks/config.ts
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/tasks/log.ts
  packages/protocol/tasks/utils.ts
  packages/protocol/test/bridge/libs/LibBridgeRetry.test.ts
  packages/protocol/test/libs/Lib1559Math.test.ts
  packages/protocol/test/libs/LibBlockHeader.test.ts
  pnpm-lock.yaml
Labels: protocol

#13488 feat(bridge-ui): more informative processing fee
  packages/bridge-ui/src/app.css
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/bridge/ETHBridge.ts
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/TaikoBanner.svelte
  packages/bridge-ui/src/components/Transactions.svelte
  packages/bridge-ui/src/components/Transactions/InsufficientBalanceTooltip.svelte
  packages/bridge-ui/src/components/Transactions/MessageStatusTooltip.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/TransactionDetail.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/components/Transactions/index.ts
  packages/bridge-ui/src/components/buttons/Button.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/form/Memo.svelte
  packages/bridge-ui/src/components/form/ProcessingFee.svelte
  packages/bridge-ui/src/components/form/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui/src/components/form/ProcessingFee/ProcessingFeeTooltip.svelte
  packages/bridge-ui/src/components/form/ProcessingFee/index.ts
  packages/bridge-ui/src/components/modals/Modal.svelte
  packages/bridge-ui/src/components/modals/NoticeModal.svelte
  packages/bridge-ui/src/config.ts
  packages/bridge-ui/src/domain/bridge.ts
  packages/bridge-ui/src/domain/button.ts
  packages/bridge-ui/src/domain/fee.ts
  packages/bridge-ui/src/domain/message.ts
  packages/bridge-ui/src/domain/relayerApi.ts
  packages/bridge-ui/src/domain/transactions.ts
  packages/bridge-ui/src/fee/processingFees.ts
  packages/bridge-ui/src/pages/home/Home.svelte
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/storage/StorageService.spec.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/store/fee.ts
  packages/bridge-ui/src/store/userToken.ts
  packages/bridge-ui/src/utils/switchChainAndSetSigner.ts
  packages/bridge-ui/tailwind.config.cjs
Labels: bridge

#13507 fix(bridge-ui): fix issue with claim notice modal
  packages/bridge-ui/src/components/modals/NoticeModal.svelte
Labels: bridge
