Repository taikoxyz/taiko-mono, pull requests merged in 2023-08, with the labels that each got.

#14315 docs(website): Update node-troubleshooting.mdx
  packages/website/pages/docs/reference/node-troubleshooting.mdx
Labels: area.website

#14331 feat(bridge-ui-v2): Fixed input validations and catching additional errors
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/SwitchChainsButton.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
Labels: area.bridge

#14357 feat(protocol): add `blockId` to `Slashed` event
  packages/protocol/contracts/L1/IProverPool.sol
  packages/protocol/contracts/L1/ProverPool.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Labels: category.enhancement, area.protocol

#14344 feat(protocol): LibFixedPointMath contract library license different MAX_EXP_INPUT values
  packages/protocol/contracts/thirdparty/LibFixedPointMath.sol
Labels: area.protocol

#14356 docs(website): Run Sepolia Node eth-docker curl request error with fix
  packages/website/pages/docs/guides/run-a-node/run-a-sepolia-node.mdx
Labels: category.enhancement, area.website

#14340 chore(website): update faq.mdx
  packages/website/pages/docs/reference/faq.mdx
Labels: area.website

#14366 docs(website): update node troubleshooting
  packages/website/pages/docs/reference/node-troubleshooting.mdx
Labels: area.website

#14338 docs(website): add overview EIP-4844 blob data transactions
  packages/website/pages/docs/concepts/overview.mdx
  packages/website/public/images/diagrams/concepts/eip-4844/blob-bolt-block.png
  packages/website/public/images/diagrams/concepts/eip-4844/merkle-tree-vs-polynomial-commitment.png
  packages/website/public/images/diagrams/concepts/eip-4844/scale-rollup-ten-times.png
Labels: area.website

#14373 chore(docs): adds Chainstack faucet to docs
  packages/website/pages/docs/guides/build-on-taiko/receive-tokens.mdx
Labels: area.website

#14365 feat(bridge-ui-v2): Addition of custom token
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/Bridge/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Icon/ERC20.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/storage/CustomTokenService.test.ts
  packages/bridge-ui-v2/src/libs/storage/CustomTokenService.ts
  packages/bridge-ui-v2/src/libs/storage/services.ts
  packages/bridge-ui-v2/src/libs/token/types.ts
  packages/bridge-ui-v2/vite.config.ts
  pnpm-lock.yaml
Labels: area.bridge

#14339 feat(protocol): Gas limit behavior changes
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/protocol/test/TaikoL2.t.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
Labels: area.protocol, category.feature, meta.alpha-5

#14350 feat(bridge-ui-v2): Style adjustments
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/BridgeTabs.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Bridge/SwitchChainsButton.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/InputBox/InputBox.svelte
  packages/bridge-ui-v2/src/components/LinkButton/LinkButton.svelte
  packages/bridge-ui-v2/src/components/Page/Page.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
Labels: area.bridge

#14368 docs(website): Update claim-prover-rewards.mdx
  packages/website/pages/docs/guides/run-a-node/claim-prover-rewards.mdx
Labels: area.website

#14375 feat(website): update integration manual
  packages/website/pages/docs/manuals/integration-manual.mdx
Labels: area.website

#14418 feat(eventindexer): Index nfts
  .github/workflows/eventindexer.yml
  .github/workflows/relayer.yml
  Dockerfile
  go.mod
  go.sum
  packages/eventindexer/.golangci.yml
  packages/eventindexer/cli/cli.go
  packages/eventindexer/cmd/main.go
  packages/eventindexer/contracts/erc1155/abi.go
  packages/eventindexer/errors.go
  packages/eventindexer/event.go
  packages/eventindexer/flags.go
  packages/eventindexer/http/get_nft_balances_by_address_and_chain_id.go
  packages/eventindexer/http/get_pos_stats.go
  packages/eventindexer/http/routes.go
  packages/eventindexer/http/server.go
  packages/eventindexer/http/server_test.go
  packages/eventindexer/indexer/filter.go
  packages/eventindexer/indexer/filter_then_subscribe.go
  packages/eventindexer/indexer/index_nft_transfers.go
  packages/eventindexer/indexer/save_block_proposed_event.go
  packages/eventindexer/indexer/save_block_proven_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/indexer/save_exited_event.go
  packages/eventindexer/indexer/save_liquidity_added_event.go
  packages/eventindexer/indexer/save_message_sent_event.go
  packages/eventindexer/indexer/save_slashed_event.go
  packages/eventindexer/indexer/save_staked_event.go
  packages/eventindexer/indexer/save_swap_event.go
  packages/eventindexer/indexer/save_withdrawn_event.go
  packages/eventindexer/indexer/service.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
  packages/eventindexer/indexer/subscribe.go
  packages/eventindexer/migrations/1666650706_alter_events_table_add_token_id.sql
  packages/eventindexer/migrations/1666650707_alter_events_table_add_to.sql
  packages/eventindexer/migrations/1666650708_alter_events_table_add_contract_address.sql
  packages/eventindexer/migrations/1666650709_create_nft_balances_table.sql
  packages/eventindexer/migrations/1666650710_alter_nft_balances_table_add_address_and_chain_id_index.sql
  packages/eventindexer/migrations/1666650711_alter_nft_balances_table_add_address_contract_address_token_id_and_chain_id_index.sql
  packages/eventindexer/mock/nft_balance_repository.go
  packages/eventindexer/nft_balance.go
  packages/eventindexer/repo/event.go
  packages/eventindexer/repo/nft_balance.go
  packages/relayer/.golangci.yml
  packages/relayer/cli/cli.go
  packages/relayer/indexer/detect_and_handle_reorg.go
  packages/relayer/indexer/filter_then_subscribe.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_no_events_in_batch.go
  packages/relayer/indexer/save_message_status_changed_events.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/message/is_profitable.go
  packages/relayer/message/process_message.go
  packages/relayer/message/wait_header_synced.go
  packages/relayer/types.go
Labels: area.event-indexer, category.feature

#14411 fix(protocol): Fix ProverPool bug, clear proverId when exit
  packages/protocol/contracts/L1/ProverPool.sol
Labels: area.protocol

#14429 docs(protocol): update `How Taiko proves L2 blocks`, no more special logic to prove for `withdrawalsRoot`
  packages/protocol/docs/how_taiko_proves_blocks.md
Labels: area.docs

#14414 docs(website): Docs guides nodes curl request chainId and consensus layer syncing status
  packages/website/pages/docs/guides/run-a-node/run-a-sepolia-node.mdx
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Labels: area.website

#14410 feat(website): update zksynth on ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/zksynth.png
Labels: area.website

#14408 docs(website):Update enable-a-prover.mdx prerequisites
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Labels: area.website

#14348 docs(website): add guidance for changing staked TTKOe amount in Eldfell L3 provers
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Labels: area.website, meta.alpha-4

#14345 docs(website): add L3 port setting example for "Run a Taiko node"
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
Labels: area.website

#14434 chore(website): update contributing manual
  CONTRIBUTING.md
Labels: area.website

#14353 feat(website): Update enable-a-prover.mdx
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Labels: area.website, meta.alpha-4

#14417 feat(website): add cloak to ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/cloak.png
Labels: area.website

#14427 fix(protocol): fix vault sending ether and improve comments
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgeErrors.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/README.md
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeInvoke.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRecall.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSend.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BaseVault.bak
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Labels: area.protocol

#14399 chore(protocol): improve protocol documentation
  packages/protocol/contracts/L1/IProofVerifier.sol
  packages/protocol/contracts/L1/IProverPool.sol
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/ProverPool.sol
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/libs/proofTypes/LibVerifyZKP.sol
  packages/protocol/contracts/L1/libs/verifiers/LibZKPVerifier.sol
  packages/protocol/contracts/L2/LibL2Consts.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/contracts/common/IMintableERC20.sol
  packages/protocol/contracts/common/Proxied.sol
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibMath.sol
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
Labels: area.protocol

#14378 feat(website): use cards in guides
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/run-a-node/_meta.json
Labels: area.website

#14431 chore(whitepaper): deprecate whitepaper
  packages/protocol/docs/DESIGN.md
  packages/protocol/simulation/README.md
  packages/protocol/simulation/exports/simulation_data_1682692028.txt
  packages/protocol/simulation/exports/simulation_data_1682692255.txt
  packages/protocol/simulation/exports/simulation_data_1682693127.txt
  packages/protocol/simulation/exports/simulation_data_1682760421.txt
  packages/protocol/simulation/exports/simulation_data_1682760720.txt
  packages/protocol/simulation/exports/simulation_data_1682761401.txt
  packages/protocol/simulation/exports/simulation_data_1682761622.txt
  packages/protocol/simulation/exports/simulation_data_1682761795.txt
  packages/protocol/simulation/plots/1682692028_blockfee_with_time.png
  packages/protocol/simulation/plots/1682692028_proof_time_per_block.png
  packages/protocol/simulation/plots/1682692028_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682692255_blockfee_with_time.png
  packages/protocol/simulation/plots/1682692255_proof_time_per_block.png
  packages/protocol/simulation/plots/1682692255_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682760421_blockfee_with_time.png
  packages/protocol/simulation/plots/1682760421_proof_time_per_block.png
  packages/protocol/simulation/plots/1682760421_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682760720_blockfee_with_time.png
  packages/protocol/simulation/plots/1682760720_proof_time_per_block.png
  packages/protocol/simulation/plots/1682760720_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682761401_blockfee_with_time.png
  packages/protocol/simulation/plots/1682761401_proof_time_per_block.png
  packages/protocol/simulation/plots/1682761401_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682761622_blockfee_with_time.png
  packages/protocol/simulation/plots/1682761622_proof_time_per_block.png
  packages/protocol/simulation/plots/1682761622_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/plots/1682761795_blockfee_with_time.png
  packages/protocol/simulation/plots/1682761795_proof_time_per_block.png
  packages/protocol/simulation/plots/1682761795_prop_and_verified_blocks_with_time.png
  packages/protocol/simulation/requirements.txt
  packages/protocol/simulation/simulation_data_parser.py
  packages/tokenomics/README.md
  packages/tokenomics/main.py
  packages/whitepaper/README.md
  packages/whitepaper/build.sh
  packages/whitepaper/fig/fees_and_rewards.png
  packages/whitepaper/fig/taikoEcosystemFin2.png
  packages/whitepaper/main.tex
  packages/whitepaper/sections/abstract.tex
  packages/whitepaper/sections/constants.tex
  packages/whitepaper/sections/crosschain.tex
  packages/whitepaper/sections/designprinciples.tex
  packages/whitepaper/sections/hardforks.tex
  packages/whitepaper/sections/improvements.tex
  packages/whitepaper/sections/introduction.tex
  packages/whitepaper/sections/overview.tex
  packages/whitepaper/sections/prevworks.tex
  packages/whitepaper/sections/references.tex
  packages/whitepaper/sections/taiko_anchortx.tex
  packages/whitepaper/sections/taiko_contracts.tex
  packages/whitepaper/sections/taiko_overview.tex
  packages/whitepaper/sections/taiko_proposing.tex
  packages/whitepaper/sections/taiko_proving.tex
  packages/whitepaper/sections/taiko_validation.tex
  packages/whitepaper/sections/taiko_verifying.tex
  packages/whitepaper/sections/terms.tex
  packages/whitepaper/sections/tokenomics_v1.tex
  packages/whitepaper/sections/zkevm.tex
Labels: area.docs

#14446 fix(bridge-ui): return true if the token address is found on dest chain to send correct gas limit
  packages/bridge-ui/jest.config.js
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/bridge-ui/src/utils/switchNetwork.spec.ts
  packages/bridge-ui/src/utils/switchNetwork.ts
  packages/pos-dashboard/src/utils/switchNetwork.spec.ts
Labels: area.bridge

#14441 feat(website): Text additions and partial corrections and conversion of information
  packages/website/pages/docs/guides/run-a-node/run-a-taiko-node.mdx
  packages/website/pages/docs/reference/node-troubleshooting.mdx
Labels: area.website

#14515 feat(website): update forkdiff website
  packages/fork-diff/index.html
Labels: area.website

#14489 feat(protocol): change protocol data layout to enable coverage report
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/ERC1155Vault.t.sol
  packages/protocol/test/ERC20Vault.t.sol
  packages/protocol/test/ERC721Vault.t.sol
Labels: category.enhancement, area.protocol, category.feature

#14503 docs(website): Run Taiko node typo
  packages/website/pages/docs/guides/run-a-node/enable-a-prover.mdx
Labels: area.docs, area.website

#14522 feat(bridge-ui-v2): fix vercel routing
  packages/bridge-ui-v2/vercel.json
Labels: area.bridge

#14521 chore(website): update bridging diagrams
  packages/website/excalidraw/bridging-process-message.excalidraw
  packages/website/excalidraw/bridging-send-message.excalidraw
  packages/website/public/images/diagrams/concepts/bridging/bridging-process-message.png
  packages/website/public/images/diagrams/concepts/bridging/bridging-send-message.png
Labels: area.website

#14511 feat(bridge-ui-v2): switch chain on wrong network
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/SwitchChainModal/SwitchChainModal.svelte
  packages/bridge-ui-v2/src/components/SwitchChainModal/index.ts
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/util/chainToIconMap.ts
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/stores/modal.ts
Labels: area.bridge

#14517 feat(bridge-ui-v2): update the style of chain selector
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
Labels: area.bridge

#14518 feat(bridge-ui-v2): update the style of switch chain button
  packages/bridge-ui-v2/src/components/Bridge/SwitchChainsButton.svelte
Labels: area.bridge

#14448 feat(bridge-ui-v2): destination token bridged
  packages/bridge-ui-v2/src/components/Activities/Activities.svelte
  packages/bridge-ui-v2/src/components/Activities/Transaction.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/InputBox/InputBox.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui-v2/src/libs/storage/CustomTokenService.ts
  packages/bridge-ui-v2/src/libs/token/getAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
  packages/bridge-ui-v2/src/libs/token/types.ts
Labels: area.bridge

#14527 feat(bridge-ui-v2): Processing fee input box
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Labels: area.bridge

#14533 chore(bridge-ui-v2): update renderBalance
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
Labels: area.bridge

#14524 feat(bridge-ui-v2): light theme
  packages/bridge-ui-v2/src/app.html
  packages/bridge-ui-v2/src/components/Activities/Activities.svelte
  packages/bridge-ui-v2/src/components/Activities/Transaction.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/LinkButton/LinkButton.svelte
  packages/bridge-ui-v2/src/components/Logo/LogoWithText.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/NotificationToast.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/src/styles/override.css
  packages/bridge-ui-v2/src/styles/utilities.css
  packages/bridge-ui-v2/tailwind.config.js
Labels: area.bridge

#14510 feat(protocol): prototype prover abstraction
  packages/protocol/CHANGELOG.md
  packages/protocol/contracts/L1/IProofVerifier.sol
  packages/protocol/contracts/L1/IProver.sol
  packages/protocol/contracts/L1/IProverPool.sol
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/ProverPool.sol
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1Base.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/LibL2Consts.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/genesis/generate_genesis.test.sh
  packages/protocol/genesis/test_config.json
  packages/protocol/genesis/testnet/docker-compose.yml
  packages/protocol/genesis/testnet/init_geth.sh
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L1/TaikoL1.sim.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1Oracle.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoToken.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/L2/TaikoL2_1559.t.sol
  packages/protocol/test/ProverPool.t.sol
  packages/protocol/test/ProverPool_Protocol_Interactions.t.sol
  packages/protocol/test/SignalServiceCalc.t.sol
  packages/protocol/test/TaikoToken.t.sol
  packages/protocol/test/TestBase.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/libs/Lib1559Math.t.sol
  packages/protocol/test/libs/LibFixedPointMath.t.sol
  packages/protocol/test/misc/GasComparison.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
  packages/protocol/test/tokenvault/EtherVault.t.sol
Labels: area.protocol

#14529 chore(bridge-ui-v2): Update tooltips for Processing fee and Recipient address
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Tooltip/Tooltip.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/styles/components.css
Labels: area.bridge

#14548 feat(website): add phalcon explorer to ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/phalcon-explorer.png
Labels: area.website

#14546 fix(repo): added mention of pos-dashboard package
  README.md
Labels: area.repo

#14539 fix(bridge-ui-v2): refresh ETH balance at the top right
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/Icon/BLL.svelte
  packages/bridge-ui-v2/src/components/Icon/ERC20.svelte
  packages/bridge-ui-v2/src/components/Icon/HORSE.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/libs/util/renderBalance.ts
  packages/bridge-ui-v2/src/stores/balance.ts
Labels: area.bridge

#14550 fix(protocol): fix workflow errors in #14541
  packages/protocol/genesis/generate_genesis.test.sh
  packages/protocol/genesis/test_config.json
  packages/protocol/genesis/testnet/docker-compose.yml
  packages/protocol/package.json
Labels: area.protocol

#14554 chore(protocol): change the way instance is calculated
  packages/protocol/contracts/L1/libs/LibProving.sol
Labels: area.protocol

#14553 chore(bridge-ui-v2): update UI styles
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/index.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/styles/components.css
Labels: area.bridge

#14572 feat(bridge-ui-v2): AddressInput component
  packages/bridge-ui-v2/src/components/Bridge/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/InputBox/InputBox.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/token/getAddress.test.ts
  packages/bridge-ui-v2/src/styles/components.css
Labels: area.bridge

#14543 fix(pos-dashboard): Changed font color of error message
  packages/pos-dashboard/src/components/StakeForm.svelte/StakeForm.svelte
Labels: category.enhancement

#14573 chore(bridge-ui-v2): update UI styles
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/SwitchChainModal/SwitchChainModal.svelte
  packages/bridge-ui-v2/src/components/Tooltip/Tooltip.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/fee/recommendProcessingFee.ts
Labels: area.bridge

#14589 feat(protocol): remove an unused flag in `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#14595 fix(protocol): block reward must be minted
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/test/L1/TaikoL1Oracle.t.sol
Labels: area.protocol

#14588 feat(bridge-ui-v2): Styling adjustments
  packages/bridge-ui-v2/src/components/Bridge/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/Icon/ETH.svelte
  packages/bridge-ui-v2/src/components/Icon/Taiko.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/src/styles/components.css
Labels: area.bridge

#14604 chore(protocol): no logical change, just renaming
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
Labels: area.protocol

#14603 feat(bridge-ui-v2): truncate-chainname
  packages/bridge-ui-v2/postcss.config.js
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/SwitchChainModal/SwitchChainModal.svelte
Labels: area.bridge

#14607 chore(status-page): Typo Status Page
  packages/status-page/src/utils/buildStatusIndicators.ts
Labels: area.status-page

#14592 feat(website): add metamerge to ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/metamerge.png
Labels: area.website

#14608 feat(repo): create dependabot.yml
  .github/dependabot.yml
Labels: category.enhancement, area.developer-experience

#14565 chore(protocol): improve contracts and docs for auditing
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/actors_privileges_deployments.md
  packages/protocol/contracts/libs/Lib1559Math.sol
  packages/protocol/incident_response_plan.md
  packages/protocol/script/upgrade/SetAddressManager.s.sol
  packages/protocol/script/upgrade/TransferOwnership.s.sol
  packages/protocol/test/L1/TaikoL1.sim.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoToken.t.sol
Labels: area.docs, meta.alpha-5, meta.audits
