Repository taikoxyz/taiko-mono, pull requests merged in 2023-01, with the labels that each got.

#376 feat(protocol): implement & simulate tokenomics
  .github/workflows/solidity.yml
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/v1/V1Utils.sol
  packages/protocol/contracts/L1/v1/V1Verifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/contracts/libs/LibConstants.sol
  packages/protocol/contracts/libs/LibInvalidTxList.sol
  packages/protocol/contracts/libs/LibReceiptDecoder.sol
  packages/protocol/contracts/libs/LibSharedConfig.sol
  packages/protocol/contracts/libs/LibTxDecoder.sol
  packages/protocol/contracts/libs/LibTxUtils.sol
  packages/protocol/contracts/libs/LibUint512Math.sol
  packages/protocol/contracts/libs/LibZKP.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/libs/TestLibTxUtils.sol
  packages/protocol/contracts/test/thirdparty/TestLibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibBytesUtils.sol
  packages/protocol/contracts/thirdparty/LibMerkleTrie.sol
  packages/protocol/contracts/thirdparty/LibRLPReader.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
  packages/protocol/docs/L1/TaikoL1.md
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/bridge/libs/LibBridgeRetry.test.ts
  packages/protocol/test/genesis/generate_genesis.test.ts
  packages/protocol/test/libs/LibTxDecoder.test.ts
  packages/protocol/test/libs/LibTxUtils.test.ts
  packages/relayer/TaikoL1.json
  packages/relayer/contracts/TaikoL1.go
  packages/tokenomics/.gitignore
  packages/tokenomics/README.md
  packages/tokenomics/main.py
  packages/tokenomics/plots.py
  packages/tokenomics/present.py
  packages/tokenomics/presents/cbvp1.py
  packages/tokenomics/presents/cbvp2.py
  packages/tokenomics/presents/p0.py
  packages/tokenomics/presents/vbcp1.py
  packages/tokenomics/presents/vbcp2.py
  packages/tokenomics/presents/vbvps1.py
  packages/tokenomics/presents/vbvps2.py
  packages/website/docs/smart-contracts/L1/TaikoL1.md
Labels: protocol

#490 feat(docs): autocommit changes to solidity docs
  .github/workflows/solidity.yml
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/solidity-docgen/templates/common.hbs
  packages/website/docs/smart-contracts/L1/LibData.md
  packages/website/docs/smart-contracts/L1/TkoToken.md
  packages/website/docs/smart-contracts/L2/TaikoL2.md
  packages/website/docs/smart-contracts/bridge/Bridge.md
  packages/website/docs/smart-contracts/bridge/EtherVault.md
  packages/website/docs/smart-contracts/bridge/IBridge.md
  packages/website/docs/smart-contracts/bridge/TokenVault.md
  packages/website/docs/smart-contracts/common/AddressResolver.md
  packages/website/docs/smart-contracts/common/ConfigManager.md
  pnpm-lock.yaml
Labels: documentation, protocol

#7058 feat(protocol): expose getUncleProofDelay function
  .husky/pre-commit
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/website/docs/smart-contracts/L1/ProofVerifier.md
  packages/website/docs/smart-contracts/L1/TaikoData.md
  packages/website/docs/smart-contracts/L1/TaikoEvents.md
  packages/website/docs/smart-contracts/L1/TaikoL1.md
  packages/website/docs/smart-contracts/L2/TaikoL2.md
Labels: protocol

#7562 fix(test): fix the occasional `noNetwork` error in integration tests
  packages/protocol/test/bridge/Bridge.test.ts
  packages/protocol/test/test_integration.sh
Labels: test, protocol

#7657 refactor(test): switching tests to smock instead of manual storage manipulation
  packages/protocol/test/bridge/TokenVault.test.ts
Labels: test, bridge

#473 test(bridge): test TokenVault sendERC20 function
  packages/protocol/test/bridge/TokenVault.test.ts
Labels: bridge

#6861 refactor(bridge): use deterministic message status slot (w/o mapping)
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeSignal.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeData.sol
  packages/protocol/docs/bridge/Bridge.md
  packages/protocol/tasks/utils.ts
  packages/protocol/test/bridge/Bridge.test.ts
  packages/protocol/test/bridge/TokenVault.test.ts
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/bridge/libs/LibBridgeRetry.test.ts
  packages/protocol/test/libs/LibTrieProof.test.ts
  packages/protocol/test/test_integration.sh
Labels: protocol

#7310 test(protocol): TaikoL1 Committing + Proposing Integration Tests
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/docs/L1/TaikoL1.md
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/website/docs/smart-contracts/L1/TaikoL1.md
Labels: protocol

#12136 fix(workflow): fix a solidity workflow error
  .github/actions/set-up-protocol/action.yml
  .github/workflows/solidity.yml
  get_helm.sh
Labels: protocol

#12676 fix(protocol): LibZKP.verify return true for current
  packages/protocol/contracts/libs/LibZKP.sol
Labels: bug

#12368 fix(bridge-ui): reported issue fixes
  packages/bridge-ui/src/components/ButtonWithTooltip.svelte
  packages/bridge-ui/src/components/Transaction.svelte
  packages/bridge-ui/src/components/Transactions.svelte
  packages/bridge-ui/src/components/buttons/SelectToken.svelte
  packages/bridge-ui/src/components/form/Memo.svelte
  packages/bridge-ui/src/components/form/ProcessingFee.svelte
  packages/bridge-ui/src/components/form/SelectChain.svelte
Labels: bridge, dx

#12950 fix(protocol): fix an occasional error in `test:tokenomics`
  packages/protocol/test/tokenomics/Tokenomics.test.ts
Labels: enhancement, test, protocol

#12955 chore(protocol): remove the unused `hardhat-preprocessor` dependency
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  pnpm-lock.yaml
Labels: protocol, dependencies

#12987 feat(protocol): add special logics for alpha-2 testnet
  packages/protocol/contracts/L1/TkoToken.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
Labels: protocol

#12965 test(protocol): add SignalService integration tests
  packages/protocol/test/signal/SignalService.integration.test.ts
Labels: protocol

#13006 fix(protocol): fix `test:integration` waiting node timeout
  packages/protocol/test/genesis/testnet/docker-compose.yml
  packages/protocol/test/test_integration.sh
Labels: test, protocol

#13004 feat(protocol): implement `Bridge.isMessageFailed`
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/libs/LibTrieProof.test.ts
  packages/protocol/test/test_integration.sh
  packages/protocol/test/utils/bridge.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: protocol

#13031 docs(website): broken link to faucet page
  packages/website/pages/docs/testnet-guide/use-the-bridge.md
Labels: website

#13008 feat(protocol): implement releaseEther & releaseERC20
  packages/protocol/CHANGELOG.md
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/bridge/libs/LibBridgeData.sol
  packages/protocol/contracts/bridge/libs/LibBridgeInvoke.sol
  packages/protocol/contracts/bridge/libs/LibBridgeProcess.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRelease.sol
  packages/protocol/contracts/bridge/libs/LibBridgeRetry.sol
  packages/protocol/contracts/bridge/libs/LibBridgeStatus.sol
  packages/protocol/contracts/test/bridge/libs/TestLibBridgeInvoke.sol
  packages/protocol/docs/bridge/EtherVault.md
  packages/protocol/test/bridge/libs/LibBridgeProcess.test.ts
  packages/protocol/test/etherVault/EtherVault.test.ts
  packages/protocol/test/tokenVault/TokenVault.test.ts
  packages/protocol/test/tokenomics/Tokenomics.test.ts
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
Labels: enhancement, bridge, protocol

#13047 chore(protocol): improve LibZKP
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/common/ConfigManager.sol
  packages/protocol/contracts/libs/LibZKP.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/docs/common/ConfigManager.md
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/test/ConfigManager.test.ts
Labels: protocol

#13052 feat(protocol): L1 deployment script changes related to #13047
  packages/protocol/tasks/deploy_L1.ts
Labels: protocol

#13034 fix(protocol): fix two protocol bugs
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/L1/TaikoL1.test.ts
  packages/protocol/test/utils/propose.ts
Labels: protocol

#13016 feat(protocol): deploy the generated Yul plonk verifier
  packages/protocol/.gitignore
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/common/ConfigManager.sol
  packages/protocol/contracts/libs/LibZKP.sol
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/docs/common/ConfigManager.md
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/scripts/download_solc.sh
  packages/protocol/tasks/compile_yul.ts
  packages/protocol/tasks/deploy_L1.ts
  packages/protocol/tasks/utils.ts
  packages/protocol/test/ConfigManager.test.ts
  pnpm-lock.yaml
Labels: protocol, dependencies, client

#13064 docs(website): fix typos
  packages/website/pages/docs/resources/faqs.md
  packages/website/pages/docs/testnet-guide/request-from-faucet.md
Labels: website

#13063 fix(protocol): update `ProofVerifier` address name in `AddressManager`
  packages/protocol/tasks/deploy_L1.ts
Labels: protocol

#13066 feat(protocol): enable two dimensional circuit/verifier lookup.
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/tasks/deploy_L1.ts
Labels: protocol

#13059 chore(relayer): update relayer to latest protocol changes
  packages/relayer/TaikoL1.json
  packages/relayer/abigen.sh
  packages/relayer/bridge.go
  packages/relayer/contracts/bridge/Bridge.go
  packages/relayer/contracts/iheadersync/IHeaderSync.go
  packages/relayer/contracts/taikol1/TaikoL1.go
  packages/relayer/contracts/taikol2/TaikoL2.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/handle_event_test.go
  packages/relayer/indexer/service.go
  packages/relayer/indexer/set_initial_processing_block_by_mode.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/message/is_profitable.go
  packages/relayer/message/is_profitable_test.go
  packages/relayer/message/process_message.go
  packages/relayer/message/process_message_test.go
  packages/relayer/message/processor_test.go
  packages/relayer/message/wait_header_synced.go
  packages/relayer/message/wait_header_synced_test.go
  packages/relayer/mock/bridge.go
Labels: relayer

#13074 fix(protocol): fix a downloading `solc` binary script bug
  packages/protocol/scripts/download_solc.sh
Labels: bug, protocol

#13070 feat(protocol): temporarily force an `oracle prover` to be the first prover
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/libs/LibSharedConfig.sol
  packages/protocol/contracts/libs/LibZKP.sol
  packages/protocol/contracts/test/L1/TestTaikoL1.sol
  packages/protocol/contracts/test/L1/TestTaikoL1EnableTokenomics.sol
  packages/protocol/contracts/test/L1/TestTaikoL2.sol
  packages/protocol/contracts/test/L1/TestTaikoL2EnablePublicInputsCheck.sol
Labels: protocol

#13079 feat(protocol): add `proto_broker` / `oracle_prover` addresses into `AddressManager` in deploy_L1 script
  packages/protocol/package.json
  packages/protocol/tasks/deploy_L1.ts
Labels: protocol
