Repository taikoxyz/taiko-mono, pull requests merged in 2023-10, with the labels that each got.

#14870 feat(protocol): update A5 `proposerRewardPerSecond`
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/test/L2/TaikoL2_1559.t.sol
Labels: area.protocol, meta.alpha-5

#14871 feat(protocol): add a missing slot value in pre-deployed `TaikoL2` generation
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: category.enhancement, area.protocol

#14865 docs(website): add Sepolia faucet
  packages/website/pages/docs/guides/receive-tokens.mdx
Labels: area.website

#14872 chore(bridge-ui-v2): Update right top buttons to same UI styles
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
Labels: area.bridge

#14868 feat(website): add AIT Protocol to ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/ait.png
Labels: area.website

#14880 docs(website): add prover from http://jolnir.spachib.xyz
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#14904 chore(bridge-ui-v2): animate the theme button and align with design
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
Labels: area.bridge

#14905 fix(eventindexer): upodate indexnfts flag to bool
  packages/eventindexer/cmd/flags/indexer.go
  packages/eventindexer/indexer/config_test.go
Labels: area.event-indexer

#14842 feat(bridge-ui-v2): manual NFT import step
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/state.ts
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/BridgeTabs.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.test.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.ts
  packages/bridge-ui-v2/src/libs/token/detectContractType.test.ts
  packages/bridge-ui-v2/src/libs/token/detectContractType.ts
  packages/bridge-ui-v2/src/libs/token/getTokenInfo.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenInfo.ts
  packages/bridge-ui-v2/src/libs/token/types.ts
Labels: area.bridge

#14912 fix(eventindexer): update config tests
  packages/eventindexer/generator/config_test.go
  packages/eventindexer/indexer/config_test.go
  packages/relayer/indexer/config_test.go
  packages/relayer/processor/config_test.go
Labels: area.relayer, area.event-indexer

#14915 chore(bridge-ui-v2): Update text color in BridgeTabs
  packages/bridge-ui-v2/src/components/Bridge/BridgeTabs.svelte
Labels: area.bridge

#14911 refactor(protocol): implemented an alternative SGX verifier
  packages/protocol/contracts/L1/verifiers/SGXVerifier.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L1/SgxVerifier.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/TestBase.sol
Labels: area.protocol

#14914 refactor(bridge-ui-v2): Add component CloseButton
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/CloseButton/CloseButton.svelte
  packages/bridge-ui-v2/src/components/CloseButton/index.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
Labels: area.bridge

#14901 feat(protocol): SGX+ZK aggregated tier config
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/ZkAndSgxCombinedRollupConfigProvider.sol
  packages/protocol/contracts/L1/verifiers/SgxAndZkVerifier.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#14924 feat(protocol): allow checking config after initialization
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
Labels: area.protocol

#14928 feat(bridge-ui-v2): dynamic import of NFT data via API
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/config/sample/configuredEventIndexer.example
  packages/bridge-ui-v2/config/schemas/configuredEventIndexer.schema.json
  packages/bridge-ui-v2/scripts/exportJsonToEnv.js
  packages/bridge-ui-v2/scripts/vite-plugins/generateEventIndexerConfig.ts
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/components/NFTList/index.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/libs/bridge/fetchNFTs.ts
  packages/bridge-ui-v2/src/libs/bridge/fetchTransactions.ts
  packages/bridge-ui-v2/src/libs/eventIndexer/EventIndexerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/eventIndexer/EventIndexerAPIService.ts
  packages/bridge-ui-v2/src/libs/eventIndexer/index.ts
  packages/bridge-ui-v2/src/libs/eventIndexer/initEventIndexer.ts
  packages/bridge-ui-v2/src/libs/eventIndexer/types.ts
  packages/bridge-ui-v2/src/libs/storage/CustomTokenService.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImage.ts
  packages/bridge-ui-v2/src/libs/token/getTokenInfo.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenInfo.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
  packages/bridge-ui-v2/src/libs/token/types.ts
  packages/bridge-ui-v2/src/libs/util/safeReadContract.test.ts
  packages/bridge-ui-v2/src/libs/util/safeReadContract.ts
  packages/bridge-ui-v2/vite.config.ts
Labels: area.bridge

#14945 chore(bridge-ui-v2): fix tests
  packages/bridge-ui-v2/__mocks__/parseNFTMetadata.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
Labels: area.bridge

#14929 feat(protocol): reward proposer using gas used on L2
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
Labels: area.protocol

#14932 feat(protocol): implement a multisig GuardianProver
  packages/protocol/.solhint.json
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol, category.feature

#14969 docs(website): add relayer and eventindexer swagger docs, add back swap guide
  packages/website/package.json
  packages/website/pages/docs/guides.mdx
  packages/website/pages/docs/guides/_meta.json
  packages/website/pages/docs/guides/swap-tokens.mdx
  packages/website/pages/docs/reference/event-indexer.mdx
  packages/website/pages/docs/reference/relayer.mdx
  packages/website/theme.config.tsx
  pnpm-lock.yaml
Labels: area.website

#14967 docs(website): update taiko node running docs
  packages/website/pages/docs/guides/run-a-taiko-node.mdx
Labels: area.website

#14949 feat(bridge-ui-v2): NFT bridging
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/state.ts
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/state.ts
  packages/bridge-ui-v2/src/components/Bridge/state.ts
  packages/bridge-ui-v2/src/components/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/fetchNFTs.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.test.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
  packages/bridge-ui-v2/src/libs/util/parseNFTMetadata.ts
Labels: area.bridge

#14864 docs(website,protocol): add more docs on proposing
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/website/pages/docs/concepts/proposing.mdx
Labels: area.website

#14973 feat(relayer): Relayer updates for bridge
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/ICrossChainSync.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/icrosschainsync/ICrossChainSync.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
  packages/relayer/bridge.go
  packages/relayer/header_syncer.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/mock/bridge.go
  packages/relayer/mock/header_syncer.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/process_message_test.go
  packages/relayer/processor/wait_header_synced.go
Labels: area.relayer

#14976 feat(protocol): remove unused code and add fixes
  packages/protocol/.solhintignore
  packages/protocol/contracts/L1/verifiers/PlonkVerifier.yulp
  packages/protocol/contracts/L2/TaikoL2Signer.sol
  packages/protocol/contracts/bridge/README.md
  packages/protocol/contracts/libs/LibTrieProof.sol
  packages/protocol/contracts/thirdparty/LibRLPWriter.sol
  packages/protocol/contracts/thirdparty/LibUint512Math.sol
  packages/protocol/docs/actors_privileges_deployments.md
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#14962 feat(bridge-ui-v2): add title to toast
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/components/AccountConnectionToast/AccountConnectionToast.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/SwitchChainsButton.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/ItemToast.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/NotificationToast.svelte
  packages/bridge-ui-v2/src/components/SwitchChainModal/SwitchChainModal.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/eventIndexer/EventIndexerAPIService.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
Labels: area.bridge

#14984 docs(website): update enable-a-proposer
  packages/website/pages/docs/guides/enable-a-proposer.mdx
Labels: area.docs

#14960 feat(bridge-ui-v2): nft claiming
  .vscode/settings.json
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/index.ts
  packages/bridge-ui-v2/src/components/Bridge/state.ts
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/Icon/IconFlipper.svelte
  packages/bridge-ui-v2/src/components/Icon/RotatingIcon.svelte
  packages/bridge-ui-v2/src/components/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/estimateCostOfBridging.ts
  packages/bridge-ui-v2/src/libs/bridge/getBridgeArgs.ts
  packages/bridge-ui-v2/src/libs/bridge/getMaxAmountToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/handleApproveError.ts
  packages/bridge-ui-v2/src/libs/bridge/handleBridgeErrors.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/token/checkOwnership.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/util/balance.ts
  packages/bridge-ui-v2/src/libs/util/checkForAdblock.ts
  packages/bridge-ui-v2/src/libs/util/extractIPFSCidFromUrl.ts
  packages/bridge-ui-v2/src/libs/util/parseNFTMetadata.ts
  packages/bridge-ui-v2/src/stores/index.ts
  packages/bridge-ui-v2/src/stores/nfts.ts
Labels: area.bridge

#14997 feat(protocol): Simulate and plot l2 basefee
  packages/protocol/.gitignore
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/package.json
  packages/protocol/simulation/README.md
  packages/protocol/simulation/requirements.txt
  packages/protocol/simulation/simulate.py
  packages/protocol/test/L2/TaikoL2.t.sol
Labels: area.protocol

#15002 feat(protocol): some updates based on #14994
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#14994 refactor(protocol): improve TaikoToken and allow pausing Bridge/Vaults
  packages/protocol/.solhint.json
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/contracts/tokenvault/IMintableERC20.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoToken.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/EtherVault.t.sol
  packages/protocol/utils/generate_genesis/erc20.ts
  packages/protocol/utils/generate_genesis/main.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#15008 chore(protocol): update `DeployOnL1` script based on #15007
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Labels: area.protocol

#15007 feat(protocol): set taiko token supply to 1 billion
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoToken.t.sol
Labels: area.protocol

#15000 feat(relayer): Relayer multihop
  go.mod
  packages/protocol/script/SetAddress.s.sol
  packages/relayer/.gitignore
  packages/relayer/.golangci.yml
  packages/relayer/.l1processor.example.env
  packages/relayer/SignalService.json
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/cmd/flags/processor.go
  packages/relayer/encoding/signal_proof_test.go
  packages/relayer/encoding/types.go
  packages/relayer/mock/blocker.go
  packages/relayer/mock/eth_client.go
  packages/relayer/mock/signalservice.go
  packages/relayer/processor/config.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/process_message_test.go
  packages/relayer/processor/processor.go
  packages/relayer/processor/processor_test.go
  packages/relayer/processor/wait_header_synced.go
  packages/relayer/processor/wait_header_synced_test.go
  packages/relayer/proof/block_header.go
  packages/relayer/proof/block_header_test.go
  packages/relayer/proof/encoded_signal_proof.go
  packages/relayer/proof/encoded_signal_proof_test.go
  packages/relayer/proof/prover.go
  packages/relayer/scripts/abigen.sh
  packages/relayer/signalservice.go
Labels: area.relayer

#14990 chore(bridge-ui-v2): follow up for toast notifications
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/ItemToast.svelte
  packages/bridge-ui-v2/src/components/NotificationToast/NotificationToast.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/handleApproveError.ts
  packages/bridge-ui-v2/src/libs/bridge/handleBridgeErrors.ts
Labels: area.bridge

#15021 fix(repo): fix some typos
  packages/bridge-ui-v2/README.md
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/protocol/test/L1/TaikoL1Oracle.t.sol
Labels: area.bridge

#15019 docs(website): remove l3 docker compose file reference
  packages/website/pages/docs/reference/node-troubleshooting.mdx
Labels: area.website

#15022 docs(website): Update taiko-node-dashboard in ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/dojonode.png
  packages/website/public/images/ecosystem/taiko-dashboard.png
Labels: area.website

#15027 feat(protocol): Enable designated address to propose 1st block post-genesis.
  packages/protocol/contracts/L1/libs/LibProposing.sol
Labels: area.protocol

#15006 feat(repo): add a contract to handle token granting and unlocking
  packages/protocol/contracts/team/TimeLockTokenPool.sol
  packages/protocol/test/team/TimeLockTokenPool.t.sol
Labels: area.protocol

#14999 feat(bridge-ui-v2): upgrade walletconnect from v2 to v3
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
  packages/bridge-ui-v2/src/libs/wagmi/client.ts
  pnpm-lock.yaml
Labels: area.bridge

#15039 docs(website): add hint to remove old testnet volumes
  packages/website/pages/docs/guides/run-a-taiko-node.mdx
Labels: area.docs

#15031 feat(protocol): Blob hash to meta
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/L1/verifiers/IVerifier.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#15043 test(protocol): fix workflow errors
  pnpm-lock.yaml
Labels: area.bridge, area.protocol

#15020 feat(bridge-ui-v2): Import step refinement
  packages/bridge-ui-v2/README.md
  packages/bridge-ui-v2/__mocks__/parseNFTMetadata.ts
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/state.ts
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/state.ts
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/Icon/IconFlipper.svelte
  packages/bridge-ui-v2/src/components/Icon/RotatingIcon.svelte
  packages/bridge-ui-v2/src/components/NFTCard/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTCard/index.ts
  packages/bridge-ui-v2/src/components/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/NFTList/index.ts
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCardGrid.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/index.ts
  packages/bridge-ui-v2/src/components/NFTs/NFTDisplay.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/index.ts
  packages/bridge-ui-v2/src/components/NFTs/index.ts
  packages/bridge-ui-v2/src/components/NFTs/types.ts
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/fetchNFTs.ts
  packages/bridge-ui-v2/src/libs/bridge/isSupportedNFTInterface.ts
  packages/bridge-ui-v2/src/libs/proof/Prover.ts
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui-v2/src/libs/token/getTokenWithInfoFromAddress.ts
  packages/bridge-ui-v2/src/libs/util/fetchNFTMetadata.ts
  packages/bridge-ui-v2/src/libs/util/getFileExtension.ts
Labels: area.bridge

#15017 Update node-troubleshooting.mdx
  packages/website/pages/docs/reference/node-troubleshooting.mdx
Labels: area.website

#15025 feat(protocol): update A6 configurations
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/tiers/TaikoA6TierProvider.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/L2/TaikoL2EIP1559Configurable.sol
  packages/protocol/genesis/test_config.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol, meta.alpha-6

#15037 chore(bridge-ui-v2): review step refinement
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/RecipientStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/index.ts
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Bridge/state.ts
  packages/bridge-ui-v2/src/components/Bridge/types.ts
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCardGrid.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTDisplay.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTList.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/getBridgeArgs.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.ts
Labels: area.bridge

#15046 refactor(protocol): split Evidence to Transition + TierProof
  packages/protocol/contracts/4844/Lib4844.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/L1/verifiers/IVerifier.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxAndZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SgxVerifier.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#15051 fix(protocol): fix 2 bridge bugs reported by Victor
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/contracts/tokenvault/libs/LibVaultUtils.sol
  packages/protocol/test/bridge/Bridge.t.sol
Labels: area.protocol, meta.alpha-6

#15062 refactor(protocol): handle vault `message.to` being address(0) or address(this)
  packages/protocol/contracts/4844/IBlobHashReader.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/TaikoA6TierProvider.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/script/contract_graph.dot
  packages/protocol/script/contract_graph.pdf
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Labels: area.protocol

#15069 chore(bridge-ui-v2): revert walletconnect upgrade
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/libs/wagmi/client.ts
  pnpm-lock.yaml
Labels: area.bridge

#15070 chore(bridge-ui-v2): fix switchNetwork argument in Faucet
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
Labels: area.bridge

#15077 chore(bridge-ui-v2): revert walletconnect tests
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
Labels: area.bridge

#15068 Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15063 feat(website): update `prover-market-page.mdx`
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#15064 refactor(decodeBase64ToJson): throw an error if any issues with decod…
  packages/bridge-ui-v2/scripts/utils/decodeBase64ToJson.ts
Labels: area.bridge

#15083 feat(bridge-ui-v2): confirmation step
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/RecipientStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/index.ts
  packages/bridge-ui-v2/src/components/Bridge/types.ts
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/InputBox/InputBox.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui-v2/src/components/Spinner/Spinner.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.ts
  packages/bridge-ui-v2/src/libs/bridge/types.ts
  packages/bridge-ui-v2/src/styles/override.css
  packages/bridge-ui-v2/tailwind.config.js
Labels: area.bridge

#15079 refactor(protocol): all chain ID is now uint64
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/SetAddress.s.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoToken.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Labels: area.protocol

#15087 docs(website): Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website
