Repository taikoxyz/taiko-mono, pull requests merged in 2023-05, with the labels that each got.

#13691 feat(protocol): add unit tests for cooldown period and oracle overriding
  packages/protocol/test/TaikoL1Oracle.t.sol
Labels: category.enhancement, area.protocol, meta.alpha-3, status.needs-review

#13681 feat(protocol): prevent oracle prover overriding the same proof
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/package.json
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
Labels: area.protocol, meta.alpha-3, status.needs-review

#13702 chore(bridge-ui): update env vars
  packages/bridge-ui/.default.env
  packages/bridge-ui/README.md
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/bridge/ETHBridge.ts
  packages/bridge-ui/src/chain/chains.ts
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/modals/FaucetModal.svelte
  packages/bridge-ui/src/constants/__mocks__/envVars.ts
  packages/bridge-ui/src/constants/envVars.ts
  packages/bridge-ui/src/domain/chain.ts
  packages/bridge-ui/src/domain/proof.ts
  packages/bridge-ui/src/proof/ProofService.spec.ts
  packages/bridge-ui/src/proof/ProofService.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
  packages/bridge-ui/src/vite-env.d.ts
Labels: area.bridge, meta.alpha-3

#13704 feat(protocol): add parentGasUsed to blockproven
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
Labels: category.enhancement, area.protocol, meta.alpha-3

#13709 refactor(protocol): remove staticRefs
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
Labels: area.protocol, meta.alpha-3

#13715 feat(protocol): update deployment script based on #13711 && fix workflow errors
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
Labels: area.protocol

#13711 feat(protocol): add TaikoGovernor and improve TaikoToken
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/BridgedERC20.sol
  packages/protocol/contracts/bridge/EtherVault.sol
  packages/protocol/contracts/bridge/TokenVault.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/Proxied.sol
  packages/protocol/contracts/gov/TaikoGovernor.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/thirdparty/ERC20Upgradeable.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoToken.md
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/bridge/BridgedERC20.md
  packages/website/pages/docs/reference/contract-documentation/bridge/EtherVault.md
  packages/website/pages/docs/reference/contract-documentation/bridge/TokenVault.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  packages/website/pages/docs/reference/contract-documentation/common/Proxied.md
  packages/website/pages/docs/reference/contract-documentation/gov/TaikoGovernor.md
  packages/website/pages/docs/reference/contract-documentation/signal/SignalService.md
Labels: area.protocol

#13725 feat(protocol): L2/L3 contracts proxied
  packages/protocol/contracts/thirdparty/TransparentUpgradeableProxy.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/test_config.json
  packages/protocol/utils/generate_genesis/interface.ts
  packages/protocol/utils/generate_genesis/main.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: category.enhancement, area.protocol, meta.alpha-3

#13729 feat(protocol): Introduce oracle and system prover concept
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoErrors.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Labels: category.bug, area.protocol, meta.alpha-3

#13737 fix(protocol): allow Bridge to receive ETHs from TaikoL1
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/script/DeployOnL1.s.sol
Labels: category.bug, area.protocol

#13705 fix(bridge-ui): update abis
  packages/bridge-ui/.eslintignore
  packages/bridge-ui/.eslintrc.cjs
  packages/bridge-ui/.prettierignore
  packages/bridge-ui/README.md
  packages/bridge-ui/jest.config.js
  packages/bridge-ui/package.json
  packages/bridge-ui/src/App.svelte
  packages/bridge-ui/src/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/bridge/ETHBridge.ts
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/buttons/SelectToken.svelte
  packages/bridge-ui/src/components/form/AddCustomERC20.svelte
  packages/bridge-ui/src/components/form/BridgeForm.svelte
  packages/bridge-ui/src/components/modals/FaucetModal.svelte
  packages/bridge-ui/src/constants/abi/Bridge.ts
  packages/bridge-ui/src/constants/abi/ERC20.ts
  packages/bridge-ui/src/constants/abi/ICrossChainSync.ts
  packages/bridge-ui/src/constants/abi/MintableERC20.ts
  packages/bridge-ui/src/constants/abi/TokenVault.ts
  packages/bridge-ui/src/constants/abi/index.ts
  packages/bridge-ui/src/proof/ProofService.ts
  packages/bridge-ui/src/relayer-api/RelayerAPIService.ts
  packages/bridge-ui/src/storage/StorageService.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.spec.ts
  packages/bridge-ui/src/utils/checkIfTokenIsDeployedCrossChain.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.spec.ts
  packages/bridge-ui/src/utils/recommendProcessingFee.ts
  packages/bridge-ui/wagmi.config.ts
  pnpm-lock.yaml
Labels: category.bug, area.bridge

#13741 feat(protocol): update PlonkVerifer
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
  packages/protocol/contracts/libs/yul/PlonkVerifier_10_txs.yulp
  packages/protocol/contracts/libs/yul/PlonkVerifier_80_txs.yulp
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/genesis/test_config.json
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.zk-evm, area.protocol, meta.alpha-3

#13712 fix(bridge-ui): selecting chain was not informing of errors
  packages/bridge-ui/package.json
  packages/bridge-ui/src/components/ChainDropdown.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/form/SelectChain.svelte
  packages/bridge-ui/src/proof/ProofService.spec.ts
  packages/bridge-ui/src/utils/logger.ts
  packages/bridge-ui/src/utils/selectChain.spec.ts
  packages/bridge-ui/src/utils/selectChain.ts
  pnpm-lock.yaml
Labels: category.bug, category.enhancement, area.bridge

#13758 chore(protocol): update `DeployOnL1` to remove some hard-coded `LibTokenomics` configs
  packages/protocol/script/DeployOnL1.s.sol
Labels: category.enhancement, area.protocol

#13768 chore(protocol): fix a `pnpm install` workflow issue
  .github/actions/install-pnpm-dependencies/action.yml
Labels: area.protocol

#13767 feat(protocol): update `PlonkVerifier` based on the latest circuits changes
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
Labels: area.protocol, meta.alpha-3

#13769 feat(protocol): Move proofTimeTarget to state var and adjust scripts/tests
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTokenomics.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Labels: area.protocol, area.tokenomics, meta.alpha-3, category.feature

#13772 chore(protocol): improve getProofReward
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
Labels: area.protocol, meta.alpha-3, status.needs-review

#13771 feat(protocol): do not allow using owner() as named address in AddressManager
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/TaikoL1LibTokenomicsMainnet.t.sol
  packages/protocol/test/TaikoL1LibTokenomicsTestnet.t.sol
  packages/protocol/test/TaikoL1Oracle.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
  packages/website/pages/docs/reference/contract-documentation/bridge/Bridge.md
  packages/website/pages/docs/reference/contract-documentation/common/AddressManager.md
  pnpm-lock.yaml
Labels: area.protocol, meta.alpha-3, status.needs-review

#13774 fix(protocol): fix `TaikoL1.init()` call arguments in `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
Labels: category.bug, area.protocol

#13781 fix(protocol): Replace LibEthDeposit assembly
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
Labels: category.bug, area.protocol, area.client, meta.alpha-3, status.in-progress

#13782 chore(protocol): optimize _hashEthDeposits
  packages/protocol/contracts/L1/libs/LibEthDepositing.sol
  packages/protocol/test/TaikoL1.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoL1.md
Labels: category.enhancement, area.protocol, meta.alpha-3, status.needs-review

#13799 feat(protocol): Add setter to IAddressManager of AddressResolver
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/website/pages/docs/reference/contract-documentation/common/AddressResolver.md
Labels: area.protocol, meta.alpha-4, category.feature, status.needs-review

#13805 feat(protocol): update `PlonkVerifier`
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
Labels: area.protocol, meta.alpha-3

#13808 feat(protocol): Add reward and fee fields to events
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
Labels: category.enhancement, area.protocol, meta.alpha-3, status.needs-review

#13809 feat(protocol): Scale up damping factor and flatten curve
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/LibLn.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Labels: category.enhancement, area.protocol, meta.alpha-3, status.needs-review

#13814 feat(protocol): cherry-pick changes in #13809 into `alpha-3` branch
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DetermineNewProofTimeIssued.s.sol
  packages/protocol/test/LibLn.sol
  packages/protocol/test/TaikoL1.sim.sol
  packages/protocol/test/TaikoL1TestBase.t.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoData.md
Labels: area.protocol, meta.alpha-3

#13815 feat(protocol): add overridable getEIP1559Config() to TaikoL2
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/TaikoL2.t.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
Labels: meta.alpha-3, category.feature

#13817 feat(protocol): cherry-pick changes in #13815 into alpha-3 branch
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/TaikoL2.t.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
  packages/website/pages/docs/reference/contract-documentation/L2/TaikoL2.md
Labels: category.enhancement, area.protocol, meta.alpha-3

#13820 feat(protocol): cherry-pick changes in #13808 into alpha-3 branch
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/website/pages/docs/reference/contract-documentation/L1/TaikoEvents.md
Labels: area.protocol, meta.alpha-3

#13806 chore(protocol): update Alpha-3 protocol configurations
  packages/protocol/contracts/L1/TaikoConfig.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/Taiko1559Params.t.sol
  packages/protocol/test/genesis/test_config.json
Labels: area.protocol, meta.alpha-3

#13835 fix(protocol): update `lastVerifiedBlockId` inside `_markBlockVerified` to make the block reward calculation correct
  packages/protocol/contracts/L1/libs/LibVerifying.sol
Labels: category.bug, area.protocol, meta.alpha-3

#13843 feat(repo): use label to trigger chatGPT based auto review
  .github/workflows/openai-review.yml
Labels: chatGPT review
