Repository taikoxyz/taiko-mono, pull requests merged in 2023-09, with the labels that each got.

#14631 feat(protocol): reduce eldfell `MIN_CAPACITY` config to `5`
  packages/protocol/contracts/L1/ProverPool.sol
  packages/website/pages/docs/reference/contract-documentation/L1/IProverPool.md
  packages/website/pages/docs/reference/contract-documentation/L1/ProverPool.md
Labels: area.protocol, meta.alpha-4

#14624 fix(bridge-ui-v2): Fix dialogs being offset
  packages/bridge-ui-v2/src/styles/components.css
Labels: area.bridge

#14632 feat(bridge-ui-v2): Style adjustments for dialogs
  packages/bridge-ui-v2/.gitignore
  packages/bridge-ui-v2/src/components/Activities/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/SwitchChainModal/SwitchChainModal.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/styles/components.css
  packages/bridge-ui-v2/src/styles/override.css
  packages/bridge-ui-v2/src/styles/utilities.css
Labels: area.bridge

#14621 fix(protocol): revert impl deployment V2
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Labels: area.protocol

#14613 feat(website): add ZeroSwap to ecosystem
  packages/website/components/Ecosystem/EcosystemSection.tsx
  packages/website/public/images/ecosystem/zeroswap.png
Labels: area.website

#14639 feat(protocol): validate `instance` the old way
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#14645 refactor(protocol): change state.transitions as a ring buffer
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1Base.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/libs/LibBlockHeader.sol
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/package.json
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1Oracle.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/misc/GasComparison.t.sol
Labels: area.protocol

#14626 chore(repo): update README.md
  README.md
  packages/website/pages/docs/resources/official-links.mdx
Labels: area.docs

#14647 feat(protocol): update `PlonkVerifier` based on current public input
  packages/protocol/contracts/libs/yul/PlonkVerifier.yulp
Labels: area.protocol

#14654 fix(repo): re-created pnpm lockfile
  pnpm-lock.yaml
Labels: area.repo

#14651 feat(bridge-ui-v2): Improve refreshing users balance
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/libs/util/balance.ts
  packages/bridge-ui-v2/src/libs/util/renderBalance.ts
  packages/bridge-ui-v2/src/libs/wagmi/watcher.ts
  packages/bridge-ui-v2/src/stores/balance.ts
Labels: area.bridge

#14655 fix(repo): fix vercel build for bridge-ui
  packages/bridge-ui/jest.config.js
  packages/bridge-ui/package.json
  pnpm-lock.yaml
Labels: area.repo

#14666 feat(bridge-ui-v2): styling adjustments for dialogs
  packages/bridge-ui-v2/src/components/Activities/Activities.svelte
  packages/bridge-ui-v2/src/components/Bridge/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Button/Button.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/src/styles/components.css
Labels: area.bridge

#14667 docs(website): `PROPOSE_BLOCK_TX_GAS_TIP_CAP: parameter not set` fix in node troubleshooting
  packages/website/pages/docs/reference/node-troubleshooting.mdx
Labels: area.website

#14671 chore(bridge-ui-v2): Add unit tests for balance and enable some tests
  packages/bridge-ui-v2/src/libs/bridge/fetchTransactions.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/token/mint.test.ts
  packages/bridge-ui-v2/src/libs/util/balance.test.ts
Labels: area.bridge

#14670 chore(bridge-ui-v2): update chain selector
  packages/bridge-ui-v2/src/components/Bridge/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#14673 chore(protocol): update Alpha-5 protocol configurations
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/genesis/test_config.json
Labels: area.protocol

#14674 fix(bridge-ui-v2): button disable status
  packages/bridge-ui-v2/src/components/Activities/Status.svelte
  packages/bridge-ui-v2/src/components/Button/Button.svelte
Labels: area.bridge

#14678 chore(bridge-ui-v2): status explanation for mobile view
  packages/bridge-ui-v2/src/components/Activities/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Activities/StatusInfoDialog.svelte
Labels: area.bridge

#14679 fix(bridge-ui-v2): fix unit tests
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/storage/CustomTokenService.test.ts
  packages/bridge-ui-v2/src/libs/token/getCrossChainAddress.test.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
Labels: area.bridge

#14677 fix(bridge-ui-v2): custom tokens from local storage
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/libs/token/getBalance.test.ts
  packages/bridge-ui-v2/src/libs/token/getBalance.ts
Labels: area.bridge

#14676 fix(bridge-ui-v2): Show warnings on faucet correctly
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
Labels: area.bridge

#14675 test(eventindexer): testing configs
  packages/eventindexer/cmd/flags/indexer.go
  packages/eventindexer/indexer/config.go
  packages/eventindexer/indexer/config_test.go
  packages/eventindexer/indexer/indexer.go
  packages/relayer/cmd/flags/indexer.go
  packages/relayer/indexer/config_test.go
  packages/relayer/processor/config.go
  packages/relayer/processor/config_test.go
Labels: area.event-indexer

#14690 feat(eventindexer): Track proposer/prover rewards, + generate tasks for total/per day
  packages/eventindexer/.l1.env
  packages/eventindexer/cmd/flags/generator.go
  packages/eventindexer/db/db.go
  packages/eventindexer/event.go
  packages/eventindexer/generator/config.go
  packages/eventindexer/generator/config_test.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/http/get_stats.go
  packages/eventindexer/http/get_stats_test.go
  packages/eventindexer/indexer/save_block_proposed_event.go
  packages/eventindexer/migrations/1666650599_create_events_table.sql
  packages/eventindexer/migrations/1666650701_create_stats_table.sql
  packages/eventindexer/migrations/20230906203931_create_time_series_data_table.sql
  packages/eventindexer/repo/chart.go
  packages/eventindexer/repo/event.go
  packages/eventindexer/repo/stat.go
  packages/eventindexer/repo/stat_test.go
  packages/eventindexer/stat.go
  packages/eventindexer/tasks/tasks.go
  packages/eventindexer/time_series_data.go
  packages/relayer/db/db.go
Labels: area.event-indexer

#14665 fix(website): Update bridge concept
  packages/website/pages/docs/concepts/bridging.mdx
  packages/website/public/images/diagrams/concepts/bridging/bridging-process-message.png
  packages/website/public/images/diagrams/concepts/bridging/bridging-send-message.png
Labels: area.website

#14692 feat(website): update forkdiff
  packages/fork-diff/index.html
Labels: area.website

#14695 feat(protocol): Modify LibProposing to accept oracle as assigned prover
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  pnpm-lock.yaml
Labels: category.enhancement, area.protocol, meta.alpha-5

#14703 feat(protocol): Contestable zkRollup [DRAFT]
  packages/protocol/contracts/L1/IProofVerifier.sol
  packages/protocol/contracts/L1/IProver.sol
  packages/protocol/contracts/L1/ProofVerifier.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1Base.sol
  packages/protocol/contracts/L1/libs/LibDepositing.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibTaikoToken.sol
  packages/protocol/contracts/L1/libs/LibTiers.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/libs/verifiers/LibZKPVerifier.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/contracts/L1/verifiers/IEvidenceVerifier.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/contracts/L1/verifiers/SGXVerifier.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/docs/DESIGN.md
  packages/protocol/docs/contestable_validity_rollup.md
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1Oracle.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/misc/GasComparison.t.sol
Labels: area.protocol, category.feature

#14704 chore(bridge-ui-v2): clean amount warning when left bridge page
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
Labels: area.bridge

#14706 fix(bridge-ui-v2): build errors
  .github/workflows/bridge-ui-v2.yml
  packages/bridge-ui-v2/.gitignore
  packages/bridge-ui-v2/__mocks__/$env/static/public.ts
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/scripts/exportJsonToEnv.js
  packages/bridge-ui-v2/scripts/utils/PluginLogger.js
  packages/bridge-ui-v2/scripts/utils/validateJson.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/components/Activities/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTIdInput.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/relayer/initRelayers.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
  packages/bridge-ui-v2/src/routes/nft/+page.svelte
  packages/bridge-ui-v2/tsconfig.json
  pnpm-lock.yaml
Labels: area.bridge

#14708 chore(bridge-ui-v2): rename activities to transactions
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/components/Activities/index.ts
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/components/Transactions/ChainSymbolName.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/components/Transactions/index.ts
  packages/bridge-ui-v2/src/components/Transactions/state.ts
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/routes/transactions/+page.svelte
Labels: area.bridge

#14700 feat(bridge-ui-v2): close dialogs with ESC key
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  pnpm-lock.yaml
Labels: area.bridge

#14698 chore(bridge-ui-v2): tweaks and style adjustments
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/Page/Page.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/routes/+page.svelte
  packages/bridge-ui-v2/src/routes/faucet/+page.svelte
  packages/bridge-ui-v2/src/routes/transactions/+page.svelte
  packages/bridge-ui-v2/src/styles/override.css
Labels: area.bridge

#14682 test(eventindexer): db tests
  packages/eventindexer/repo/account_test.go
  packages/eventindexer/repo/block_test.go
  packages/eventindexer/repo/chart_test.go
  packages/eventindexer/repo/nft_balance_test.go
  packages/eventindexer/repo/transaction_test.go
  pnpm-lock.yaml
Labels: area.event-indexer

#14669 docs(website): Prover market
  packages/website/pages/docs/reference/_meta.json
  packages/website/pages/docs/reference/prover-market.mdx
Labels: area.website

#14717 add video guides
  packages/website/pages/docs/guides/build-on-taiko/bridge-tokens.mdx
  packages/website/pages/docs/guides/build-on-taiko/swap-tokens.mdx
Labels: area.website

#14713 chore(bridge-ui-v2): disable allowance warning
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
Labels: area.bridge

#14714 chore(bridge-ui-v2): only allow preconfigured mintable tokens in faucet
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  pnpm-lock.yaml
Labels: area.bridge

#14718 chore(bridge-ui-v2): cherry picks for release
  .github/workflows/bridge-ui-v2.yml
  packages/bridge-ui-v2/.gitignore
  packages/bridge-ui-v2/__mocks__/$env/static/public.ts
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/scripts/exportJsonToEnv.js
  packages/bridge-ui-v2/scripts/utils/PluginLogger.js
  packages/bridge-ui-v2/scripts/utils/validateJson.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateBridgeConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateChainConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui-v2/scripts/vite-plugins/generateRelayerConfig.ts
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/components/Activities/index.ts
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTIdInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/NoneOption.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/Page/Page.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/ChainSymbolName.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/components/Transactions/index.ts
  packages/bridge-ui-v2/src/components/Transactions/state.ts
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/relayer/initRelayers.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
  packages/bridge-ui-v2/src/routes/+page.svelte
  packages/bridge-ui-v2/src/routes/activities/+page.svelte
  packages/bridge-ui-v2/src/routes/faucet/+page.svelte
  packages/bridge-ui-v2/src/routes/nft/+page.svelte
  packages/bridge-ui-v2/src/routes/transactions/+page.svelte
  packages/bridge-ui-v2/src/styles/override.css
  packages/bridge-ui-v2/tsconfig.json
  pnpm-lock.yaml
Labels: area.bridge

#14723 feat(bridge-ui-v2): add BLL warning
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#14726 feat(bridge-ui-v2): cherry-pick (#14723)
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#14724 refactor(protocol): further improve EIP1559 on L2
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/L2/TaikoL2_1559.t.sol
Labels: area.protocol

#14721 feat(protocol): Contestable zkRollup v2 (observations) [DRAFT]
  packages/protocol/contracts/L1/libs/LibProving.sol
Labels: area.protocol

#14738 fix(bridge-ui-v2): improve claim message when not enough funds
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#14742 feat(bridge-ui-v2): add dialog for claim with insufficient funds
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#14744 chore(bridge-ui-v2): cherry pick dialog
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#14740 fix(website): fix feedback link
  packages/website/pages/docs/guides.mdx
Labels: area.website

#14746 fix(bridge-ui-v2): approve button not updating
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
Labels: area.bridge

#14755 fix(bridge-ui-v2): validation of token balance
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
Labels: area.bridge

#14754 fix(bridge-ui-v2): missing TTKO icon
  packages/bridge-ui-v2/src/components/Icon/TTKO.svelte
  packages/bridge-ui-v2/src/components/Icon/index.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/symbolToIconMap.ts
Labels: area.bridge

#14757 fix(bridge-ui-v2): validate amount only if component is mounted
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
Labels: area.bridge

#14756 chore(bridge-ui-v2): re-enable pre-commit hooks for bridge
  lefthook.yml
Labels: area.bridge

#14750 fix(protocol): fixed a minor issue with getting EIP1559 base fee function on L2
  packages/protocol/contracts/L2/TaikoL2.sol
Labels: area.protocol

#14709 chore(protocol): docs how to charge ERC20 token as proving fee
  packages/protocol/docs/iprover.md
Labels: area.protocol

#14759 feat(bridge-ui-v2): insufficient funds modal
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#14762 fix(bridge-ui-v2): check destination funds for ETH
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/NoneOption.svelte
  packages/bridge-ui-v2/src/libs/token/getBalance.test.ts
  packages/bridge-ui-v2/src/libs/token/getBalance.ts
Labels: area.bridge

#14769 fix(bridge-ui-v2): Add z-index for close button on mobile
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
Labels: area.bridge

#14771 chore(bridge-ui-v2): cherry picks
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Icon/TTKO.svelte
  packages/bridge-ui-v2/src/components/Icon/index.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/symbolToIconMap.ts
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusInfoDialog.svelte
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
Labels: area.bridge

#14766 fix(protocol): Hybrid rollup tests and small fixes
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/verifiers/PseZkVerifier.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1Oracle.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#14761 fix(protocol): allow prover assignment with different proving fees
  packages/protocol/contracts/L1/IProver.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: category.enhancement, area.protocol

#14782 chore(website): update prover endpoint
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#14783 fix(protocol): Fix tests
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/TestBase.sol
Labels: area.protocol

#14786 feat(website): update prover market page
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#14789 docs(website): add http://65.21.90.249:9876 prover endpoint
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website

#14791 fix(website): remove duplicate and miswording on run a taiko node docs
  packages/website/pages/docs/guides/run-a-taiko-node.mdx
Labels: area.website

#14781 feat(website): Improve behavior on adding chains and tokens
  packages/website/components/Button/AddTokensButton.tsx
  packages/website/components/Button/ConnectToMetamaskButton.tsx
  packages/website/utils/ethereumRequest.ts
  packages/website/utils/switchOrAddChain.ts
Labels: area.website

#14787 feat(website): update enable-a-prover to address common friction point
  packages/website/pages/docs/guides/enable-a-prover.mdx
Labels: area.website

#14813 fix(protocol): Fix genesis tests
  packages/protocol/foundry.toml
  packages/protocol/genesis/generate_genesis.test.sh
  packages/protocol/package.json
Labels: area.protocol

#14830 feat(protocol): Guardian can return unprovable bonds
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/verifiers/GuardianVerifier.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#14833 docs(repo): Add YouTube to README
  README.md
Labels: area.website

#14838 feat(protocol): update A5 1559 params
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/TaikoL2_1559.t.sol
Labels: area.protocol, meta.alpha-5

#14835 feat(protocol): update `DeployOnL1` script based on Contestable zkRollup changes
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Labels: area.protocol

#14850 chore(bridge-ui-v2): pre-select destination chain
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/index.ts
  packages/bridge-ui-v2/src/libs/chain/chains.ts
Labels: area.bridge

#14859 feat(protocol): add `minTier` to `BlockProposed` event
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
Labels: area.protocol

#14863 feat(protocol): split 1559 logics away from TaikoL2 for easier upgradability
  packages/protocol/contracts/L2/1559/I1559Manager.sol
  packages/protocol/contracts/L2/1559/Lib1559Math.sol
  packages/protocol/contracts/L2/1559/Standard1559Manager.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/Lib1559Math.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
Labels: area.protocol

#14860 test(protocol): decouple 1559 logic from TaikoL2, implement AMM style 1559
  packages/protocol/contracts/L2/1559/EIP1559Manager.sol
  packages/protocol/contracts/L2/1559/EIP1559ManagerAMM.sol
  packages/protocol/contracts/L2/1559/EIP1559ManagerStandard.sol
  packages/protocol/contracts/L2/1559/Lib1559Math.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/test/L2/1559/EIP1559Test.t.sol
  packages/protocol/test/L2/1559/EIP1559TestData.sol
  packages/protocol/test/L2/1559/Lib1559MathTest.d.sol
  packages/protocol/test/L2/1559/blocktime_gasused_gen.py
  packages/protocol/test/L2/Lib1559Math.t.sol
Labels: area.protocol

#14854 Update prover-market-page.mdx
  packages/website/pages/docs/reference/prover-market-page.mdx
Labels: area.website
