Repository taikoxyz/taiko-mono, pull requests merged in 2024-05, with the labels that each got.

#16945 chore(protocol): add mainnet genesis generation configs
  packages/protocol/genesis/mainnet.js
  packages/protocol/package.json
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#16960 feat(bridge-ui): bump dependencies
  packages/bridge-ui/package.json
  packages/bridge-ui/src/components/NotificationToast/NotificationToast.svelte
  packages/bridge-ui/src/tests/setup.ts
  packages/bridge-ui/svelte.config.js
  packages/bridge-ui/vite.config.ts
  pnpm-lock.yaml
Labels: area.bridge

#16951 feat(bridge-ui): improve-deployments
  .github/workflows/bridge-ui-deploy.yml
  .github/workflows/bridge-ui-preview-internal.yml
  .github/workflows/bridge-ui-preview.yml
  .github/workflows/bridge-ui-production.yml
  .github/workflows/bridge-ui.yml
Labels: area.bridge

#16846 feat(guardian-prover-health-check-ui): switch to address routes instead of id
  .github/workflows/guardian-prover-health-check-ui-preview.yml
  .github/workflows/guardian-prover-health-check-ui-production.yml
  .github/workflows/guardian-ui-deploy.yml
  .github/workflows/guardian-ui.yml
  packages/guardian-prover-health-check-ui/package.json
  packages/guardian-prover-health-check-ui/src/app.config.ts
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Overview.svelte
  packages/guardian-prover-health-check-ui/src/lib/api/guardianProverApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/loadConfiguredGuardians.ts
  packages/guardian-prover-health-check-ui/src/lib/types.ts
  packages/guardian-prover-health-check-ui/src/routes/[slug]/+page.svelte
  packages/guardian-prover-health-check-ui/static/config/devnet/guardians.json
Labels: area.guardian-prover-dashboard

#16940 feat(bridge-ui): integrate NFT api
  packages/bridge-ui/.env.example
  packages/bridge-ui/.eslintignore
  packages/bridge-ui/.prettierignore
  packages/bridge-ui/package.json
  packages/bridge-ui/src/app.config.ts
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/ImportStep/ImportStep.svelte
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/ImportStep/ScannedImport.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/fetchNFTs.ts
  packages/bridge-ui/src/libs/nft/domain/interfaces/INFTRepository.ts
  packages/bridge-ui/src/libs/nft/domain/models/NFT.ts
  packages/bridge-ui/src/libs/nft/domain/services/NFTService.ts
  packages/bridge-ui/src/libs/nft/infrastructure/api/MoralisNFTRepository.server.ts
  packages/bridge-ui/src/libs/nft/infrastructure/mappers/nft/MoralisNFTMapper.ts
  packages/bridge-ui/src/libs/nft/infrastructure/types/common.ts
  packages/bridge-ui/src/libs/nft/infrastructure/types/moralis.ts
  packages/bridge-ui/src/routes/api/nft/+server.ts
  packages/bridge-ui/tsconfig.json
  packages/bridge-ui/vercel.json
  pnpm-lock.yaml
Labels: area.bridge

#16976 chore(protocol): replace hardcode "bridge" with B_BRIDGE
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
Labels: area.protocol

#16920 chore(relayer): fix function name comments
  packages/relayer/pkg/http/get_recommended_processing_fees.go
  packages/relayer/pkg/proof/types.go
Labels: area.relayer

#16943 fix(eventindexer): nft balance changes should be wrapped in db transaction
  packages/eventindexer/indexer/index_nft_transfers.go
  packages/eventindexer/nft_balance.go
  packages/eventindexer/pkg/mock/nft_balance_repository.go
  packages/eventindexer/pkg/repo/nft_balance.go
  packages/eventindexer/pkg/repo/nft_balance_test.go
Labels: area.relayer

#17000 fix(bridge-ui): dropdown css and color css fix
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
  packages/bridge-ui/src/components/ChainSelectors/SelectorDialogs/ChainsDialog.svelte
Labels: area.bridge

#17014 feat(bridge-ui): code review and small fix
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/components/Tooltip/Tooltip.svelte
  packages/bridge-ui/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Status/StatusInfoDialog.svelte
Labels: area.bridge

#16974 chore(protocol): add script to deploy and change TKO in ERC20Vault
  packages/protocol/script/DeployAndChangeTaikoTokenOnL2.s.sol
  packages/protocol/script/SetupUSDCBridging.s.sol
Labels: area.protocol

#17018 feat(protocol): remove more timelock related code
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Labels: area.protocol

#17032 test(taiko-client): update tests for `TxListDecompressor`
  packages/taiko-client/Makefile
  packages/taiko-client/bindings/.githead
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor_test.go
Labels: area.client

#17036 chore(taiko-client): bump dependencies version
  go.mod
  go.sum
Labels: area.client

#17025 chore(bridge-ui): remove metamask from excluded wallets
  packages/bridge-ui/src/libs/connect/web3modal.ts
  pnpm-lock.yaml
Labels: area.bridge

#17038 chore(taiko-client): add idea gitignore
  .gitignore
Labels: area.client

#16979 feat(bridge-ui): update token dropdown
  packages/bridge-ui/src/components/Alert/FlatAlert.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/AddressInput/AddressInput.svelte
  packages/bridge-ui/src/components/DialogTabs/DialogTab.svelte
  packages/bridge-ui/src/components/DialogTabs/DialogTabs.svelte
  packages/bridge-ui/src/components/DialogTabs/index.ts
  packages/bridge-ui/src/components/Icon/Icon.svelte
  packages/bridge-ui/src/components/InputBox/InputBox.svelte
  packages/bridge-ui/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/components/TokenDropdown/types.ts
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui/src/styles/components.css
Labels: area.bridge

#17051 feat(bridge-ui): add WETH warning
  packages/bridge-ui/config/schemas/configuredCustomTokens.schema.json
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ReviewStep/ReviewStep.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/token/tokens.ts
  packages/bridge-ui/src/libs/token/types.ts
Labels: area.bridge

#17050 chore(protocol): make `NUM_MIN_MINORITY_GUARDIANS` and `NUM_MIN_MAJORITY_GUARDIANS` configurable in `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  pnpm-lock.yaml
Labels: area.protocol

#17034 ci(taiko-client,repo): fix broken workflows
  .github/workflows/taiko-client-swagger.yml
  packages/taiko-client/README.md
  packages/taiko-client/package.json
Labels: area.client

#17055 chore(repo): further-updates-to-ui-workflows
  .github/workflows/bridge-ui.yml
  .github/workflows/guardians-ui.yml
  .github/workflows/taikoon-ui.yml
  .github/workflows/vercel-deploy.yml
Labels: area.repo

#17059 chore(repo): updates to vercel deployments - token and org id handling
  .github/workflows/bridge-ui.yml
  .github/workflows/guardians-ui-ci.yml
  .github/workflows/guardians-ui.yml
  .github/workflows/taikoon-ui-ci.yml
  .github/workflows/taikoon-ui.yml
  .github/workflows/vercel-deploy.yml
Labels: area.repo

#17061 chore(repo): update guardians ui devnet job with missing secrets
  .github/workflows/guardians-ui.yml
Labels: area.repo

#17044 feat(taiko-client): use taiko-geth params
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
Labels: area.client

#17063 docs(taiko-client): fix an issue in comment
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/prover/proof_submitter/proof_contester.go
Labels: area.client

#17065 fix(taiko-client): fix an issue in `BlockProposed` event handler && remove some unused code
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/pkg/rpc/utils_test.go
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17068 feat(taiko-client): bump Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_address_manager.go
  packages/taiko-client/bindings/gen_assignment_hook.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_sgx_verifier.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/gen_taiko_token.go
  packages/taiko-client/bindings/gen_tier_provider.go
Labels: area.client

#17076 chore(repo): cleanup build jobs from unnecessary steps for guradians and taikoon ui
  .github/workflows/guardians-ui-ci.yml
  .github/workflows/taikoon-ui-ci.yml
Labels: area.repo

#17060 chore(main): release protocol 1.5.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#17086 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_address_manager.go
  packages/taiko-client/bindings/gen_lib_verifying.go
  packages/taiko-client/bindings/gen_taiko_l1.go
Labels: area.client

#17109 docs(protocol): check-in `TokenUnlocking` implementation address
  packages/protocol/deployments/mainnet-contract-logs.md
Labels: area.docs

#17106 ci(supplementary-contracts): enable auto format and layout generation
  .github/workflows/supplementary-contracts.yml
  packages/supplementary-contracts/contract_layout.md
  packages/supplementary-contracts/deployments/gen-layouts.sh
  packages/supplementary-contracts/package.json
Labels: area.protocol

#17103 docs(protocol): update mainnet `QuotaManager` deployment
  packages/protocol/deployments/mainnet-contract-logs.md
  packages/protocol/script/DeployL1QuotaManager.s.sol
Labels: area.protocol

#17108 chore(protocol): update sgx test & config script
  packages/protocol/script/SetDcapParams.s.sol
  packages/protocol/script/config_dcap_sgx_verifier.sh
  packages/protocol/test/automata-attestation/AutomataDcapV3AttestationTest.t.sol
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
Labels: area.protocol

#17110 fix(repo): re-add the lockfile
  .gitignore
  pnpm-lock.yaml
Labels: area.repo

#17053 docs(guardian-prover-health-check-ui): update README.md for Guardian prover health check UI
  packages/guardian-prover-health-check-ui/README.md
Labels: area.guardian-prover-dashboard

#17125 chore(main): release branding 0.4.0
  .release-please-manifest.json
  packages/branding/CHANGELOG.md
  packages/branding/package.json
Labels: autorelease: pending

#17138 chore(main): release docs-site 1.0.0
  packages/docs-site/CHANGELOG.md
Labels: autorelease: pending

#17139 chore(main): release bridge-ui 2.10.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#17142 chore(main): release bridge-ui 2.10.1
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#17145 chore(main): release bridge-ui 2.10.1
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#17129 chore(main): release fork-diff 0.5.0
  .release-please-manifest.json
  packages/fork-diff/CHANGELOG.md
  packages/fork-diff/package.json
Labels: autorelease: pending

#17069 feat(taiko-client): change guardian provers to directly submit proofs instead of contests
  packages/taiko-client/prover/event_handler/assignment_expired.go
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/event_handler/block_proposed_test.go
  packages/taiko-client/prover/event_handler/transition_contested.go
  packages/taiko-client/prover/event_handler/transition_proved.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/event_handler/util_test.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17128 chore(main): release taikoon 1.0.0
  .release-please-manifest.json
  packages/taikoon/CHANGELOG.md
Labels: autorelease: pending

#17131 chore(main): release blobstorage 0.2.0
  .release-please-manifest.json
  packages/blobstorage/CHANGELOG.md
  packages/blobstorage/package.json
Labels: autorelease: pending

#17155 chore(main): release supplementary-contracts 1.0.0
  .release-please-manifest.json
  packages/supplementary-contracts/CHANGELOG.md
Labels: autorelease: pending

#17162 docs(protocol): update mainnet deployment doc based on the latest batch transaction
  packages/protocol/deployments/mainnet-contract-logs.md
Labels: area.docs

#17165 test(taiko-client): enable a skipped unit test
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17166 feat(taiko-client): remove an unused file
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/rpc/blob_tx.go
  packages/taiko-client/pkg/rpc/blob_tx_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
Labels: area.client

#17167 chore(repo): add taikoon ui to release please
  release-please-config.json
Labels: area.repo, area.taikoon

#17087 docs(protocol): update mainnet deployment
  packages/protocol/contracts/bridge/IQuotaManager.sol
  packages/protocol/deployments/mainnet-contract-logs.md
Labels: area.docs

#17159 docs(protocol): change Hekla tier provider config to require 100% SGX
  packages/protocol/contracts/L1/tiers/HeklaTierProvider.sol
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#17170 fix(protocol): fix tier ID check issue in `GuardianProver.approve()`
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/provers/Guardians.sol
Labels: area.protocol

#17176 chore(main): release docs-site 1.2.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17178 chore(repo): add lefthook rule for guardian ui
  lefthook.yml
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
Labels: area.guardian-prover-dashboard

#17189 chore(main): release docs-site 1.3.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17169 feat(protocol): refactor tier providers and added minority-guardian provers to all providers
  packages/protocol/contract_layout.md
  packages/protocol/contracts/L1/tiers/DevnetTierProvider.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/L1/tiers/TierProviderV2.sol
  packages/protocol/contracts/L1/tiers/TierProviderV3.sol
  packages/protocol/deployments/gen-layouts.sh
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/upgrade/UpgradeTierProvider.s.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestGroup1.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup2.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup3.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup4.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup5.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup6.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup7.t.sol
  packages/protocol/test/L1/TestTierProvider.sol
  packages/protocol/test/TaikoTest.sol
  pnpm-lock.yaml
Labels: area.protocol

#17193 feat(protocol): make AutomataDcapV3Attestation state variables public and emit events
  packages/protocol/contract_layout.md
  packages/protocol/contracts/automata-attestation/AutomataDcapV3Attestation.sol
Labels: area.protocol

#17200 fix(bridge-ui): quota check
  lefthook.yml
  packages/bridge-ui/src/components/Dialogs/ReleaseDialog/ReleaseStepNavigation.svelte
  packages/bridge-ui/src/components/Dialogs/RetryDialog/RetryStepNavigation.svelte
  packages/bridge-ui/src/libs/bridge/checkBridgeQuota.ts
Labels: area.bridge

#17168 chore(main): release taikoon-ui 1.0.0
  .release-please-manifest.json
  packages/taikoon-ui/CHANGELOG.md
  packages/taikoon-ui/package.json
Labels: autorelease: pending

#17207 feat(docs-site): update chain sync process description
  packages/docs-site/src/content/docs/core-concepts/taiko-nodes.md
Labels: area.docs

#17211 feat(supplementary-contracts): allow changing TokenUnlocking recipient address.
  packages/supplementary-contracts/contracts/tokenUnlocking/TokenUnlocking.sol
Labels: area.protocol

#17192 docs(protocol): update mainnet deployment
  packages/protocol/deployments/mainnet-contract-logs.md
  packages/protocol/deployments/mainnet-transfer-logs.md
Labels: area.docs

#17016 feat(bridge-ui): re-add mobile details
  packages/bridge-ui/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Status/Status.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Labels: area.bridge

#17216 feat(bridge-ui): improve token handling
  packages/bridge-ui/config/schemas/configuredCustomTokens.schema.json
  packages/bridge-ui/scripts/utils/validateJson.ts
  packages/bridge-ui/src/components/Bridge/FungibleBridge.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ReviewStep/ReviewStep.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/StepNavigation/StepNavigation.svelte
  packages/bridge-ui/src/components/Dialogs/RetryDialog/RetryDialog.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/token/tokens.ts
  packages/bridge-ui/src/libs/token/types.ts
Labels: area.bridge

#17222 feat(repo): snaefell-nft package setup
  .github/workflows/repo--validate-pr-title.yml
  packages/snaefell-nft/package.json
  pnpm-lock.yaml
  release-please-config.json
Labels: area.repo

#17231 feat(bridge-ui): smart contract wallet detection
  packages/bridge-ui/__mocks__/$customToken.ts
  packages/bridge-ui/__mocks__/$libs/token/types.ts
  packages/bridge-ui/src/components/Bridge/FungibleBridge.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ReviewStep/ReviewStep.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/StepNavigation/StepNavigation.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ConfirmationStep/ConfirmationStep.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/NoneOption.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/RecommendedFee.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/RecipientStep/RecipientStep.svelte
  packages/bridge-ui/src/components/Dialogs/Shared/ReviewStep.svelte
  packages/bridge-ui/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/calculateMessageDataSize.test.ts
  packages/bridge-ui/src/libs/bridge/calculateMessageDataSize.ts
  packages/bridge-ui/src/libs/bridge/getBridgeArgs.ts
  packages/bridge-ui/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui/src/libs/bridge/getMessageStatusForMsgHash.test.ts
  packages/bridge-ui/src/libs/bridge/types.ts
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui/src/libs/proof/BridgeProver.test.ts
  packages/bridge-ui/src/libs/token/fetchBalance.ts
  packages/bridge-ui/src/libs/token/fetchNFTMetadata.test.ts
  packages/bridge-ui/src/libs/token/getTokenWithInfoFromAddress.test.ts
  packages/bridge-ui/src/libs/token/isToken.ts
  packages/bridge-ui/src/libs/token/types.ts
  packages/bridge-ui/src/libs/util/isSmartContractWallet.test.ts
  packages/bridge-ui/src/libs/util/isSmartContractWallet.ts
  packages/bridge-ui/src/libs/wagmi/watcher.ts
  packages/bridge-ui/src/stores/account.ts
  packages/bridge-ui/src/tests/mocks/tokens.ts
  packages/bridge-ui/vitest.config.ts
Labels: area.bridge

#17039 feat(taiko-client): integrate new Raiko APIs (openAPI)
  packages/taiko-client/prover/proof_producer/sgx_producer.go
Labels: area.client

#17254 feat(taiko-client): integrate new Raiko APIs (openAPI)
  packages/taiko-client/prover/proof_producer/sgx_producer.go
Labels: area.client

#17266 feat(taiko-client): only invalid status need to return error
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
Labels: area.client

#17272 feat(protocol): deploy `ProverSet` in `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Labels: area.protocol

#17246 feat(guardian-prover-health-check): add prover address to healthcheck endpoint
  packages/guardian-prover-health-check/http/get_signed_blocks.go
Labels: area.guardian-prover-dashboard

#17244 feat(taiko-client): switching from blobstorage server to blobscan-api
  packages/taiko-client/pkg/rpc/blob_datasource.go
Labels: area.client

#17253 feat(taiko-client): integrate `ProverSet` in client
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/custom_error.go
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/gen_address_manager.go
  packages/taiko-client/bindings/gen_assignment_hook.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/gen_sgx_verifier.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/gen_taiko_token.go
  packages/taiko-client/bindings/gen_tier_provider.go
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/integration_test/l1_env.sh
  packages/taiko-client/integration_test/test_env.sh
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/client_test.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/prover_selector/eth_fee_eoa_selector.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/event_handler/assignment_expired.go
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/proof_contester.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/proof_submitter/transaction/sender_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
  packages/taiko-client/prover/server/api.go
  packages/taiko-client/prover/server/server.go
  packages/taiko-client/prover/server/server_test.go
  packages/taiko-client/scripts/gen_bindings.sh
Labels: area.client

#17225 feat(repo): add balance-monitor
  packages/balance-monitor/.gitignore
  packages/balance-monitor/README.md
  packages/balance-monitor/balance-monitor/balance_monitor.go
  packages/balance-monitor/balance-monitor/config.go
  packages/balance-monitor/balance-monitor/metrics.go
  packages/balance-monitor/balance-monitor/prometheus.go
  packages/balance-monitor/cmd/flags/common.go
  packages/balance-monitor/cmd/main.go
  packages/balance-monitor/cmd/utils/subcommand.go
Labels: area.repo

#17274 docs(protocol): add `guardian_minority` deployment to hekla docs
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#17278 ci(repo): deprecate blobstorage
  .github/workflows/blobstorage.yml
  .github/workflows/repo--validate-pr-title.yml
  .release-please-manifest.json
  README.md
  pnpm-lock.yaml
  release-please-config.json
Labels: area.repo

#17288 feat(taiko-client): revert the change of handling forkchoiceupdate status
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
Labels: area.client

#17283 docs(protocol): update mainnet deployment log
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#17295 docs(protocol): update mainnet deployment docs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
Labels: area.docs

#17208 feat(docs-site): node from source
  packages/docs-site/astro.config.ts
  packages/docs-site/src/content/docs/guides/build-a-taiko-node-from-source.mdx
  packages/docs-site/src/content/docs/guides/enable-a-proposer.mdx
  packages/docs-site/src/content/docs/guides/enable-a-prover.mdx
  packages/docs-site/src/content/docs/guides/node-troubleshooting.mdx
  packages/docs-site/src/content/docs/guides/run-a-mainnet-taiko-node-from-source.mdx
  packages/docs-site/src/content/docs/guides/run-a-taiko-node-with-docker.mdx
  packages/docs-site/src/content/docs/guides/run-a-testnet-taiko-node-from-source.mdx
Labels: area.docs

#17318 fix(taiko-client): fix a prover balance check issue
  packages/taiko-client/prover/server/api.go
Labels: area.client

#17320 fix(taiko-client): fix an issue in `checkMinEthAndToken`
  packages/taiko-client/integration_test/deploy_l1_contract.sh
  packages/taiko-client/prover/server/api.go
Labels: area.client

#17312 feat(relayer): bindings updates for relayer, gp, eventindexer
  packages/eventindexer/SgxVerifier.json
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/TaikoToken.json
  packages/eventindexer/contracts/assignmenthook/AssignmentHook.go
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/sgxverifier/SgxVerifier.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/contracts/taikotoken/TaikoToken.go
  packages/guardian-prover-health-check/GuardianProver.json
  packages/guardian-prover-health-check/bindings/guardianprover/GuardianProver.go
  packages/guardian-prover-health-check/healthchecker/healthchecker.go
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/QuotaManager.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/quotamanager/QuotaManager.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
Labels: area.relayer

#17334 fix(protocol): add `receive` function to ProverSet
  packages/protocol/contracts/team/proving/ProverSet.sol
  packages/protocol/test/team/tokenunlock/TokenUnlock.t.sol
Labels: area.protocol

#17335 fix(taiko-client): remove useless config in prover
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/config_test.go
Labels: area.client

#17331 chore(protocol): rename a state variable name in ERC20Vault
  packages/protocol/contract_layout.md
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
Labels: area.protocol

#17270 chore(main): release ui-lib 1.0.0
  .release-please-manifest.json
  packages/ui-lib/CHANGELOG.md
  packages/ui-lib/package.json
Labels: autorelease: pending

#17281 feat(taiko-client): improve progress tracker
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker.go
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker_test.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
Labels: area.client

#17348 chore(protocol): fix an error message in vaults
  packages/protocol/contracts/tokenvault/BaseVault.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
Labels: area.protocol

#17134 chore(main): release taiko-client 0.23.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17347 feat(bridge-ui): update config
  packages/bridge-ui/config/schemas/configuredCustomTokens.schema.json
  packages/bridge-ui/scripts/exportJsonToEnv.js
  packages/bridge-ui/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui/src/components/WelcomeModal/WelcomeModal.svelte
  packages/bridge-ui/src/components/WelcomeModal/index.ts
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui/src/libs/token/tokens.ts
  packages/bridge-ui/src/libs/token/types.ts
  packages/bridge-ui/src/libs/wagmi/watcher.ts
  packages/bridge-ui/src/routes/+layout.svelte
Labels: area.bridge

#17203 chore(main): release bridge-ui 2.11.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#17177 feat(guardian-prover-health-check-ui): better pseudonym handling
  .github/workflows/guardian-prover-health-check-ui.yml
  packages/guardian-prover-health-check-ui/package.json
  packages/guardian-prover-health-check-ui/src/components/Blocks/BlocksList.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthChecksList.svelte
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/loadGuardiansFromContract.ts
  packages/guardian-prover-health-check-ui/src/lib/types.ts
  packages/guardian-prover-health-check-ui/src/lib/util/logger.ts
  packages/guardian-prover-health-check-ui/src/lib/wagmi/publicClient.ts
  packages/guardian-prover-health-check-ui/static/config/hekla/guardians.json
  packages/guardian-prover-health-check-ui/static/config/mainnet/guardians.json
  pnpm-lock.yaml
Labels: area.guardian-prover-dashboard

#17209 chore(main): release docs-site 1.4.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17364 chore(main): release docs-site 1.4.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17360 feat(protocol): update L2 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
  packages/protocol/deployments/mainnet-transfer-logs-L1.md
  packages/protocol/deployments/mainnet-transfer-logs-L2.md
  packages/protocol/script/DeployAndChangeTaikoTokenOnL2.s.sol
  packages/protocol/script/DeployTaikoTokenOnL2.s.sol
  packages/protocol/script/L2PostGenesisConfig.s.sol
  packages/protocol/script/L2PostGenesisQuery.s.sol
Labels: area.protocol

#17367 chore(main): release docs-site 1.5.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17374 chore(main): release docs-site 1.6.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17349 docs(protocol): update L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#17382 chore(main): release docs-site 1.6.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17375 fix(bridge-ui): small fixes
  packages/bridge-ui/src/app.config.ts
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ConfirmationStep/ConfirmationStep.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/handleBridgeErrors.ts
Labels: area.bridge

#17388 docs(protocol): add labprover and labcontester addresses
  packages/docs-site/src/content/docs/network-reference/mainnet-addresses.md
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/script/DeployLabsProverPool.s.sol
Labels: area.docs

#17387 docs(protocol): update L1 deployment doc
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#17256 chore(main): release snaefell-ui 1.0.0
  .release-please-manifest.json
  packages/snaefell-ui/CHANGELOG.md
Labels: autorelease: pending

#17417 fix(taiko-client): fix an url path issue in `BeaconClient`
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker_test.go
  packages/taiko-client/pkg/rpc/beaconclient.go
  packages/taiko-client/pkg/rpc/blob_datasource_test.go
Labels: area.client

#17418 chore(main): release taiko-client 0.23.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17419 feat(bridge-ui): update usdc wording, add minimum fee check
  packages/bridge-ui/src/app.config.ts
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/NoneOption.svelte
  packages/bridge-ui/src/i18n/en.json
Labels: area.bridge

#17431 feat(taiko-client): improve chain head check in `NeedReSync`
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/state/state.go
Labels: area.client

#17435 feat(docs-site): update run with docker guide
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-node-with-docker.mdx
Labels: area.docs

#17385 chore(main): release docs-site 1.7.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17434 chore(main): release taiko-client 0.24.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17441 chore(main): release docs-site 1.7.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending
