Repository taikoxyz/taiko-mono, pull requests merged in 2024-06, with the labels that each got.

#17449 docs(docs-site): block state docs
  packages/docs-site/astro.config.ts
  packages/docs-site/src/content/docs/core-concepts/block-states.mdx
Labels: area.docs

#17462 chore(main): release docs-site 1.8.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17470 chore(main): release docs-site 1.8.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17474 feat(protocol): add `ITierRouter` interface to `DevnetTierProvider`
  packages/protocol/contracts/L1/tiers/DevnetTierProvider.sol
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#17475 feat(taiko-client): update bindings based on protocol `TierRouter` update
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_assignment_hook.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/gen_taiko_token.go
  packages/taiko-client/bindings/gen_tier_provider.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#17476 chore(main): release taiko-client 0.25.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17460 feat(bridge-ui): polishing
  packages/bridge-ui/src/app.config.ts
  packages/bridge-ui/src/components/Alert/Alert.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridge.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/ImportStep.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ReviewStep/ReviewStep.svelte
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/StepNavigation/StepNavigation.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/Actions.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui/src/components/Bridge/state.ts
  packages/bridge-ui/src/components/Dialogs/Shared/ClaimPreCheck.svelte
  packages/bridge-ui/src/components/TokenDropdown/DialogView.svelte
  packages/bridge-ui/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/components/TokenDropdown/symbolToIconMap.ts
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/Bridge.ts
  packages/bridge-ui/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui/src/libs/bridge/checkBridgeQuota.ts
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui/src/libs/util/balance.ts
  packages/bridge-ui/static/coins/taikotoken.webp
  packages/bridge-ui/static/coins/tether.webp
  packages/bridge-ui/static/coins/usdc.webp
  packages/bridge-ui/static/coins/weth.webp
Labels: area.bridge

#17505 chore(bridge-ui): add symbiosis
  packages/bridge-ui/static/coins/symbiosis.webp
Labels: area.bridge

#17507 fix(bridge-ui): fix funds message
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ReviewStep/ReviewStep.svelte
  packages/bridge-ui/src/i18n/en.json
Labels: area.bridge

#17509 chore(main): release fork-diff 0.6.0
  .release-please-manifest.json
  packages/fork-diff/CHANGELOG.md
  packages/fork-diff/package.json
Labels: autorelease: pending

#17172 chore(main): release protocol 1.6.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#17496 chore(main): release docs-site 1.9.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17520 feat(taiko-client): allow hooks to be empty if prover and proposer are the same address
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_assignment_hook.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/prover_selector/eth_fee_eoa_selector.go
  packages/taiko-client/proposer/prover_selector/eth_fee_eoa_selector_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
  packages/taiko-client/prover/prover_test.go
  packages/taiko-client/prover/server/api.go
Labels: area.client

#17521 fix(protocol): fix an issue for `ProverSet.proposeBlock`
  packages/protocol/contracts/team/proving/ProverSet.sol
Labels: area.protocol

#17518 fix(bridge-ui): fix manual claim issue
  packages/bridge-ui/src/components/Dialogs/Claim.svelte
  packages/bridge-ui/src/components/Dialogs/ClaimDialog/ClaimDialog.svelte
  packages/bridge-ui/src/components/Dialogs/Shared/ClaimConfirmStep.svelte
  packages/bridge-ui/src/libs/bridge/Bridge.ts
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
Labels: area.bridge

#17526 fix(taiko-client): fix an address check in `AssignProver`
  packages/taiko-client/proposer/prover_selector/eth_fee_eoa_selector.go
Labels: area.client

#17522 chore(main): release taiko-client 0.26.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17513 docs(protocol): update L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#17534 fix(bridge-ui): bigint conversion
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
Labels: area.bridge

#17536 feat(docs-site): update guides
  packages/docs-site/astro.config.ts
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-proposer.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
Labels: area.docs

#17539 fix(bridge-ui): fix USDT approvals
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/Actions.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ConfirmationStep/ConfirmationStep.svelte
  packages/bridge-ui/src/components/Bridge/state.ts
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/libs/token/getTokenApprovalStatus.ts
Labels: area.bridge

#17547 fix(bridge-ui): recallMessage fix
  packages/bridge-ui/src/components/Transactions/Filter/StatusFilterDialog.svelte
  packages/bridge-ui/src/components/Transactions/Filter/StatusFilterDropdown.svelte
  packages/bridge-ui/src/components/Transactions/Status/Status.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/types.ts
  packages/bridge-ui/src/libs/polling/messageStatusPoller.ts
  packages/bridge-ui/src/libs/proof/BridgeProver.ts
Labels: area.bridge

#17543 docs(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#17548 fix(bridge-ui): lock continue button when fee is calculating
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/StepNavigation/StepNavigation.svelte
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/StepNavigation/StepNavigation.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/RecommendedFee.svelte
  packages/bridge-ui/src/components/Bridge/state.ts
  packages/bridge-ui/src/i18n/en.json
Labels: area.bridge

#17525 chore(relayer): prevent indexing halts and add error monitoring metrics
  packages/relayer/cmd/flags/common.go
  packages/relayer/indexer/indexer.go
  packages/relayer/prometheus.go
Labels: area.relayer

#17551 fix(bridge-ui): fix parsing relayer
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
Labels: area.bridge

#17448 feat(nfts): trailblazer-badges contract implementation
  packages/nfts/contracts/trailblazers-badges/ECDSAWhitelist.sol
  packages/nfts/contracts/trailblazers-badges/TrailblazersBadges.sol
  packages/nfts/deployments/trailblazers-badges/hekla.json
  packages/nfts/deployments/trailblazers-badges/localhost.json
  packages/nfts/deployments/trailblazers-badges/mainnet.json
  packages/nfts/package.json
  packages/nfts/script/trailblazers-badges/sol/Deploy.s.sol
  packages/nfts/script/trailblazers-badges/sol/Utils.s.sol
  packages/nfts/test/trailblazers-badges/TrailblazersBadges.t.sol
Labels: area.website

#17554 fix(bridge-ui): msg value mapping
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
Labels: area.bridge

#17519 feat(eventindexer): erc20 indexer api
  packages/eventindexer/.l2.env
  packages/eventindexer/api/api.go
  packages/eventindexer/cmd/flags/indexer.go
  packages/eventindexer/erc20_balance.go
  packages/eventindexer/indexer/config.go
  packages/eventindexer/indexer/index_erc20_transfers.go
  packages/eventindexer/indexer/index_raw_block_data.go
  packages/eventindexer/indexer/indexer.go
  packages/eventindexer/migrations/20270906208840_create_erc20_metadata_table.sql
  packages/eventindexer/migrations/20270906208841_create_erc20_balances_table.sql
  packages/eventindexer/migrations/20270906208842_alter_erc20_balances_table_add_indexes.sql
  packages/eventindexer/migrations/20270906208843_alter_erc20_metadata_table_add_indexes.sql
  packages/eventindexer/pkg/http/get_erc20_balances_by_address_and_chain_id.go
  packages/eventindexer/pkg/http/routes.go
  packages/eventindexer/pkg/http/server.go
  packages/eventindexer/pkg/http/server_test.go
  packages/eventindexer/pkg/mock/erc20_balance_repository.go
  packages/eventindexer/pkg/repo/erc20_balance.go
  packages/eventindexer/pkg/repo/erc20_balance_test.go
Labels: area.event-indexer

#17559 docs(eventindexer): update swagger
  packages/eventindexer/.swaggo
  packages/eventindexer/docs/docs.go
  packages/eventindexer/docs/swagger.json
  packages/eventindexer/docs/swagger.yaml
  packages/eventindexer/pkg/http/get_block_proposed_by.go
  packages/eventindexer/pkg/http/get_block_proven_by.go
  packages/eventindexer/scripts/swagger.sh
Labels: area.docs

#17555 chore(protocol): update TAIKO symbol in protocol deployment logs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs, area.protocol

#17568 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_assignment_hook.go
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/gen_taiko_l1.go
Labels: area.client

#17578 feat(bridge-ui): fallback gasprice for processingfee
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui/src/libs/fee/recommendedProcessingFee.test.ts
Labels: area.bridge

#17552 feat(docs-site): update multiple articles
  packages/docs-site/astro.config.ts
  packages/docs-site/src/assets/content/docs/core-concepts/bridging-dest-chain.webp
  packages/docs-site/src/assets/content/docs/core-concepts/bridging-process-message.excalidraw.png
  packages/docs-site/src/assets/content/docs/core-concepts/bridging-send-message.excalidraw.png
  packages/docs-site/src/assets/content/docs/core-concepts/bridging-source-chain.webp
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config.webp
  packages/docs-site/src/content/docs/core-concepts/bridging.md
  packages/docs-site/src/content/docs/network-reference/differences-from-ethereum.md
  packages/docs-site/src/content/docs/network-reference/network-configuration.md
Labels: area.docs

#17537 chore(main): release docs-site 1.10.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17212 chore(main): release taikoon-ui 1.1.0
  .release-please-manifest.json
  packages/taikoon-ui/CHANGELOG.md
  packages/taikoon-ui/package.json
Labels: autorelease: pending

#17491 fix(nfts): taikoon-ui whitelist update
  packages/taikoon-ui/src/components/Mint/Mint.svelte
  packages/taikoon-ui/src/components/modals/MintConfirmation.modal/MintConfirmation.modal.svelte
  packages/taikoon-ui/src/generated/whitelist/mainnet.json
  packages/taikoon-ui/src/i18n/en.json
  packages/taikoon-ui/src/lib/whitelist/getProof.ts
  packages/taikoon-ui/src/wagmi.config.ts
Labels: area.taikoon

#17612 chore(main): release taikoon-ui 1.1.1
  .release-please-manifest.json
  packages/taikoon-ui/CHANGELOG.md
  packages/taikoon-ui/package.json
Labels: autorelease: pending

#17600 feat(docs-site): add verify in batches explanation
  packages/docs-site/src/content/docs/core-concepts/multi-proofs.md
Labels: area.docs

#17445 feat(protocol): improve DelegateOwner to have an optional L2 admin
  packages/protocol/contract_layout.md
  packages/protocol/contracts/L2/DelegateOwner.sol
  packages/protocol/script/DeployL2DelegateOwner.s.sol
  packages/protocol/script/L1DelegateOwnerBatching.s.sol
  packages/protocol/test/L2/DelegateOwner.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
Labels: area.protocol

#17396 chore(main): release snaefell-ui 1.1.0
  .release-please-manifest.json
  packages/snaefell-ui/CHANGELOG.md
  packages/snaefell-ui/package.json
Labels: autorelease: pending

#17618 chore(main): release docs-site 1.11.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17622 feat(protocol): add new tcb & add test case
  packages/protocol/test/automata-attestation/AutomataDcapV3AttestationTest.t.sol
  packages/protocol/test/automata-attestation/assets/0424/tcb_00706A100000.json
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
Labels: area.protocol

#17627 docs(docs-site): update proof tier config for testnet
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/network-reference/network-configuration.md
Labels: area.docs

#17524 chore(main): release protocol 1.7.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#17636 docs(docs-site): update guardian minority bond amount and enable a prover guide
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/network-reference/mainnet-addresses.md
Labels: area.docs

#17656 chore(guardian-prover-health-check-ui): update guardian addresses
  packages/guardian-prover-health-check-ui/static/config/hekla/guardians.json
  packages/guardian-prover-health-check-ui/static/config/mainnet/guardians.json
Labels: area.guardian-prover-dashboard

#17567 chore(main): release taiko-client 0.27.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17661 fix(taiko-client): remove Go build cache
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/Dockerfile
Labels: area.client

#17628 chore(main): release docs-site 1.11.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17669 chore(main): release taiko-client 0.28.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17673 docs(docs-site): add definitions and explanations for bonds
  packages/docs-site/src/content/docs/network-reference/network-configuration.md
  packages/docs-site/src/content/docs/resources/terminology.mdx
Labels: area.docs

#17676 feat(taiko-client): introduce `AccessList`
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
Labels: area.client, category.feature

#17681 chore(relayer): fix some carps
  packages/relayer/api/api.go
  packages/relayer/bridge/bridge.go
  packages/relayer/db.go
  packages/relayer/indexer/indexer.go
  packages/relayer/indexer/indexer_test.go
  packages/relayer/pkg/utils/scan_blocks.go
  packages/relayer/processor/processor.go
  packages/relayer/processor/processor_test.go
  packages/relayer/scripts/abigen.sh
  packages/relayer/scripts/swagger.sh
  packages/relayer/types.go
  packages/relayer/types_test.go
  packages/relayer/watchdog/watchdog.go
Labels: area.relayer

#17682 chore(relayer): handle error and return point
  packages/relayer/event.go
  packages/relayer/pkg/mock/event_repository.go
  packages/relayer/pkg/repo/event.go
Labels: area.relayer

#17692 feat(taiko-client): update txmgr's version
  go.mod
  go.sum
Labels: area.client, category.feature

#17694 feat(taiko-client): revert access list changes
  go.mod
  go.sum
  packages/taiko-client/pkg/rpc/ethclient.go
Labels: area.client, category.feature

#17686 chore(relayer): avoid copy big struct
  packages/relayer/event.go
  packages/relayer/indexer/handle_chain_data_synced_event.go
  packages/relayer/indexer/handle_message_status_changed_event.go
  packages/relayer/indexer/save_event_to_db.go
  packages/relayer/pkg/http/get_events_by_address_test.go
  packages/relayer/pkg/mock/event_repository.go
  packages/relayer/pkg/repo/event.go
  packages/relayer/pkg/repo/event_test.go
  packages/relayer/processor/is_profitable.go
  packages/relayer/processor/process_message.go
Labels: area.relayer

#17700 docs(docs-site): add warning about rpc rate limit
  packages/docs-site/src/content/docs/network-reference/rpc-configuration.mdx
Labels: area.docs

#17703 feat(taiko-client): improve `ProverProvenByGuardianGauge` metric
  packages/taiko-client/prover/event_handler/block_verified.go
  packages/taiko-client/prover/event_handler/transition_proved.go
Labels: area.client
