Repository taikoxyz/taiko-mono, pull requests merged in 2024-03, with the labels that each got.

#16329 fix(relayer): reconnect after notify close
  packages/relayer/pkg/queue/rabbitmq/queue.go
Labels: area.relayer

#16324 fix(bridge-ui)!: walletconnect not allowing to switch to unconfigured chains
  packages/bridge-ui/config/schemas/configuredChains.schema.json
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/ReviewStep/ReviewStep.svelte
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ConfirmationStep/ConfirmationStep.svelte
  packages/bridge-ui/src/components/Faucet/Faucet.svelte
  packages/bridge-ui/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Status/Status.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/libs/chain/chains.ts
  packages/bridge-ui/src/libs/chain/types.ts
Labels: area.bridge

#16344 fix(bridge-ui): fix ETH self claiming
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui/src/libs/bridge/isTransactionProcessable.ts
  packages/bridge-ui/src/libs/bridge/types.ts
  packages/bridge-ui/src/libs/storage/BridgeTxService.ts
  packages/bridge-ui/src/libs/util/balance.ts
  packages/bridge-ui/src/libs/util/fetchTransactionReceipt.ts
Labels: area.bridge

#16355 chore(bridge-ui): fix linting
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/AddressInput/AddressInput.svelte
Labels: area.bridge

#16342 chore(main): release bridge-ui 3.0.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#16391 fix(relayer): fix decodeMessageSentData
  packages/relayer/types.go
  packages/relayer/types_test.go
Labels: area.relayer

#16389 docs(protocol): add comment for EIP-1559
  packages/protocol/contracts/L2/Lib1559Math.sol
  packages/protocol/docs/eip1559_on_l2.md
  packages/protocol/docs/images/1559.png
Labels: area.protocol

#16390 chore(protocol): remove unused SGX code
  packages/protocol/contracts/automata-attestation/interfaces/ISigVerifyLib.sol
  packages/protocol/contracts/automata-attestation/utils/Asn1Decode.sol
  packages/protocol/contracts/automata-attestation/utils/BytesUtils.sol
  packages/protocol/contracts/automata-attestation/utils/RsaVerify.sol
  packages/protocol/contracts/automata-attestation/utils/SigVerifyLib.sol
Labels: area.protocol

#16331 feat(protocol): risc0 verifier contract
  packages/bridge-ui/src/libs/token/getAddress.test.ts
  packages/protocol/contracts/thirdparty/README.md
  packages/protocol/contracts/thirdparty/risczero/IRiscZeroReceiptVerifier.sol
  packages/protocol/contracts/verifiers/RiscZeroVerifier.sol
  packages/protocol/contracts/verifiers/SgxVerifier.sol
  packages/protocol/contracts/verifiers/libs/LibPublicInput.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/verifiers/RiscZeroVerifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Labels: area.protocol

#16399 feat(repo): refactor blob storage pkg
  packages/blob-storage/.default.indexer.env
  packages/blob-storage/.default.server.env
  packages/blob-storage/README.md
  packages/blob-storage/TaikoL1.json
  packages/blob-storage/bindings/taikol1/TaikoL1.go
  packages/blob-storage/blob_hash.go
  packages/blob-storage/cmd/blob_catcher/main.go
  packages/blob-storage/cmd/flags/common.go
  packages/blob-storage/cmd/flags/database.go
  packages/blob-storage/cmd/flags/indexer.go
  packages/blob-storage/cmd/flags/server.go
  packages/blob-storage/cmd/main.go
  packages/blob-storage/cmd/server/main.go
  packages/blob-storage/cmd/utils/subcommand.go
  packages/blob-storage/db.go
  packages/blob-storage/indexer/config.go
  packages/blob-storage/indexer/indexer.go
  packages/blob-storage/internal/indexer/indexer.go
  packages/blob-storage/internal/indexer/indexer_factory.go
  packages/blob-storage/internal/logic/callbacks.go
  packages/blob-storage/internal/logic/config.go
  packages/blob-storage/internal/logic/database.go
  packages/blob-storage/internal/logic/server.go
  packages/blob-storage/local_docker/docker-compose.yaml
  packages/blob-storage/migrations/16667_create_blob_hashes_table.sql
  packages/blob-storage/migrations/16668_add_block_id_index.sql
  packages/blob-storage/migrations/16669_add_blob_hash_index.sql
  packages/blob-storage/pkg/db/db/db.go
  packages/blob-storage/pkg/db/db/db_test.go
  packages/blob-storage/pkg/metrics/metrics.go
  packages/blob-storage/pkg/metrics/metrics_test.go
  packages/blob-storage/pkg/repo/blob_hash.go
  packages/blob-storage/pkg/repo/db.go
  packages/blob-storage/scripts/abigen.sh
  packages/blob-storage/server/config.go
  packages/blob-storage/server/server.go
  pnpm-lock.yaml
Labels: area.repo

#16417 feat(relayer): remove subscriptions, make reorg detecting easier, filter on event loop
  packages/eventindexer/indexer/filter_then_subscribe.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
  packages/relayer/.l1indexer.example.env
  packages/relayer/api/api.go
  packages/relayer/block.go
  packages/relayer/bridge.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/cmd/flags/processor.go
  packages/relayer/cmd/flags/watchdog.go
  packages/relayer/event.go
  packages/relayer/indexer/config.go
  packages/relayer/indexer/detect_and_handle_reorg.go
  packages/relayer/indexer/handle_chain_data_synced_event.go
  packages/relayer/indexer/handle_message_received_event.go
  packages/relayer/indexer/handle_message_sent_event.go
  packages/relayer/indexer/handle_message_status_changed_event.go
  packages/relayer/indexer/handle_no_events_in_batch.go
  packages/relayer/indexer/handle_no_events_in_batch_test.go
  packages/relayer/indexer/indexer.go
  packages/relayer/indexer/indexer_test.go
  packages/relayer/indexer/save_event_to_db.go
  packages/relayer/indexer/scan_blocks.go
  packages/relayer/indexer/set_initial_Indexing_block_by_mode.go
  packages/relayer/indexer/set_initial_indexing_block_by_mode_test.go
  packages/relayer/indexer/start_test.go
  packages/relayer/indexer/subscribe.go
  packages/relayer/indexer/subscribe_test.go
  packages/relayer/migrations/1666650599_create_events_table.sql
  packages/relayer/migrations/1666650700_create_processed_blocks_table.sql
  packages/relayer/migrations/1708366658_alert_processed_blocks_block_height_index.sql
  packages/relayer/migrations/1708366659_alert_processed_blocks_chain_id_event_name_index.sql
  packages/relayer/migrations/1708366660_alert_processed_blocks_block_height_chain_id_index.sql
  packages/relayer/migrations/1708366661_alert_processed_blocks_chain_id_event_name_block_height_index.sql
  packages/relayer/migrations/1708366665_alert_processed_blocks_chain_id_dest_chain_id_event_name_block_height.sql
  packages/relayer/migrations/1708366666_index_latest_block_id.sql
  packages/relayer/pkg/http/get_block_info.go
  packages/relayer/pkg/http/get_events_by_address_test.go
  packages/relayer/pkg/http/server.go
  packages/relayer/pkg/http/server_test.go
  packages/relayer/pkg/mock/block_repository.go
  packages/relayer/pkg/mock/bridge.go
  packages/relayer/pkg/mock/eth_client.go
  packages/relayer/pkg/mock/event_repository.go
  packages/relayer/pkg/mock/signalservice.go
  packages/relayer/pkg/queue/rabbitmq/queue.go
  packages/relayer/pkg/repo/block.go
  packages/relayer/pkg/repo/block_test.go
  packages/relayer/pkg/repo/event.go
  packages/relayer/pkg/repo/event_test.go
  packages/relayer/pkg/utils/gas.go
  packages/relayer/processor/estimate_gas.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/wait_header_synced.go
  packages/relayer/signalservice.go
  packages/relayer/types.go
Labels: area.relayer

#16437 chore(relayer): handle ctx
  packages/relayer/indexer/indexer.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/watchdog.go
Labels: area.relayer

#16353 chore(repo): add blob-catcher to monorepo
  .github/workflows/blobstorage.yml
  .github/workflows/validate-pr-title.yml
  .release-please-manifest.json
  CONTRIBUTING.md
  README.md
  go.mod
  go.sum
  packages/blobstorage/.default.indexer.env
  packages/blobstorage/.default.server.env
  packages/blobstorage/.gitignore
  packages/blobstorage/README.md
  packages/blobstorage/TaikoL1.json
  packages/blobstorage/bindings/taikol1/TaikoL1.go
  packages/blobstorage/blob_hash.go
  packages/blobstorage/cmd/flags/common.go
  packages/blobstorage/cmd/flags/database.go
  packages/blobstorage/cmd/flags/indexer.go
  packages/blobstorage/cmd/flags/server.go
  packages/blobstorage/cmd/main.go
  packages/blobstorage/cmd/utils/subcommand.go
  packages/blobstorage/db.go
  packages/blobstorage/indexer/config.go
  packages/blobstorage/indexer/indexer.go
  packages/blobstorage/migrations/16667_create_blob_hashes_table.sql
  packages/blobstorage/migrations/16668_add_block_id_index.sql
  packages/blobstorage/migrations/16669_add_blob_hash_index.sql
  packages/blobstorage/package.json
  packages/blobstorage/pkg/db/db/db.go
  packages/blobstorage/pkg/db/db/db_test.go
  packages/blobstorage/pkg/metrics/metrics.go
  packages/blobstorage/pkg/metrics/metrics_test.go
  packages/blobstorage/pkg/repo/blob_hash.go
  packages/blobstorage/pkg/repo/db.go
  packages/blobstorage/pkg/utils/utils.go
  packages/blobstorage/python_query.py
  packages/blobstorage/scripts/abigen.sh
  packages/blobstorage/server/config.go
  packages/blobstorage/server/server.go
  pnpm-lock.yaml
  release-please-config.json
Labels: area.repo

#16445 refactor(bridge-ui): reuse timeout configuration in parseNFTMetadata
  packages/bridge-ui/src/libs/util/parseNFTMetadata.ts
Labels: area.bridge

#16444 refactor(bridge-ui): remove unused `getFileExtension` function
  packages/bridge-ui/src/libs/util/getFileExtension.ts
Labels: area.bridge

#16477 feat(blobstorage): set initial indexing block via genesis if no blobs exist
  packages/blobstorage/indexer/indexer.go
Labels: area.event-indexer

#16466 feat(eventindexer): internal devnet changes
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/block.go
  packages/eventindexer/cmd/flags/indexer.go
  packages/eventindexer/contracts/assignmenthook/AssignmentHook.go
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/eventindexer/contracts/taikol1/TaikoL1.go
  packages/eventindexer/event.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/indexer/config.go
  packages/eventindexer/indexer/config_test.go
  packages/eventindexer/indexer/detect_and_handle_reorg.go
  packages/eventindexer/indexer/filter.go
  packages/eventindexer/indexer/filter_then_subscribe.go
  packages/eventindexer/indexer/index_nft_transfers.go
  packages/eventindexer/indexer/index_raw_block_data.go
  packages/eventindexer/indexer/indexer.go
  packages/eventindexer/indexer/save_block_assigned_event.go
  packages/eventindexer/indexer/save_block_proposed_event.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/indexer/save_liquidity_added_event.go
  packages/eventindexer/indexer/save_message_sent_event.go
  packages/eventindexer/indexer/save_swap_event.go
  packages/eventindexer/indexer/save_transition_contested_event.go
  packages/eventindexer/indexer/save_transition_proved_event.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
  packages/eventindexer/indexer/subscribe.go
  packages/eventindexer/migrations/1666650599_create_events_table.sql
  packages/eventindexer/migrations/1666650700_create_processed_blocks_table.sql
  packages/eventindexer/migrations/20230906206839_create_blocks_table.sql
  packages/eventindexer/migrations/20280906208839_alter_blocks_table_add_indexes.sql
  packages/eventindexer/migrations/20290906208839_alter_processed_blocks_chain_id_index.sql
  packages/eventindexer/migrations/20300906208839_alter_processed_blocks_block_height_index.sql
  packages/eventindexer/migrations/20310906208839_alter_processed_blocks_block_height_chain_id_index.sql
  packages/eventindexer/pkg/mock/event_repository.go
  packages/eventindexer/pkg/mock/processed_block_repository.go
  packages/eventindexer/pkg/repo/block.go
  packages/eventindexer/pkg/repo/block_test.go
  packages/eventindexer/pkg/repo/event.go
  packages/eventindexer/pkg/repo/processed_block.go
  packages/eventindexer/pkg/repo/processed_block_test.go
Labels: area.event-indexer

#16481 fix(bridge-ui): balance updating when connecting
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/libs/wagmi/watcher.ts
Labels: area.bridge

#16428 chore(protocol): improve test coverage
  packages/protocol/docs/native_token_support.md
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/libs/LibAddress.t.sol
Labels: area.protocol

#16487 docs(blobstorage): add swagger docs for blobstorage
  packages/blobstorage/docs/docs.go
  packages/blobstorage/docs/index.html
  packages/blobstorage/docs/swagger.json
  packages/blobstorage/docs/swagger.yaml
  packages/blobstorage/pkg/http/get_blob.go
  packages/blobstorage/pkg/http/server.go
  packages/blobstorage/scripts/swagger.sh
Labels: area.docs

#16486 chore(bridge-ui): fix configuredChains.json validation error for localhost setup
  packages/bridge-ui/config/sample/configuredChains.example
Labels: area.bridge

#16464 fix(blobstorage): fix command instructions and missing local_docker folder in packages/blobstorage
  packages/blobstorage/.default.indexer.env
  packages/blobstorage/.default.server.env
  packages/blobstorage/README.md
  packages/blobstorage/docker-compose/docker-compose.yml
  packages/blobstorage/python_query.py
Labels: category.enhancement

#16485 fix(bridge-ui): correct display of forward arrow and handling of invalid pagination input
  packages/bridge-ui/src/components/Paginator/Paginator.svelte
Labels: area.bridge

#16483 refactor(guardian-prover-health-check-ui): use reduce to avoid for in loop and eliminate temporary variables.
  packages/guardian-prover-health-check-ui/src/lib/blocks/getGuardianProverIdsPerBlockNumber.ts
  packages/guardian-prover-health-check-ui/src/lib/blocks/signedBlocksPerGuardian.ts
Labels: area.guardian-prover-dashboard

#16522 fix(bridge-ui): move label to i18n, fix some typos
  packages/bridge-ui/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui/src/i18n/en.json
Labels: category.enhancement, area.bridge

#16526 fix(bridge-ui): canonical check can use wrong chain, incorrect supported chain check
  packages/bridge-ui/src/components/Transactions/Dialogs/Claim.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/ClaimDialog/ClaimDialog.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/token/getCanonicalInfoForToken.ts
  packages/bridge-ui/src/libs/token/getTokenAddresses.ts
  packages/bridge-ui/src/libs/wagmi/watcher.ts
Labels: area.bridge

#16502 chore(repo): preview builds for internal project
  .github/workflows/bridge-ui-preview.yml
Labels: area.repo

#16536 feat(bridge-ui): retry dialog
  packages/bridge-ui/src/components/Transactions/Dialogs/Claim.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/ClaimDialog/ClaimDialog.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/ClaimDialog/ClaimSteps/ClaimConfirmStep.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/RetryDialog/RetryDialog.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/RetryDialog/RetryStepNavigation.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/RetryDialog/RetrySteps/RetryOptionStep.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/RetryDialog/state.ts
  packages/bridge-ui/src/components/Transactions/Dialogs/RetryDialog/types.ts
  packages/bridge-ui/src/components/Transactions/Status/Status.svelte
  packages/bridge-ui/src/i18n/en.json
Labels: area.bridge

#16540 fix(repo): bridge ui preview deployments
  .github/workflows/bridge-ui-preview.yml
Labels: area.repo

#16543 fix(protocol)!: apply bug fixes and introduce a few new features
  packages/protocol/CHANGELOG.md
  packages/protocol/README.md
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/tiers/TierProviderV1.sol
  packages/protocol/contracts/L1/tiers/TierProviderV2.sol
  packages/protocol/contracts/L2/CrossChainOwned.sol
  packages/protocol/contracts/L2/DelegateOwner.sol
  packages/protocol/contracts/L2/Lib1559Math.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/libs/LibAddress.sol
  packages/protocol/contracts/libs/LibNetwork.sol
  packages/protocol/contracts/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/LibBridgedToken.sol
  packages/protocol/contracts/verifiers/libs/LibPublicInput.sol
  packages/protocol/docs/native_token_support.md
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/genesis/test_config.js
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/upgrade/UpgradeTierProvider.s.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L2/TaikoL2NoFeeCheck.t.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/utils/generate_genesis/interface.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
  pnpm-lock.yaml
Labels: area.protocol

#16545 fix(protocol): fix bridge bug caused by incorrect check of `receivedAt` (by OZ)
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/test/bridge/Bridge.t.sol
Labels: area.bridge, area.protocol

#16560 chore(main): release protocol 1.1.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#16541 fix(bridge-ui): fix issue where balance is shown for wrong token
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
Labels: area.bridge
