Repository taikoxyz/taiko-mono, pull requests merged in 2024-01, with the labels that each got.

#15442 feat(protocol): remove `hardhat` dependency
  .github/workflows/protocol.yml
  packages/protocol/.npmignore
  packages/protocol/README.md
  packages/protocol/hardhat.config.ts
  packages/protocol/package.json
  packages/protocol/remappings.txt
  packages/protocol/tsconfig.json
  packages/protocol/utils/generate_genesis/erc20.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
  packages/protocol/utils/generate_genesis/utils.ts
  pnpm-lock.yaml
Labels: category.enhancement, area.protocol

#15448 chore(bridge-ui-v2): cherry picks from main
  packages/bridge-ui-v2/src/components/Bridge/Recipient.svelte
  packages/bridge-ui-v2/src/libs/bridge/ETHBridge.ts
  packages/bridge-ui-v2/src/libs/bridge/fetchTransactions.ts
Labels: area.bridge

#15450 chore(bridge-ui-v2): Modal and alerts to inform users about delay for L2->L1 bridging
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/src/app.html
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/WelcomeModal.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/index.ts
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/routes/+layout.svelte
  packages/bridge-ui-v2/src/styles/components.css
Labels: area.bridge

#15419 fix(bridge-ui-v2): Fixes for Configuration Setup and README Updates in Bridge UI v2
  packages/bridge-ui-v2/README.md
Labels: area.bridge

#15452 feat(protocol): upgrade scripts for new proxies
  packages/protocol/script/upgrade/UpgradeAddressManager.sol
  packages/protocol/script/upgrade/UpgradeAssignmentHook.s.sol
  packages/protocol/script/upgrade/UpgradeBridge.s.sol
  packages/protocol/script/upgrade/UpgradeERC1155Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC20Vault.s.sol
  packages/protocol/script/upgrade/UpgradeERC721Vault.s.sol
  packages/protocol/script/upgrade/UpgradeGuardianProver.s.sol
  packages/protocol/script/upgrade/UpgradeScript.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.sol
  packages/protocol/script/upgrade/UpgradeTaikoGovernor.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.sol
  packages/protocol/script/upgrade/UpgradeTimelockController.s.sol
  packages/protocol/script/upgrade_to.sh
Labels: area.protocol

#15451 chore(bridge-ui-v2): light mode enhancements
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/Stepper/Step.svelte
  packages/bridge-ui-v2/src/components/Stepper/Stepper.svelte
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/src/styles/utilities.css
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
  packages/bridge-ui-v2/tailwind.config.js
Labels: area.bridge

#15453 chore(bridge-ui-v2): update walletconnect
  packages/bridge-ui-v2/__mocks__/@wagmi/core.ts
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/getContractAddressByType.test.ts
  packages/bridge-ui-v2/src/libs/connect/web3modal.ts
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.test.ts
  packages/bridge-ui-v2/src/libs/util/mergeTransactions.test.ts
  packages/bridge-ui-v2/src/libs/wagmi/client.ts
  packages/bridge-ui-v2/src/styles/base.css
  packages/bridge-ui-v2/static/bg/grid-sm.svg
  packages/bridge-ui-v2/static/bg/grid.svg
  packages/bridge-ui-v2/static/bg/spotlights-light.svg
  packages/bridge-ui-v2/static/bg/spotlights.svg
  pnpm-lock.yaml
Labels: area.bridge

#15457 fix(repo): reinitialize go mod
  go.mod
  go.sum
Labels: area.repo

#15458 feat(eventindexer): Track transition proved / contested event by tiers, generate chart data for each tier, update http API to be able to fetch data by tier
  packages/eventindexer/chart.go
  packages/eventindexer/event.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/http/get_chart_by_task.go
  packages/eventindexer/indexer/save_transition_proved_event.go
  packages/eventindexer/migrations/20330906208839_alter_events_table_add_tier.sql
  packages/eventindexer/migrations/20330906208840_alter_time_series_data_table_add_tier.sql
  packages/eventindexer/repo/chart.go
  packages/eventindexer/repo/chart_test.go
  packages/eventindexer/repo/event.go
  packages/eventindexer/tasks/tasks.go
Labels: area.event-indexer

#15462 feat(repo): add the missing replacement
  go.mod
  go.sum
Labels: area.relayer

#15463 fix(protocol): fix some file names of the proxy upgrade scripts
  packages/protocol/script/upgrade/UpgradeAddressManager.s.sol
  packages/protocol/script/upgrade/UpgradeSignalService.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoGovernor.s.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.s.sol
  packages/protocol/script/upgrade_to.sh
Labels: area.protocol

#15464 chore(guardian-prover-health-check-ui): add missing uptime and block count
  packages/guardian-prover-health-check-ui/src/components/Alert/Alert.svelte
  packages/guardian-prover-health-check-ui/src/components/Blocks/BlocksList.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableHeader.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/index.ts
  packages/guardian-prover-health-check-ui/src/components/Header/Header.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthCheckFilter.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthCheckRow.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthChecksList.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/index.ts
  packages/guardian-prover-health-check-ui/src/components/Overview/Filter.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Overview.svelte
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/api/guardianProverApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/api/index.ts
  packages/guardian-prover-health-check-ui/src/lib/api/signedBlocksApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/blocks/signedBlocksPerGuardian.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverRequests.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverRequirementsFromContract.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProverStats.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchLatestGuardianProverRequest.ts
  packages/guardian-prover-health-check-ui/src/lib/routes.ts
  packages/guardian-prover-health-check-ui/src/lib/types.ts
  packages/guardian-prover-health-check-ui/tailwind.config.js
Labels: area.guardian-prover-dashboard

#15469 chore(guardian-prover-health-check-ui): update status message
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
Labels: area.guardian-prover-dashboard

#15476 fix(protocol): replace `__self` in bytecode for all `EssentialContract`s when generating genesis JSON
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#15468 fix(bridge-ui-v2): fixing getFilterLogs errors
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/AddCustomERC20.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui-v2/src/libs/storage/BridgeTxService.ts
  packages/bridge-ui-v2/src/libs/storage/CustomTokenService.ts
  packages/bridge-ui-v2/src/libs/token/getBalance.ts
  packages/bridge-ui-v2/src/libs/util/fetchTransactionReceipt.ts
Labels: category.bug, area.bridge

#15465 chore(bridge-ui-v2): mobile styling
  packages/bridge-ui-v2/package.json
  packages/bridge-ui-v2/src/app.config.ts
  packages/bridge-ui-v2/src/app.html
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/BridgeTabs.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/state.ts
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/Header/Header.svelte
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/LinkButton/LinkButton.svelte
  packages/bridge-ui-v2/src/components/Page/Page.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/components/Stepper/Stepper.svelte
  packages/bridge-ui-v2/src/components/ThemeButton/ThemeButton.svelte
  packages/bridge-ui-v2/src/components/Transactions/InsufficientFunds.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusFilterDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/StatusFilterDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/components/WelcomeModal/WelcomeModal.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/chain/chains.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/storage/BridgeTxService.ts
  packages/bridge-ui-v2/src/libs/token/checkTokenApprovalStatus.ts
  pnpm-lock.yaml
Labels: category.enhancement, area.bridge

#15481 fix(bridge-ui-v2): fix for approval button not updating
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Card/Card.svelte
  packages/bridge-ui-v2/src/components/Stepper/Stepper.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/token/checkTokenApprovalStatus.ts
Labels: area.bridge

#15488 fix(bridge-ui-v2): fix for crosschain nft metadata
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTCards/NFTCardGrid.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTDisplay.svelte
  packages/bridge-ui-v2/src/libs/token/fetchNFTImageUrl.ts
Labels: area.bridge

#15486 feat(protocol): fix issues in AssignmentHook
  packages/protocol/contracts/L1/ITaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/hooks/AssignmentHook.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
Labels: category.enhancement, area.protocol

#15485 feat(relayer): Simplify event iterator code
  packages/relayer/indexer/indexer.go
  packages/relayer/processor/processor.go
Labels: category.enhancement, area.relayer

#15495 fix(bridge-ui-v2): minor styling fixes for mobile
  packages/bridge-ui-v2/src/components/StatusDot/StatusDot.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transactions.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#15494 chore(guardian-prover-health-check-ui): refactoring and bugfixing
  packages/guardian-prover-health-check-ui/package.json
  packages/guardian-prover-health-check-ui/src/components/Alert/Alert.svelte
  packages/guardian-prover-health-check-ui/src/components/Alert/types.ts
  packages/guardian-prover-health-check-ui/src/components/Blocks/BlocksList.svelte
  packages/guardian-prover-health-check-ui/src/components/ContentWrapper/Wrapper.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/Header/Header.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthCheckRow.svelte
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthChecksList.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Filter.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Overview.svelte
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/components/Tabs/Tabs.svelte
  packages/guardian-prover-health-check-ui/src/components/stores/guardianProver.ts
  packages/guardian-prover-health-check-ui/src/components/stores/pageTabs.ts
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/blocks/signedBlocksPerGuardian.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProversFromContract.ts
  packages/guardian-prover-health-check-ui/src/routes/[slug]/+page.svelte
  packages/guardian-prover-health-check-ui/src/stores/index.ts
  packages/guardian-prover-health-check-ui/src/stores/stores.ts
Labels: area.guardian-prover-dashboard

#15499 fix(bridge-ui-v2): Minor bugfixes and adjustments
  packages/bridge-ui-v2/src/components/Bridge/AddressInput/AddressInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/Amount.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/SwitchChainsButton.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelector.svelte
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/Faucet/Faucet.svelte
  packages/bridge-ui-v2/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui-v2/src/components/SwitchChainModal/SwitchChainModal.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui-v2/src/components/Transactions/Transaction.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#15500 chore(repo): update README
  README.md
Labels: area.docs

#15510 chore(relayer): update relayer api url
  packages/relayer/docs/docs.go
  packages/relayer/docs/swagger.json
  packages/relayer/docs/swagger.yaml
  packages/relayer/indexer/http/server.go
Labels: area.docs

#15504 fix(bridge-ui-v2): NFT Id input should only allow numbers
  packages/bridge-ui-v2/src/components/Bridge/IDInput/IDInput.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Transactions/Status.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#15498 feat(protocol): Add parent's metaHash to assignment
  packages/protocol/contracts/L1/hooks/AssignmentHook.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#15545 fix(bridge-ui-v2): Bridged tokens do not require approval
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
  packages/bridge-ui-v2/src/components/Bridge/Bridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridge.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ConfirmationStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ImportStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/NFTBridgeSteps/ReviewStep.svelte
  packages/bridge-ui-v2/src/components/Bridge/state.ts
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui-v2/src/i18n/en.json
  packages/bridge-ui-v2/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui-v2/src/libs/bridge/checkBalanceToBridge.ts
  packages/bridge-ui-v2/src/libs/error/errors.ts
  packages/bridge-ui-v2/src/libs/token/getCanonicalInfo.ts
  packages/bridge-ui-v2/src/libs/token/getTokenApprovalStatus.ts
  packages/bridge-ui-v2/src/libs/token/types.ts
  packages/bridge-ui-v2/src/stores/canonical.ts
Labels: area.bridge

#15549 fix(bridge-ui-v2): fix ETH bridging
  packages/bridge-ui-v2/src/components/Bridge/Actions.svelte
Labels: area.bridge

#15440 feat(protocol, relayer): Improved Taiko Protocol and Relayer Documentations
  packages/protocol/README.md
  packages/relayer/.l1processor.example.env
  packages/relayer/README.md
Labels: area.docs, area.bridge, area.protocol

#15553 refactor(protocol): add an invocation delay
  packages/protocol/contracts/bridge/Bridge.sol
Labels: area.protocol

#15547 feat(relayer): Add flag to be able to index past blocks to crawl for missed messages
  packages/relayer/cmd/flags/indexer.go
  packages/relayer/indexer/config.go
  packages/relayer/indexer/detect_and_handle_reorg.go
  packages/relayer/indexer/handle_event.go
  packages/relayer/indexer/indexer.go
Labels: area.relayer

#15560 fix(guardian-prover-health-check-ui): fix status glitches
  packages/guardian-prover-health-check-ui/src/components/Overview/Filter.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/StatusFilterDropdown.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/routes/+layout.svelte
  packages/guardian-prover-health-check-ui/src/stores/stores.ts
Labels: area.guardian-prover-dashboard

#15594 fix(bridge-ui-v2): Faucet no longer checking for destination chain
  packages/bridge-ui-v2/src/components/ChainSelector/ChainSelectorWrapper.svelte
  packages/bridge-ui-v2/src/components/TokenDropdown/TokenDropdown.svelte
Labels: area.bridge

#15587 chore(protocol): change the A6 config so higher tier has larger bonds
  packages/protocol/contracts/L1/tiers/TaikoA6TierProvider.sol
Labels: area.protocol
