Repository taikoxyz/taiko-mono, pull requests merged in 2024-09, with the labels that each got.

#18003 feat(taiko-client): introduce sp1 zk proof
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client, category.feature

#18021 feat(taiko-client): remove an unused filed in proposer
  packages/taiko-client/proposer/proposer.go
Labels: area.client

#18019 feat(protocol): update script of deploying sp1
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/script/DeploySP1Verifier.s.sol
Labels: area.protocol, category.feature

#18024 feat(taiko-client): remove an unused field in prover
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/event_handler/block_proposed_test.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18013 chore(main): release taiko-client 0.34.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18025 feat(protocol): add `proveBlocks` method to `ProverSet`
  packages/protocol/contracts/team/proving/ProverSet.sol
Labels: area.protocol

#18023 docs(protocol): update hekla change log about `tier_router`
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#18020 docs(protocol): update hekla change log about sp1
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#18028 docs(protocol): update `tier_router`with compatibility modifications
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18027 docs(protocol): upgrade sp1 verifier in hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18030 fix(taiko-client): temp support tier 290
  packages/taiko-client/prover/init.go
Labels: area.client

#18009 feat(nfts): trailblazer profile picture
  packages/nfts/contracts/profile/RegisterProfilePicture.sol
  packages/nfts/script/profile/Deploy.s.sol
  packages/nfts/script/profile/Utils.s.sol
  packages/nfts/test/profile/RegisterProfilePicture.t.sol
  packages/nfts/test/util/MockTokens.sol
Labels: area.ops

#18031 chore(main): release taiko-client 0.34.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18035 feat(taiko-client): remove the legacy `290` tier
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/prover/init.go
Labels: area.client

#18038 refactor(protocol): use require-statement for clarity
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L2/DelegateOwner.sol
  packages/protocol/contracts/L2/Lib1559Math.sol
  packages/protocol/contracts/L2/TaikoL2.sol
Labels: area.client

#18043 feat(taiko-client): add two more new ZK related metrics
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client

#18042 feat(taiko-client): use `proveBlocks` by default for post ontake blocks
  packages/taiko-client/bindings/.githead
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
Labels: area.client

#18046 feat(protocol): update `ontakeForkHeight` to Sep 24, 2024
  packages/protocol/contracts/hekla/HeklaTaikoL1.sol
  packages/protocol/contracts/hekla/HeklaTaikoL2.sol
Labels: area.protocol

#17783 chore(main): release protocol 1.9.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18047 feat(taiko-client): update `ontakeForkHeight` to Sep 24, 2024
  packages/taiko-client/bindings/encoding/protocol_config.go
Labels: area.client

#18051 chore(main): release protocol 1.9.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18053 feat(taiko-client): update contract binding & add `Proposer`
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_taiko_l2.go
Labels: area.client

#18057 fix(taiko-client): fix timestamp in `CalculateBaseFee`
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18036 chore(main): release taiko-client 0.35.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18033 docs(docs-site): added documentation for PORTERS
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs

#18052 chore(main): release protocol 1.9.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18073 feat(repo): have certain workflow jobs ignore dependabot PRs
  .github/workflows/eventindexer.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/relayer.yml
  .github/workflows/snaefell-ui.yml
  .github/workflows/taikoon-ui.yml
Labels: area.repo

#18075 feat(taiko-client): update Go contract bindings after protocol restructure
  packages/taiko-client/.golangci.yml
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/protocol_config.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_legacy.go
  packages/taiko-client/bindings/metadata/metadata_ontake.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/integration_test/deploy_l1_contract.sh
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/utils/utils.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/methods_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/proof_producer/guardian_producer_test.go
  packages/taiko-client/scripts/gen_bindings.sh
Labels: area.client

#18076 chore(main): release taiko-client 0.36.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18069 ci(repo): improve workflows to avoid unnecessary actions
  .github/workflows/eventindexer.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/nfts.yml
  .github/workflows/protocol.yml
  .github/workflows/relayer.yml
  .github/workflows/repo--auto-approve-pr.yml
  .github/workflows/repo--typo-check.yml
  .github/workflows/repo--validate-pr-title.yml
  .github/workflows/repo--vercel-deploy.yml
  .github/workflows/snaefell-ui.yml
  .github/workflows/supplementary-contracts.yml
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
  .github/workflows/taikoon-ui.yml
Labels: area.repo

#18062 docs(protocol): update code4rena-2024-03-taiko-final-report.md
  packages/protocol/audit/code4rena-2024-03-taiko-final-report.md
Labels: area.docs

#18079 ci(protocol): improve protocol.yml to avoid duplicate solidity code compilation.
  .github/workflows/protocol.yml
Labels: area.protocol

#18088 fix(protocol): fix DCAP configuration script
  packages/protocol/script/layer1/config_dcap_sgx_verifier.sh
  packages/protocol/test/genesis/data/genesis.json
  packages/protocol/test/genesis/data/genesis_alloc.json
  packages/protocol/test/genesis/data/genesis_config.json
  packages/protocol/test/genesis/data/genesis_storage_layout.json
Labels: area.protocol

#18087 ci(taiko-client): introduce timeout for CI tests
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
Labels: area.client

#18082 feat(taikoons): updated whitelist
  packages/taikoon-ui/src/generated/abi/index.ts
  packages/taikoon-ui/src/generated/whitelist/mainnet.json
Labels: area.taikoon

#17932 chore(main): release taikoon-ui 1.3.0
  .release-please-manifest.json
  packages/taikoon-ui/CHANGELOG.md
  packages/taikoon-ui/package.json
Labels: autorelease: pending

#18090 docs(docs-site): update docs for hekla ontake
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/guides/node-operators/node-troubleshooting.mdx
Labels: area.docs

#18010 test(taiko-client): upgrade full sync and snap sync hive tests
  .github/workflows/repo--merge-gatekeeper.yml
  packages/taiko-client/integration_test/hive_test.go
Labels: area.client, option.hive-test

#18098 docs(protocol): upgrade sp1 plonk verifier 2.0.0
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18096 fix(repo): prevent taikoon workflows from running on every PR
  .github/workflows/taikoon-ui.yml
Labels: area.repo

#18094 feat(taiko-client): allow `--l1.beacon` to be optional when a blob server is given
  packages/taiko-client/driver/config.go
Labels: area.client

#18099 ci(repo): support multi os platforms
  .github/workflows/taiko-client--docker.yml
Labels: github_actions

#17939 chore(main): release docs-site 1.11.9
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18101 test(taiko-client): disable docker pull in hive test
  packages/taiko-client/integration_test/hive_test.go
Labels: option.hive-test

#18092 feat(taiko-client): update prover balance check to include bond balance
  packages/taiko-client/pkg/rpc/utils.go
Labels: area.client

#18105 fix(docs-site): remove duplicate wording
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
Labels: area.docs

#18102 feat(protocol): add blockId to bond events
  packages/protocol/contracts/layer1/based/LibBonds.sol
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoEvents.sol
Labels: area.protocol

#18083 feat(nfts): trailblazer badges - block transfer from blacklisted addresses
  packages/nfts/contracts/trailblazers-badges/TrailblazersBadgesV3.sol
  packages/nfts/script/profile/Deploy.s.sol
  packages/nfts/script/trailblazers-badges/sol/UpgradeV3.sol
  packages/nfts/test/trailblazers-badges/TrailblazersBadgesV3.t.sol
  packages/nfts/test/util/Blacklist.sol
Labels: area.taikoon, trailblazer

#18111 feat(docs-site): sitewide banner for ontake fork notification
  packages/docs-site/src/content/config.ts
Labels: area.docs

#18110 fix(taiko-client): dont check l1heightInAnchor vs l1Height when detecting reorg
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18114 feat(repo): use our self-hosted runner, remove duplicate inactive issue workflow
  .github/workflows/repo--auto-approve-pr.yml
  .github/workflows/repo--close-inactive-issues.yml
  .github/workflows/repo--do-not-merge-pr.yml
  .github/workflows/repo--merge-gatekeeper.yml
  .github/workflows/repo--release-please.yml
  .github/workflows/repo--stale.yml
  .github/workflows/repo--typo-check.yml
  .github/workflows/repo--validate-pr-title.yml
  .github/workflows/repo--vercel-deploy.yml
Labels: area.repo

#18109 fix(taiko-client): fix blob server API URL when fetching blob data
  packages/taiko-client/pkg/rpc/blob_datasource.go
Labels: area.client

#18119 fix(taiko-client): revert path changes about SocialScan endpoint
  packages/taiko-client/pkg/rpc/blob_datasource.go
Labels: category.bug, area.client

#18103 feat(protocol): add Hekla Ontake hardfork upgrade scripts
  packages/protocol/script/layer1/UpgradeHeklaOntakeL1.s.sol
  packages/protocol/script/layer1/UpgradeHeklaOntakeL2.s.sol
Labels: area.protocol

#18123 ci(protocol): migrate more workflows to arc-runner-set
  .github/workflows/bridge-ui--ci.yml
  .github/workflows/eventindexer.yml
  .github/workflows/nfts.yml
  .github/workflows/protocol.yml
  .github/workflows/relayer.yml
  .github/workflows/snaefell-ui--ci.yml
  .github/workflows/supplementary-contracts.yml
  .github/workflows/taiko-client--docker.yml
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
  .github/workflows/taikoon-ui--ci.yml
  .github/workflows/ui-lib--ci.yml
Labels: area.repo

#18124 fix(relayer): profitability changes
  .github/workflows/relayer.yml
  packages/relayer/indexer/indexer.go
  packages/relayer/pkg/db/db.go
  packages/relayer/pkg/http/get_events_by_address_test.go
  packages/relayer/pkg/http/get_recommended_processing_fees.go
  packages/relayer/pkg/http/server_test.go
  packages/relayer/processor/can_process_message.go
  packages/relayer/processor/is_profitable.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/processor.go
  packages/relayer/processor/wait_for_confirmations.go
  packages/relayer/processor/wait_for_confirmations_test.go
Labels: area.relayer

#18127 ci(protocol): revert running environemt to ubuntu-latest about taiko-client workflows.
  .github/workflows/taiko-client--docker.yml
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
Labels: area.repo

#18130 fix(protocol): change the runner of `taiko-client--test.yml`
  .github/workflows/taiko-client--test.yml
Labels: area.repo

#18128 fix(taiko-client): fix process in handling empty proof
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: category.bug, area.client

#18112 chore(protocol): set mainnet Ontake fork height
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTaikoL1.sol
Labels: area.protocol

#18134 fix(relayer): fix for profitable detection
  packages/relayer/processor/is_profitable.go
  packages/relayer/processor/is_profitable_test.go
Labels: area.relayer

#18135 refactor(protocol): clean up code related to liveness bond
  packages/protocol/contracts/layer1/based/LibData.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/TaikoData.sol
Labels: area.protocol

#18137 fix(protocol): avoid invocation in Bridge message processing if calldata is "" and value is 0
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/test/genesis/data/genesis.json
  packages/protocol/test/genesis/data/genesis_alloc.json
  packages/protocol/test/genesis/data/genesis_storage_layout.json
Labels: area.protocol

#18132 fix(protocol): reward non-assigned prover 7/8 liveness bond
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup1.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup3.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup4.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup5.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup9.t.sol
Labels: area.protocol

#18141 feat(bridge-ui): add padding when claiming to smart contract
  .github/workflows/repo--vercel-deploy.yml
  packages/bridge-ui/src/libs/bridge/Bridge.ts
Labels: area.bridge

#18143 feat(docs-site): update docs for ontake fork hekla
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-proposer.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/resources/terminology.mdx
Labels: area.docs

#18139 docs(docs-site): fix broken link
  CONTRIBUTING.md
  packages/docs-site/src/content/docs/start-here/contributing.md
Labels: area.docs

#18146 feat(docs-site): update graphics and links for hekla ontake fork
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/core-concepts/block-states.mdx
  packages/docs-site/src/content/docs/core-concepts/bridging.md
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/network-reference/mainnet-addresses.md
  packages/docs-site/src/content/docs/network-reference/network-configuration.md
  packages/docs-site/src/content/docs/network-reference/testnet-addresses.md
Labels: area.docs

#18106 chore(main): release docs-site 1.12.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18107 feat(protocol): features and fixes to be applied to the audited version
  packages/protocol/contracts/layer1/based/LibBonds.sol
  packages/protocol/contracts/layer1/based/LibData.sol
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoData.sol
  packages/protocol/contracts/layer1/based/TaikoEvents.sol
  packages/protocol/contracts/layer2/based/TaikoL2.sol
Labels: area.protocol

#18072 refactor(protocol): remove unused code post Ontake fork
  packages/protocol/.gitignore
  packages/protocol/contracts/layer1/based/ITaikoL1.sol
  packages/protocol/contracts/layer1/based/LibBonds.sol
  packages/protocol/contracts/layer1/based/LibData.sol
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibUtils.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoData.sol
  packages/protocol/contracts/layer1/based/TaikoEvents.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer1/provers/GuardianProver.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/contracts/layer1/tiers/ITierProvider.sol
  packages/protocol/contracts/layer1/tiers/TierProviderBase.sol
  packages/protocol/contracts/layer2/based/LibL2Config.sol
  packages/protocol/contracts/layer2/based/TaikoL2.sol
  packages/protocol/contracts/layer2/devnet/DevnetTaikoL2.sol
  packages/protocol/test/genesis/data/genesis.json
  packages/protocol/test/genesis/data/genesis_alloc.json
  packages/protocol/test/genesis/data/genesis_storage_layout.json
  packages/protocol/test/layer1/based/TaikoL1.t.sol
  packages/protocol/test/layer1/based/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestBase.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup1.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup10.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup2.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup3.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup4.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup5.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup6.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup7.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup8.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup9.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroupBase.sol
  packages/protocol/test/layer1/based/TaikoL1testGroupA1.t.sol
  packages/protocol/test/layer1/based/TaikoL1testGroupA2.t.sol
  packages/protocol/test/layer1/based/TestTierProvider.sol
  packages/protocol/test/layer2/TaikoL2.t.sol
  packages/protocol/test/layer2/TaikoL2EIP1559Configurable.sol
  packages/protocol/test/layer2/TaikoL2NoFeeCheck.t.sol
  packages/protocol/test/layer2/TaikoL2Test.sol
Labels: area.protocol, option.pinned, option.do-not-merge

#18152 docs(protocol): update Hekla deployments
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18151 chore(protocol): remove reliance on taiko contracts and update golangci-lint
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
  packages/taiko-client/.golangci.yml
  packages/taiko-client/Makefile
  packages/taiko-client/integration_test/hive_test.go
Labels: area.protocol

#18154 feat(protocol): introduce `getTransitions` in TaikoL1
  .github/workflows/protocol.yml
  packages/protocol/contracts/layer1/based/LibUtils.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
Labels: area.protocol, category.feature

#18159 ci(protocol): avoid installing `netcat` in action
  .github/workflows/protocol.yml
  packages/taiko-client/.golangci.yml
Labels: area.protocol

#18164 test(taiko-client): increase hive-test timeout limitiation
  .github/workflows/taiko-client--hive_test.yml
Labels: option.hive-test

#18116 feat(taiko-client): support `TaikoL1.proposeBlocksV2`
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/metadata/metadata_legacy.go
  packages/taiko-client/bindings/metadata/metadata_ontake.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/interfaces.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  packages/taiko-client/pkg/rpc/dial_test.go
  packages/taiko-client/pkg/rpc/engine.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/subscription.go
  packages/taiko-client/pkg/rpc/subscription_test.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/interface.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18166 fix(taiko-client): record `lastProposedAt` after ontake fork
  packages/taiko-client/proposer/proposer.go
Labels: category.bug, area.client

#18167 test(taiko-client): introduce `TestProposeTxListOntake`
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_lib_utils.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#18171 chore(taiko-client): try cross-compile taiko-client to speed up docker building
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/Dockerfile
Labels: area.client

#18174 chore(taiko-client): revert building changes
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/Dockerfile
Labels: area.client

#18177 chore(taiko-client): add new arm64 runner
  .github/workflows/taiko-client--docker.yml
Labels: area.client

#18160 feat(protocol): add aggregated sgx verify test
  packages/protocol/contracts/layer1/verifiers/Risc0Verifier.sol
  packages/protocol/contracts/layer1/verifiers/SgxVerifier.sol
  packages/protocol/test/layer1/verifiers/Risc0Verifier.t.sol
  packages/protocol/test/layer1/verifiers/RiscZeroGroth16Verifier.t.sol
  packages/protocol/test/layer1/verifiers/SgxVerifier.t.sol
Labels: area.protocol

#18086 refactor(protocol): slightly change defender monitors
  .github/workflows/protocol-monitors.yml
  .github/workflows/protocol.yml
  packages/monitors/.gitignore
  packages/monitors/defender/mainnet/.defender/deployment-log.mystack.json
  packages/monitors/defender/mainnet/.env.example
  packages/monitors/defender/mainnet/README.md
  packages/monitors/defender/mainnet/actions/Bridge-MessageProcessed/index.js
  packages/monitors/defender/mainnet/actions/ER20Vault-BridgedTokenChanged/index.js
  packages/monitors/defender/mainnet/actions/ERC20Vault-BalanceDrop/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ApprovedCount/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ConflictingProofs/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-GuardiansUpdated/index.js
  packages/monitors/defender/mainnet/actions/GuardianProver-ProvingAutoPauseEnabled/index.js
  packages/monitors/defender/mainnet/actions/SGXVerifier-verifyProofFailure/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-BlockProposed/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-BlockVerified/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-CalldataTxListCount/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-ProvingPaused/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-TransitionContestedCount/index.js
  packages/monitors/defender/mainnet/actions/TaikoL1-TransitionProved/index.js
  packages/monitors/defender/mainnet/actions/Vaults-BridgedTokenDeployed/index.js
  packages/monitors/defender/mainnet/serverless.yml
  packages/monitors/package.json
  packages/protocol/.env.example
  packages/protocol/monitors/actions/ERC721Vault-BridgedTokenDeployed.js
  packages/protocol/monitors/actions/GuardianProver-ProvingAutoPauseEnabled.js
  packages/protocol/monitors/actions/TaikoL1-TransitionContestedCount.js
  pnpm-lock.yaml
Labels: area.protocol

#18182 feat(taiko-client): update contract bingdings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_sgx_verifier.go
  packages/taiko-client/bindings/gen_taiko_l1.go
Labels: area.client, category.feature

#18186 docs(docs-site): add warning to proposer page and update banner
  packages/docs-site/src/content/config.ts
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-proposer.mdx
Labels: area.docs

#18185 fix(taiko-client): fix revert case when propose blob blocks
  packages/taiko-client/proposer/transaction_builder/blob.go
Labels: category.bug, area.client

#18093 chore(main): release taiko-client 0.37.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18184 feat(protocol): allow owner to update recipient in TokenUnlock
  packages/protocol/contracts/layer1/team/tokenunlock/TokenUnlock.sol
  packages/protocol/script/layer1/tokenunlock/exercise1.data.json
Labels: area.protocol

#18169 chore(taiko-client): bump `go.mod`
  go.mod
  go.sum
Labels: area.client

#18189 feat(protocol): check-in `HeklaTaikoToken`
  packages/protocol/contracts/layer1/hekla/HeklaTaikoToken.sol
Labels: area.protocol

#18183 chore(main): release docs-site 1.12.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18190 feat(taiko-client): add `proposer_pool_content_fetch_time` metric
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/proposer/proposer.go
Labels: area.client
