Repository taikoxyz/taiko-mono, pull requests merged in 2024-04, with the labels that each got.

#16591 feat(protocol): add a view function isSignalReceived for Bridge relayer/UI
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
Labels: area.protocol

#16619 feat(bridge-ui): add testnet name to header
  packages/bridge-ui/.env.example
  packages/bridge-ui/src/components/Header/Header.svelte
  packages/bridge-ui/src/components/SideNavigation/SideNavigation.svelte
Labels: area.bridge

#16618 feat(bridge-ui): prepare for hekla
  packages/bridge-ui/scripts/exportJsonToEnv.js
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
  packages/bridge-ui/src/components/Icon/IconFlipper.svelte
  packages/bridge-ui/src/components/Transactions/ChainSymbolName.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/ClaimDialog/ClaimDialog.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/ClaimDialog/ClaimStepNavigation.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/ClaimDialog/ClaimSteps/ClaimPreCheck.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/ClaimDialog/ClaimSteps/ClaimReviewStep.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/RetryDialog/RetryDialog.svelte
  packages/bridge-ui/src/components/Transactions/Filter/StatusFilterDropdown.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/styles/override.css
Labels: area.bridge

#16633 fix(bridge-ui): add missing labels to i18n
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/RecipientStep/Recipient.svelte
  packages/bridge-ui/src/components/Paginator/Paginator.svelte
  packages/bridge-ui/src/components/Transactions/Filter/StatusFilterDialog.svelte
  packages/bridge-ui/src/i18n/en.json
Labels: area.bridge

#16645 feat(bridge-ui): base64 NFT data
  packages/bridge-ui/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui/src/libs/token/fetchNFTMetadata.test.ts
  packages/bridge-ui/src/libs/token/fetchNFTMetadata.ts
  packages/bridge-ui/src/libs/token/types.ts
  packages/bridge-ui/src/libs/util/decodeBase64ToJson.ts
  packages/bridge-ui/src/tests/mocks/tokens.ts
Labels: area.bridge

#16656 feat(protocol): change `INSTANCE_VALIDITY_DELAY` to `0` at first
  packages/protocol/contracts/verifiers/SgxVerifier.sol
Labels: area.protocol

#16579 chore(main): release protocol 1.2.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#16681 chore(protocol): small fixes in documentation
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/hooks/AssignmentHook.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/IBridge.sol
Labels: area.docs

#16689 feat(protocol): allows assigned prover to do more
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup1.t.sol
Labels: area.protocol

#16666 feat(protocol): use 35000 as gas limit for sending Ether in Brdge
  packages/protocol/contracts/bridge/Bridge.sol
Labels: area.protocol

#16684 fix(protocol): fix liveness bond related tokenomics issue
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestGroup1.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup2.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup3.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup4.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup5.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup6.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup7.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup8.t.sol
  packages/protocol/test/L1/TaikoL1TestGroupBase.sol
Labels: area.protocol

#16680 fix(bridge-ui): fix ERC721 and ERC1155 detection in NFT bridge
  packages/bridge-ui/src/libs/token/detectContractType.test.ts
  packages/bridge-ui/src/libs/token/detectContractType.ts
Labels: area.bridge

#16697 chore(main): release protocol 1.3.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#16702 feat(blobstorage): isolating tables for no blob data duplication
  packages/blobstorage/blob_hash.go
  packages/blobstorage/block_meta.go
  packages/blobstorage/indexer/indexer.go
  packages/blobstorage/migrations/16670_create_blocks_meta_table.sql
  packages/blobstorage/migrations/16671_create_unique_blob_hashes_table.sql
  packages/blobstorage/pkg/repo/blob_hash.go
  packages/blobstorage/pkg/repo/block_meta.go
  packages/blobstorage/pkg/repo/repositories.go
Labels: area.event-indexer

#16701 fix(bridge-ui): defaulting to source chain explorer for link to canonical address
  packages/bridge-ui/src/libs/token/getCanonicalInfoForToken.ts
Labels: area.bridge

#16708 feat(bridge-ui): processingFee from API
  packages/bridge-ui/scripts/vite-plugins/generateCustomTokenConfig.ts
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/chain/chains.ts
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui/src/libs/relayer/initRelayers.ts
  packages/bridge-ui/src/libs/relayer/types.ts
Labels: area.bridge

#16716 feat(guardian-prover-health-check-ui): update for hekla
  packages/guardian-prover-health-check-ui/package.json
  packages/guardian-prover-health-check-ui/src/abi/guardianProver.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProversFromContract.ts
  pnpm-lock.yaml
Labels: area.guardian-prover-dashboard

#16738 chore(protocol): remove delegating with genesis airdrop
  packages/protocol/contracts/team/airdrop/ERC20Airdrop.sol
  packages/protocol/test/team/airdrop/ERC20Airdrop.t.sol
  packages/protocol/test/team/airdrop/LibDelegationSigUtil.sol
Labels: area.protocol

#16746 chore(fork-diff): update forkdiff
  packages/fork-diff/fork.yaml
Labels: area.node

#16737 fix(bridge-ui): custom and none fee selection overwritten by error fetching recommended fee
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ProcessingFee/ProcessingFee.svelte
Labels: area.bridge

#16739 feat(protocol): redesign Bridge fee & gasLimit and remove 2-step processing
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/bridge/README.md
  packages/protocol/contracts/signal/ISignalService.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/tokenvault/BaseNFTVault.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/test/HelperContracts.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Labels: area.bridge, area.protocol

#16753 feat(guardian-prover-health-check-ui): update views and add more data
  packages/guardian-prover-health-check-ui/CHANGELOG.md
  packages/guardian-prover-health-check-ui/src/abi/guardianProver.ts
  packages/guardian-prover-health-check-ui/src/components/Blocks/BlocksList.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/DataPoint.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableHeader.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/components/Overview/Overview.svelte
  packages/guardian-prover-health-check-ui/src/components/StatusBanner/StatusBanner.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/api/guardianProverApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/blocks/getGuardianProverIdsPerBlockNumber.ts
  packages/guardian-prover-health-check-ui/src/lib/blocks/signedBlocksPerGuardian.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/addressToPseudonym.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/fetchGuardianProversFromContract.ts
  packages/guardian-prover-health-check-ui/src/lib/guardianProver/loadConfiguredGuardians.ts
  packages/guardian-prover-health-check-ui/src/lib/routes.ts
  packages/guardian-prover-health-check-ui/src/lib/types.ts
  packages/guardian-prover-health-check-ui/src/lib/util/formatISODateTime.ts
  packages/guardian-prover-health-check-ui/src/lib/util/shortenAddress.ts
  packages/guardian-prover-health-check-ui/src/routes/[slug]/+page.svelte
  packages/guardian-prover-health-check-ui/src/stores/stores.ts
  packages/guardian-prover-health-check-ui/src/styles/base.css
  packages/guardian-prover-health-check-ui/static/config/hekla/guardians.json
  packages/guardian-prover-health-check-ui/tsconfig.json
Labels: area.guardian-prover-dashboard

#16772 feat(guardian-prover-health-check-ui): add node info and fix error
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/DataPoint.svelte
  packages/guardian-prover-health-check-ui/src/components/GuardianProver/GuardianProverTableRow.svelte
  packages/guardian-prover-health-check-ui/src/i18n/en.json
  packages/guardian-prover-health-check-ui/src/lib/api/guardianProverApiCalls.ts
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/src/lib/routes.ts
  packages/guardian-prover-health-check-ui/src/lib/types.ts
Labels: area.guardian-prover-dashboard

#16771 feat(protocol): add `DeployTaikoToken` script
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DeployTaikoToken.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Labels: area.protocol

#16752 feat(relayer): bridge improvement
  packages/eventindexer/contracts/bridge/Bridge.go
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/erc1155vault/ERC1155Vault.go
  packages/relayer/bindings/erc20vault/ERC20Vault.go
  packages/relayer/bindings/erc721vault/ERC721Vault.go
  packages/relayer/bindings/signalservice/SignalService.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bindings/taikol2/TaikoL2.go
  packages/relayer/bridge.go
  packages/relayer/bridge/bridge.go
  packages/relayer/event.go
  packages/relayer/indexer/event_status_from_message_hash_test.go
  packages/relayer/indexer/handle_message_received_event.go
  packages/relayer/indexer/handle_message_sent_event.go
  packages/relayer/indexer/indexer.go
  packages/relayer/pkg/encoding/types.go
  packages/relayer/pkg/http/get_suspended_transactions.go
  packages/relayer/pkg/http/get_suspended_transactions_test.go
  packages/relayer/pkg/http/routes.go
  packages/relayer/pkg/http/server.go
  packages/relayer/pkg/http/server_test.go
  packages/relayer/pkg/mock/bridge.go
  packages/relayer/pkg/mock/eth_client.go
  packages/relayer/pkg/mock/suspended_transaction_repository.go
  packages/relayer/pkg/proof/encoded_signal_proof.go
  packages/relayer/pkg/queue/queue.go
  packages/relayer/pkg/repo/suspended_transaction.go
  packages/relayer/pkg/repo/suspended_transaction_test.go
  packages/relayer/processor/can_process_message.go
  packages/relayer/processor/can_process_message_test.go
  packages/relayer/processor/estimate_gas.go
  packages/relayer/processor/is_profitable.go
  packages/relayer/processor/is_profitable_test.go
  packages/relayer/processor/process_message.go
  packages/relayer/processor/process_message_test.go
  packages/relayer/processor/processor.go
  packages/relayer/processor/wait_header_synced.go
  packages/relayer/prometheus.go
  packages/relayer/suspended_transaction.go
  packages/relayer/watchdog/watchdog.go
  packages/relayer/watchdog/watchdog_test.go
Labels: area.relayer

#16788 refactor(protocol): merge guardian prover and verifier contract into one
  packages/protocol/contracts/L1/TaikoErrors.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/TierProviderV1.sol
  packages/protocol/contracts/L1/tiers/TierProviderV2.sol
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/verifiers/GuardianVerifier.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/common/AddressResolver.t.sol
  packages/protocol/test/verifiers/GuardianProver.t.sol
Labels: area.protocol

#16787 chore(protocol): set 167000 as the mainnet ID
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/libs/LibNetwork.sol
Labels: area.protocol

#16790 feat(protocol): add a new tier B_TIER_GUARDIAN_MINORITY
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/TierProviderV2.sol
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#16798 fix(protocol): fix an issue in `DevnetTierProvider`
  packages/protocol/contracts/L1/tiers/DevnetTierProvider.sol
Labels: area.protocol

#16770 refactor(protocol,eventindexer,relayer): merge GasLog into MessageProcessed
  packages/eventindexer/cmd/flags/common.go
  packages/eventindexer/cmd/flags/disperser.go
  packages/eventindexer/cmd/flags/txmgr.go
  packages/eventindexer/disperser/config.go
  packages/eventindexer/pkg/flags/config.go
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/relayer/TaikoL1.json
  packages/relayer/bindings/bridge/Bridge.go
  packages/relayer/bindings/taikol1/TaikoL1.go
  packages/relayer/bridge.go
  packages/relayer/indexer/handle_message_processed_event.go
  packages/relayer/indexer/indexer.go
  packages/relayer/pkg/mock/bridge.go
  packages/relayer/pkg/mock/eth_client.go
  packages/relayer/pkg/queue/queue.go
  packages/relayer/processor/is_profitable.go
  packages/relayer/processor/is_profitable_test.go
  packages/relayer/processor/process_message.go
  packages/relayer/prometheus.go
  packages/relayer/watchdog/watchdog.go
Labels: area.bridge

#16809 feat(protocol): remove ERC20SnapshotUpgradeable from TaikoToken and BrigedERC20 tokens
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
Labels: area.protocol

#16823 feat(bridge-ui): mobile style for claim dialogs
  packages/bridge-ui/src/components/Dialogs/ClaimDialog/ClaimDialog.svelte
  packages/bridge-ui/src/components/Dialogs/ReleaseDialog/ReleaseDialog.svelte
  packages/bridge-ui/src/components/Dialogs/RetryDialog/RetryDialog.svelte
  packages/bridge-ui/src/libs/token/getCanonicalInfoForToken.ts
Labels: area.bridge

#16693 chore(main): release bridge-ui 4.1.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#16829 chore(main): release bridge-ui 4.2.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#16831 feat(protocol): allow GuardianProver set TKO allowance for TaikoL1
  packages/protocol/contracts/L1/TaikoToken.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/script/DeployTaikoToken.s.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
Labels: area.protocol

#16834 feat(bridge-ui): fee adjustments
  packages/bridge-ui/.env.example
  packages/bridge-ui/src/app.config.ts
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/ImportStep/ManualImport.svelte
  packages/bridge-ui/src/libs/bridge/ERC1155Bridge.ts
  packages/bridge-ui/src/libs/bridge/ERC20Bridge.ts
  packages/bridge-ui/src/libs/bridge/ERC721Bridge.ts
  packages/bridge-ui/src/libs/bridge/isSupportedNFTInterface.ts
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
Labels: area.bridge

#16821 chore(repo): update actions versions and customize typo checking
  .github/_typos.toml
  .github/actions/install-pnpm-dependencies/action.yml
  .github/workflows/typos.yml
  .github/workflows/validate-pr-title.yml
  README.md
Labels: area.protocol

#16755 chore(main): release protocol 1.4.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#16842 feat(guardian-prover-health-check-ui): remove kimchi
  packages/guardian-prover-health-check-ui/package.json
  packages/guardian-prover-health-check-ui/src/components/HealthChecks/HealthChecksList.svelte
  packages/guardian-prover-health-check-ui/static/config/hekla/guardians.json
Labels: area.guardian-prover-dashboard

#16841 feat(relayer): more logs for hekla
  packages/relayer/pkg/proof/block_header.go
  packages/relayer/pkg/proof/encoded_signal_proof.go
  packages/relayer/processor/is_profitable.go
  packages/relayer/processor/is_profitable_test.go
  packages/relayer/processor/process_message.go
Labels: area.relayer

#16864 chore(protocol): recover the out-of-data tcb info error.
  packages/protocol/contracts/automata-attestation/AutomataDcapV3Attestation.sol
  packages/protocol/test/automata-attestation/assets/0424/tcb_00906ED50000.json
  packages/protocol/test/automata-attestation/assets/0424/tcb_00A067110000.json
  packages/protocol/test/automata-attestation/assets/0923/tcb_00606A000000.json
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
Labels: area.protocol

#16830 feat(supplementary-contracts): add TokenUnlocking
  packages/supplementary-contracts/contracts/TokenUnlocking.sol
  packages/supplementary-contracts/script/DeployTokenUnlocking.s.sol
  packages/supplementary-contracts/test/TokenUnlocking.t.sol
Labels: area.protocol

#16874 chore(bridge-ui): css styles
  packages/bridge-ui/src/components/ChainSelectors/ChainPill/ChainPill.svelte
  packages/bridge-ui/src/components/ChainSelectors/SelectorDialogs/ChainsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
Labels: area.bridge

#16904 feat(protocol): add `PAUSE_TAIKO_L1` config to `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Labels: area.protocol

#16907 feat(protocol): execute `enableTaikoTokenAllowance` in `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#16912 feat(bridge-ui): handle transaction timeouts
  packages/bridge-ui/src/abi/index.ts
  packages/bridge-ui/src/app.config.ts
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/ConfirmationStep/ConfirmationStep.svelte
  packages/bridge-ui/src/components/NotificationToast/NotificationToast.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/error/errors.ts
  packages/bridge-ui/src/stores/pendingTransactions.ts
Labels: area.bridge

#16913 feat(protocol): update L1 / L2 deployment scripts
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/genesis/test_config.js
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/protocol/utils/generate_genesis/interface.ts
  packages/protocol/utils/generate_genesis/main.ts
  packages/protocol/utils/generate_genesis/taikoL2.ts
Labels: area.protocol

#16914 feat(protocol): change min base fee to 0.01 gwei
  packages/protocol/contracts/L2/LibL2Config.sol
  packages/protocol/test/L2/Lib1559Math.t.sol
Labels: area.protocol

#16921 fix(protocol): fix a workflow issue
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#16927 feat(protocol): add `PAUSE_BRIDGE` env to `DeployOnL1` script
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Labels: area.protocol
