Repository taikoxyz/taiko-mono, pull requests merged in 2024-07, with the labels that each got.

#17702 docs(docs-site,protocol): deploy proverset guide and scripts
  packages/docs-site/astro.config.ts
  packages/docs-site/src/assets/content/docs/guides/verify-as-proxy.webp
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-proposer.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/protocol/script/DeployProverSet.s.sol
  packages/protocol/script/DeployProverSetUtil.s.sol
Labels: area.docs

#17698 chore(relayer): delete duplicate DB interface
  packages/relayer/indexer/config.go
  packages/relayer/indexer/config_test.go
  packages/relayer/indexer/indexer.go
  packages/relayer/pkg/db/db.go
  packages/relayer/processor/config.go
  packages/relayer/processor/config_test.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/config.go
  packages/relayer/watchdog/config_test.go
  packages/relayer/watchdog/watchdog.go
Labels: area.relayer

#17712 docs(docs-site): add disclaimer and reminder to set addresses
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
Labels: area.docs

#17714 chore(bridge-ui): add DAI
  packages/bridge-ui/static/coins/dai.webp
Labels: area.bridge

#17674 chore(main): release docs-site 1.11.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17707 chore(protocol): check in data for the first token grant exercise
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/foundry.toml
  packages/protocol/script/tokenunlock/Vest.s.sol
  packages/protocol/script/tokenunlock/exercise1.data.json
Labels: area.protocol

#17709 chore(relayer): close db connection before stop service.
  packages/relayer/event.go
  packages/relayer/indexer/indexer.go
  packages/relayer/pkg/http/server.go
  packages/relayer/pkg/mock/event_repository.go
  packages/relayer/pkg/repo/event.go
  packages/relayer/processor/processor.go
  packages/relayer/watchdog/watchdog.go
Labels: area.relayer

#17699 chore(relayer): upgrade event db operation
  packages/relayer/event.go
  packages/relayer/indexer/indexer.go
  packages/relayer/indexer/set_initial_Indexing_block_by_mode.go
  packages/relayer/pkg/http/get_block_info.go
  packages/relayer/pkg/mock/event_repository.go
  packages/relayer/pkg/repo/event.go
Labels: area.relayer

#17717 feat(protocol): update `tier_router` address in `L1RollupAddressManager`
  packages/protocol/contracts/mainnet/L1RollupAddressManager.sol
Labels: area.protocol

#17689 docs(protocol): update L2 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
Labels: area.docs

#17711 feat(taiko-client): add proof status check before generating proof
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client, category.feature

#17724 feat(taiko-client): add `defaultRequestTimeout` for `SGXProofProducer`
  packages/taiko-client/pkg/rpc/beaconclient.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/dial.go
  packages/taiko-client/pkg/rpc/ethclient.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client

#17726 feat(taiko-client): add `--epoch.minTip` flag
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/pkg/rpc/engine.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#17727 feat(taiko-client): introduce `--epoch.allowZeroInterval` flag
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
Labels: area.client

#17723 refactor(taiko-client): rm unused code and refactor
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/prover_selector/eth_fee_eoa_selector.go
  packages/taiko-client/proposer/prover_selector/eth_fee_eoa_selector_test.go
  packages/taiko-client/proposer/prover_selector/interface.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
  packages/taiko-client/proposer/transaction_builder/interface.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/prover_test.go
Labels: category.enhancement, area.client

#17728 feat(taiko-client): make request timeout to raiko configurable
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
Labels: area.client, category.feature

#17730 docs(docs-site,protocol): streamline ProverSet deployment
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/protocol/script/DeployProverSet.s.sol
  packages/protocol/script/DeployProverSetUtil.s.sol
Labels: area.docs, area.developer-experience

#17725 feat(protocol): allow TAIKO token bonds deposits and withdrawal
  packages/protocol/contracts/L1/ITaikoL1.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibBonds.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/team/proving/ProverSet.sol
  packages/protocol/test/L1/TaikoL1TestGroup1.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup10.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup2.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup3.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup4.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup5.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup6.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup9.t.sol
  packages/protocol/test/L1/TaikoL1TestGroupBase.sol
Labels: area.protocol

#17731 chore(main): release docs-site 1.11.3
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17716 chore(bridge-ui): update stablecoin warning and campaign info
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ReviewStep/ReviewStep.svelte
  packages/bridge-ui/src/i18n/en.json
Labels: area.bridge

#17733 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_lib_proving.go
  packages/taiko-client/bindings/gen_lib_verifying.go
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_token.go
Labels: area.client

#17679 feat(protocol): prepare `ontake` fork to support new params & metadata
  packages/protocol/contracts/L1/ITaikoL1.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/access/IProposerAccess.sol
  packages/protocol/contracts/L1/access/ProposerRegistry.sol
  packages/protocol/contracts/L1/libs/LibData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/L1/tiers/TierProviderV3.sol
  packages/protocol/contracts/L1/tiers/TierRouter.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/AddressManager.sol
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/mainnet/L1RollupAddressManager.sol
  packages/protocol/contracts/mainnet/L1SharedAddressManager.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/test/L1/GuardianProver1.t.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestGroupBase.sol
  packages/protocol/test/L1/TaikoL1testGroupA1.t.sol
  packages/protocol/test/L1/TaikoL1testGroupA2.t.sol
Labels: area.protocol

#17735 feat(taiko-client): introduce `TryDecompressHekla()`
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
Labels: area.client

#17648 chore(main): release taikoon-ui 1.2.0
  .release-please-manifest.json
  packages/taikoon-ui/CHANGELOG.md
  packages/taikoon-ui/package.json
Labels: autorelease: pending

#17736 docs(protocol): update L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#17740 refactor(taiko-client): rm unused tier fee
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/config_test.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17748 feat(taiko-client): remove prover server package
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/input_test.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/gen_assignment_hook.go
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/docs/docs.go
  packages/taiko-client/docs/index.html
  packages/taiko-client/docs/swagger.json
  packages/taiko-client/docs/swagger.yaml
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/config_test.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
  packages/taiko-client/prover/server/api.go
  packages/taiko-client/prover/server/api_test.go
  packages/taiko-client/prover/server/server.go
  packages/taiko-client/prover/server/server_test.go
Labels: area.client

#17750 refactor(taiko-client): rm tier fee related flag
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17749 docs(protocol): add more token unlock contracts
  packages/protocol/script/tokenunlock/exercise1.data.json
Labels: area.docs

#17677 chore(main): release taiko-client 0.29.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17741 refactor(protocol): remove unused tier fee in TaikoData
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestGroupBase.sol
Labels: area.protocol

#17757 docs(docs-site): update enable-prover site
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
Labels: area.docs

#17768 refactor(taiko-client): rm unused `L1_NODE_HTTP_ENDPOINT`
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17767 chore(guardian-prover-health-check-ui): add new hekla guardian address
  packages/guardian-prover-health-check-ui/src/lib/dataFetcher.ts
  packages/guardian-prover-health-check-ui/static/config/hekla/guardians.json
Labels: area.guardian-prover-dashboard

#17764 chore(main): release docs-site 1.11.4
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17738 docs(docs-site): update developer tools page
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs

#17762 chore(protocol): give more slots for verified blocks in ring buffer
  packages/protocol/contracts/L1/ITaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/TaikoL1Hekla.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/libs/LibNetwork.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#17766 docs(protocol): transfer Hekla ownerships
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#17763 docs(protocol): deploy more token unlock contract
  packages/protocol/script/tokenunlock/Vest.data.json
  packages/protocol/script/tokenunlock/Vest.s.sol
  packages/protocol/script/tokenunlock/exercise1.data.json
Labels: area.protocol

#17779 fix(protocol): revert Hekla ring buffer size changes
  packages/protocol/contracts/L1/TaikoL1Hekla.sol
  packages/protocol/script/upgrade/UpgradeTaikoL1.s.sol
Labels: area.protocol

#17780 docs(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/script/upgrade/UpgradeProverSet.s.sol
Labels: area.protocol

#17658 chore(main): release protocol 1.8.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#17799 docs(docs-site): add upgrade proverset script instructions
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-proposer.mdx
Labels: area.docs

#17795 feat(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#17802 fix(taiko-client): avoid seting nil value to `GuardianProverHeartbeater`
  packages/taiko-client/prover/event_handler/block_proposed.go
Labels: area.client

#17803 refactor(protocol): add MainnetSgxVerifier
  packages/protocol/contracts/mainnet/MainnetSgxVerifier.sol
  packages/protocol/contracts/mainnet/MainnetTierRouter.sol
  packages/protocol/script/DeployOnL1.s.sol
Labels: area.protocol

#17690 feat(taiko-client): updates for protocol preconfirmation changes
  .github/workflows/taiko-client--docker.yml
  packages/protocol/script/DeployOnL1.s.sol
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_lib_proving.go
  packages/taiko-client/bindings/gen_sequencer_registry.go
  packages/taiko-client/bindings/gen_sgx_verifier.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/cmd/flags/preconfapi.go
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/cmd/main.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/txlist_fetcher/blob.go
  packages/taiko-client/driver/txlist_fetcher/calldata.go
  packages/taiko-client/driver/txlist_fetcher/interface.go
  packages/taiko-client/integration_test/entrypoint.sh
  packages/taiko-client/integration_test/test_env.sh
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/rpc/blob_datasource.go
  packages/taiko-client/pkg/rpc/blob_datasource_test.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/preconfapi/builder/blob.go
  packages/taiko-client/preconfapi/builder/calldata.go
  packages/taiko-client/preconfapi/builder/interface.go
  packages/taiko-client/preconfapi/config.go
  packages/taiko-client/preconfapi/preconfapi.go
  packages/taiko-client/preconfapi/server/api.go
  packages/taiko-client/preconfapi/server/server.go
  packages/taiko-client/preconfapi/server/server_test.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/common.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
  packages/taiko-client/proposer/transaction_builder/interface.go
  packages/taiko-client/scripts/gen_bindings.sh
Labels: area.client

#17804 docs(protocol): update L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#17778 chore(main): release docs-site 1.11.5
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17812 docs(protocol): update L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#17777 feat(bridge-ui): relayer component
  packages/bridge-ui/src/components/Bridge/SharedBridgeComponents/AddressInput/AddressInput.svelte
  packages/bridge-ui/src/components/Dialogs/ClaimDialog/ClaimDialog.svelte
  packages/bridge-ui/src/components/Dialogs/Shared/ClaimPreCheck.svelte
  packages/bridge-ui/src/components/Relayer/Relayer.svelte
  packages/bridge-ui/src/components/Relayer/index.ts
  packages/bridge-ui/src/components/Transactions/Filter/StatusFilterDropdown.svelte
  packages/bridge-ui/src/components/Transactions/Status/Status.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/Bridge.ts
  packages/bridge-ui/src/libs/bridge/fetchTransactions.ts
  packages/bridge-ui/src/libs/bridge/types.ts
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui/src/routes/relayer/+page.svelte
  packages/bridge-ui/src/routes/transactions/+page.svelte
Labels: area.bridge

#17386 chore(main): release bridge-ui 2.12.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#17747 chore(eventindexer): upgrade eventindexer
  packages/eventindexer/.gitignore
  packages/eventindexer/ProverPool.json
  packages/eventindexer/SgxVerifier.json
  packages/eventindexer/Swap.json
  packages/eventindexer/TaikoL1.json
  packages/eventindexer/TaikoToken.json
  packages/eventindexer/api/api.go
  packages/eventindexer/api/config.go
  packages/eventindexer/db.go
  packages/eventindexer/event.go
  packages/eventindexer/generator/config.go
  packages/eventindexer/generator/config_test.go
  packages/eventindexer/generator/generator.go
  packages/eventindexer/indexer/config.go
  packages/eventindexer/indexer/indexer.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
  packages/eventindexer/pkg/db/db.go
  packages/eventindexer/pkg/flags/config.go
  packages/eventindexer/pkg/mock/event_repository.go
  packages/eventindexer/pkg/repo/account.go
  packages/eventindexer/pkg/repo/account_test.go
  packages/eventindexer/pkg/repo/chart.go
  packages/eventindexer/pkg/repo/chart_test.go
  packages/eventindexer/pkg/repo/containers_test.go
  packages/eventindexer/pkg/repo/erc20_balance.go
  packages/eventindexer/pkg/repo/erc20_balance_test.go
  packages/eventindexer/pkg/repo/event.go
  packages/eventindexer/pkg/repo/interface.go
  packages/eventindexer/pkg/repo/nft_balance.go
  packages/eventindexer/pkg/repo/nft_balance_test.go
  packages/eventindexer/pkg/repo/nft_metadata.go
  packages/eventindexer/pkg/repo/transaction.go
  packages/eventindexer/pkg/repo/transaction_test.go
  packages/eventindexer/scripts/abigen.sh
Labels: area.event-indexer

#17752 fix(guardian-prover-health-check): upgrades relate Database operation
  packages/guardian-prover-health-check/db.go
  packages/guardian-prover-health-check/db/db.go
  packages/guardian-prover-health-check/healthcheck.go
  packages/guardian-prover-health-check/healthchecker/config.go
  packages/guardian-prover-health-check/healthchecker/config_test.go
  packages/guardian-prover-health-check/healthchecker/healthchecker.go
  packages/guardian-prover-health-check/http/get_health_checks_by_guardian_prover_address_test.go
  packages/guardian-prover-health-check/http/get_health_checks_test.go
  packages/guardian-prover-health-check/http/get_most_recent_signed_block_by_guardian_prover_address.go
  packages/guardian-prover-health-check/http/get_most_recent_signed_block_by_guardian_prover_address_test.go
  packages/guardian-prover-health-check/http/get_most_recent_startup_by_guardian_prover_address_test.go
  packages/guardian-prover-health-check/http/get_signed_blocks.go
  packages/guardian-prover-health-check/http/get_startups_by_guardian_prover_address_test.go
  packages/guardian-prover-health-check/http/post_health_check.go
  packages/guardian-prover-health-check/http/post_signed_block.go
  packages/guardian-prover-health-check/http/post_startup.go
  packages/guardian-prover-health-check/mock/db.go
  packages/guardian-prover-health-check/mock/health_check_repo.go
  packages/guardian-prover-health-check/mock/signed_block_repo.go
  packages/guardian-prover-health-check/mock/startup_repo.go
  packages/guardian-prover-health-check/repo/containers_test.go
  packages/guardian-prover-health-check/repo/db.go
  packages/guardian-prover-health-check/repo/healthcheck.go
  packages/guardian-prover-health-check/repo/healthcheck_test.go
  packages/guardian-prover-health-check/repo/signed_block.go
  packages/guardian-prover-health-check/repo/signed_block_test.go
  packages/guardian-prover-health-check/repo/startup.go
  packages/guardian-prover-health-check/repo/startup_test.go
  packages/guardian-prover-health-check/signed_block.go
  packages/guardian-prover-health-check/startup.go
Labels: area.guardian-prover-dashboard

#17751 build(guardian-prover-health-check): upgrade scripts and ignore abi json files
  packages/guardian-prover-health-check/.gitignore
  packages/guardian-prover-health-check/GuardianProver.json
  packages/guardian-prover-health-check/scripts/abigen.sh
  packages/guardian-prover-health-check/scripts/swagger.sh
Labels: area.guardian-prover-dashboard

#17817 docs(protocol): update L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#17814 chore(main): release docs-site 1.11.6
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17816 fix(eventindexer): slow md indexing
  packages/eventindexer/AssignmentHook.json
  packages/eventindexer/Bridge.json
  packages/eventindexer/indexer/fetch_nft_metadata.go
  packages/eventindexer/indexer/index_erc20_transfers.go
  packages/eventindexer/indexer/index_nft_transfers.go
  packages/eventindexer/migrations/20270906208850_alter_nft_metadata_addtl_indexes.sql
  packages/eventindexer/migrations/20270906208851_alter_nft_balances_addtl_indexes.sql
  packages/eventindexer/migrations/20270906208852_alter_erc20_balances_addtl_indexes.sql
  packages/eventindexer/pkg/repo/nft_balance.go
Labels: area.event-indexer

#17820 chore(main): release docs-site 1.11.7
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17718 feat(protocol): enhance nextTxId logics in DelegateOwner
  packages/protocol/.eslintignore
  packages/protocol/.solhintignore
  packages/protocol/contracts/L2/DelegateOwner.sol
  packages/protocol/deployments/mainnet-contract-logs-L2.md
  packages/protocol/script/DeployL2DelegateOwner.s.sol
  packages/protocol/script/L1DelegateOwnerBatching.s.sol
  packages/protocol/script/SendMessageToDelegateOwner.s.sol
  packages/protocol/test/L2/DelegateOwner.t.sol
  packages/protocol/test/common/TestMulticall3.sol
  packages/protocol/test/thirdparty/muticall3/Multicall3.sol
Labels: area.protocol

#17834 fix(repo): readme svg path
  README.md
Labels: area.docs

#17836 docs(repo): uncomment readme tip
  README.md
Labels: area.docs

#17832 fix(bridge-ui): balance visually not updating correctly when switching chains
  packages/bridge-ui/src/components/Bridge/FungibleBridgeComponents/ImportStep/TokenInput/TokenInput.svelte
Labels: area.bridge

#17823 fix(protocol): fix BridgedERC20V2.sol initializer logic
  packages/protocol/contract_layout.md
  packages/protocol/contracts/tokenvault/BridgedERC20V2.sol
  packages/protocol/deployments/gen-layouts.sh
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/tokenvault/BridgedERC20V2.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
Labels: category.bug, area.protocol

#17734 feat(protocol): apply multiple improvements for "ontake" fork
  packages/protocol/contracts/L1/ITaikoL1.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/access/IProposerAccess.sol
  packages/protocol/contracts/L1/libs/LibData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/L1/tiers/TierProviderV3.sol
  packages/protocol/contracts/L2/Lib1559Math.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/hekla/HeklaTaikoL1.sol
  packages/protocol/contracts/mainnet/LibRollupAddressCache.sol
  packages/protocol/contracts/mainnet/MainnetTierRouter.sol
  packages/protocol/contracts/team/proving/ProverSet.sol
  packages/protocol/contracts/tko/BridgedTaikoToken.sol
  packages/protocol/contracts/tko/TaikoToken.sol
  packages/protocol/contracts/tokenvault/BridgedERC20V2.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/test/L1/GuardianProver1.t.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestGroupBase.sol
  packages/protocol/test/L1/TaikoL1testGroupA1.t.sol
  packages/protocol/test/L1/TaikoL1testGroupA2.t.sol
  packages/protocol/test/thirdparty/muticall3/Multicall3.sol
Labels: area.protocol

#17845 docs(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#17846 docs(protocol): update mainnet deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs, area.protocol

#17844 chore(repo): update to bondBalanceOf
  packages/balance-monitor/balance-monitor/balance_monitor.go
Labels: area.developer-experience

#17850 feat(protocol): introduce `AssembleAnchorV2Tx` method in `AnchorTxConstructor`
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
Labels: area.client

#17849 refactor(protocol): delete packages/protocol/contracts/compiled
  packages/protocol/contracts/compiled/FiatTokenProxy.json
  packages/protocol/contracts/compiled/FiatTokenV2_1.json
  packages/protocol/contracts/compiled/README.md
Labels: area.protocol

#17853 feat(taiko-client): introduce `BasefeeSharingPctg` in `BlockMetadata`
  go.mod
  go.sum
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
Labels: area.client

#17133 chore(main): release guardian-prover-health-check-ui 0.2.0
  .release-please-manifest.json
  packages/guardian-prover-health-check-ui/CHANGELOG.md
  packages/guardian-prover-health-check-ui/package.json
Labels: autorelease: pending
