Repository taikoxyz/taiko-mono, pull requests merged in 2024-12, with the labels that each got.

#18537 chore(protocol): fix typos
  packages/protocol/script/layer1/mainnet/SendMessageToDelegateOwner.s.sol
  packages/protocol/test/shared/libs/LibAddress.h.sol
Labels: area.protocol

#18536 chore(protocol): remove MainnetTierProvider due to no found
  packages/protocol/contract_layout_layer1.md
  packages/protocol/script/gen-layouts.sh
  packages/protocol/snapshots/TaikoL1Test_Suite1.json
Labels: area.protocol

#18163 feat(taiko-client): enable proof aggregation (batch proofs)
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/pkg/rpc/ethclient.go
  packages/taiko-client/pkg/rpc/ethclient_test.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/dummy_producer.go
  packages/taiko-client/prover/proof_producer/guardian_producer.go
  packages/taiko-client/prover/proof_producer/optimistic_producer.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/interface.go
  packages/taiko-client/prover/proof_submitter/proof_buffer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client, category.feature

#18542 feat(docs-site): add taiko-protocol section with economics and codebase analysis
  packages/docs-site/astro.config.ts
  packages/docs-site/src/assets/content/docs/taiko-protocol/based-economics.png
  packages/docs-site/src/assets/content/docs/taiko-protocol/bridging-dest-chain.webp
  packages/docs-site/src/assets/content/docs/taiko-protocol/bridging-source-chain.webp
  packages/docs-site/src/assets/content/docs/taiko-protocol/proposed.png
  packages/docs-site/src/assets/content/docs/taiko-protocol/proved.png
  packages/docs-site/src/assets/content/docs/taiko-protocol/taiko-nodes.png
  packages/docs-site/src/assets/content/docs/taiko-protocol/verified.png
  packages/docs-site/src/content/docs/core-concepts/based-rollup.md
  packages/docs-site/src/content/docs/core-concepts/contestable-rollup.md
  packages/docs-site/src/content/docs/core-concepts/inception-layers.md
  packages/docs-site/src/content/docs/core-concepts/multi-proofs.md
  packages/docs-site/src/content/docs/core-concepts/what-is-taiko.md
  packages/docs-site/src/content/docs/taiko-protocol/block-states.mdx
  packages/docs-site/src/content/docs/taiko-protocol/bridging.md
  packages/docs-site/src/content/docs/taiko-protocol/codebase-analysis/taikol1-contract.md
  packages/docs-site/src/content/docs/taiko-protocol/codebase-analysis/taikol2-contract.md
  packages/docs-site/src/content/docs/taiko-protocol/economics.md
  packages/docs-site/src/content/docs/taiko-protocol/taiko-nodes.md
Labels: area.docs

#18550 chore(main): release docs-site 1.20.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18554 chore(docs-site): update hekla proof tier config graphic and address
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#18552 chore(docs-site): add goldsky to dev tools
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs

#18558 chore(protocol): test Ether as bond asset
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/ITaikoL1.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/test/layer1/based/TaikoL1_EtherAsBond.t.sol
Labels: area.protocol

#18544 feat(taiko-client): don't change safeBlockHash and finalizedBlockHash
  packages/taiko-client/driver/chain_syncer/blob/soft_block.go
Labels: area.client

#18553 feat(protocol): decrease the rate of risc0 in Hekla
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/hekla/HeklaTierRouter.sol
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs, area.protocol

#18561 fix(docs-site): correct graphic
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#18555 chore(main): release docs-site 1.20.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18562 fix(docs-site): link of goldsky in dev tools
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs

#18563 chore(main): release docs-site 1.20.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18572 fix(docs-site): update hekla graphic
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
Labels: area.docs

#18546 feat(bridge-ui): remove fee padding
  packages/bridge-ui/src/components/Transactions/Dialogs/DesktopDetailsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Rows/FungibleTransactionRow.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/fee/recommendProcessingFee.ts
  packages/bridge-ui/src/libs/fee/recommendedProcessingFee.test.ts
Labels: area.bridge

#18575 chore(protocol): test bond mechanics and calldata for txlist
  packages/protocol/contract_layout_layer1.md
  packages/protocol/snapshots/TaikoL1Test_Suite1.json
  packages/protocol/test/layer1/based/TaikoL1TestBase.sol
  packages/protocol/test/layer1/based/TaikoL1_BondMechanics.t.sol
  packages/protocol/test/layer1/based/TaikoL1_BondToken.t.sol
  packages/protocol/test/layer1/based/TaikoL1_CalldataForTxList.t.sol
Labels: area.protocol

#18547 feat(nfts): eventRegister contract update
  packages/nfts/contracts/eventRegister/EventRegister.sol
  packages/nfts/deployments/eventRegister/hekla.json
  packages/nfts/deployments/eventRegister/mainnet.json
  packages/nfts/script/trailblazer/eventRegister/Deploy.s.sol
  packages/nfts/test/trailblazer/eventRegister/EventRegister.t.sol
Labels: area.nfts

#18591 ci(relayer): stop running CI actions when updating `go.mod`
  .github/workflows/eventindexer.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/relayer.yml
Labels: area.repo

#18596 feat(repo): disable docs-site preview run on fork
  .github/workflows/docs-site--preview.yml
Labels: area.repo

#18585 chore(docs-site): fix broken link
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
Labels: area.docs

#18586 chore(docs-site): fix typos in node operator guides
  packages/docs-site/src/content/docs/guides/node-operators/node-troubleshooting.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-mainnet-taiko-node-from-source.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-node-with-docker.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-testnet-taiko-node-from-source.mdx
Labels: area.docs

#18549 feat(bridge-ui): add curve
  packages/bridge-ui/static/coins/crvUSD.png
  packages/bridge-ui/static/coins/curve.png
  packages/bridge-ui/static/coins/scrvUSD.png
Labels: area.bridge

#18533 feat(taiko-client): check baseFee before append the latest soft block
  packages/taiko-client/driver/chain_syncer/blob/soft_block.go
Labels: area.client

#18598 docs(protocol): update Hekla deployments
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18508 feat(protocol): introduce ForkManager to improve protocol fork management
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/fork/ForkManager.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/test/layer1/fork/ForkManager.t.sol
Labels: area.protocol

#18595 fix(taiko-client): valid status check in `BatchGetBlocksProofStatus`
  packages/taiko-client/pkg/rpc/ethclient.go
  packages/taiko-client/pkg/rpc/utils.go
Labels: category.bug, area.client

#18569 feat(protocol): allow block propose to pass a bytes32 input to L2 anchor
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/ITaikoL1.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer2/based/TaikoL2.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/snapshots/TaikoL1Test_Suite1.json
  packages/protocol/test/layer2/TaikoL2.t.sol
Labels: area.protocol

#18578 fix(nft): fix s2 badges remigration
  packages/nfts/contracts/trailblazers-season-2/BadgeRecruitment.sol
  packages/nfts/contracts/trailblazers-season-2/BadgeRecruitmentV2.sol
  packages/nfts/contracts/trailblazers-season-2/TrailblazersS1BadgesV4.sol
  packages/nfts/contracts/trailblazers-season-2/TrailblazersS1BadgesV5.sol
  packages/nfts/deployments/trailblazers-season-2/hekla.json
  packages/nfts/package.json
  packages/nfts/script/trailblazers-season-2/RecruitmentUpgradeV2.s.sol
  packages/nfts/test/trailblazers-season-2/BadgeRecruitment.t.sol
  packages/nfts/test/trailblazers-season-2/BadgeRecruitmentV2.t.sol
Labels: area.nfts

#18570 feat(protocol): propose a batch blocks conditionally
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
Labels: area.protocol, category.feature

#18571 feat(taiko-client): make p2p-sync required
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/config_test.go
  packages/taiko-client/driver/driver.go
Labels: area.client, category.feature

#18604 chore(protocol): Add tests for LibBytes
  packages/protocol/test/shared/libs/LibBytes.t.sol
Labels: area.protocol

#18587 feat(protocol): allow same-slot L1-to-L2 signalling
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/ITaikoL1.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer1/devnet/DevnetTaikoL1.sol
  packages/protocol/contracts/layer1/hekla/HeklaTaikoL1.sol
  packages/protocol/contracts/layer1/mainnet/MainnetTaikoL1.sol
  packages/protocol/contracts/layer2/based/TaikoL2.sol
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/test/layer1/based/TaikoL1_BondMechanics.t.sol
  packages/protocol/test/layer1/based/TaikoL1_BondToken.t.sol
  packages/protocol/test/layer1/based/TaikoL1_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/TaikoL1_EtherAsBond.t.sol
  packages/protocol/test/layer1/based/TaikoL1_suite1.t.sol
  packages/protocol/test/layer2/TaikoL2.t.sol
  packages/protocol/test/shared/libs/LibAddress.t.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Labels: area.protocol

#18606 feat(protocol): add deployment scripts for `Pacaya`
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/package.json
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/DeployTaikoToken.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/test/shared/DeployCapability.sol
Labels: area.protocol

#18607 feat(protocol): fix `Pacaya` genesis generation && tests
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/data/genesis_config.js
  packages/protocol/test/genesis/data/genesis_config.json
  packages/protocol/test/genesis/generate/erc20.ts
  packages/protocol/test/genesis/generate/generate.ts
  packages/protocol/test/genesis/generate/interface.ts
  packages/protocol/test/genesis/generate/taikoAnchor.ts
  packages/protocol/test/genesis/generate/utils.ts
  packages/protocol/test/genesis/mainnet.js
  packages/protocol/test/genesis/test_config.js
Labels: area.protocol

#18430 chore(main): release bridge-ui 2.13.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#18613 feat(protocol): adjust the zk ratio(risc0 & sp1)
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
Labels: area.protocol, category.feature

#18614 chore(protocol): Add tests for proposeBlocksV3 reverts for invalid preconfRouter
  packages/protocol/test/layer1/based/InboxTest_Suite1.t.sol
Labels: area.protocol

#18619 feat(protocol): update `RollupAddressCache` with new `MainnetTierRouter` address
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
Labels: area.protocol

#18620 chore(protocol): delete gas debug event
  packages/protocol/contracts/layer1/based/TaikoL1.sol
Labels: area.protocol

#18617 chore(docs-site): update proof tier graphic
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-mn.webp
  packages/docs-site/src/content/docs/network-reference/mainnet-addresses.md
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#18626 chore(protocol): add tests for LibNetwork
  packages/protocol/test/shared/libs/LibNetwork.t.sol
Labels: area.protocol

#18629 fix(taiko-client): only clear submitted proof
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: category.bug, area.client

#18630 feat(taiko-client): only update `LastUpdatedAt` after batch proof submission
  packages/taiko-client/prover/proof_submitter/proof_buffer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client

#18627 feat(taiko-client): improve `ProofBuffer`
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/interface.go
  packages/taiko-client/prover/proof_submitter/proof_buffer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18436 chore(main): release taiko-client 0.40.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18633 ci(protocol): make the storage layout table clearer
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/script/gen-layouts.sh
Labels: area.docs

#18579 feat(docs-site): add doc for SGX Verifier.
  packages/docs-site/astro.config.ts
  packages/docs-site/src/content/docs/taiko-protocol/codebase-analysis/sgxverifier-contract.md
Labels: area.docs

#18592 chore(main): release docs-site 1.21.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18637 chore(repo): fix monorepo readme links
  .github/workflows/protocol-monitors.yml
  README.md
  packages/monitors/README.md
Labels: area.docs

#18621 docs(protocol): update mainnet deployment docs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18635 chore(repo): fix broken links
  .github/workflows/protocol-monitors.yml
  .github/workflows/repo--check-links.yml
  .github/workflows/taiko-client--test.yml
  README.md
  lychee.toml
  packages/docs-site/src/content/docs/network-reference/software-releases-and-deployments.md
  packages/monitors/README.md
  packages/taiko-client/README.md
Labels: area.docs

#18634 chore(repo): improve license
  LICENSE
  LICENSE.md
Labels: area.docs

#18433 chore(main): release protocol 1.11.0
  .github/workflows/repo--check-links.yml
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18645 docs(protocol): update mainnet deployment docs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18644 feat(taiko-client): catch raiko deserialization errors
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client, category.feature

#18643 feat(taiko-client): optimize aggregation logging
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client, category.feature

#18647 test(taiko-client): cleanup pre-ontake tests
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor_test.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/proof_producer/dummy_producer_test.go
  packages/taiko-client/prover/proof_producer/guardian_producer_test.go
  packages/taiko-client/prover/proof_producer/optimistic_producer_test.go
  packages/taiko-client/prover/proof_producer/sgx_producer_test.go
  packages/taiko-client/prover/proof_submitter/proof_contester_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#18648 feat(taiko-client): revert pr-18571
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/config_test.go
  packages/taiko-client/driver/driver.go
Labels: area.client, category.feature

#18651 ci(taiko-client): release client as `"taiko-alethia-client"`
  .release-please-manifest.json
Labels: area.client

#18653 fix(repo): improve link checking
  .github/workflows/repo--check-links.yml
  lychee.toml
Labels: area.repo

#18654 ci(repo): fix release-please
  .release-please-manifest.json
  release-please-config.json
Labels: area.repo

#18650 docs(repo): fix README
  README.md
Labels: area.protocol

#18659 feat(protocol): make `TaikoL2Deprecated` ABI go-ethereum compatible
  packages/protocol/contracts/layer2/based/TaikoL2Deprecated.sol
Labels: area.client

#18660 feat(taiko-client): introduce `TaikoL2.GetBasefeeV2`
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/gen_tier_provider.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18663 chore(main): release taiko-alethia-protocol 1.11.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18664 fix(taiko-client): fix `GetBasefeeV2` usage
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client, category.feature

#18668 feat(taiko-client): remove an unused package
  packages/taiko-client/pkg/rpc/engine.go
  packages/taiko-client/pkg/rpc/ethclient.go
  packages/taiko-client/pkg/rpc/fallback.go
  packages/taiko-client/pkg/rpc/fallback_test.go
  packages/taiko-client/pkg/utils/utils.go
  packages/taiko-client/proposer/proposer.go
Labels: area.client

#18657 only check metahash if the parameter is non-zero
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.h.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
Labels: area.protocol

#18616 feat(protocol): add solver support to enable fast bridging of erc20 tokens from L2 to L1
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/shared/bridge/IBridge.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.h.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
Labels: area.protocol

#18669 chore(taiko-client): improve `proofBuffer` logs
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client

#18655 chore(main): release taiko-alethia-client 0.41.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18671 ci(taiko-client): update docker image building configs
  .github/workflows/taiko-client--docker.yml
Labels: area.client

#18673 chore(main): release taiko-alethia-client 0.41.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18674 chore(taiko-client): optimize logging
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: category.enhancement, area.client

#18677 chore(taiko-client): cleanup pre-ontake prover code
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/proof_submitter/transaction/builder_test.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18678 chore(taiko-client): remove some unused flags
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/config_test.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client
