Repository taikoxyz/taiko-mono, pull requests merged in 2024-10, with the labels that each got.

#18201 fix(repo): fix taiko-client docker workflow
  .github/workflows/taiko-client--docker.yml
Labels: area.repo

#18192 feat(nfts): tbz s1 claim contracts
  packages/nfts/contracts/trailblazers-airdrop/ERC20Airdrop.sol
  packages/nfts/contracts/trailblazers-airdrop/MerkleClaimable.sol
  packages/nfts/deployments/trailblazers-airdrop/hekla.json
  packages/nfts/deployments/trailblazers-airdrop/mainnet.json
  packages/nfts/package.json
  packages/nfts/script/trailblazers-airdrop/Deploy.s.sol
  packages/nfts/script/trailblazers-airdrop/Utils.s.sol
  packages/nfts/test/trailblazers-airdrop/ERC20Airdrop.t.sol
  packages/nfts/test/util/MockTokens.sol
Labels: area.nfts

#18199 feat(protocol): enable sp1 batch aggregation
  packages/protocol/contracts/layer1/verifiers/SP1Verifier.sol
  packages/protocol/test/layer1/verifiers/SP1PlonkVerifier.t.sol
Labels: area.protocol

#18207 chore(main): release fork-diff 0.6.1
  .release-please-manifest.json
  packages/fork-diff/CHANGELOG.md
  packages/fork-diff/package.json
Labels: autorelease: pending

#18205 chore(docs): migrate the openzeppelin doc
  packages/monitors/defender/mainnet/README.md
Labels: area.docs

#18211 fix(taiko-client): correct finalized and safe block hash
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18202 chore(taiko-client): bump dependencies
  .github/workflows/eventindexer.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/relayer.yml
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
  Dockerfile
  go.mod
  go.sum
  packages/taiko-client/Dockerfile
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/pkg/jwt/jwt.go
  packages/taiko-client/pkg/rpc/beaconclient.go
  packages/taiko-client/pkg/rpc/blob_datasource.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/utils.go
Labels: area.client

#18213 chore(protocol): fix lint issue in SP1Verifier
  packages/protocol/.solhint.json
  packages/protocol/contracts/layer1/verifiers/SP1Verifier.sol
Labels: area.protocol

#18218 test(taiko-client): remove an unnecessary test
  packages/taiko-client/pkg/rpc/blob_datasource_test.go
Labels: area.client

#18191 chore(main): release taiko-client 0.38.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18219 chore(repo): remove Merge Gatekeeper
  .github/workflows/repo--merge-gatekeeper.yml
Labels: area.repo

#18224 feat(nfts): tbz s1 claim production deployments
  packages/nfts/contracts/trailblazers-airdrop/ERC20Airdrop.sol
  packages/nfts/contracts/trailblazers-airdrop/MerkleClaimable.sol
  packages/nfts/deployments/trailblazers-airdrop/hekla.json
  packages/nfts/deployments/trailblazers-airdrop/mainnet.json
  packages/nfts/package.json
  packages/nfts/script/trailblazers-airdrop/Deploy.s.sol
  packages/nfts/test/trailblazers-airdrop/ERC20Airdrop.t.sol
Labels: area.nfts, trailblazer

#18223 test(taiko-client): introduce `taiko-reth` as another L2 node in testing
  .github/workflows/taiko-client--test.yml
  packages/taiko-client/Makefile
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/docker/docker_env.sh
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
  packages/taiko-client/internal/docker/start.sh
  packages/taiko-client/internal/docker/stop.sh
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#18245 rename
  packages/protocol/contracts/layer1/preconf/avs-mvp/PreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/eigenlayer/PreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/impl/LibPreconfConstants.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfTaskManager.sol
  packages/protocol/contracts/layer1/preconf/mock/MockPreconfRegistry.sol
  packages/protocol/script/layer1/preconf/deployment/DeployAVS.s.sol
  packages/protocol/script/layer1/preconf/deployment/mock/DeployMockAVS.s.sol
  packages/protocol/test/layer1/preconf/blocks/BlockProposing.t.sol
  packages/protocol/test/layer1/preconf/fixtures/BlocksFixtures.sol
  packages/protocol/test/layer1/preconf/fixtures/LookaheadFixtures.sol
  packages/protocol/test/layer1/preconf/lookahead/IncorrectLookahead.t.sol
  packages/protocol/test/layer1/preconf/lookahead/LookaheadPosting.t.sol
Labels: area.protocol

#18252 feat(protocol): update mainnet `ontakeForkHeight` config
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTaikoL1.sol
Labels: area.protocol

#18246 chore(main): release docs-site 1.12.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18253 feat(taiko-client): update `OntakeForkHeight` in mainnet
  packages/taiko-client/bindings/encoding/protocol_config.go
Labels: area.client

#18255 feat(protocol): rename B_BLOCK_PROPOSER to B_PRECONF_REGISTRY
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/contracts/shared/common/LibStrings.sol
Labels: area.protocol

#18254 fix(protocol): fix an issue in same transition check
  packages/protocol/contracts/layer1/based/LibProving.sol
Labels: area.protocol

#18257 docs(protocol): update Hekla deployments
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18256 docs(taiko-client): update readme how to do integration test
  packages/taiko-client/integration_test/README.md
Labels: area.docs, category.enhancement, area.client

#18258 docs(protocol): update mainnet deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18234 feat(protocol): migrate Nethermind's preconf contracts here
  _typos.toml
  packages/protocol/.solhint.json
  packages/protocol/.solhintignore
  packages/protocol/contracts/layer1/preconf/README.md
  packages/protocol/contracts/layer1/preconf/avs-mvp/PreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/IAVSDirectory.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/IDelegationManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/ISlasher.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/IStrategyManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/AVSDirectory.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/DelegationManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/Slasher.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/StrategyManager.sol
  packages/protocol/contracts/layer1/preconf/eigenlayer/PreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfTaskManager.sol
  packages/protocol/contracts/layer1/preconf/impl/LibPreconfConstants.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfTaskManager.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBLS12381.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBLSSignature.sol
  packages/protocol/contracts/layer1/preconf/libs/LibEIP4788.sol
  packages/protocol/contracts/layer1/preconf/libs/LibMerkleUtils.sol
  packages/protocol/contracts/layer1/preconf/mock/MockPreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/mock/MockTaikoToken.sol
  packages/protocol/contracts/layer2/based/LibEIP1559.sol
  packages/protocol/contracts/layer2/based/TaikoL2.sol
  packages/protocol/foundry.toml
  packages/protocol/package.json
  packages/protocol/script/layer1/preconf/BaseScript.sol
  packages/protocol/script/layer1/preconf/deployment/DeployAVS.s.sol
  packages/protocol/script/layer1/preconf/deployment/DeployEigenlayerMVP.s.sol
  packages/protocol/script/layer1/preconf/deployment/deploy_avs.sh
  packages/protocol/script/layer1/preconf/deployment/deploy_eigenlayer_mvp.sh
  packages/protocol/script/layer1/preconf/deployment/mock/DeployMockAVS.s.sol
  packages/protocol/script/layer1/preconf/deployment/mock/DeployMockTaikoToken.s.sol
  packages/protocol/script/layer1/preconf/misc/EmptyContract.sol
  packages/protocol/test/layer1/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/layer1/automata-attestation/utils/DcapTestUtils.t.sol
  packages/protocol/test/layer1/automata-attestation/utils/V3QuoteParseUtils.t.sol
  packages/protocol/test/layer1/based/MockTaikoL1.sol
  packages/protocol/test/layer1/preconf/BaseTest.sol
  packages/protocol/test/layer1/preconf/beacon/BeaconProofsVerification.sol
  packages/protocol/test/layer1/preconf/blocks/BlockProposing.t.sol
  packages/protocol/test/layer1/preconf/bls/BLSExpandMsgXmd.t.sol
  packages/protocol/test/layer1/preconf/bls/BLSHashToFieldFp2.t.sol
  packages/protocol/test/layer1/preconf/bls/script-test/BLSHashToCurveG2.sol
  packages/protocol/test/layer1/preconf/bls/script-test/BLSVerifySignature.sol
  packages/protocol/test/layer1/preconf/fixtures/BeaconProofs.sol
  packages/protocol/test/layer1/preconf/fixtures/BlocksFixtures.sol
  packages/protocol/test/layer1/preconf/fixtures/LookaheadFixtures.sol
  packages/protocol/test/layer1/preconf/lookahead/IncorrectLookahead.t.sol
  packages/protocol/test/layer1/preconf/lookahead/LookaheadPosting.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockBeaconBlockRoot.sol
  packages/protocol/test/layer1/preconf/mocks/MockPreconfRegistry.sol
  packages/protocol/test/layer1/preconf/mocks/MockPreconfServiceManager.sol
  packages/protocol/test/layer2/LibEIP1559.t.sol
  packages/protocol/test/layer2/TaikoL2Test.sol
  pnpm-lock.yaml
Labels: area.protocol

#18267 chore(docs-site): remove banner
  packages/docs-site/src/content/config.ts
Labels: area.docs

#18268 chore(main): release docs-site 1.12.3
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18270 feat(protocol): scripts of upgrading zk verifier
  packages/protocol/script/layer1/UpdateRisc0Verifier.s.sol
  packages/protocol/script/layer1/UpdateSP1Verifier.s.sol
Labels: area.protocol, category.feature

#18271 chore(protocol): rename B_PRECONF_REGISTRY to B_PRECONF_TASK_MANAGER
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/contracts/shared/common/LibStrings.sol
Labels: area.protocol

#18274 feat(taiko-client): add swagger api for preconf server
  packages/taiko-client/.swaggo
  packages/taiko-client/docs/docs.go
  packages/taiko-client/docs/swagger.json
  packages/taiko-client/docs/swagger.yaml
  packages/taiko-client/driver/preconf_server/api.go
  packages/taiko-client/driver/preconf_server/server.go
  packages/taiko-client/scripts/gen_swagger_json.sh
Labels: area.docs

#18247 chore(main): release taiko-client 0.39.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18276 fix(protocol): update `slotB.lastUnpausedAt` by both general unpause and proving unpause
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/shared/common/EssentialContract.sol
Labels: area.protocol

#18277 fix(taiko-client): fix `lastVerifiedBlockHash` fetch
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
Labels: area.client

#18278 chore(main): release taiko-client 0.39.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18279 docs(protocol): upgrade zk verifiers in Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18282 feat(repo): skip release-please on release merge to main
  .github/workflows/repo--release-please.yml
Labels: area.repo

#18289 docs(protocol): update hekla tier provider
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18288 feat(protocol): Increase the probability of sgx proof for lab proposer
  packages/protocol/contracts/layer1/hekla/HeklaTierProvider.sol
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#18295 fix(taiko-client): fix path parsing in `/eth/v1/config/spec`
  packages/taiko-client/pkg/rpc/beaconclient.go
Labels: category.bug, area.client

#18284 chore(main): release taiko-client 0.39.2
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#18285 test(taiko-client): introduce TestTxPoolContentWithMinTip test case
  go.mod
  go.sum
  packages/eventindexer/.golangci.yml
  packages/relayer/.golangci.yml
  packages/relayer/pkg/mock/mock_tx_sender.go
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#18294 feat(docs-site): add pyth to taiko docs
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs

#18291 fix(protocol): correct the wrong router address for mainnet
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#18292 feat(protocol): make sure `init()` covers logics in `init2()`, `init3()`..
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/contracts/shared/common/AddressManager.sol
Labels: area.protocol

#18299 docs(protocol): update L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18300 fix(protocol): fix test related to SendMessageToDelegateOwner.s.sol
  packages/protocol/script/layer1/SendMessageToDelegateOwner.s.sol
Labels: area.protocol

#18301 chore(eventindexer): update timeout in CI
  .github/workflows/eventindexer.yml
Labels: area.event-indexer

#18304 test(protocol): fix another L2 test failure
  packages/protocol/script/layer2/DeployDelegateOwner.s.sol
Labels: area.protocol

#18306 feat(docs-site): add banner for mainnet protocol upgrade
  packages/docs-site/src/content/config.ts
Labels: area.docs

#18307 chore(main): release docs-site 1.14.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18305 refactor(protocol): apply multiple improvements based on feedback from Open Zeppelin
  packages/protocol/contracts/layer1/based/LibBonds.sol
  packages/protocol/contracts/layer1/based/LibData.sol
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibUtils.sol
  packages/protocol/contracts/layer1/based/TaikoData.sol
  packages/protocol/contracts/layer1/based/TaikoEvents.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/layer2/based/TaikoL2.sol
  packages/protocol/test/layer1/based/TaikoL1LibProvingWithTiers.t.sol
Labels: area.protocol

#18310 chore(protocol): delete `approve` function from GuardianProver
  packages/protocol/contracts/layer1/provers/GuardianProver.sol
Labels: area.protocol

#18308 refactor(protocol): simplify some protocol code based on OpenZeppelin's recommendation
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
Labels: area.protocol

#18312 refactor(protocol): set `blk.proposedIn` in genesis block
  packages/protocol/contracts/layer1/based/LibUtils.sol
  packages/protocol/test/layer1/based/TaikoL1TestBase.sol
Labels: area.protocol

#18313 revert(repo): revert release-please change
  .github/workflows/repo--release-please.yml
Labels: area.repo

#18316 chore(docs): redirect the contribution.md path
  packages/protocol/README.md
Labels: area.docs

#18303 chore(protocol): emit state root as 0 in events for non-sync blocks
  packages/protocol/contracts/layer1/based/ITaikoL1.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibUtils.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/test/layer1/based/TaikoL1LibProvingWithTiers.t.sol
Labels: area.protocol

#18322 chore(protocol): change Hekla sharingPctg to 80% & gasIssuancePerSecond to 1000000
  packages/protocol/contracts/layer1/hekla/HeklaTaikoL1.sol
  packages/protocol/test/layer2/Lib1559Math.t.sol
Labels: area.protocol

#18331 fix(protocol): revert a change to maintain taiko-geth compatibility
  packages/protocol/contracts/layer1/based/LibProposing.sol
Labels: area.protocol

#18333 fix(protocol): revert changes related to `proposedIn` and `proposedAt` to fix a bug
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/test/layer1/based/TaikoL1testGroupA1.t.sol
Labels: area.protocol

#18332 test(taiko-client): trigger client tests when there are changes in the protocol/contracts
  .github/workflows/taiko-client--test.yml
Labels: area.client

#18330 chore(taiko-client): update docker-compose config
  .github/workflows/taiko-client--test.yml
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
Labels: area.client

#18339 fix(protocol): small fix to 1559 error check
  packages/protocol/contracts/layer2/based/Lib1559Math.sol
Labels: area.protocol

#18340 chore(protocol): revert Hekla `baseFeeConfig` updates
  packages/protocol/contracts/layer1/hekla/HeklaTaikoL1.sol
Labels: area.protocol

#18341 chore(taiko-client): add `BaseFeeConfig.SharingPctg` to mainnet protocol config
  packages/taiko-client/bindings/encoding/protocol_config.go
Labels: area.client

#18324 chore(taiko-client): update Go contract bindings generation script
  packages/taiko-client/bindings/.githead
  packages/taiko-client/scripts/gen_bindings.sh
Labels: area.client

#18077 chore(main): release protocol 1.10.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18334 feat(protocol): upgrade script
  packages/protocol/script/layer1/DeployHeklaL2Contracts.s.sol
  packages/protocol/script/layer1/UpgradeHeklaOntakeL2.s.sol
Labels: area.protocol

#18343 docs(protocol): upgrade protocol version in hekla to 1.10.0
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18325 chore(protocol): use require-statements for readability
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibUtils.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/PreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfTaskManager.sol
  packages/protocol/contracts/layer1/preconf/libs/LibEIP4788.sol
  packages/protocol/contracts/layer1/preconf/mock/MockPreconfRegistry.sol
  packages/protocol/contracts/layer1/provers/GuardianProver.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/contracts/layer1/verifiers/Risc0Verifier.sol
  packages/protocol/contracts/layer1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/layer1/verifiers/SgxVerifierBase.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/shared/common/AddressManager.sol
  packages/protocol/contracts/shared/common/AddressResolver.sol
  packages/protocol/contracts/shared/common/EssentialContract.sol
  packages/protocol/contracts/shared/common/LibAddress.sol
  packages/protocol/contracts/shared/common/LibBytes.sol
  packages/protocol/contracts/shared/common/LibTrieProof.sol
Labels: area.protocol

#18347 chore(protocol): do not run unit tests for protocol changes
  .github/workflows/taiko-client--test.yml
Labels: area.protocol

#18352 docs(protocol): update `tier_router` in hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18354 chore(protocol): update base `ontakeForkHeight` to 0
  packages/protocol/contracts/layer1/based/TaikoL1.sol
Labels: area.protocol

#18356 feat(protocol): scripts to deploy new mainnet implementation contracts
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
  packages/protocol/contracts/layer2/mainnet/MainnetTaikoL2.sol
  packages/protocol/script/layer1/UpdateMainnetOntakeL1.s.sol
  packages/protocol/script/layer2/UpdateMainnetOntakeL2.s.sol
Labels: area.protocol
