Repository taikoxyz/taiko-mono, pull requests merged in 2024-11, with the labels that each got.

#18357 chore(protocol): remove `TIER_ZKVM_ANY` in `MainnetTierRouter`
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
Labels: area.protocol

#18359 chore(protocol): deploy `MainnetTierRouter` and update `RollupAddressCache`
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/script/layer1/UpdateMainnetOntakeL1.s.sol
Labels: area.docs, area.protocol

#18365 chore(main): release protocol 1.10.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18368 chore(protocol): restore proving window changes
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer1/hekla/HeklaTierRouter.sol
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
  packages/protocol/contracts/layer1/tiers/TierProviderBase.sol
Labels: area.protocol

#18370 feat(protocol): update `B_TIER_ROUTER` in `RollupAddressCache`
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
Labels: area.protocol

#18367 docs(docs-site): update mainnet prover docs
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
Labels: area.docs

#18376 chore(protocol): optimize Taiko L1 gas cost
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/script/layer1/deploy_protocol_on_l1.sh
Labels: area.protocol

#18350 feat(taiko-client): client changes based on #18150
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/input_test.go
  packages/taiko-client/bindings/encoding/protocol_config.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_lib_proving.go
  packages/taiko-client/bindings/gen_lib_utils.go
  packages/taiko-client/bindings/gen_lib_verifying.go
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/gen_tier_provider.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/integration_test/deploy_l1_contract.sh
  packages/taiko-client/internal/docker/start.sh
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18366 docs(protocol): update mainnet deployment docs
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
Labels: area.docs

#18379 feat(protocol): add `lastProposedIn` to slotB
  packages/protocol/contracts/layer1/based/ITaikoL1.sol
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/TaikoData.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/test/layer1/based/MockTaikoL1.sol
Labels: area.protocol, meta.breakingABI

#18380 feat(protocol): allow any ERC20 tokens or Ether to be used as bonds
  packages/protocol/contracts/layer1/based/ITaikoL1.sol
  packages/protocol/contracts/layer1/based/LibBonds.sol
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibUtils.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoL1.sol
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/contracts/layer1/provers/GuardianProver.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/contracts/layer1/team/tokenunlock/TokenUnlock.sol
  packages/protocol/contracts/shared/common/LibStrings.sol
  packages/protocol/script/layer1/DeployProtocolOnL1.s.sol
  packages/protocol/test/layer1/based/MockTaikoL1.sol
  packages/protocol/test/layer1/based/TaikoL1TestBase.sol
  packages/protocol/test/layer1/team/tokenunlock/TokenUnlock.t.sol
Labels: area.protocol

#18381 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_lib_proving.go
  packages/taiko-client/bindings/gen_lib_verifying.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_tier_provider.go
Labels: area.client

#18384 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_lib_proving.go
  packages/taiko-client/bindings/gen_prover_set.go
  packages/taiko-client/bindings/gen_taiko_l1.go
Labels: area.client

#18385 ci(repo): improve workflow triggering conditions
  .github/workflows/bridge-ui.yml
  .github/workflows/docs-site--preview.yml
  .github/workflows/fork-diff--preview.yml
  .github/workflows/guardian-prover-health-check-ui.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/nfts.yml
  .github/workflows/protocol-monitors.yml
  .github/workflows/protocol.yml
  .github/workflows/relayer.yml
  .github/workflows/repo--do-not-merge-pr.yml
  .github/workflows/repo--typo-check.yml
  .github/workflows/repo--validate-pr-title.yml
  .github/workflows/snaefell-ui.yml
  .github/workflows/supplementary-contracts.yml
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
  .github/workflows/taikoon-ui.yml
Labels: option.workflow_on

#18371 chore(protocol): change bond amounts, proving windows, and cooldown windows
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/tiers/TierProviderBase.sol
  packages/protocol/contracts/shared/common/LibStrings.sol
Labels: area.protocol

#18408 docs(protocol): increase risc0 frequency in Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18407 feat(protocol): increase risc0 frequency in Hekla
  packages/protocol/contracts/layer1/hekla/HeklaTierRouter.sol
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#18441 chore(taiko-client): update CI badge and path
  packages/taiko-client/README.md
Labels: area.docs

#18440 ci(repo): delete some workflows and release configs
  .github/workflows/snaefell-ui.yml
  .github/workflows/taikoon-ui.yml
  release-please-config.json
Labels: area.repo

#18377 feat(docs-site): update network config, list cooldown, proving windows and bonds for every tier, remove banner
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-mn.webp
  packages/docs-site/src/content/config.ts
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/network-reference/mainnet-addresses.md
  packages/docs-site/src/content/docs/network-reference/network-configuration.md
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#18443 fix(protocol): fix debitBond bug and add additional tests
  packages/protocol/contracts/layer1/based/LibBonds.sol
  packages/protocol/contracts/layer1/team/tokenunlock/TokenUnlock.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup11.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroupBase.sol
Labels: area.protocol

#18444 feat(taiko-client): add chain ID to `TryDecompress()`
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor_test.go
Labels: area.client

#18442 feat(taiko-client): compatible changes for `lastProposedIn`
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/utils.go
Labels: area.client

#18450 feat(taiko-client): revert pr 18442
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/utils.go
Labels: area.client

#18453 docs(protocol): upgrade verifiers to support proof aggregation in Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18457 feat(docs-site): update graphic for hekla network config
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/network-reference/testnet-addresses.md
Labels: area.docs

#18459 feat(repo): don't run workflows on release-please branches
  .github/workflows/bridge-ui.yml
  .github/workflows/docs-site--preview.yml
  .github/workflows/eventindexer.yml
  .github/workflows/fork-diff--preview.yml
  .github/workflows/guardian-prover-health-check-ui.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/nfts.yml
  .github/workflows/protocol-monitors.yml
  .github/workflows/protocol.yml
  .github/workflows/relayer.yml
  .github/workflows/repo--auto-approve-pr.yml
  .github/workflows/supplementary-contracts.yml
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
Labels: area.repo

#18461 fix(repo): revert release-please
  .github/workflows/repo--release-please.yml
Labels: area.repo

#18462 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_lib_proving.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_tier_provider.go
Labels: area.client

#18458 chore(main): release docs-site 1.16.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18463 feat(taiko-client): avoid coping the whole struct
  .github/workflows/guardian-prover-health-check-ui.yml
  packages/taiko-client/driver/soft_blocks/api.go
Labels: area.client

#18467 feat(protocol): request zk proofs(risc0 & sp1) in mainnet
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
Labels: area.protocol

#18338 feat(protocol): tolerate invalid BaseFeeConfig on L2
  packages/protocol/contracts/layer2/based/LibEIP1559.sol
  packages/protocol/contracts/layer2/based/TaikoL2.sol
  packages/protocol/contracts/layer2/based/TaikoL2Deprecated.sol
  packages/protocol/contracts/shared/common/LibMath.sol
  packages/protocol/test/layer2/LibEIP1559.t.sol
  packages/protocol/test/layer2/TaikoL2.t.sol
Labels: area.protocol

#18469 docs(protocol): upgrade sp1 remote verifier in Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs, area.protocol

#18466 feat(relayer): confirmations before indexing for relayer should be configurable
  packages/relayer/.l1indexer.example.env
  packages/relayer/cmd/flags/indexer.go
  packages/relayer/indexer/config.go
  packages/relayer/indexer/handle_chain_data_synced_event.go
  packages/relayer/indexer/handle_message_processed_event.go
  packages/relayer/indexer/handle_message_sent_event.go
  packages/relayer/indexer/indexer.go
Labels: area.relayer

#18472 feat(docs-site): update testnet address
  packages/docs-site/src/content/docs/network-reference/testnet-addresses.md
Labels: area.docs

#18471 feat(repo): fix workflows, restore merge-gatekeeper
  .github/workflows/bridge-ui.yml
  .github/workflows/docs-site--preview.yml
  .github/workflows/eventindexer.yml
  .github/workflows/fork-diff--preview.yml
  .github/workflows/guardian-prover-health-check-ui--ci.yml
  .github/workflows/guardian-prover-health-check-ui.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/nfts.yml
  .github/workflows/protocol-monitors.yml
  .github/workflows/protocol.yml
  .github/workflows/relayer.yml
  .github/workflows/repo--merge-gatekeeper.yml
  .github/workflows/supplementary-contracts.yml
  .github/workflows/taiko-client--hive_test.yml
  .github/workflows/taiko-client--test.yml
Labels: area.repo

#18454 docs(protocol): add mainnet zkVM verifiers deployment
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs, area.protocol

#18470 feat(protocol): measure gas per block using a debug event
  packages/protocol/contracts/layer1/based/TaikoL1.sol
Labels: area.protocol

#18481 feat(protocol): increase zk(risc0 & sp1) rate in mainnet
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
Labels: area.protocol

#18488 fix(repo): ignore draft PRs merge-gatekeeper
  .github/workflows/repo--merge-gatekeeper.yml
Labels: area.repo

#18487 feat(docs-site): update tier config and graphic
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-mn.webp
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#18476 chore(main): release docs-site 1.17.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18482 docs(protocol): update mainnet deployment docs
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18495 chore(docs-site): update tier router address
  packages/docs-site/src/content/docs/network-reference/mainnet-addresses.md
Labels: area.docs

#18496 chore(main): release docs-site 1.17.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18499 refactor(protocol): reduce gas usage
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/package.json
  packages/protocol/snapshots/gasUsed_proposeBlock.json
  packages/protocol/snapshots/gasUsed_proveBlock.json
  packages/protocol/snapshots/gasUsed_verifyBlocks.json
  packages/protocol/test/layer1/based/GasComparison.t.sol
  packages/protocol/test/layer1/based/TaikoL1TestGroup12.t.sol
  packages/protocol/test/layer1/preconf/bls/BLSHashToFieldFp2.t.sol
  pnpm-lock.yaml
Labels: area.protocol

#18382 feat(repo): add geth-rpc-gateway
  packages/geth-rpc-gateway/.gitignore
  packages/geth-rpc-gateway/README.md
  packages/geth-rpc-gateway/main.go
Labels: area.developer-experience

#18514 ci(repo): change to trigger hive test manually
  .github/workflows/taiko-client--hive_test.yml
  packages/taiko-client/integration_test/hive_test.go
Labels: area.repo, option.hive-test

#18516 refactor(taiko-client): move `utils` package from `internal/` to `pkg/`
  packages/taiko-client/bindings/encoding/struct_test.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/state/state_test.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor_test.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/pkg/utils/txmgr_selector.go
  packages/taiko-client/pkg/utils/txmgr_selector_test.go
  packages/taiko-client/pkg/utils/util_test.go
  packages/taiko-client/pkg/utils/utils.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/event_handler/transition_contested.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
Labels: area.client

#18517 ci(taiko-client): fix lint in taiko-client
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/utils/utils.go
Labels: area.client

#18515 ci(repo): fix some failed ci issues
  Dockerfile
  go.mod
  packages/eventindexer/pkg/repo/containers_test.go
  packages/eventindexer/pkg/repo/erc20_balance_test.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18522 test(taiko-client): skip `TestCheckL1ReorgToSameHeightFork` temporarily
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18526 chore(main): release docs-site 1.18.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18524 feat(taiko-client): add more preconf logs
  packages/taiko-client/driver/chain_syncer/blob/soft_block.go
Labels: area.client

#18530 feat(docs-site): add scenario and explanation for contestable rollup
  packages/docs-site/src/assets/content/docs/core-concepts/contestable.png
  packages/docs-site/src/assets/content/docs/core-concepts/proof-tiers.png
  packages/docs-site/src/content/docs/core-concepts/contestable-rollups.md
Labels: area.docs

#18532 chore(main): release docs-site 1.19.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending
