Repository taikoxyz/taiko-mono, pull requests merged in 2024-08, with the labels that each got.

#17869 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_lib_proving.go
  packages/taiko-client/bindings/gen_taiko_l1.go
Labels: area.client

#17872 docs(docs-site): add more node troubleshooting
  packages/docs-site/src/content/docs/guides/node-operators/node-troubleshooting.mdx
Labels: area.docs

#17873 feat(taiko-client): client updates based on #17871
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/protocol_config.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_legacy.go
  packages/taiko-client/bindings/metadata/metadata_ontake.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/methods_test.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
  packages/taiko-client/prover/anchor_tx_validator/anchor_tx_validator.go
  packages/taiko-client/prover/proof_submitter/transaction/sender_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17877 feat(protocol): introduce risc0 proof
  _typos.toml
  packages/protocol/contract_layout.md
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/thirdparty/risczero/IRiscZeroReceiptVerifier.sol
  packages/protocol/contracts/verifiers/RiscZeroVerifier.sol
  packages/protocol/foundry.toml
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DeploySP1Verifier.s.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/automata-attestation/common/AttestationBase.t.sol
  packages/protocol/test/verifiers/RiscZeroVerifier.t.sol
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/guardian_producer.go
  packages/taiko-client/prover/proof_producer/optimistic_producer.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_and_zkvm_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  pnpm-lock.yaml
Labels: area.protocol, category.feature

#17885 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/gen_tier_provider.go
Labels: area.client

#17886 fix(bridge-ui): increase pagesize
  packages/bridge-ui/src/libs/bridge/fetchTransactions.ts
Labels: area.bridge

#17890 feat(taiko-client): remove `basefeeSharingPctg` from metadata
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_legacy.go
  packages/taiko-client/bindings/metadata/metadata_ontake.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
Labels: area.client

#17892 feat(taiko-client): update ontake basefee calculation
  go.mod
  go.sum
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
Labels: area.client

#17893 feat(taiko-client): update `BlockParamsV2` struct
  packages/taiko-client/bindings/encoding/custom_error.go
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
Labels: area.client

#17874 chore(main): release docs-site 1.11.8
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#17900 feat(protocol): add `DevnetTaikoL1`
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibData.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/automata-attestation/AutomataDcapV3Attestation.sol
  packages/protocol/contracts/automata-attestation/interfaces/IAttestation.sol
  packages/protocol/contracts/automata-attestation/lib/PEMCertChainLib.sol
  packages/protocol/contracts/automata-attestation/lib/QuoteV3Auth/V3Parser.sol
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/bridge/IBridge.sol
  packages/protocol/contracts/devnet/DevnetTaikoL1.sol
  packages/protocol/contracts/devnet/DevnetTaikoL2.sol
  packages/protocol/contracts/tko/BridgedTaikoToken.sol
  packages/protocol/contracts/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/tokenvault/ERC721Vault.sol
  packages/protocol/contracts/verifiers/SgxVerifier.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/automata-attestation/utils/DcapTestUtils.t.sol
  packages/protocol/test/automata-attestation/utils/V3QuoteParseUtils.t.sol
  packages/protocol/test/thirdparty/muticall3/Multicall3.sol
  packages/protocol/test/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/tokenvault/ERC721Vault.t.sol
Labels: area.protocol

#17904 test(protocol): add test case of risc0 groth16
  packages/protocol/test/thirdparty/risc0/Risc0Groth16Verifier.t.sol
Labels: area.protocol

#17808 feat(nfts): kbw party ticket smart contracts
  packages/nfts/contracts/party-ticket/TaikoPartyTicket.sol
  packages/nfts/data/party-token/metadata/loser.json
  packages/nfts/data/party-token/metadata/raffle.json
  packages/nfts/data/party-token/metadata/winner.json
  packages/nfts/data/party-token/static/loser.png
  packages/nfts/data/party-token/static/raffle.png
  packages/nfts/data/party-token/static/winner.gif
  packages/nfts/deployments/party-ticket/hekla.json
  packages/nfts/package.json
  packages/nfts/script/party-ticket/sol/Deploy.s.sol
  packages/nfts/script/party-ticket/sol/Utils.s.sol
  packages/nfts/test/party-ticket/TaikoPartyTicket.t.sol
Labels: category.feature

#17899 feat(bridge-ui): more detailed transactions view
  packages/bridge-ui/src/components/ChainSelectors/ChainPill/ChainPill.svelte
  packages/bridge-ui/src/components/ConnectButton/ConnectButton.svelte
  packages/bridge-ui/src/components/Dialogs/Shared/ClaimPreCheck.svelte
  packages/bridge-ui/src/components/ExplorerLink/ExplorerLink.svelte
  packages/bridge-ui/src/components/Header/Header.svelte
  packages/bridge-ui/src/components/Icon/Icon.svelte
  packages/bridge-ui/src/components/Paginator/Paginator.svelte
  packages/bridge-ui/src/components/Relayer/Relayer.svelte
  packages/bridge-ui/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui/src/components/StatusDot/StatusDot.svelte
  packages/bridge-ui/src/components/Transactions/ChainSymbol.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/DesktopDetailsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/MobileDetailsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Dialogs/index.ts
  packages/bridge-ui/src/components/Transactions/MobileDetailsDialog.svelte
  packages/bridge-ui/src/components/Transactions/Rows/FungibleTransactionRow.svelte
  packages/bridge-ui/src/components/Transactions/Rows/NftTransactionRow.svelte
  packages/bridge-ui/src/components/Transactions/Rows/index.ts
  packages/bridge-ui/src/components/Transactions/Status/Status.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/components/Transactions/Transactions.svelte
  packages/bridge-ui/src/i18n/en.json
  packages/bridge-ui/src/libs/bridge/types.ts
  packages/bridge-ui/src/libs/relayer/RelayerAPIService.ts
  packages/bridge-ui/src/libs/relayer/types.ts
  packages/bridge-ui/src/libs/util/formatTimestamp.ts
  packages/bridge-ui/src/libs/util/getBlockFromTxHash.ts
  packages/bridge-ui/src/libs/util/getBlockTimestamp.ts
  packages/bridge-ui/src/libs/util/responsiveCheck.ts
  packages/bridge-ui/src/libs/util/truncateString.ts
  packages/bridge-ui/src/routes/+layout.svelte
  packages/bridge-ui/src/styles/override.css
  packages/bridge-ui/tailwind.config.js
Labels: area.bridge

#17866 feat(taiko-client): preconfirmation indexing
  go.mod
  go.sum
  packages/taiko-client/cmd/flags/preconfapi.go
  packages/taiko-client/preconfapi.sh
  packages/taiko-client/preconfapi/config.go
  packages/taiko-client/preconfapi/model/transaction.go
  packages/taiko-client/preconfapi/preconfapi.go
  packages/taiko-client/preconfapi/server/api.go
  packages/taiko-client/preconfapi/server/server.go
  packages/taiko-client/preconfapi/server/server_test.go
  packages/taiko-client/preconfapi/types.go
Labels: area.client

#17896 fix(protocol): fix bug in `adjustExcess` and improve L2 basefee calculation
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L2/Lib1559Math.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/EssentialContract.sol
  packages/protocol/contracts/devnet/DevnetTaikoL1.sol
  packages/protocol/contracts/hekla/HeklaTaikoL1.sol
  packages/protocol/contracts/mainnet/MainnetTaikoL1.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/team/tokenunlock/TokenUnlock.sol
  packages/protocol/test/L2/Lib1559Math.t.sol
Labels: area.protocol

#17912 fix(protocol): fix `chainId` in `HeklaTaikoL1`
  packages/protocol/contracts/hekla/HeklaTaikoL1.sol
Labels: area.protocol

#17914 docs(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#17911 feat(taiko-client): changes based on the latest basefee improvements
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/protocol_config.go
  packages/taiko-client/bindings/gen_guardian_prover.go
  packages/taiko-client/bindings/gen_lib_proposing.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_legacy.go
  packages/taiko-client/bindings/metadata/metadata_ontake.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
Labels: area.client

#17917 feat(protocol): introduce `HeklaTierProvider`
  packages/protocol/contracts/hekla/HeklaTierProvider.sol
Labels: area.protocol

#17913 feat(protocol): add `TIER_ZKVM_RISC0` tier and `HeklaTierProvider`
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/hekla/HeklaTierProvider.sol
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DeployRisc0Verifier.s.sol
Labels: area.protocol

#17915 feat(taiko-client): introduce `TierZkVMRisc0ID`
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/sgx_and_zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client, category.feature

#17897 chore(taiko-client): add hive tests to workflow
  .github/workflows/taiko-client--hive_test.yml
  go.mod
  go.sum
  packages/taiko-client/Makefile
  packages/taiko-client/integration_test/hive_test.go
  packages/taiko-client/integration_test/hive_tests.sh
Labels: area.client

#17924 docs(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#17921 test(taiko-client): use env names which defined in flag configs
  packages/guardian-prover-health-check/.default.env
  packages/guardian-prover-health-check/cmd/flags/healthcheck.go
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/taiko-client/bindings/encoding/input_test.go
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/config_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/integration_test/deploy_l1_contract.sh
  packages/taiko-client/integration_test/entrypoint.sh
  packages/taiko-client/integration_test/l1_env.sh
  packages/taiko-client/integration_test/test_env.sh
  packages/taiko-client/internal/docker/docker_env.sh
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/rpc/client_test.go
  packages/taiko-client/pkg/rpc/dial_test.go
  packages/taiko-client/proposer/config_test.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/proof_submitter/transaction/sender_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17927 chore(protocol): revert `TAIKO_TOKEN` name changes in `DeployOnL1`
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
  packages/taiko-client/integration_test/l1_env.sh
Labels: area.protocol

#17925 docs(protocol): add L2 `DelegateOwner` address in Hekla deployment docs
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#17926 feat(taiko-client): add `RaikoZKVMHostEndpoint` and rename
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client, category.feature

#17930 test(taiko-client): update hive dependence and fix bug about hive test
  .github/workflows/taiko-client--hive_test.yml
  go.mod
  go.sum
  packages/taiko-client/integration_test/hive_tests.sh
Labels: area.client

#17916 feat(nfts): korea blockchain week contract deployment
  packages/nfts/contracts/party-ticket/TaikoPartyTicket.sol
  packages/nfts/data/party-token/metadata/loser.json
  packages/nfts/data/party-token/metadata/raffle.json
  packages/nfts/data/party-token/metadata/winner.json
  packages/nfts/data/party-token/static/winner.gif
  packages/nfts/deployments/party-ticket/hekla.json
  packages/nfts/script/party-ticket/sol/Deploy.s.sol
  packages/nfts/test/party-ticket/TaikoPartyTicket.t.sol
Labels: area.ops

#17933 ci(repo): enable stale and close issues and PRs.
  .github/workflows/stale.yml
Labels: option.pinned

#17936 feat(taiko-client): introduce `TaikoDataBlockV2`
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_tier_provider.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/state/l1_current.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client, category.feature

#17946 fix(taiko-client): fix zk status recognition
  .github/workflows/taiko-client--hive_test.yml
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: category.bug, area.client

#17949 feat(protocol): script of `UpgradeRisc0Verifier`
  packages/protocol/script/upgrade/UpgradeRisc0Verifier.s.sol
Labels: area.protocol

#17770 chore(main): release taiko-client 0.30.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17826 build(relayer): upgrade scripts and ignore abi json files
  packages/relayer/.gitignore
  packages/relayer/ERC1155Vault.json
  packages/relayer/ERC20Vault.json
  packages/relayer/ERC721Vault.json
  packages/relayer/ICrossChainSync.json
  packages/relayer/QuotaManager.json
  packages/relayer/SignalService.json
  packages/relayer/TaikoL1.json
  packages/relayer/scripts/abigen.sh
Labels: area.relayer

#17955 feat(taiko-client): update hekla's protocol config
  .github/workflows/taiko-client--hive_test.yml
  packages/taiko-client/bindings/encoding/protocol_config.go
Labels: area.client

#17952 chore(main): release taiko-client 0.31.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17950 test(taiko-client): update HIVE test configurations
  .github/workflows/taiko-client--hive_test.yml
  go.mod
  go.sum
  packages/taiko-client/integration_test/hive_test.go
Labels: area.client

#17951 refactor
  packages/protocol/contract_layout.md
  packages/protocol/contracts/L1/tiers/DevnetTierProvider.sol
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/LibTierId.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/L1/tiers/TierProviderV2.sol
  packages/protocol/contracts/L1/tiers/TierProviderV3.sol
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/hekla/HeklaTierProvider.sol
  packages/protocol/contracts/mainnet/LibRollupAddressCache.sol
  packages/protocol/contracts/mainnet/verifiers/MainnetRisc0Verifier.sol
  packages/protocol/contracts/mainnet/verifiers/MainnetSP1Verifier.sol
  packages/protocol/contracts/mainnet/verifiers/MainnetSgxVerifier.sol
  packages/protocol/contracts/mainnet/verifiers/MainnetTeeComposeVerifier.sol
  packages/protocol/contracts/mainnet/verifiers/MainnetZkComposeVerifier.sol
  packages/protocol/contracts/verifiers/Risc0Verifier.sol
  packages/protocol/contracts/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/verifiers/compose/TeeComposeVerifier.sol
  packages/protocol/contracts/verifiers/compose/ZkComposeVerifier.sol
  packages/protocol/deployments/gen-layouts.sh
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DeployRisc0Verifier.s.sol
  packages/protocol/script/DeploySP1Verifier.s.sol
  packages/protocol/script/upgrade/UpgradeRisc0Verifier.s.sol
  packages/protocol/test/L1/GuardianProver2.t.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestGroup1.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup2.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup3.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup4.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup5.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup6.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup7.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup9.t.sol
  packages/protocol/test/L1/TaikoL1TestGroupBase.sol
  packages/protocol/test/L1/TestTierProvider.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/common/AddressResolver.t.sol
  packages/protocol/test/verifiers/Risc0Verifier.t.sol
  packages/protocol/test/verifiers/RiscZeroGroth16Verifier.t.sol
  packages/protocol/test/verifiers/SP1Verifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
  packages/protocol/test/verifiers/compose/ComposeVerifeir.t.sol
  pnpm-lock.yaml
Labels: area.protocol

#17959 test(taiko-client): open container logs and close build image logs
  go.mod
  go.sum
  packages/taiko-client/integration_test/hive_test.go
Labels: area.client

#17964 chore(taiko-client): keep env vars same with the flag name
  packages/guardian-prover-health-check/.default.env
  packages/guardian-prover-health-check/cmd/flags/healthcheck.go
  packages/taiko-client/bindings/encoding/input_test.go
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/config_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/integration_test/entrypoint.sh
  packages/taiko-client/integration_test/test_env.sh
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/rpc/client_test.go
  packages/taiko-client/proposer/config_test.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
  packages/taiko-client/prover/anchor_tx_validator/anchor_tx_validator_test.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/proof_submitter/transaction/sender_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#17965 test(taiko-client): introduce reorg hive test
  .github/workflows/taiko-client--hive_test.yml
  packages/taiko-client/integration_test/hive_test.go
Labels: area.client

#17969 chore(taiko-client): fix lint errors
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/utils/utils.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/methods_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/prover/event_handler/util.go
Labels: area.client

#17962 feat(taiko-client): add optional `l1.private`
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/proof_contester.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/proof_submitter/transaction/sender_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client, category.feature

#17981 test(taiko-client): introduce multi nodes hive test
  go.mod
  go.sum
  packages/eventindexer/.golangci.yml
  packages/taiko-client/integration_test/hive_test.go
Labels: area.client

#17983 feat(protocol): update Hekla `ontakeForkHeight`
  packages/protocol/contracts/hekla/HeklaTaikoL1.sol
  packages/protocol/contracts/hekla/HeklaTaikoL2.sol
Labels: area.protocol

#17980 fix(taiko-client): prints logs when using `privateTxMgr`
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
Labels: category.bug, area.client

#17976 feat(taiko-client): optimising statistics on proof request times
  packages/taiko-client/prover/proof_producer/dummy_producer.go
  packages/taiko-client/prover/proof_producer/dummy_producer_test.go
  packages/taiko-client/prover/proof_producer/guardian_producer.go
  packages/taiko-client/prover/proof_producer/guardian_producer_test.go
  packages/taiko-client/prover/proof_producer/optimistic_producer.go
  packages/taiko-client/prover/proof_producer/optimistic_producer_test.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer_test.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client, category.feature

#17978 fix(taiko-client): fix some issues about `calculateBaseFee`
  packages/taiko-client/bindings/encoding/protocol_config.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/config/chain_config.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common_test.go
Labels: category.bug, area.client

#17956 chore(main): release taiko-client 0.32.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17987 test(taiko-client): support multi clusters reorg hive test
  packages/taiko-client/integration_test/hive_test.go
Labels: area.client

#17991 chore(taiko-client): don't use color prefix in log's terminal handler
  packages/taiko-client/cmd/logger/logger.go
Labels: area.client

#17994 refactor(protocol): remove ProposerAccess for easier composability
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/access/IProposerAccess.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/common/AddressResolver.sol
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/mainnet/LibRollupAddressCache.sol
Labels: area.protocol

#17960 refactor(protocol): refactor tier provider & address caching and add ComposeVerifier
  packages/protocol/contract_layout.md
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/LibTiers.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/L1/tiers/TierProviderV3.sol
  packages/protocol/contracts/common/LibStrings.sol
  packages/protocol/contracts/mainnet/LibRollupAddressCache.sol
  packages/protocol/contracts/mainnet/addrcache/AddressCache.sol
  packages/protocol/contracts/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/contracts/mainnet/addrcache/SharedAddressCache.sol
  packages/protocol/contracts/mainnet/rollup/MainnetGuardianProver.sol
  packages/protocol/contracts/mainnet/rollup/MainnetProverSet.sol
  packages/protocol/contracts/mainnet/rollup/MainnetRollupAddressManager.sol
  packages/protocol/contracts/mainnet/rollup/MainnetTaikoL1.sol
  packages/protocol/contracts/mainnet/rollup/MainnetTaikoL2.sol
  packages/protocol/contracts/mainnet/rollup/MainnetTierRouter.sol
  packages/protocol/contracts/mainnet/rollup/verifiers/MainnetRisc0Verifier.sol
  packages/protocol/contracts/mainnet/rollup/verifiers/MainnetSP1Verifier.sol
  packages/protocol/contracts/mainnet/rollup/verifiers/MainnetSgxVerifier.sol
  packages/protocol/contracts/mainnet/rollup/verifiers/MainnetTeeAnyVerifier.sol
  packages/protocol/contracts/mainnet/rollup/verifiers/MainnetZkAnyVerifier.sol
  packages/protocol/contracts/mainnet/shared/MainnetBridge.sol
  packages/protocol/contracts/mainnet/shared/MainnetERC1155Vault.sol
  packages/protocol/contracts/mainnet/shared/MainnetERC20Vault.sol
  packages/protocol/contracts/mainnet/shared/MainnetERC721Vault.sol
  packages/protocol/contracts/mainnet/shared/MainnetSharedAddressManager.sol
  packages/protocol/contracts/mainnet/shared/MainnetSignalService.sol
  packages/protocol/contracts/verifiers/Risc0Verifier.sol
  packages/protocol/contracts/verifiers/SgxVerifier.sol
  packages/protocol/contracts/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/verifiers/compose/TeeAnyVerifier.sol
  packages/protocol/contracts/verifiers/compose/ZkAnyVerifier.sol
  packages/protocol/deployments/gen-layouts.sh
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/DeployRisc0Verifier.s.sol
  packages/protocol/script/DeploySP1Verifier.s.sol
  packages/protocol/script/upgrade/UpgradeRisc0Verifier.s.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TestTierProvider.sol
  packages/protocol/test/TaikoTest.sol
  packages/protocol/test/verifiers/Risc0Verifier.t.sol
  packages/protocol/test/verifiers/RiscZeroGroth16Verifier.t.sol
  packages/protocol/test/verifiers/SP1Verifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
  packages/protocol/test/verifiers/compose/ComposeVerifeir.t.sol
  pnpm-lock.yaml
Labels: area.protocol

#17989 feat(taiko-client): introduce `CalculateBaseFee()` method
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#17995 test(taiko-client): support full sync and snap sync in hive test
  packages/taiko-client/integration_test/hive_test.go
Labels: area.client

#17997 feat(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/bindings/gen_tier_provider.go
Labels: area.client

#17999 feat(taiko-client): update protocol configs temporarily
  packages/taiko-client/bindings/encoding/protocol_config.go
Labels: area.client

#18000 fix(taiko-client): fix CallOpts and `TestTreasuryIncome` test case
  packages/taiko-client/bindings/encoding/protocol_config.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#17988 chore(main): release taiko-client 0.33.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17928 docs(repo): remove unexist badge and action in readme
  packages/eventindexer/README.md
  packages/guardian-prover-health-check/README.md
  packages/relayer/README.md
Labels: area.repo

#17306 fix(eventindexer): remove redundant opts.CorsOrigins check
  packages/eventindexer/pkg/http/server.go
Labels: area.event-indexer

#18002 feat(protocol): protocol monitors
  packages/protocol/.gitignore
  packages/protocol/monitors/README.md
  packages/protocol/monitors/actions/Bridge-MessageProcessed.js
  packages/protocol/monitors/actions/ER20Vault-BridgedTokenChanged.js
  packages/protocol/monitors/actions/ERC1155Vault-BridgedTokenDeployed.js
  packages/protocol/monitors/actions/ERC20Vault-BalanceDrop.js
  packages/protocol/monitors/actions/ERC20Vault-BridgedTokenDeployed.js
  packages/protocol/monitors/actions/ERC721Vault-BridgedTokenDeployed.js
  packages/protocol/monitors/actions/GuardianProver-ApprovedCount.js
  packages/protocol/monitors/actions/GuardianProver-ConflictingProofs.js
  packages/protocol/monitors/actions/GuardianProver-GuardiansUpdated.js
  packages/protocol/monitors/actions/GuardianProver-ProvingAutoPauseEnabled.js
  packages/protocol/monitors/actions/SGXVerifier-verifyProofFailure.js
  packages/protocol/monitors/actions/TaikoL1-BlockProposed.js
  packages/protocol/monitors/actions/TaikoL1-BlockVerified.js
  packages/protocol/monitors/actions/TaikoL1-CalldataTxListCount.js
  packages/protocol/monitors/actions/TaikoL1-ProvingPaused.js
  packages/protocol/monitors/actions/TaikoL1-TransitionContestedCount.js
  packages/protocol/monitors/actions/TaikoL1-TransitionProved.js
  packages/protocol/monitors/actions/Vaults-BridgedTokenDeployed.js
  packages/protocol/monitors/serverless.yml
Labels: area.protocol

#18001 feat(protocol): use SP1 1.2.0-rc with more proof verification tests
  packages/protocol/contract_layout.md
  packages/protocol/deployments/gen-layouts.sh
  packages/protocol/package.json
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/test/verifiers/SP1PlonkVerifier.t.sol
  pnpm-lock.yaml
Labels: area.protocol

#18005 fix(taiko-client): initialize private mempool transaction sender in `InitFromConfig`
  packages/taiko-client/cmd/flags/common.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18008 chore(main): release taiko-client 0.33.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/package.json
Labels: autorelease: pending

#17883 refactor(protocol): remove code not used post Ontake fork
  .github/workflows/do-not-merge-pr.yml
  packages/protocol/README.md
  packages/protocol/contracts/L1/ITaikoL1.sol
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibBonds.sol
  packages/protocol/contracts/L1/libs/LibData.sol
  packages/protocol/contracts/L1/libs/LibProposing.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L1/provers/GuardianProver.sol
  packages/protocol/contracts/L1/tiers/ITierProvider.sol
  packages/protocol/contracts/L1/tiers/TierProviderBase.sol
  packages/protocol/contracts/L2/LibL2Config.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/devnet/DevnetTaikoL1.sol
  packages/protocol/contracts/devnet/DevnetTaikoL2.sol
  packages/protocol/contracts/hekla/HeklaTaikoL1.sol
  packages/protocol/contracts/hekla/HeklaTaikoL2.sol
  packages/protocol/contracts/mainnet/rollup/MainnetTaikoL2.sol
  packages/protocol/contracts/team/proving/ProverSet.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L1/TaikoL1TestGroup1.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup10.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup2.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup3.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup4.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup5.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup6.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup7.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup8.t.sol
  packages/protocol/test/L1/TaikoL1TestGroup9.t.sol
  packages/protocol/test/L1/TaikoL1TestGroupBase.sol
  packages/protocol/test/L1/TaikoL1testGroupA1.t.sol
  packages/protocol/test/L1/TaikoL1testGroupA2.t.sol
  packages/protocol/test/L1/TestTierProvider.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/L2/TaikoL2EIP1559Configurable.sol
  packages/protocol/test/L2/TaikoL2NoFeeCheck.t.sol
  packages/protocol/test/TaikoTest.sol
Labels: area.protocol, option.pinned, option.do-not-merge

#18007 ci(protocol): update do-not-merge-pr.yml
  .github/workflows/do-not-merge-pr.yml
Labels: area.repo
