Repository taikoxyz/taiko-mono, pull requests merged in 2024-02, with the labels that each got.

#15638 refactor(protocol): optimize bridge storage access
  packages/protocol/contracts/bridge/Bridge.sol
Labels: area.protocol

#15645 feat(protocol): add `OptimisticTierProvider` for client testing
  packages/protocol/contracts/L1/tiers/OptimisticTierProvider.sol
  packages/protocol/script/DeployOnL1.s.sol
  packages/protocol/script/test_deploy_on_l1.sh
Labels: area.protocol

#15555 feat(protocol): enforce an invocation delay for bridged messages
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/genesis/GenerateGenesis.g.sol
  packages/protocol/test/bridge/Bridge.t.sol
Labels: area.protocol

#15671 feat(protocol)!: sync state root rather than signal service's storage root
  packages/protocol/contracts/L1/TaikoData.sol
  packages/protocol/contracts/L1/TaikoEvents.sol
  packages/protocol/contracts/L1/TaikoL1.sol
  packages/protocol/contracts/L1/libs/LibProving.sol
  packages/protocol/contracts/L1/libs/LibUtils.sol
  packages/protocol/contracts/L1/libs/LibVerifying.sol
  packages/protocol/contracts/L2/TaikoL2.sol
  packages/protocol/contracts/common/ICrossChainSync.sol
  packages/protocol/contracts/signal/SignalService.sol
  packages/protocol/contracts/thirdparty/README.md
  packages/protocol/contracts/verifiers/PseZkVerifier.sol
  packages/protocol/docs/how_taiko_proves_blocks.md
  packages/protocol/docs/multihop/L1_to_L2.png
  packages/protocol/docs/multihop/L2A_to_L3.png
  packages/protocol/docs/multihop/L2_to_L1.png
  packages/protocol/docs/multihop/L2_to_L2.png
  packages/protocol/docs/multihop_bridging_deployment.md
  packages/protocol/test/HelperContracts.sol
  packages/protocol/test/L1/TaikoL1.t.sol
  packages/protocol/test/L1/TaikoL1LibProvingWithTiers.t.sol
  packages/protocol/test/L1/TaikoL1TestBase.sol
  packages/protocol/test/L2/TaikoL2.t.sol
  packages/protocol/test/bridge/Bridge.t.sol
  packages/protocol/test/signal/SignalService.t.sol
  packages/protocol/test/verifiers/GuardianVerifier.t.sol
  packages/protocol/test/verifiers/PseZkVerifier.t.sol
  packages/protocol/test/verifiers/SgxVerifier.t.sol
Labels: area.protocol

#15746 fix(relayer): Error 1406: Data too long for column 'canonical_token_symbol' at row 1
  packages/relayer/migrations/1707727779_alert_events_canonical_token_symbol_length.sql
Labels: area.relayer

#15754 fix(bridge-ui-v2): fixed fee selection modal bugs
  packages/bridge-ui-v2/src/components/Bridge/ProcessingFee/ProcessingFee.svelte
Labels: area.bridge

#15755 docs(repo): update swagger scripts and api docs for relayer and eventindexer
  packages/eventindexer/docs/docs.go
  packages/eventindexer/docs/index.html
  packages/eventindexer/docs/swagger.json
  packages/eventindexer/docs/swagger.yaml
  packages/eventindexer/indexer/index_raw_block_data.go
  packages/eventindexer/indexer/subscribe.go
  packages/eventindexer/pkg/http/server.go
  packages/eventindexer/pkg/repo/event_test.go
  packages/eventindexer/scripts/swagger.sh
  packages/relayer/docs/docs.go
  packages/relayer/docs/index.html
  packages/relayer/docs/swagger.json
  packages/relayer/docs/swagger.yaml
  packages/relayer/scripts/swagger.sh
Labels: area.docs

#15888 feat(protocol): add `AuthorizeTaikoForMultihop ` script
  packages/protocol/script/AuthorizeTaikoForMultihop.s.sol
Labels: area.protocol

#15889 chore(relayer): refactor logs and add comments in processor
  packages/relayer/.gitignore
  packages/relayer/cmd/flags/indexer.go
  packages/relayer/event.go
  packages/relayer/processor/can_process_message.go
  packages/relayer/processor/process_single.go
  packages/relayer/processor/processor.go
Labels: area.relayer, go

#15922 feat(bridge-ui-v2): navigation support to swap-ui from bridge-ui
  packages/bridge-ui-v2/.env.example
  packages/bridge-ui-v2/src/components/Icon/Icon.svelte
  packages/bridge-ui-v2/src/components/SideNavigation/SideNavigation.svelte
  packages/bridge-ui-v2/src/i18n/en.json
Labels: area.bridge

#15940 chore(repo): vercel builds need node v18
  .github/actions/install-pnpm-dependencies/action.yml
Labels: area.repo

#15939 feat(guardian-prover-health-check-ui): test vercel workflow
  packages/guardian-prover-health-check-ui/src/routes/+page.svelte
Labels: area.guardian-prover-dashboard

#15968 feat(protocol): make getInvocationDelays return non-zero values for base chains
  packages/protocol/contracts/bridge/Bridge.sol
  packages/protocol/contracts/signal/SignalService.sol
Labels: area.protocol

#15982 feat(protocol): update `SetRemoteBridgeSuites` to register remote signal services
  packages/protocol/script/SetRemoteBridgeSuites.s.sol
Labels: area.protocol

#15997 fix(bridge-ui): transactions view styling
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
Labels: area.bridge

#15999 fix(bridge-ui): add dependency
  packages/bridge-ui/package.json
  packages/bridge-ui/src/components/ConnectButton/ConnectButton.svelte
  pnpm-lock.yaml
Labels: area.bridge

#16008 fix(bridge-ui): add injected provider to connectors
  packages/bridge-ui/src/libs/connect/web3modal.ts
  packages/bridge-ui/src/libs/wagmi/client.ts
Labels: area.bridge

#16017 feat(protocol): add `UpgradeTierProvider` script
  packages/protocol/script/upgrade/UpgradeTierProvider.s.sol
Labels: area.protocol

#16013 chore(main): release bridge-ui 2.9.2
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#15921 chore(relayer): add TargetBlock in indexer
  packages/relayer/cmd/flags/indexer.go
  packages/relayer/indexer/config.go
  packages/relayer/indexer/indexer.go
  packages/relayer/pkg/queue/rabbitmq/queue.go
  packages/relayer/processor/process_single.go
Labels: area.relayer

#16066 fix(bridge-ui): truncate selected token name to 5 characters
  packages/bridge-ui/src/components/TokenDropdown/DropdownView.svelte
  packages/bridge-ui/src/components/TokenDropdown/TokenDropdown.svelte
  packages/bridge-ui/src/libs/util/balance.ts
Labels: area.bridge

#16067 fix(bridge-ui): remove nft debug info from ui
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/ImportStep/ScannedImport.svelte
Labels: area.bridge

#16078 fix(bridge-ui): various small bugfixes
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/ImportStep/ImportStep.svelte
  packages/bridge-ui/src/components/Bridge/NFTBridgeComponents/ImportStep/ScannedImport.svelte
  packages/bridge-ui/src/components/Bridge/TokenAmountInput.svelte
  packages/bridge-ui/src/components/NFTs/NFTCards/NFTCard.svelte
  packages/bridge-ui/src/components/NFTs/NFTInfoDialog.svelte
  packages/bridge-ui/src/components/NFTs/NFTList/NFTListItem.svelte
  packages/bridge-ui/src/components/Transactions/Transaction.svelte
  packages/bridge-ui/src/libs/token/fetchNFTImageUrl.ts
  packages/bridge-ui/src/libs/token/fetchNFTMetadata.ts
  packages/bridge-ui/src/stores/metadata.ts
Labels: area.bridge

#16076 chore(main): release bridge-ui 2.9.3
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending
