Repository taikoxyz/taiko-mono, pull requests merged in 2025-03, with the labels that each got.

#19008 feat(protocol): add new tcb & add test case
  packages/protocol/test/layer1/automata-attestation/AttestationBase.sol
  packages/protocol/test/layer1/automata-attestation/AutomataDcapV3AttestationTest.t.sol
  packages/protocol/test/layer1/automata-attestation/assets/0225/tcb_00706A800000.json
Labels: area.protocol

#19017 fix(protocol): fix the same or the conflicted transaction
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Labels: area.protocol

#19011 chore(main): release docs-site 1.25.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19016 feat(taiko-client): revert protocol `timestamp` related changes
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_pacaya.go
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_prover_set.go
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/bindings/pacaya/gen_taiko_wrapper.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/pkg/config/protocol_config.go
  packages/taiko-client/pkg/utils/utils.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common.go
  packages/taiko-client/prover/event_handler/block_proposed_pacaya.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19007 chore(taiko-client): optimize proof generation logs
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake.go
Labels: area.client

#19021 feat(taiko-client): implement `PreconfGossipRuntimeConfig` interface for `PreconfBlockAPIServer`
  go.mod
  go.sum
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#19024 feat(taiko-client): improve `P2PSequencerAddresses`
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19025 feat(taiko-client): revert changes based on `taiko-geth` #391
  go.mod
  go.sum
  packages/taiko-client/pkg/rpc/engine.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#19029 feat(taiko-client): beacon-sync to the latest non-preconf head
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
Labels: area.client

#19030 feat(taiko-client): ensure the preconfirmation block number is greater than canonical head
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
Labels: area.client

#19026 fix(protocol): fix Ether surplus transfer issue
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
Labels: area.protocol

#19031 fix(protocol): fix deployment script for preconf proverSet
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Labels: area.protocol

#19033 fix(docs-site): fix links to contracts
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/bridge-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/sgxverifier-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/signalservice-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikol1-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikol2-contract.md
Labels: area.docs

#19035 chore(docs-site): add note about zk coverage
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#19034 chore(main): release docs-site 1.25.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19028 refactor(protocol): make it explicit that Ether as bond must be deposited beforehand.
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Labels: area.protocol

#19038 chore(protocol): update `anchorGasLimit` in `MainnetInbox`
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19042 feat(taiko-client): remove signature verification in `PreconfBlockAPIServer.BuildPreconfBlock`
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
Labels: area.client

#19043 fix(taiko-client): skip `headL1Origin` check when chain only has the genesis block
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
Labels: area.client

#18432 chore(main): release fork-diff 0.6.2
  .release-please-manifest.json
  packages/fork-diff/CHANGELOG.md
  packages/fork-diff/package.json
Labels: autorelease: pending

#19045 chore(docs-site): link dune query for live zk-cov"
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#19040 fix(protocol): check bridgeOp's to address on src chain
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/contracts/shared/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20VaultOriginal.sol
  packages/protocol/contracts/shared/tokenvault/ERC721Vault.sol
  packages/protocol/script/gen-layouts.sh
Labels: area.protocol

#19047 feat(taiko-client): delete socialScan in driver client
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/pkg/rpc/blob_datasource.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
Labels: area.client

#19049 fix(protocol): fix dcap script
  packages/protocol/script/layer1/provers/config_dcap_sgx_verifier.sh
Labels: area.protocol

#19048 fix(protocol): burn solver fee correctly in ERC20Vault
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault_solver.t.sol
Labels: area.protocol

#19058 chore(protocol): measure gas used in test per batch
  .github/workflows/protocol.yml
  packages/protocol/.gas-snapshot
  packages/protocol/.gitignore
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/package.json
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Labels: area.protocol

#19067 fix(protocol): fix two issues in `DeployProtocolOnL1`
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Labels: area.protocol

#19068 test(taiko-client): introduce `TestInvalidPacayaProof`
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19057 chore(taiko-client): changes based on `taiko-geth` upstream merge
  go.mod
  go.sum
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#19070 fix(protocol): ensure each forced inclusion request use a dedicated blob
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionStore.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
Labels: area.protocol

#19069 test(protocol): add an extra test from Halborn to verify ERC20 bugs are fixed
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
Labels: area.protocol

#19071 chore(taiko-client): update go dependencies
  Dockerfile
  go.mod
  go.sum
Labels: area.client

#19051 chore(fork-diff): update fork-diff workflow and page
  .github/workflows/fork-diff--preview.yml
  packages/fork-diff/fork.yaml
  packages/fork-diff/version_config.json
Labels: area.docs

#19075 feat(protocol): stop Ontake at pacayaForkHeight
  packages/protocol/contracts/layer1/based/LibProposing.sol
  packages/protocol/contracts/layer1/based/LibProving.sol
  packages/protocol/contracts/layer1/based/LibVerifying.sol
  packages/protocol/contracts/layer1/based/TaikoData.sol
Labels: area.protocol

#19079 test(taiko-client): introduce `TestOntakeToPacayaVerification`
  .github/workflows/taiko-client--test.yml
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19080 fix(repo): fix fork-diff prod workflow
  .github/workflows/fork-diff--production.yml
Labels: area.repo

#19073 chore(main): release fork-diff 0.6.3
  .release-please-manifest.json
  packages/fork-diff/CHANGELOG.md
  packages/fork-diff/package.json
Labels: autorelease: pending

#18990 feat(protocol): add pivot verifier
  packages/protocol/contracts/layer1/devnet/verifiers/DevnetVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyTwoVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/SgxAndZkVerifier.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
Labels: area.protocol

#18992 feat(taiko-client): init proving workflow for pacaya
  packages/protocol/contracts/layer1/verifiers/SgxVerifier.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_compose_verifier.go
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/pkg/config/chain_config.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/dummy_producer.go
  packages/taiko-client/prover/proof_producer/optimistic_producer.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
  packages/taiko-client/prover/proof_producer/proof_buffer.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/proof_producer_pacaya.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_submitter/interface.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client, category.feature

#19082 fix(protocol): deploy new verifiers for Pacaya in upgrade script
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
Labels: area.protocol

#19086 chore(protocol): improve comment for timeshift
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
Labels: area.protocol

#19091 test(protocol): add test from Halborn to verify solver lose funds
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
Labels: area.protocol

#19085 feat(taiko-client): improve Pacaya proof submitter
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/dummy_producer.go
  packages/taiko-client/prover/proof_producer/interface.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/proof_producer_pacaya.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/interface.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#19097 feat(taiko-client): make `--l1.beacon` required for driver
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/lookahead.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
Labels: area.client

#19098 fix(taiko-client): update optimism, dont return from lookahead
  go.mod
  go.sum
  packages/taiko-client/driver/driver.go
Labels: area.client

#19102 chore(protocol): add Ethereum Hoodi network configs
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfConstants.sol
  packages/protocol/contracts/shared/libs/LibNetwork.sol
Labels: area.protocol

#19104 feat(taiko-client): try aggregating Ontake proofs at first in `aggregateOpPacaya`
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#19106 refactor(taiko-client): introduce `requestHttpProof` to remove duplicated code in `proofProducer` package
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer_test.go
  packages/taiko-client/prover/proof_producer/interface.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
  packages/taiko-client/prover/proof_producer/proof_buffer_test.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
Labels: category.enhancement, area.client

#19107 feat(bridge-ui): add etherfi WeETH
  packages/bridge-ui/static/coins/etherfi-weth.png
Labels: area.bridge

#19108 chore(main): release bridge-ui 2.14.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#19100 refactor(protocol): improve LibPreconfUtils.getBeaconBlockRoot()
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfConstants.sol
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfUtils.sol
  packages/protocol/test/layer1/preconf/libs/LibPreconfUtils.t.sol
Labels: area.protocol

#19110 refactor(protocol): optimize _getOperatorForEpoch for gas efficiency in PreconfWhitelist2.sol
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist2.sol
Labels: area.protocol

#19101 feat(protocol): add an IPreconfWhitelist implementation with delayed activation & deactivation
  .github/workflows/repo--merge-gatekeeper.yml
  packages/protocol/.gas-snapshot
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/preconf/iface/IPreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist2.sol
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfUtils.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/test/layer1/preconf/whitelist/PeconfWhitelist2.t.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
  packages/protocol/test/layer1/preconf/whitelist/WhitelistTestBase.sol
Labels: area.protocol

#19111 feat(protocol): support fallback preconfer when whitelist returns address(0)
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
Labels: area.protocol

#19116 feat(taiko-client): optimize `parentMetahash` fetching
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/interfaces.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
  packages/taiko-client/proposer/transaction_builder/interface.go
Labels: area.client

#19117 refactor(taiko-client): remove the cancel logic for Pacaya
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
Labels: area.client

#19115 refactor(taiko-client): improve `ProofSubmitterPacaya`
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19118 feat(nfts): taikoon-ui update mainnet whitelist
  packages/taikoon-ui/src/generated/whitelist/mainnet.json
Labels: area.nfts

#19119 refactor(taiko-client): remove duplicated code for getting verifiers
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#19096 fix(taiko-client): fix errors discovered in testing the upgrade from Ontake to Pacaya
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/integration_test/test_env.sh
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/config/protocol_config.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer_test.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: category.bug, area.client

#19113 feat(protocol): multiple improvements for PreconfWhitelist2
  .github/workflows/repo--merge-gatekeeper.yml
  packages/protocol/.gas-snapshot
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/preconf/iface/IPreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist2.sol
  packages/protocol/test/layer1/preconf/whitelist/PeconfWhitelist2.t.sol
Labels: area.protocol

#19123 refactor(taiko-client): remove duplicated code in `proofProducer`
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client

#19122 refactor(protocol): replace PreconfWhitelist with PreconfWhitelist2
  .github/workflows/repo--merge-gatekeeper.yml
  packages/protocol/.gas-snapshot
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist2.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/layer1/preconf/whitelist/PeconfWhitelist.t.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
Labels: area.protocol

#19124 refactor(taiko-client): remove duplicated code for Raiko response validation
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client

#19126 feat(taiko-client): revert hardcode config and `ComposeVerifier` from flag
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/config/protocol_config.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/config_test.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19127 fix(taiko-client): fix a checking issue about `--l1.beacon` flag value check
  packages/taiko-client/driver/driver.go
Labels: area.client

#19128 feat(taiko-client): add two metrics for preconfirmation
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/internal/metrics/metrics.go
Labels: area.client

#19129 feat(taiko-client): cherry-pick changes in #19116
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/interfaces.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/common.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19130 chore(taiko-client): update Hekla Pacaya fork height
  packages/taiko-client/pkg/rpc/client.go
Labels: area.client

#19132 chore(protocol): update pacaya height
  packages/protocol/contracts/layer1/based/TaikoData.sol
Labels: area.protocol

#19131 chore(protocol): update Hekla Pacaya fork height
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
Labels: area.protocol

#18996 chore(main): release taiko-alethia-client 1.1.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19136 chore(main): release taiko-alethia-client 1.2.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19137 feat(taiko-client): introduce `DecompressPacaya`
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/pkg/utils/util_test.go
  packages/taiko-client/pkg/utils/utils.go
Labels: area.client

#19138 chore(main): release taiko-alethia-client 1.3.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19134 chore(protocol): update Hekla contract logs for Pacaya
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19144 fix(docs-site): update the links and explorer
  packages/docs-site/src/content/docs/network-reference/rpc-configuration.mdx
  packages/docs-site/src/content/docs/start-here/getting-support.md
Labels: area.docs

#19142 chore(main): release taiko-alethia-client 1.3.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19125 feat(docs-site): pacaya docs
  packages/docs-site/astro.config.ts
  packages/docs-site/src/assets/content/docs/taiko-alethia-protocol/raiko-image-draft.webp
  packages/docs-site/src/content/docs/network-reference/hekla-addresses.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/pacaya-fork.mdx
Labels: area.docs

#19145 test(taiko-client): add revert protection tests
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#19148 fix(taiko-client): buffer size & error check
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: category.bug, area.client

#19149 fix(taiko-client): disable zk proof aggregation for Ontake
  packages/taiko-client/prover/init.go
Labels: category.bug, area.client

#19146 chore(main): release taiko-alethia-client 1.3.2
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19046 chore(main): release docs-site 1.26.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19154 fix(protocol): register L2 bridge to L1 resolver
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
Labels: category.bug, area.protocol

#19155 chore(docs-site): update bridge token addresses for hekla
  packages/docs-site/src/content/docs/network-reference/hekla-addresses.md
Labels: area.docs

#19153 docs(protocol): upgrade bridge related stuff on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs, area.protocol

#19157 chore(taiko-client): update Go contract bindings
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_forced_inclusion_store.go
  packages/taiko-client/bindings/pacaya/gen_preconf_whitelist.go
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
Labels: area.client

#19158 feat(taiko-client): stop proposing when `taikoWrapper.preconfRouter` is set
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/proposer.go
Labels: area.client

#19159 fix(protocol): remove bridge stuff & fix some issue
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
Labels: area.protocol

#18973 feat(docs-site): add preconf page
  packages/docs-site/astro.config.ts
  packages/docs-site/src/content/docs/taiko-alethia-protocol/pacaya-fork.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-preconfirmation.mdx
Labels: area.docs

#19156 chore(main): release docs-site 1.27.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19161 fix(taiko-client): improve `checkL1Reorg` method
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/event_handler/block_proposed_pacaya.go
Labels: area.client

#19162 feat(taiko-client): improve `checkLastVerifiedBlockMismatch`
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator.go
Labels: area.client

#19164 chore(docs-site): proverset docs & fix software releases badges
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/network-reference/software-releases-and-deployments.md
Labels: area.docs

#19163 feat(taiko-client): improve `initL1Current` && guardian prover
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#19165 chore(main): release docs-site 1.27.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19166 fix(taiko-client): fix a bug in `syncer.checkReorg()`
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
Labels: area.client

#19167 fix(taiko-client): use blobHashes to get blobs from BlobDataSource & introduce `MaxBlobNums`
  packages/taiko-client/driver/txlist_fetcher/blob.go
  packages/taiko-client/pkg/rpc/blob_datasource.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/config.go
Labels: area.client

#19168 fix(taiko-client): fix a `firstBlockID` calculation issue
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#19151 chore(main): release taiko-alethia-client 1.4.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19169 refactor(main): use the built-in max/min to simplify the code
  packages/blobstorage/indexer/indexer.go
  packages/blobstorage/pkg/utils/utils.go
Labels: area.blob-storage

#19170 fix(taiko-client): fix firstBlockID
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
Labels: area.client

#19171 chore(main): release taiko-alethia-client 1.4.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19172 fix(taiko-client): check `--prover.proveUnassignedBlocks` flag value before proving expired blocks
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/event_handler/block_proposed_pacaya.go
Labels: area.client

#19176 docs(protocol): upgrade Hekla `signal_service`
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/test/shared/signal/SignalService.t.sol
Labels: area.protocol

#19175 test(taiko-client): improve `TestTxPoolContentWithMinTip`
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19178 chore(taiko-client): improve `BatchesVerified` event handler
  packages/taiko-client/prover/event_handler/block_verified.go
  packages/taiko-client/prover/event_handler/interface.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#19179 chore(taiko-client): rename some variables
  packages/taiko-client/pkg/rpc/client.go
Labels: area.client

#19173 feat(taiko-client): enable pivot proof & refactor logging
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
Labels: area.client, category.feature

#19180 feat(taiko-client): remove some unused proposer flags
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#19177 fix(protocol): add `signal_service` deployment & rm debug event
  packages/protocol/contracts/layer1/verifiers/SgxVerifier.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
Labels: area.protocol

#19181 chore(taiko-client): use `golang:1.24-alpine` in Dockerfile
  packages/taiko-client/Dockerfile
  packages/taiko-client/prover/prover.go
Labels: area.client

#19182 feat(taiko-client): improve `BatchesProved` event handler in prover
  packages/taiko-client/pkg/config/protocol_config.go
  packages/taiko-client/prover/event_handler/assignment_expired.go
  packages/taiko-client/prover/event_handler/block_proposed_pacaya.go
  packages/taiko-client/prover/event_handler/interface.go
  packages/taiko-client/prover/event_handler/transition_proved.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/prover.go
Labels: area.client
