Repository taikoxyz/taiko-mono, pull requests merged in 2025-05, with the labels that each got.

#19358 feat(taiko-client): introduce `GET /status` for preconfirmation API server
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/lookahead.go
  packages/taiko-client/driver/preconf_blocks/queue.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: category.enhancement, area.client

#19342 chore(taiko-client): add more preconfirmation metrics
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/metrics/metrics.go
Labels: area.client

#19373 feat(taiko-client): improve `isBatchPreconfirmed`
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
Labels: area.client

#19379 feat(taiko-client): add checks to ensure preconfirmation blocks are based on canonical chain
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/driver_test.go
Labels: area.client

#19366 refactor(taiko-client): refactor generated proof logs
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_geth_proof_producer.go
Labels: area.client

#19378 fix(protocol): ensure empty blobHashes for normal proposals in TaikoWrapper
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/layout/layer1-contracts.md
  packages/protocol/layout/layer2-contracts.md
Labels: category.bug

#19351 refactor(relayer): use the built-in `max/min` to simplify the code
  packages/relayer/indexer/indexer.go
Labels: area.relayer

#19389 chore(protocol): fix typo
  packages/protocol/contracts/layer1/based/LibProverAuth.sol
Labels: area.protocol

#19385 feat(protocol): replace onchain ProverMarket with offchain markets
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/LibProverAuth.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/prover-market/IProverMarket.sol
  packages/protocol/contracts/layer1/prover-market/ProverMarket.sol
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer.txt
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer_fee_above_liveness.txt
  packages/protocol/gas-reports/inbox_with_provermarket_same_prover_as_proposer_measure_gas_used.txt
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_EtherAsBond.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/prover-market/ProverMarket.t.sol
Labels: area.protocol

#19399 chore(docs-site): add diff
  packages/docs-site/src/content/docs/network-reference/differences-from-ethereum.md
Labels: area.docs

#19270 chore(main): release docs-site 1.27.5
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19386 chore(taiko-client): remove an unused filed in `PreconfBlockAPIServer`
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
Labels: area.client

#19418 feat(protocol): fix and deploy TokenLocker & TaikoTreasuryVault
  packages/protocol/contracts/layer1/governance/TokenLocker.sol
  packages/protocol/script/layer1/mainnet/DeployDAOVaults.s.sol
  packages/protocol/test/layer1/governance/TokenLocker.t.sol
Labels: area.protocol

#19422 test(taiko-client): fix `taiko-client` CI tests
  .github/workflows/taiko-client--test.yml
  packages/taiko-client/integration_test/deploy_l1_contract.sh
  packages/taiko-client/integration_test/test_env.sh
Labels: area.client

#19425 fix(taiko-client): fix an issue for inserting `Anchor` block after precomfirmation
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/ontake.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/methods_test.go
Labels: area.client

#19421 refactor(protocol): refactor PreconfSlasher code for `_validateMissingEOP` & `_validateInvalidEOP`
  packages/protocol/contracts/layer1/preconf/iface/IPreconfSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfSlasher.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBlockHeader.sol
Labels: area.protocol

#19423 refactor(protocol): add TaikoDAOController
  packages/protocol/contracts/layer1/governance/IntermediateOwner.sol
  packages/protocol/contracts/layer1/governance/TaikoDAOController.sol
  packages/protocol/contracts/layer1/governance/TaikoTreasuryVault.sol
  packages/protocol/contracts/layer1/governance/TokenLocker.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/mainnet/DeployDAOVaults.s.sol
  packages/protocol/script/layer1/mainnet/DeployTaikoDAOController.s.sol
  packages/protocol/test/layer1/governance/IntermediateOwner.t.sol
  packages/protocol/test/layer1/governance/TaikoDAOController.t.sol
  packages/protocol/test/layer1/governance/TaikoTreasuryVault.t.sol
  packages/protocol/test/layer1/governance/TokenLocker.t.sol
Labels: area.protocol

#19434 feat(taiko-client): remove two unused flags
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
Labels: area.client

#19433 feat(taiko-client): improve `RequestProof`
  packages/taiko-client/pkg/rpc/ethclient.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
Labels: area.client

#19430 feat(taiko-client): replace `latestSeenProposalCh` with `latestBlockIDSeenInEvent`
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19390 feat(bridge-ui): relayer component retry status
  packages/bridge-ui/src/components/Relayer/Relayer.svelte
  packages/bridge-ui/vercel.json
Labels: area.bridge

#19440 fix(relayer): if cant find process message tx, continue loop
  packages/relayer/pkg/http/get_events_by_address.go
Labels: area.relayer

#19441 refactor(protocol): introduce EssentialResolverContract
  packages/protocol/contracts/layer1/automata-attestation/AutomataDcapV3Attestation.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/verifiers/OpVerifier.sol
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/governance/TaikoDAOController.sol
  packages/protocol/contracts/layer1/hekla/HeklaTaikoToken.sol
  packages/protocol/contracts/layer1/mainnet/resolvers/SharedResolver.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/provers/ProverSetBase.sol
  packages/protocol/contracts/layer1/team/MerkleClaimable.sol
  packages/protocol/contracts/layer1/team/TokenUnlock.sol
  packages/protocol/contracts/layer1/token/TaikoToken.sol
  packages/protocol/contracts/layer1/verifiers/TaikoRisc0Verifier.sol
  packages/protocol/contracts/layer1/verifiers/TaikoSP1Verifier.sol
  packages/protocol/contracts/layer1/verifiers/TaikoSgxVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/layer2/DelegateOwner.sol
  packages/protocol/contracts/layer2/based/anchor/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/token/BridgedTaikoToken.sol
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/contracts/shared/bridge/QuotaManager.sol
  packages/protocol/contracts/shared/common/DefaultResolver.sol
  packages/protocol/contracts/shared/common/EssentialContract.sol
  packages/protocol/contracts/shared/common/EssentialResolverContract.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/contracts/shared/token/TaikoTokenBase.sol
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
  packages/protocol/test/layer1/fork-router/ForkRouter.t.sol
  packages/protocol/test/layer1/governance/TaikoDAOController.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/layer1/team/tokenunlock/TokenUnlock.t.sol
  packages/protocol/test/layer2/DelegateOwner.t.sol
  packages/protocol/test/shared/common/EssentialContract.t.sol
  packages/protocol/test/shared/helpers/EssentialContract_EmptyStub.sol
  packages/protocol/test/shared/layer2/token/BridgedTaikoToken.t.sol
Labels: area.protocol

#19446 feat(protocol): remove `quotaManager` in genesis generation script
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/generate/taikoAnchor.ts
Labels: area.protocol

#19449 chore(protocol): update the pacaya fork height on mainnet
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19443 feat(protocol): remove quota manager
  packages/protocol/contracts/layer1/mainnet/multirollup/MainnetBridge.sol
  packages/protocol/contracts/layer1/mainnet/resolvers/SharedResolver.sol
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/contracts/shared/bridge/IQuotaManager.sol
  packages/protocol/contracts/shared/bridge/QuotaManager.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/contracts/shared/tokenvault/ERC20VaultOriginal.sol
  packages/protocol/layout/shared-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradePacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/mainnet/DeployQuotaManager.s.sol
  packages/protocol/script/layer2/PostGenesisQuery.s.sol
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/generate/taikoAnchor.ts
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer2/DelegateOwner.t.sol
  packages/protocol/test/shared/CommonTest.sol
  packages/protocol/test/shared/bridge/Bridge1.t.sol
  packages/protocol/test/shared/bridge/Bridge2_quota.t.sol
  packages/protocol/test/shared/bridge/QuotaManager.t.sol
  packages/protocol/test/shared/bridge/TestBridge2Base.sol
  packages/protocol/test/shared/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault_solver.t.sol
  packages/protocol/test/shared/tokenvault/ERC721Vault.t.sol
Labels: area.protocol

#19444 feat(taiko-client): introduce `BuildPayloadArgsID` for `L1Origin`
  go.mod
  go.sum
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
Labels: area.client

#19447 chore(protocol): launch Pacaya on mainnet & fork height
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/mainnet/verifiers/MainnetVerifier.sol
  packages/protocol/script/layer1/mainnet/DeployMainnetPacayaL1.s.sol
  packages/protocol/script/layer2/mainnet/DeployMainnetPacayaL2.s.sol
  packages/protocol/script/layer2/mainnet/UpgradeMainnetPacayaL2.s.sol
Labels: area.protocol

#19451 refactor(protocol): further refactor address resolving code
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/based/libs/LibVerification.sol
  packages/protocol/contracts/layer1/devnet/verifiers/OpVerifier.sol
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/mainnet/resolvers/SharedResolver.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/provers/ProverSetBase.sol
  packages/protocol/contracts/layer1/team/TokenUnlock.sol
  packages/protocol/contracts/layer1/verifiers/TaikoRisc0Verifier.sol
  packages/protocol/contracts/layer1/verifiers/TaikoSP1Verifier.sol
  packages/protocol/contracts/layer1/verifiers/TaikoSgxVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/layer2/DelegateOwner.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/contracts/shared/libs/LibNames.sol
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/LibSignals.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/contracts/shared/token/TaikoTokenBase.sol
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC20.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC721.sol
  packages/protocol/contracts/shared/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20VaultOriginal.sol
  packages/protocol/contracts/shared/tokenvault/ERC721Vault.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/script/layer2/DeployDelegateOwner.s.sol
  packages/protocol/script/layer2/PostGenesisConfig.s.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Labels: area.protocol

#19454 chore(protocol): deploy mainnet ontake L1 with Pacaya height check
  packages/protocol/contracts/layer1/based/TaikoData.sol
  packages/protocol/script/layer1/UpdateMainnetOntakeL1.s.sol
Labels: area.protocol

#19455 chore(protocol): fix and update some values in Mainnet Pacaya deployment scripts
  packages/protocol/script/layer1/mainnet/DeployMainnetPacayaL1.s.sol
Labels: area.protocol

#19453 ci(protocol): keep only the latest 5 releases per package
  .github/workflows/cleanup-releases.yml
Labels: area.protocol

#19456 docs(protocol): fix registered address in mainnet log
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19459 feat(protocol): update old fork `oldFork` for mainnet pacaya deployment script
  packages/protocol/script/layer1/mainnet/DeployMainnetPacayaL1.s.sol
Labels: area.protocol

#19361 feat(taiko-client): gossip req/resp + endofsequencer mark + ws endpoint
  go.mod
  go.sum
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/chain_syncer/event/syncer_test.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/lookahead.go
  packages/taiko-client/driver/preconf_blocks/lookahead_test.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
Labels: area.client

#19462 chore(protocol): change the `livenessBondBase` back to 125 TAIKO
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19463 chore(protocol): change the `livenessBondBase` back to 125 TAIKO
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19458 ci(protocol): try another way of deleting old releases
  .github/workflows/cleanup-releases.yml
Labels: area.protocol

#19460 chore(protocol): rename l2ChainId to taikoChainId in sol files
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
Labels: area.protocol

#19467 fix(protocol): fix cache & enable drawing offchain
  packages/protocol/contracts/layer1/mainnet/addrcache/RollupAddressCache.sol
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
Labels: area.protocol

#19466 fix(taiko-client): check pointer before logging
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19465 docs(protocol): deployment logs on mainnet for Pacaya
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19468 docs(protocol): update mainnet deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#19435 refactor(taiko-client): polish #19361
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/driver/preconf_blocks/util_test.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#19474 refactor(protocol): rename v4IsOnL1 to v4IsInbox
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/fork-router/ShastaForkRouter.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/shared/based/ITaiko.sol
  packages/protocol/contracts/shared/libs/LibNames.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.h.sol
Labels: area.protocol

#19477 fix(eventindexer): pacaya flag
  packages/eventindexer/cmd/flags/indexer.go
  packages/eventindexer/indexer/filter.go
Labels: area.event-indexer

#19478 feat(protocol): improve `DeployMainnetPacayaL1` script
  packages/protocol/contracts/layer1/mainnet/resolvers/RollupResolver.sol
  packages/protocol/script/layer1/mainnet/DeployMainnetPacayaL1.s.sol
  packages/protocol/script/layer2/mainnet/DeployMainnetPacayaL2.s.sol
Labels: area.protocol

#19427 refactor(protocol): refactor PreconfSlasher
  packages/protocol/contracts/layer1/preconf/iface/IPreconfSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfSlasher.sol
  packages/protocol/contracts/layer1/preconf/libs/LibBlockHeader.sol
  packages/protocol/layout/layer1-contracts.txt
Labels: area.protocol

#19482 feat(taiko-client): cherry-pick a missing proposer change in `0.43.2`
  packages/taiko-client/proposer/proposer.go
Labels: area.client

#19473 feat(taiko-client): add more double-checks in `isKnownCanonicalBlock`
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
Labels: area.client

#19480 docs(protocol): update mainnet L1 deployment
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19483 fix(taiko-client): only update the lookahead once per epoch
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/lookahead.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19484 docs(protocol): deployment logs on alethia for Pacaya
  packages/protocol/deployments/mainnet-contract-logs-L2.md
Labels: area.protocol

#19488 feat(protocol): add optional lastBlockId check in PreconfRouter
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
Labels: area.protocol

#19487 feat(taiko-client): validate the payload before caching it && only cache the preconf block request after sent
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19475 feat(protocol): enforce tail-only anchoring
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/TaikoAnchor.sol
Labels: area.protocol

#19490 fix(taiko-client): update `highestUnsafeL2PayloadBlockID` if reorging via `POST /preconfBlocks`
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19485 feat(protocol): improve DelegateOwner
  packages/protocol/contracts/layer1/governance/TaikoDAOController.sol
  packages/protocol/contracts/layer2/DelegateOwner.sol
  packages/protocol/contracts/layer2/TestDelegateOwned.sol
  packages/protocol/deployments/mainnet-contract-logs-L2.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/script/layer1/mainnet/SendMessageToDelegateOwner.s.sol
  packages/protocol/script/layer2/DeployDelegateOwner.s.sol
  packages/protocol/test/layer2/DelegateOwner.t.sol
  packages/protocol/test/layer2/Layer2Test.sol
Labels: area.protocol

#19492 feat(fork-diff): update forkdiff
  .github/workflows/fork-diff--preview.yml
  .github/workflows/fork-diff--production.yml
  packages/fork-diff/fork.yaml
Labels: area.developer-experience

#19495 fix(protocol): fix issue in proposeBatchWithExpectedLastBlockId
  packages/protocol/.gas-snapshot
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
Labels: area.protocol

#19493 chore(main): release fork-diff 0.7.0
  .release-please-manifest.json
  packages/fork-diff/CHANGELOG.md
  packages/fork-diff/package.json
Labels: autorelease: pending

#19494 chore(protocol): introduce Controller and build DAO proposal-0002
  packages/protocol/contracts/layer1/governance/TaikoDAOController.sol
  packages/protocol/contracts/layer2/DelegateController.sol
  packages/protocol/contracts/layer2/hekla/DelegateOwner.sol
  packages/protocol/contracts/layer2/mainnet/DelegateController.sol
  packages/protocol/contracts/layer2/mainnet/TestDelegateOwned.sol
  packages/protocol/contracts/shared/goverance/Controller.sol
  packages/protocol/deployments/mainnet-contract-logs-L2.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/hekla/UpdatePacayaL2.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
  packages/protocol/script/layer1/mainnet/SendMessageToDelegateOwner.s.sol
  packages/protocol/script/layer2/hekla/DeployDelegateOwner.s.sol
  packages/protocol/test/layer1/governance/TaikoDAOController.t.sol
  packages/protocol/test/layer1/proposals/BuildProposal.sol
  packages/protocol/test/layer1/proposals/Proposal0001.t.sol
  packages/protocol/test/layer1/proposals/Proposal0002.t.sol
  packages/protocol/test/layer2/Layer2Test.sol
  packages/protocol/test/layer2/hekla/DelegateOwner.t.sol
  packages/protocol/test/layer2/mainnet/DelegateController.t.sol
Labels: area.protocol

#19499 chore(docs-site): update proverset guide for pacaya
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
Labels: area.docs

#19500 chore(main): release docs-site 1.27.6
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19505 fix(protocol): remove unnecessary slasher check in LookaheadStore
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Labels: area.protocol

#19504 chore(protocol): add more addresses to LibMainnetL2Addresses & LibMainnetL1Addresses
  packages/protocol/contracts/layer1/mainnet/libs/LibMainnetL1Addresses.sol
  packages/protocol/contracts/layer2/mainnet/BarUpgradeable.sol
  packages/protocol/contracts/layer2/mainnet/LibMainnetL2Addresses.sol
Labels: area.protocol

#19498 chore(protocol): introduce Controller and build DAO proposal-0002
  packages/protocol/contracts/layer1/governance/TaikoDAOController.sol
  packages/protocol/contracts/layer1/mainnet/TaikoDAOController.sol
  packages/protocol/contracts/layer1/mainnet/libs/LibL1Addrs.sol
  packages/protocol/contracts/layer2/TestDelegateOwned.sol
  packages/protocol/contracts/layer2/hekla/DelegateOwner.sol
  packages/protocol/contracts/layer2/mainnet/DelegateController.sol
  packages/protocol/contracts/layer2/mainnet/libs/LibL2Addrs.sol
  packages/protocol/contracts/shared/goverance/Controller.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/hekla/UpdatePacayaL2.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
  packages/protocol/script/layer1/mainnet/DeployTaikoDAOController.s.sol
  packages/protocol/script/layer1/mainnet/SendMessageToDelegateOwner.s.sol
  packages/protocol/script/layer1/proposals/BuildProposal.sol
  packages/protocol/script/layer1/proposals/Proposal0002.s.sol
  packages/protocol/script/layer2/hekla/DeployDelegateOwner.s.sol
  packages/protocol/script/layer2/mainnet/DeployDelegateController.s.sol
  packages/protocol/test/layer1/governance/TaikoDAOController.t.sol
  packages/protocol/test/layer1/proposals/0001_TrainingModule2DanielWang.sol
  packages/protocol/test/layer2/Layer2Test.sol
  packages/protocol/test/layer2/hekla/DelegateOwner.t.sol
  packages/protocol/test/layer2/mainnet/DelegateController.t.sol
Labels: area.protocol

#19506 feat(taiko-client): remove Guardian Prover ABI
  packages/taiko-client/bindings/encoding/input.go
Labels: area.client

#19479 chore(protocol): minor changes to PreconfSlasher
  packages/protocol/contracts/layer1/preconf/iface/IPreconfSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfSlasher.sol
Labels: area.protocol

#19512 chore(protocol): update tcbs
  packages/protocol/test/layer1/automata-attestation/assets/0525/tcb_00606A000000.json
  packages/protocol/test/layer1/automata-attestation/assets/0525/tcb_00706A100000.json
  packages/protocol/test/layer1/automata-attestation/assets/0525/tcb_00706A800000.json
  packages/protocol/test/layer1/automata-attestation/assets/0525/tcb_00906ED50000.json
  packages/protocol/test/layer1/automata-attestation/assets/0525/tcb_00A067110000.json
  packages/protocol/test/layer1/automata-attestation/assets/0525/tcb_30606a000000.json
Labels: area.protocol

#19515 chore(taiko-client): when removing preconf blocks, use the update method to log it
  packages/taiko-client/driver/preconf_blocks/api.go
Labels: area.client

#19517 feat(taiko-client): introduce `--prover.localProposerAddresses` flag
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/event_handler/batch_proposed.go
  packages/taiko-client/prover/init.go
Labels: area.client

#19518 chore(taiko-client): add a log for local proposer addresses
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/prover/config.go
Labels: area.client

#19523 feat(taiko-client): add more preconfirmation metrics
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/queue.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/metrics/metrics.go
Labels: area.client

#19524 feat(taiko-client): remove an unused field in `BatchProposedIterator`
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/batch_proposed_iterator.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#19526 fix(taiko-client): reduce slot required for updating lookahead
  packages/taiko-client/driver/driver.go
Labels: area.client

#19525 feat(taiko-client): check router on taiko wrapper before allowing preconf block to be made
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19528 chore(taiko-client): cleanup the `Ontake` fork decompression method
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/pkg/utils/util_test.go
  packages/taiko-client/pkg/utils/utils.go
Labels: area.client

#19530 fix(deps-dev): fix a compiler error in `BalanceMonitor`
  packages/balance-monitor/cmd/utils/subcommand.go
Labels: area.developer-experience

#19529 fix(taiko-client): curr range lookahead fix
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/lookahead.go
  packages/taiko-client/driver/preconf_blocks/lookahead_test.go
Labels: area.client

#19509 refactor(protocol): add commands for print and dryrun proposal actions
  packages/protocol/contracts/layer1/mainnet/FooUpgradeable.sol
  packages/protocol/contracts/layer1/mainnet/TaikoDAOController.sol
  packages/protocol/contracts/layer1/mainnet/libs/LibL1Addrs.sol
  packages/protocol/contracts/layer2/mainnet/BarUpgradeable.sol
  packages/protocol/contracts/layer2/mainnet/DelegateController.sol
  packages/protocol/contracts/layer2/mainnet/libs/LibL2Addrs.sol
  packages/protocol/contracts/shared/goverance/Controller.sol
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/package.json
  packages/protocol/script/layer1/mainnet/DeployFooUpgradeable.s.sol
  packages/protocol/script/layer1/mainnet/DeployTaikoDAOController.s.sol
  packages/protocol/script/layer1/proposals/BuildProposal.sol
  packages/protocol/script/layer1/proposals/Proposal0002.action.md
  packages/protocol/script/layer1/proposals/Proposal0002.md
  packages/protocol/script/layer1/proposals/Proposal0002.s.sol
  packages/protocol/script/layer2/mainnet/DeployBarUpgradeable.s.sol
  packages/protocol/script/layer2/mainnet/DeployDelegateController.s.sol
  packages/protocol/test/layer1/governance/TaikoDAOController.t.sol
  packages/protocol/test/layer2/mainnet/DelegateController.t.sol
Labels: area.protocol

#19527 feat(protocol): increase randomness delay epochs in PreconfWhitelist
  packages/protocol/contracts/layer1/preconf/iface/IPreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfConstants.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/layer1/preconf/whitelist/PeconfWhitelist.t.sol
Labels: area.protocol

#19535 fix(protocol): add back `deployments/deploy_l1.json` output for L1 deployment scripts
  packages/protocol/test/shared/DeployCapability.sol
Labels: area.protocol

#19541 feat(protocol): enable preconf modifier to allow fallback preconf
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPreconf.s.sol
Labels: area.protocol

#19540 fix(relayer): fix an `occurredTxHash` log in relayer
  packages/relayer/processor/process_message.go
Labels: area.relayer

#19537 feat(taiko-client): remove `DELETE /preconfBlocks` API
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19520 Preconf router lookahead refactor
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter2.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter2.sol
Labels: area.protocol

#19534 feat(protocol): print fork heights in genesis generation script
  packages/protocol/test/genesis/generate/taikoAnchor.ts
Labels: area.protocol

#19543 refactor(protocol): getBatch return `storage` pointer instead of `memory` copy
  .github/workflows/protocol.yml
  packages/protocol/contracts/layer1/based/libs/LibVerification.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/test/shared/DeployCapability.sol
Labels: area.protocol

#19549 feat(docs-site): post-pacaya docs-site rehaul
  packages/docs-site/astro.config.ts
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-alethia.webp
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/guides/app-developers/receive-tokens.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/network-reference/alethia-addresses.md
  packages/docs-site/src/content/docs/network-reference/contract-addresses.mdx
  packages/docs-site/src/content/docs/network-reference/differences-from-ethereum.md
  packages/docs-site/src/content/docs/network-reference/hekla-addresses.md
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
  packages/docs-site/src/content/docs/network-reference/software-releases-and-deployments.md
  packages/docs-site/src/content/docs/resources/faqs.md
  packages/docs-site/src/content/docs/resources/terminology.mdx
  packages/docs-site/src/content/docs/start-here/getting-started.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/bridge-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/composeverifier-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/sgxverifier-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/signalservice-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikoanchor-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikoinbox-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikol1-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/account-abstraction.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/block-states.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/economics.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/taiko-alethia-nodes.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-preconfirmation.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/contestable-rollup.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/multi-proofs.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/pacaya-fork-taiko-alethia.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/what-is-taiko-alethia.md
Labels: area.docs

#19552 chore(main): release docs-site 1.28.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19555 chore(protocol): update `maxAnchorHeightOffset` to 96
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/script/layer1/preconf/UpgradeMasayaNewFork.s.sol
Labels: area.protocol

#19557 chore(protocol): update `maxAnchorHeightOffset` from 64 to 96
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19558 fix(protocol): fix the deployment script on Hekla
  packages/protocol/script/layer1/hekla/DeployHeklaPreconf.s.sol
Labels: area.protocol

#19560 docs(protocol): format deployment docs
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19562 chore(taiko-client): bump opt lib
  go.mod
  go.sum
Labels: area.client

#19561 fix(protocol): fix Dani's incomplete block-based for number PR
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/based/libs/LibVerification.sol
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
Labels: area.protocol

#19564 feat(protocol): add unit tests for block based fork height activation
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_ForkBoundaries.t.sol
Labels: area.protocol

#19547 chore(taiko-client): clean up the unused code
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/queue.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/interfaces.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/event_handler/assignment_expired_test.go
Labels: area.client

#19554 feat(protocol): improve lookahead posting and liveness
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter2.sol
Labels: area.protocol

#19568 docs(protocol): update signal_service on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol
