Repository taikoxyz/taiko-mono, pull requests merged in 2025-10, with the labels that each got.

#20336 ci(relayer, eventindexer): update setup go and peg version to go.mod
  .github/workflows/eventindexer--test.yml
  .github/workflows/relayer--test.yml
Labels: area.relayer, area.event-indexer

#20332 fix(taiko-client): rename SubscribePorposedShasta to SubscribeProposedShasta
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/pkg/rpc/subscription.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#20328 fix(relayer): improve MySQL container test reliability
  packages/eventindexer/pkg/repo/containers_test.go
  packages/relayer/pkg/repo/containers_test.go
  packages/taiko-client/prover/event_handler/batch_proposed.go
  packages/taiko-client/prover/event_handler/batch_proposed_test.go
  packages/taiko-client/prover/event_handler/shasta_proposed.go
  packages/taiko-client/prover/init.go
Labels: area.relayer

#20311 feat(protocol): optimize LookaheadStore by removing redundant validations
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Labels: area.protocol

#20235 chore(relayer): add RPC connection timeouts in relayer API startup
  packages/relayer/api/api.go
Labels: area.relayer

#20161 fix(eventindexer): avoid increasing zero-address balances on ERC20 burns; skip no-op increases
  packages/eventindexer/indexer/index_erc20_transfers.go
  packages/eventindexer/pkg/repo/erc20_balance.go
Labels: area.event-indexer

#19861 refactor(balance-monitor, eventindexer, relayer): replace exp/slog with standard log/slog
  packages/balance-monitor/balance-monitor/balance_monitor.go
  packages/balance-monitor/balance-monitor/metrics.go
  packages/eventindexer/pkg/metrics/metrics.go
  packages/eventindexer/pkg/repo/chart.go
  packages/eventindexer/pkg/repo/nft_balance.go
  packages/relayer/bridge/bridge.go
  packages/relayer/pkg/metrics/metrics.go
Labels: area.relayer, area.event-indexer

#20315 feat(protocol): add minCheckpointDelay to rate-limit checkpoint saving
  packages/protocol/CLAUDE.md
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaMainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/gas-reports/LibProposeInputDecoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/CodecGasComparisonTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Consecutive.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProve.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposedEventEncoder.t.sol
Labels: area.protocol

#20361 ci(taiko-client): fix linting job before we upgrade go version
  packages/taiko-client/Makefile
Labels: area.docs

#20324 refactor(protocol): remove redundant checkRecallMessageContext check
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/contracts/shared/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC721Vault.sol
Labels: area.protocol

#20351 feat(protocol): allow voluntary checkpoint sync
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
Labels: area.protocol

#20134 fix(docs-site): incorrect type definition for `pages`
  packages/docs-site/src/pages/og/[...slug].ts
Labels: area.docs

#20356 chore(protocol): remove unused preconfSlasher from LookaheadSlasher
  packages/protocol/contracts/layer1/preconf/impl/LookaheadSlasher.sol
Labels: area.protocol

#20369 chore(protocol): remove unused env checks from DeployProtocolOnL1
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Labels: area.protocol

#20373 chore(repo): update `taiko-client` code owners
  .github/CODEOWNERS
Labels: area.client

#20358 chore(docs-site): add supra oracle
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs

#20375 chore(taiko-client): unify log formatting
  packages/taiko-client/driver/chain_syncer/event/manifest/shasta.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/pkg/rpc/beaconclient.go
  packages/taiko-client/pkg/rpc/dial.go
  packages/taiko-client/pkg/state_indexer/indexer.go
Labels: area.client

#20378 docs(protocol): add analysis for 208 bits of Keccak security
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/docs/analysis/InboxOptimized1-bytes26-Analysis.md
Labels: area.protocol

#20322 docs(protocol): more important updates to the derivation doc
  packages/protocol/contracts/layer1/shasta/libs/LibManifest.sol
  packages/protocol/docs/Derivation.md
Labels: area.protocol
