Repository taikoxyz/taiko-mono, pull requests merged in 2025-08, with the labels that each got.

#19857 feat(protocol): the script of upgrading prover set for preconf on Hekla
  packages/protocol/script/layer1/hekla/UpgradeHeklaProverSet.s.sol
Labels: area.protocol

#19869 fix(taiko-client): fix the returned err about blob not found
  packages/taiko-client/driver/txlist_fetcher/blob.go
Labels: area.client

#19856 chore(main): release taiko-alethia-client 1.10.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19878 fix(repo): fix protocol bot push workflow
  .github/workflows/protocol.yml
Labels: area.repo

#19877 chore(main): release docs-site 1.29.6
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19888 fix(repo): update claude checkout action to checkout forks
  .github/workflows/repo--claude.yml
Labels: area.repo

#19858 feat(protocol): prepare the calldata for mainnet preconf
  packages/protocol/script/layer1/hekla/UpgradeHeklaProverSet.s.sol
  packages/protocol/script/layer1/mainnet/DeployWLAndWrapper.s.sol
  packages/protocol/script/layer1/mainnet/DeployWhitelistWithEjecter.sol
Labels: area.protocol

#19901 fix(repo): fix claude comment
  .github/workflows/repo--claude.yml
Labels: area.repo

#19896 docs(protocol): enable ejector and EOA fallback proposer on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19893 feat(protocol): implement new Anchor contract
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/DESIGN.md
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/libs/LibDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibManifest.sol
  packages/protocol/contracts/layer1/shasta/offchain-specs/.claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/offchain-specs/BlobDecoder.py
  packages/protocol/contracts/layer1/shasta/offchain-specs/BlockCalls.py
  packages/protocol/contracts/layer1/shasta/offchain-specs/README.md
  packages/protocol/contracts/layer1/shasta/offchain-specs/Types.py
  packages/protocol/contracts/layer1/shasta/offchain-specs/requirements.txt
  packages/protocol/contracts/layer2/based/IBlockHashProvider.sol
  packages/protocol/contracts/layer2/based/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/docs/Derivation.md
  packages/protocol/contracts/layer2/based/libs/LibEIP1559.sol
  packages/protocol/contracts/layer2/shasta/iface/IAnchor.sol
  packages/protocol/contracts/layer2/shasta/iface/IBlockHashManager.sol
  packages/protocol/contracts/layer2/shasta/impl/Anchor.sol
  packages/protocol/contracts/layer2/shasta/impl/BlockHashManager.sol
  packages/protocol/contracts/shared/based/iface/IBondManager.sol
  packages/protocol/contracts/shared/based/iface/ISyncedBlockManager.sol
  packages/protocol/contracts/shared/based/impl/BondManager.sol
  packages/protocol/contracts/shared/based/impl/SyncedBlockManager.sol
  packages/protocol/contracts/shared/based/libs/LibBondOperation.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC721.sol
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
  packages/protocol/script/layer2/hekla/DeployPacayaL2.s.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/layer2/Layer2Test.sol
  packages/protocol/test/layer2/based/TaikoAnchor.t.sol
  packages/protocol/test/layer2/based/libs/LibEIP1559.t.sol
  packages/protocol/test/layer2/helpers/TaikoAnchor_NoBaseFeeCheck.sol
  packages/protocol/test/shared/based/SyncedBlockManager.t.sol
  packages/protocol/test/shared/shasta/SyncedBlockManager.t.sol
Labels: area.protocol

#19886 chore(main): release taiko-alethia-client 1.10.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19915 feat(protocol): change min base fee to 0.025 gwei
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
Labels: area.protocol

#19918 feat(protocol): enforce min base fee to 0.025 gwei
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
Labels: area.protocol

#19916 fix(repo): fix check links to inclide 200 status
  .github/workflows/repo--check-links.yml
Labels: area.repo

#19546 feat(taiko-client): fallback preconf
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_preconf_router.go
  packages/taiko-client/bindings/pacaya/gen_preconf_whitelist.go
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/config_test.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
  packages/taiko-client/scripts/gen_bindings.sh
Labels: area.client

#19778 docs(protocol): the preconf deployment logs on mainnet
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/deployments/mainnet-contract-logs-L2.md
Labels: area.protocol

#19929 fix(docs-site): fix astro.config.ts
  packages/docs-site/astro.config.ts
Labels: area.docs

#19930 chore(main): release docs-site 1.30.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19936 docs(protocol): add Gattaca's proposer
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19950 docs(protocol): add nethermind's operator & rm chainbound's temporarily
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19959 feat(protocol): remove same slot signals and solver support from ERC20 Vault
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/mainnet/multirollup/MainnetERC20Vault.sol
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20VaultOriginal.sol
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/layout/shared-contracts.txt
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradePacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault_solver.t.sol
Labels: area.protocol

#19974 chore(taiko-client): add emoji to quickly identify logs
  packages/taiko-client/driver/preconf_blocks/api.go
Labels: area.client

#19989 docs(protocol): the new impl for saving gas on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19993 fix(repo): switch to issue_comment, gh to retrieve fork for claude comment
  .github/workflows/repo--claude.yml
Labels: area.repo

#19860 feat(taiko-client): make the `beaconSyncer.getBlockPayload()` more compliant with the spec
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/encoding/struct_test.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
Labels: category.enhancement, area.client

#20018 chore(docs-site): image link consistency
  packages/docs-site/src/content/docs/guides/app-developers/deploy-a-contract.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/taiko-alethia-nodes.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/inception-layers.md
  packages/docs-site/src/content/docs/taiko-gwyneth-protocol/booster-rollups.md
Labels: area.docs

#20007 test(protocol): a proposed structure for tests in shasta
  .claude/settings.local.json
  CLAUDE.md
  packages/protocol/CLAUDE.md
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxBase.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized1Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized2Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/base/InboxOptimized3Base.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/BlobTestUtils.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/PreconfWhitelistSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/mocks/MockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized3Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
Labels: area.protocol

#19967 feat(taiko-client): fallback to sgx proof
  .claude/settings.local.json
  packages/taiko-client/driver/preconf_blocks/util.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_test.go
Labels: area.client, category.feature

#20023 feat(protocol): move forced inclusion code into a library to reduce inbox code size
  .claude/settings.local.json
  packages/protocol/contracts/layer1/shasta/iface/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/MainnetShastaInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBlobs.sol
  packages/protocol/contracts/layer1/shasta/libs/LibForcedInclusion.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite1/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxMockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/MockLibBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/IInboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized3Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized3Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized3Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
Labels: area.protocol
