Repository taikoxyz/taiko-mono, pull requests merged in 2025-09, with the labels that each got.

#19924 feat(protocol): add preconf router settings for handoverWindow
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
Labels: area.protocol

#20061 feat(protocol): update genesis generation scripts for Shasta protocol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/data/genesis_config.js
  packages/protocol/test/genesis/data/genesis_config.json
  packages/protocol/test/genesis/generate/interface.ts
  packages/protocol/test/genesis/generate/taikoAnchor.ts
  packages/protocol/test/genesis/generate/utils.ts
  packages/protocol/test/genesis/test_config.js
Labels: area.protocol

#19991 chore(main): release docs-site 1.31.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#20075 feat(protocol): provide a public view function for node to check
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
Labels: area.protocol

#20094 feat(protocol): the deployment script for devnet
  packages/protocol/contracts/layer1/shasta/impl/DevnetShastaInbox.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Labels: area.protocol, category.feature

#20106 feat(taiko-client): rpc/engine/ethclient metrics
  packages/taiko-client/cmd/utils/sub_command.go
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/pkg/rpc/dial.go
  packages/taiko-client/pkg/rpc/engine.go
  packages/taiko-client/pkg/rpc/ethclient.go
Labels: area.client

#20105 chore(taiko-client): remove unused prover fields from AssignmentExpiredEventHandler
  packages/taiko-client/prover/event_handler/assignment_expired.go
  packages/taiko-client/prover/event_handler/assignment_expired_test.go
  packages/taiko-client/prover/init.go
Labels: area.client

#20111 docs(docs-site): fix ERC-4337 doc link
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/account-abstraction.mdx
Labels: area.docs

#20136 ci(protocol): account for fork ref
  .github/workflows/protocol.yml
Labels: area.protocol

#20140 feat(protocol): update EVM version to Prague for layer1 profiles
  .claude/settings.json
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized4.sol
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/layer1-contracts.txt
Labels: area.protocol

#20142 docs(protocol): anchorBlockHash and verifiedTransitionId doc comments
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
Labels: area.protocol

#20131 refactor(protocol): extract bond instruction merging logic to LibBondsL1
  .github/workflows/protocol.yml
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/shared/based/libs/LibBonds.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/LibBondsGasTest.t.sol
Labels: area.protocol

#20146 feat(protocol): change `DevnetShastaInbox` to be based on `InboxOptimized4`
  packages/protocol/contracts/layer1/shasta/impl/DevnetShastaInbox.sol
Labels: area.protocol

#20121 feat(protocol): add contracts of tolba testnet
  packages/protocol/contracts/layer1/tolba/TolbaInbox.sol
  packages/protocol/contracts/layer1/tolba/verifiers/TolbaVerifier.sol
  packages/protocol/contracts/shared/libs/LibNetwork.sol
Labels: area.protocol

#20138 docs(docs-site): fix typos
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikoinbox-contract.md
Labels: area.docs

#20165 fix(protocol): remove prover info from the transition struct to allow out of order proving
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProveInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProveInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProveInputDecoderFuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
Labels: area.protocol

#20171 ci(protocol): forge fmt and bot commit will be skipped on forks
  .github/workflows/protocol.yml
Labels: area.protocol

#20173 docs(docs-site): fix grammar and typos in documentation
  packages/docs-site/src/content/docs/resources/faqs.md
  packages/docs-site/src/content/docs/resources/terminology.mdx
  packages/docs-site/src/content/docs/start-here/contributing.md
Labels: area.docs

#20175 fix(taiko-client): correct grammar and spelling issues
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/driver/driver.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
Labels: area.client

#19922 chore(main): release taiko-alethia-client 1.11.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#20186 feat(protocol): propose function can only be called once per Ethereum block
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposedEventEncoder.sol
  packages/protocol/gas-reports/LibProposeInputDecoder.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractProposeTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProveTest.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoderFuzz.t.sol
Labels: area.protocol

#20187 chore(protocol): remove unused SlashAmountUpdated event from IPreconfSlasher
  packages/protocol/contracts/layer1/preconf/iface/IPreconfSlasher.sol
Labels: area.protocol

#20116 docs(docs-site): corrected IP address
  packages/docs-site/src/content/docs/guides/node-operators/node-troubleshooting.mdx
Labels: area.docs

#20176 fix(relayer): correct grammar issues and typos throughout codebase
  packages/relayer/README.md
  packages/relayer/cmd/flags/api.go
  packages/relayer/cmd/flags/common.go
  packages/relayer/cmd/main.go
  packages/relayer/event.go
  packages/relayer/processor/can_process_message.go
  packages/relayer/processor/process_message.go
Labels: area.repo

#20177 fix(eventindexer): correct typos and grammar issues
  packages/eventindexer/CHANGELOG.md
  packages/eventindexer/erc20_balance.go
  packages/eventindexer/indexer/indexer.go
  packages/eventindexer/indexer/save_batches_verified_event.go
  packages/eventindexer/pkg/mock/event_repository.go
  packages/eventindexer/pkg/repo/event.go
Labels: area.event-indexer

#20198 chore(protocol): remove suite1 tests
  packages/protocol/.claude/agents/protocol-test-runner.md
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized3.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/package.json
  packages/protocol/test/layer1/shasta/inbox/suite1/INBOX_TEST_SUITE.md
  packages/protocol/test/layer1/shasta/inbox/suite1/ITestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxBasicTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxChainAdvancement.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxFinalization.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxInit.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxMockContracts.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxOutOfOrderProving.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxProposeValidation.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxProveBasic.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxRingBuffer.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTest.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTestAdapter.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/InboxTestLib.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxCore.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxFactory.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxOptimized3.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/TestInboxWithMockBlobs.sol
  packages/protocol/test/layer1/shasta/inbox/suite1/run-inbox-tests.sh
Labels: area.protocol

#20196 refactor(protocol): improve `prove` gas cost for 1 transition
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized1.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
Labels: area.protocol

#20220 feat(protocol): bump zk version
  packages/protocol/package.json
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/UpgradeVerifier.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradePacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHekla.s.sol
  packages/protocol/script/layer1/mainnet/DeploySP1Verifier.s.sol
  packages/protocol/script/layer1/tolba/UpgradeVerifier.s.sol
  packages/protocol/test/layer1/verifiers/SP1Verifier.t.sol
  pnpm-lock.yaml
Labels: area.protocol

#20201 chore(protocol): simplify and make the whitelist more efficient
  packages/protocol/contracts/layer1/preconf/iface/IPreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/PreconfWhitelistSetup.sol
Labels: area.protocol

#20246 docs(repo): add codex agent guides
  Agents.md
  packages/protocol/Agents.md
Labels: area.repo

#20234 fix(taiko-client): fix SetHeadL1Origin RPC
  go.mod
  go.sum
  packages/taiko-client/pkg/rpc/engine.go
Labels: area.client

#20248 feat(protocol): rename BondInstruction.receiver to BondInstruction.payee
  packages/protocol/contracts/layer1/shasta/libs/LibBondsL1.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashing.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProposeInputDecoder.sol
  packages/protocol/contracts/layer1/shasta/libs/LibProvedEventEncoder.sol
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/contracts/shared/shasta/libs/LibBonds.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/based/libs/LibBondsGasTest.t.sol
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProposeInputDecoderGas.t.sol
  packages/protocol/test/layer1/shasta/benchmark/LibProvedEventEncoderGas.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibHashing.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProposeInputDecoder.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/LibProvedEventEncoder.t.sol
Labels: area.protocol

#20243 chore(protocol): fix misleadind method name to match behavior
  packages/protocol/contracts/layer2/based/PacayaAnchor.sol
Labels: area.protocol

#20251 docs(repo): use symbolic links for AGENTS.md files
  AGENTS.md
  Agents.md
  packages/protocol/AGENTS.md
  packages/protocol/Agents.md
Labels: area.docs

#20259 chore(protocol): remove unused BlockParams temp array in anchorBlockId parent test
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
Labels: area.protocol

#20257 ci(repo): more codeowners to bridge-ui
  .github/CODEOWNERS
Labels: area.repo

#20269 chore(docs-site): update explorer for button
  packages/docs-site/src/components/NetworkAdder.astro
Labels: area.docs

#20252 fix(protocol): compute stored lookahead hash from provided slots
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Labels: area.protocol

#20274 feat(protocol): update risc0 verifier to v3.0.0
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/package.json
  packages/protocol/snapshots/shasta-propose.json
  pnpm-lock.yaml
Labels: area.protocol

#20280 feat(protocol): upgrade risc0 version to v3.0.0
  packages/protocol/package.json
  pnpm-lock.yaml
Labels: area.protocol

#20265 feat(taiko-client): update prover `l1Current` cursor initilization for Shasta protocol
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#20260 feat(protocol): Implement IProposerChecker for the LookaheadStore
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/iface/IProposerChecker.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/preconf/whitelist/PreconfWhitelist.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
Labels: area.protocol

#20238 feat(protocol): introduce ICodec to simplify Inbox testing
  packages/protocol/contracts/layer1/preconf/impl/LookaheadSlasher.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/shasta/iface/ICodec.sol
  packages/protocol/contracts/layer1/shasta/iface/IInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/CodecOptimized.sol
  packages/protocol/contracts/layer1/shasta/impl/CodecSimple.sol
  packages/protocol/contracts/layer1/shasta/impl/Inbox.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxHelper.sol
  packages/protocol/contracts/layer1/shasta/impl/InboxOptimized2.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaDevnetInbox.sol
  packages/protocol/contracts/layer1/shasta/impl/ShastaMainnetInbox.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashOptimized.sol
  packages/protocol/contracts/layer1/shasta/libs/LibHashSimple.sol
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeShastaL1.s.sol
  packages/protocol/snapshots/shasta-propose.json
  packages/protocol/snapshots/shasta-prove.json
  packages/protocol/test/layer1/based/libs/CodecGasComparisonTest.t.sol
  packages/protocol/test/layer1/based/libs/LibHashingGasTest.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/InboxOptimized2Helper.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestHelper.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/common/InboxTestSetup.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxDeployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized1Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/deployers/InboxOptimized2Deployer.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInbox.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized1.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/implementations/TestInboxOptimized2.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/AbstractPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1BlobOffset.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Consecutive.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1MultipleBlobs.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized1Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxOptimized2Propose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/propose/InboxPropose.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/AbstractProve.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized1Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxOptimized2Prove.t.sol
  packages/protocol/test/layer1/shasta/inbox/suite2/prove/InboxProve.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/AbstractCodec.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimized.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecOptimized.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimple.fuzz.t.sol
  packages/protocol/test/layer1/shasta/libs/CodecSimple.t.sol
Labels: area.protocol

#20253 refactor(protocol): improve lookahead store readability and add views for assisting the node
  .github/workflows/protocol.yml
  .release-please-manifest.json
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
Labels: area.protocol

#19437 chore(main): release bridge-ui 2.15.0
  .release-please-manifest.json
  packages/bridge-ui/CHANGELOG.md
  packages/bridge-ui/package.json
Labels: autorelease: pending

#20278 feat(protocol): only process bond instructions when `_blockIndex` is `0`
  packages/protocol/contracts/layer2/based/ShastaAnchor.sol
  packages/protocol/docs/Derivation.md
Labels: area.protocol

#20219 refactor(protocol): remove unreachable zero-proof path; require non-empty proofs in SignalService
  packages/protocol/contracts/shared/signal/ISignalService.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/test/shared/signal/SignalService.t.sol
Labels: area.protocol

#20245 fix(bridge-ui): correct error message in beforeReleasing method
  packages/bridge-ui/src/libs/bridge/Bridge.ts
Labels: area.bridge
