Repository taikoxyz/taiko-mono, pull requests merged in 2025-07, with the labels that each got.

#19685 chore(protocol): cherry-pick 2 commits to ensure the same config as the mainnet
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/mainnet/verifiers/MainnetVerifier.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPreconf.s.sol
  packages/protocol/script/layer1/mainnet/DeployMainnetPacayaL1.s.sol
  packages/protocol/script/layer2/mainnet/DeployMainnetPacayaL2.s.sol
  packages/protocol/script/layer2/mainnet/UpgradeMainnetPacayaL2.s.sol
Labels: area.protocol

#19704 feat(repo): switch condition to allow github-actions[bot] to trigger workflows
  .github/workflows/bridge-ui.yml
  .github/workflows/docs-site--preview.yml
  .github/workflows/eventindexer.yml
  .github/workflows/fork-diff--preview.yml
  .github/workflows/monitors.yml
  .github/workflows/protocol.yml
  .github/workflows/relayer.yml
  .github/workflows/repo--typo-check.yml
  .github/workflows/repo--vercel-deploy.yml
  .github/workflows/snaefell-ui.yml
  .github/workflows/taiko-client--test.yml
Labels: area.repo

#19717 feat(repo): add basic flows for claude code to work effectively on the codebase
  .github/workflows/claude.yml
  CLAUDE.md
Labels: area.repo, github_actions

#19723 feat(repo): Add required permissions for claude to be able to create PRs
  .github/workflows/claude.yml
Labels: github_actions

#19718 chore(docs-site): update stat
  packages/docs-site/src/content/docs/network-reference/differences-from-ethereum.md
Labels: area.docs

#19657 chore(main): release docs-site 1.29.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19713 fix(taiko-client): should use blockID to get L1 origin
  packages/taiko-client/prover/init.go
Labels: area.client

#19722 feat(protocol): allow operators to register a new address(sequencer)
  packages/protocol/contracts/layer1/preconf/iface/IPreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
  packages/protocol/test/layer1/preconf/whitelist/PeconfWhitelist.t.sol
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_preconf_whitelist.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.protocol

#19732 feat(taiko-client): introduce api key for raiko
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_geth_proof_producer.go
  packages/taiko-client/prover/prover.go
Labels: area.client, category.feature

#19705 chore(main): release taiko-alethia-client 1.7.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19762 chore(protocol): lower liveness bond to 25 TAIKO
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19769 refactor(taiko-client): introduce `tryPutEnvelopeIntoCache` to reduce duplicated code
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
Labels: area.client

#19760 fix(protocol): change default value of `unregistered` field for a preconf operator
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter2.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/preconf/lookahead-store/LookaheadStoreBase.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter2TestBase.sol
Labels: area.protocol

#19791 chore(repo): ignore false positive
  _typos.toml
Labels: area.repo

#19758 chore(main): release taiko-alethia-client 1.8.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19750 chore(repo): use bot token with permissions to prevent workflow hang, rename
  .github/workflows/protocol.yml
  .github/workflows/repo--claude.yml
Labels: area.repo

#19749 docs(protocol): upgrade risc0 to v2.2.2
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19787 chore(taiko-client): log PreconfOperatorAddress
  packages/taiko-client/driver/driver.go
Labels: area.client

#19794 fix(taiko-client): fix swagger gen preconf blocks api
  packages/taiko-client/driver/preconf_blocks/api.go
Labels: area.docs, area.client

#19802 refactor(taiko-client): reduce the number of requests
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: category.enhancement, area.client

#19816 chore(repo, docs-site): remove dead link
  CONTRIBUTING.md
  packages/docs-site/src/content/docs/start-here/contributing.md
Labels: area.docs

#19806 fix(taiko-client): use zk error as the err of `g.Wait()`
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#19818 chore(main): release docs-site 1.29.3
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19833 chore(protocol): remove return-values from propose4()
  packages/protocol/contracts/layer1/based2/AbstractInbox.sol
  packages/protocol/contracts/layer1/based2/IInbox.sol
  packages/protocol/contracts/layer1/based2/IPropose.sol
Labels: area.protocol

#19834 feat(protocol): aggregate consecutive transitions into a single one
  packages/protocol/contracts/layer1/based2/AbstractInbox.sol
  packages/protocol/contracts/layer1/based2/IInbox.sol
  packages/protocol/contracts/layer1/based2/Inbox.sol
  packages/protocol/contracts/layer1/based2/codec/CodecPrompt.md
  packages/protocol/contracts/layer1/based2/libs/LibBinding.sol
  packages/protocol/contracts/layer1/based2/libs/LibForks.sol
  packages/protocol/contracts/layer1/based2/libs/LibPropose.sol
  packages/protocol/contracts/layer1/based2/libs/LibProve.sol
  packages/protocol/contracts/layer1/based2/libs/LibVerify.sol
  packages/protocol/contracts/layer1/based2/state/IStorage.sol
  packages/protocol/contracts/layer1/based2/state/LibBonds.sol
  packages/protocol/contracts/layer1/based2/state/LibState.sol
  packages/protocol/contracts/layer1/verifiers/IVerifier.sol
  packages/protocol/layout/layer1-contracts.txt
Labels: area.protocol

#19664 feat(protocol): implement Shasta fork
  packages/protocol/.claude/settings.local.json
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/based2/AbstractInbox.sol
  packages/protocol/contracts/layer1/based2/IBondManager2.sol
  packages/protocol/contracts/layer1/based2/IInbox.sol
  packages/protocol/contracts/layer1/based2/IPropose.sol
  packages/protocol/contracts/layer1/based2/IProve.sol
  packages/protocol/contracts/layer1/based2/Inbox.sol
  packages/protocol/contracts/layer1/based2/InboxHelper.sol
  packages/protocol/contracts/layer1/based2/TaikoInbox.sol
  packages/protocol/contracts/layer1/based2/codec/CodecPrompt.md
  packages/protocol/contracts/layer1/based2/codec/LibCodecBatchContext.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecHeaderExtraInfo.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecProposeBatchInputs.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecProveBatchInputs.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecProverAuth.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecSummary.sol
  packages/protocol/contracts/layer1/based2/codec/LibCodecTransitionMeta.sol
  packages/protocol/contracts/layer1/based2/libs/LibBinding.sol
  packages/protocol/contracts/layer1/based2/libs/LibData.sol
  packages/protocol/contracts/layer1/based2/libs/LibForks.sol
  packages/protocol/contracts/layer1/based2/libs/LibPropose.sol
  packages/protocol/contracts/layer1/based2/libs/LibProve.sol
  packages/protocol/contracts/layer1/based2/libs/LibProver.sol
  packages/protocol/contracts/layer1/based2/libs/LibValidate.sol
  packages/protocol/contracts/layer1/based2/libs/LibVerify.sol
  packages/protocol/contracts/layer1/based2/state/IStorage.sol
  packages/protocol/contracts/layer1/based2/state/LibBonds.sol
  packages/protocol/contracts/layer1/based2/state/LibState.sol
  packages/protocol/contracts/layer1/verifiers/IVerifier.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/contracts/shared/based/ITaiko.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/test/layer1/gas/CompareGasTest.sol
  packages/protocol/test/layer1/gas/EventVerifiedGas.t.sol
  packages/protocol/test/layer1/gas/FunctionPointer.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.h.sol
  packages/taiko-client/.gitignore
Labels: area.protocol

#19801 chore(main): release taiko-alethia-client 1.9.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19849 chore(protocol): make sure the wrapper is not used alone
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
Labels: area.protocol

#19854 chore(main): release docs-site 1.29.5
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending
