Repository taikoxyz/taiko-mono, pull requests merged in 2025-01, with the labels that each got.

#18682 chore(docs-site): revert zk coverage docs
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-mn.webp
  packages/docs-site/src/content/docs/guides/node-operators/run-a-mainnet-taiko-node-from-source.mdx
Labels: area.docs

#18687 chore(repo): don't run docker build and push on forks
  .github/workflows/eventindexer.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/relayer.yml
Labels: area.repo

#18680 chore(protocol): add tests for _validateBlockParams
  packages/protocol/test/layer1/based/InBoxTest_BlockParams.t.sol
Labels: area.protocol

#18684 feat(protocol): adjust zk(risc0 & sp1) ratio
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
Labels: area.protocol

#18686 fix(protocol): add timestamp as a new parameter to getBasefeeV2
  packages/protocol/contracts/layer2/based/TaikoL2.sol
  packages/protocol/test/layer2/TaikoL2.t.sol
Labels: category.bug, area.protocol

#18685 fix(taiko-client): add #18442 back
  packages/taiko-client/bindings/gen_taiko_l1.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/pkg/rpc/utils.go
Labels: category.bug, area.client

#18681 chore(taiko-client): fix typos in Swagger documentation for uptime endpoint
  packages/guardian-prover-health-check/http/get_uptime_by_guardian_prover_address.go
Labels: area.guardian-prover-dashboard

#18691 fix(taiko-client): add timestamp as a new parameter to getBasefeeV2
  packages/taiko-client/bindings/.githead
  packages/taiko-client/bindings/gen_taiko_l2.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18693 chore(guardian-prover-health-check): fix api doc
  packages/guardian-prover-health-check/http/server.go
Labels: area.guardian-prover-dashboard

#18689 fix(repo): fix some Go compiler errors
  go.mod
  go.sum
Labels: area.repo

#18694 chore(protocol): fix documentation
  packages/protocol/test/layer1/automata-attestation/utils/DcapTestUtils.t.sol
  packages/protocol/test/shared/bridge/Bridge2_sendMessage.t.sol
Labels: area.docs, area.protocol

#18690 feat(taiko-client): introduce `TxBuilderWithFallback`
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
Labels: category.enhancement, area.client

#18697 chore(relayer): fix docs
  packages/relayer/pkg/http/server.go
  packages/relayer/processor/wait_header_synced.go
Labels: area.relayer

#18698 chore(taiko-client): fix docs
  packages/taiko-client/driver/signer/fixed_k_signer.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/pkg/rpc/dial.go
Labels: area.client

#18700 fix(repo): update versioning in version.go for client
  release-please-config.json
Labels: area.repo

#18702 fix(taiko-client): fix proposing fee estimation
  packages/taiko-client/proposer/transaction_builder/fallback.go
Labels: area.client

#18701 chore(repo): workflows skip dependabot prs
  .github/workflows/bridge-ui.yml
  .github/workflows/docs-site--preview.yml
  .github/workflows/fork-diff--preview.yml
  .github/workflows/guardian-prover-health-check-ui--ci.yml
  .github/workflows/guardian-prover-health-check-ui.yml
  .github/workflows/guardian-prover-health-check.yml
  .github/workflows/protocol-monitors.yml
  .github/workflows/protocol.yml
  .github/workflows/repo--typo-check.yml
  .github/workflows/snaefell-ui.yml
  .github/workflows/taiko-client--test.yml
Labels: area.repo

#18703 fix(taiko-client): fix blob transactions estimation when proposing
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
Labels: area.client

#18699 fix(relayer): extra padding for contract messages, always pad non-contracts
  packages/relayer/processor/process_message.go
Labels: area.relayer

#18639 chore(main): release docs-site 1.21.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18704 chore(protocol): add TokenUnlock_ProverSet test
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/test/layer1/team/tokenunlock/TokenUnlock.t.sol
  packages/protocol/test/layer1/team/tokenunlock/TokenUnlock_ProverSet.t.sol
Labels: area.protocol

#18705 test(taiko-client): add more fallback proposing tests
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
Labels: area.client

#18695 chore(main): release taiko-alethia-protocol 1.11.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18712 feat(taiko-client): build blob transactions when gas estimation failed
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
Labels: area.client

#18709 feat(taiko-client): remove an unused flag for proposer
  packages/taiko-client/cmd/flags/proposer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/proposer/transaction_builder/fallback_test.go
Labels: area.client

#18711 chore(taiko-client): add more metrics for `TxBuilderWithFallback`
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
Labels: area.client

#18713 chore(taiko-client): more cost estimation metrics
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
Labels: area.client

#18707 chore(protocol): add tests for BridgedTaikoToken
  packages/protocol/test/shared/layer2/token/BridgedTaikoToken.t.sol
Labels: area.protocol

#18714 chore(docs-site): update codebase analysis to reflect protocol changes
  packages/docs-site/src/content/docs/taiko-protocol/codebase-analysis/taikol1-contract.md
  packages/docs-site/src/content/docs/taiko-protocol/codebase-analysis/taikol2-contract.md
Labels: area.docs

#18715 chore(taiko-client): add more proof generation metrics
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/proposer/transaction_builder/fallback.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client

#18718 chore(taiko-client): improve prover logs
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client

#18676 chore(main): release taiko-alethia-client 0.42.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#18719 chore(taiko-client): always use `blockID` instead of `height` for L2 blocks in logs
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/state/state.go
  packages/taiko-client/prover/proof_producer/guardian_producer.go
  packages/taiko-client/prover/proof_producer/optimistic_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
Labels: area.client

#18726 ci(repo): standardize workflow naming
  .github/workflows/monitors.yml
  .github/workflows/taiko-client--hive-test.yml
Labels: area.repo

#18725 ci(repo): update pnpm installer
  .github/actions/install-pnpm-dependencies/action.yml
Labels: area.repo

#18722 chore(repo): update dependabot config
  .github/dependabot.yml
  .github/workflows/repo--stale.yml
Labels: area.repo

#18727 chore(taiko-client): improve proposer gas estimation
  packages/taiko-client/proposer/transaction_builder/fallback.go
Labels: area.client

#18720 chore(main): release taiko-alethia-client 0.42.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#18273 feat(taiko-client): soft block driver APIs
  .github/workflows/guardian-prover-health-check-ui.yml
  .github/workflows/taiko-client--pages.yml
  go.mod
  go.sum
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/taiko-client/.swaggo
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/docs/docs.go
  packages/taiko-client/docs/index.html
  packages/taiko-client/docs/swagger.json
  packages/taiko-client/docs/swagger.yaml
  packages/taiko-client/driver/chain_syncer/blob/soft_block.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/soft_blocks/api.go
  packages/taiko-client/driver/soft_blocks/server.go
  packages/taiko-client/driver/soft_blocks/server_test.go
  packages/taiko-client/integration_test/hive_test.go
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/scripts/gen_swagger_json.sh
Labels: area.client, category.feature

#18716 chore(main): release docs-site 1.21.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18731 chore(taiko-client): add softBlock server start log
  packages/taiko-client/driver/driver.go
Labels: area.client

#18735 fix(taiko-client): remove `finalizedBlock` info when P2P syncing
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker.go
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker_test.go
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
Labels: area.client

#18737 fix(taiko-client): revert triggered relate changes
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker.go
  packages/taiko-client/driver/chain_syncer/beaconsync/progress_tracker_test.go
Labels: area.client

#18738 chore(taiko-client): improve `TxBuilderWithFallback` logs
  packages/taiko-client/proposer/transaction_builder/fallback.go
Labels: area.client

#18739 fix(taiko-client): check the `blockID` of the last verified block before using it as `FinalizedBlockHash`
  packages/taiko-client/driver/chain_syncer/blob/soft_block.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18745 feat(taiko-client): only check and trigger P2P sync progress right after starting
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/state/l1_current.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18744 feat(taiko-client): remove soft blocks implementation
  .github/workflows/taiko-client--pages.yml
  go.mod
  go.sum
  packages/taiko-client/.swaggo
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/docs/docs.go
  packages/taiko-client/docs/index.html
  packages/taiko-client/docs/swagger.json
  packages/taiko-client/docs/swagger.yaml
  packages/taiko-client/driver/chain_syncer/blob/soft_block.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/soft_blocks/api.go
  packages/taiko-client/driver/soft_blocks/server.go
  packages/taiko-client/driver/soft_blocks/server_test.go
  packages/taiko-client/integration_test/hive_test.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/scripts/gen_swagger_json.sh
Labels: area.client

#18741 docs(protocol): upgrade zk verifier(sp1&risc0)
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18749 chore(docs-site): update verifier addresses
  packages/docs-site/src/content/docs/network-reference/testnet-addresses.md
Labels: area.docs

#18752 chore(taiko-client): cleanup some unused variables in `bindings` package
  packages/taiko-client/bindings/encoding/input.go
Labels: area.client

#18751 feat(protocol): redo ForkMananger (now ForkRouter)
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/based/ForkRouter.sol
  packages/protocol/contracts/layer1/based/IFork.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/fork/ForkManager.sol
  packages/protocol/contracts/layer1/fork/PacayaForkManager.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/test/layer1/based/ForkRouter.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/fork/ForkManager.t.sol
Labels: area.protocol

#18740 feat(protocol): upgrade sp1 contract to v4.0.0-rc.3
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/package.json
  packages/protocol/script/layer1/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/DeploySP1Verifier.s.sol
  packages/protocol/script/layer1/UpdateSP1Verifier.s.sol
  packages/protocol/test/layer1/verifiers/RiscZeroGroth16Verifier.t.sol
  packages/protocol/test/layer1/verifiers/SP1PlonkVerifier.t.sol
  pnpm-lock.yaml
Labels: area.protocol

#18755 feat(protocol): improve prover set to support ontake and pacaya
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/contracts/layer1/provers/ProverSetBase.sol
  packages/protocol/contracts/layer1/team/TokenUnlock.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/mainnet/DeployProverSet.s.sol
Labels: area.protocol

#18756 chore(docs-site): update mainnet verifier addresses
  packages/docs-site/src/content/docs/network-reference/mainnet-addresses.md
Labels: area.docs

#18758 chore(docs-site): update mainnet config graphic
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-mn.webp
Labels: area.docs

#18750 chore(main): release docs-site 1.21.3
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18754 docs(protocol): update mainnet deployment docs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18761 chore(main): release taiko-alethia-protocol 1.11.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18763 chore(protocol): test isSignalSent and SS_SIGNAL_NOT_RECEIVED error in SignalService
  packages/protocol/test/shared/signal/SignalService.t.sol
Labels: area.protocol

#18764 chore(taiko-client): robustness test for blob sync api
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
Labels: area.client

#18729 chore(main): release taiko-alethia-client 0.43.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#18772 chore(taiko-client): add more logs for `BlockProposedIterator`
  packages/taiko-client/pkg/chain_iterator/event_iterator/block_proposed_iterator.go
Labels: area.client

#18774 chore(taiko-client): more logs for `BlockBatchIterator`
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/block_proposed_iterator.go
Labels: area.client

#18775 chore(taiko-client): ensure event block IDs are continuous
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/block_proposed_iterator.go
Labels: area.client

#18776 chore(docs-site): update network config and add batch proof guide
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-hekla.webp
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#18777 chore(taiko-client): use customize error
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator.go
  packages/taiko-client/pkg/chain_iterator/block_batch_iterator_test.go
Labels: area.client

#18771 chore(taiko-client): make full sync to sync to the latest header
  packages/taiko-client/driver/chain_syncer/beaconsync/syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
Labels: area.client

#18767 feat(protocol): pause the protocol when conflicting proofs are verified by the same verifier.
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Labels: area.protocol

#18780 feat(protocol): add `getTransition(batchID,parentHash)` method
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
Labels: area.protocol

#18786 chore(taiko-client): improve `BlobFetcher`
  packages/taiko-client/driver/txlist_fetcher/blob.go
Labels: area.client

#18785 feat(protocol): add `firstBlobIndex` to `BatchMetadata`
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Labels: area.protocol, area.client

#18790 chore(protocol): update pacaya test naming
  packages/protocol/test/layer2/TaikoAnchor.t.sol
Labels: area.protocol

#18787 fix(protocol): remove duplicated error definition
  packages/protocol/contracts/layer1/provers/ProverSet.sol
Labels: area.protocol

#18782 feat(protocol): allow owner to write transition to rescue a block
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Labels: area.protocol

#18789 fix(protocol): fix bug about stopBatchId variable
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/test/layer1/based/InboxTest_StopBatch.t.sol
Labels: area.protocol

#18773 chore(main): release taiko-alethia-client 0.43.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#18792 chore(protocol): test TransitionNotFound in getTransition(_batchId, _parentHash)
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Labels: area.protocol

#18793 feat(protocol): introduce `SgxOrZkVerifier` to allow any valid proof
  packages/protocol/contracts/layer1/devnet/verifiers/DevnetVerifier.sol
  packages/protocol/contracts/layer1/devnet/verifiers/OpVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyVerifier.sol
Labels: area.protocol, category.feature

#18796 feat(protocol): fix the deployment script
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Labels: area.protocol

#18801 fix(protocol): call `TaikoInbox.init` in deployment script
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Labels: area.protocol

#18803 chore(protocol): add tests for setQuotaPeriod in QuotaManager
  packages/protocol/test/shared/bridge/QuotaManager.t.sol
Labels: area.protocol

#18795 feat(protocol): add any-two-verifier
  packages/protocol/contracts/layer1/verifiers/compose/AnyTwoVerifier.sol
Labels: area.protocol

#18806 fix(protocol): register specific proof type verifiers
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Labels: area.protocol

#18808 fix(protocol): use batch instead of block in solver mechanism
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
Labels: area.protocol

#18797 fix(protocol): return liveness bond correctly
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
Labels: area.protocol

#18791 feat(protocol): add preconfirmation whitelist and router
  packages/protocol/contracts/layer1/preconf/avs-mvp/PreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/IAVSDirectory.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/IDelegationManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/ISlasher.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/iface/IStrategyManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/AVSDirectory.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/DelegationManager.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/Slasher.sol
  packages/protocol/contracts/layer1/preconf/avs-mvp/impl/StrategyManager.sol
  packages/protocol/contracts/layer1/preconf/eigenlayer/PreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfServiceManager.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfTaskManager.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/LibPreconfConstants.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfTaskManager.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfConstants.sol
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfUtils.sol
  packages/protocol/contracts/layer1/preconf/mock/MockPreconfRegistry.sol
  packages/protocol/contracts/layer1/preconf/mock/MockTaikoToken.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/script/layer1/preconf/deployment/DeployAVS.s.sol
  packages/protocol/script/layer1/preconf/deployment/DeployEigenlayerMVP.s.sol
  packages/protocol/script/layer1/preconf/deployment/deploy_avs.sh
  packages/protocol/script/layer1/preconf/deployment/deploy_eigenlayer_mvp.sh
  packages/protocol/script/layer1/preconf/deployment/mock/DeployMockAVS.s.sol
  packages/protocol/script/layer1/preconf/deployment/mock/DeployMockTaikoToken.s.sol
  packages/protocol/script/layer1/preconf/misc/EmptyContract.sol
  packages/protocol/test/layer1/preconf/blocks/BlockProposing.t.sol
  packages/protocol/test/layer1/preconf/fixtures/BlocksFixtures.sol
  packages/protocol/test/layer1/preconf/fixtures/LookaheadFixtures.sol
  packages/protocol/test/layer1/preconf/lookahead/IncorrectLookahead.t.sol
  packages/protocol/test/layer1/preconf/lookahead/LookaheadPosting.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockPreconfRegistry.sol
  packages/protocol/test/layer1/preconf/mocks/MockPreconfServiceManager.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/RouterTest.t.sol
  packages/protocol/test/layer1/preconf/router/RouterTestBase.sol
  packages/protocol/test/layer1/preconf/whitelist/WhitelistTest.t.sol
  packages/protocol/test/layer1/preconf/whitelist/WhitelistTestBase.sol
Labels: area.protocol

#18798 fix(docs-site): omitted L1 HTTP endpoint from taiko client flags
  packages/docs-site/src/content/docs/guides/node-operators/node-troubleshooting.mdx
  packages/docs-site/src/content/docs/guides/node-operators/run-a-taiko-node-with-docker.mdx
Labels: area.docs

#18810 chore(docs-site): update documentation for upcoming hekla upgrade
  packages/docs-site/src/content/config.ts
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/taiko-protocol/bridging.md
Labels: area.docs

#18779 chore(main): release docs-site 1.21.4
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18816 fix(taiko-client): remove null value `lastVerifiedBlockID`
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
Labels: area.client

#18556 feat(nfts): tbz s2 recruitments contract upgrade
  packages/nfts/script/trailblazers-season-2/Deploy.s.sol
  packages/nfts/script/trailblazers-season-2/UpgradeRecruitmentsV2.s.sol
Labels: area.nfts

#18820 feat(protocol): add `anchorV2` back
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
Labels: area.protocol

#18818 feat(protocol): upgrade devnet to pacaya fork
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
Labels: area.protocol

#18812 feat(protocol): whitelist addition + deploy script update
  packages/protocol/contracts/layer1/preconf/iface/IPreconfWhitelist.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfWhitelist.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/test/layer1/preconf/whitelist/WhitelistTest.t.sol
Labels: area.protocol

#18827 fix(protocol): fix the script of `UpgradeDevnetPacayaL1`
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
Labels: area.protocol

#18825 feat(protocol): upgrade devnet L2 to pacaya fork
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
Labels: area.protocol

#18817 feat(protocol): emit blob hashes in event and split meta into 2 structs
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  pnpm-lock.yaml
Labels: area.protocol

#18835 fix(protocol): rename resolve() to resolveAddress()
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/provers/ProverSetBase.sol
  packages/protocol/contracts/layer1/team/TokenUnlock.sol
  packages/protocol/contracts/layer1/verifiers/Risc0Verifier.sol
  packages/protocol/contracts/layer1/verifiers/SP1Verifier.sol
  packages/protocol/contracts/layer1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/layer1/verifiers/SgxVerifierBase.sol
  packages/protocol/contracts/layer2/DelegateOwner.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/contracts/shared/bridge/Bridge.sol
  packages/protocol/contracts/shared/common/EssentialContract.sol
  packages/protocol/contracts/shared/signal/SignalService.sol
  packages/protocol/contracts/shared/tokenvault/BaseVault.sol
  packages/protocol/contracts/shared/tokenvault/ERC1155Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/contracts/shared/tokenvault/ERC721Vault.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/test/shared/DeployCapability.sol
Labels: area.protocol

#18830 feat(protocl): refactor based on Jeff's code
  packages/protocol/contracts/layer1/based/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/based/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/ITaikoInboxWithForcedTxInclusion.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInboxWithForcedTxInclusion.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/test/layer1/based/ForcedInclusionStore.t.sol
  packages/protocol/test/layer1/based/ForcedInclusionStoreTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Labels: area.protocol

#18829 feat(protocol): forced inclusion store
  packages/protocol/contracts/layer1/based/ForcedInclusionInbox.sol
  packages/protocol/contracts/layer1/based/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/based/IForcedInclusionInbox.sol
  packages/protocol/contracts/layer1/based/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/ForcedInclusionInbox.t.sol
  packages/protocol/test/layer1/based/ForcedInclusionInboxTestBase.sol
  packages/protocol/test/layer1/based/ForcedInclusionStore.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Labels: area.protocol

#18840 fix(docs-site): fix prover set file path
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
Labels: area.docs

#18841 chore(main): release docs-site 1.22.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18847 fix(docs-site): touch up some content for rebrand
  packages/docs-site/astro.config.ts
  packages/docs-site/src/content/docs/core-concepts/based-rollup.md
  packages/docs-site/src/content/docs/core-concepts/based-rollups.md
  packages/docs-site/src/content/docs/core-concepts/contestable-rollup.md
  packages/docs-site/src/content/docs/core-concepts/multi-proofs.md
  packages/docs-site/src/content/docs/core-concepts/what-is-taiko-alethia.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/block-states.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikol1-contract.md
Labels: area.docs

#18849 chore(main): release docs-site 1.22.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18845 refactor(balance-monitor): merge ERC20 balance checking functions
  packages/balance-monitor/balance-monitor/balance_monitor.go
Labels: area.developer-experience

#18848 fix(protocol): use safeTransfer in TaikoInbox (reported by OpenZeppelin)
  .github/workflows/protocol.yml
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/package.json
  packages/protocol/test/layer1/based/InboxTest_BondToken.t.sol
  packages/protocol/test/layer1/based/InboxTest_EtherAsBond.t.sol
  pnpm-lock.yaml
Labels: area.protocol
