Repository taikoxyz/taiko-mono, pull requests merged in 2025-02, with the labels that each got.

#18842 feat(protocol): use num proposals to measure forced inclusion deadline
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionInbox.t.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
Labels: area.protocol

#18856 docs(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#18858 fix(protocol): avoid setting stateRoot = 0 in `ContextV2`
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/LibProving.sol
Labels: category.bug, area.protocol

#18860 docs(protocol): update Hekla deployment
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.docs

#18859 fix(protocol): deep copy context transition
  packages/protocol/contracts/layer1/based/LibProving.sol
Labels: category.bug, area.protocol

#18863 feat(taiko-client): check if the block is preconfirmed before calling `setHead`
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/pkg/rpc/client.go
Labels: category.enhancement, area.client

#18865 fix(taiko-client): add pacaya submitter
  packages/taiko-client/prover/prover.go
Labels: area.client

#18861 chore(relayer): relayer state var update for protocol compatibility
  packages/relayer/bindings/v2/taikol1/TaikoL1.go
  packages/relayer/indexer/indexer.go
  packages/relayer/indexer/set_initial_Indexing_block_by_mode.go
  packages/relayer/scripts/abigen.sh
  packages/relayer/scripts/abigen_v2.sh
Labels: area.relayer

#18762 chore(main): release taiko-alethia-protocol 1.12.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18867 chore(eventindexer): ei update for state vars
  packages/eventindexer/contracts/v2/taikol1/TaikoL1.go
  packages/eventindexer/indexer/indexer.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
  packages/eventindexer/scripts/abigen_v2.sh
Labels: area.event-indexer

#18871 ci(protocol): fix issue in gen-layouts.sh
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/script/gen-layouts.sh
Labels: area.protocol

#18873 fix(taiko-client): ignore err when no tiers info onchain
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18850 feat(docs-site): enhance some sections
  packages/docs-site/astro.config.ts
  packages/docs-site/src/assets/custom-icons.ts
  packages/docs-site/src/components/NetworkAdder.astro
  packages/docs-site/src/content/docs/core-concepts/what-is-taiko-alethia.md
  packages/docs-site/src/content/docs/guides/app-developers/deploy-a-contract.mdx
  packages/docs-site/src/content/docs/guides/app-developers/set-up-your-wallet.mdx
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
  packages/docs-site/src/content/docs/start-here/set-up-your-wallet.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/block-states.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/bridging.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/bridge-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/sgxverifier-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/signalservice-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikol1-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/codebase-analysis/taikol2-contract.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/taiko-alethia-nodes.md
Labels: area.docs

#18864 feat(taiko-client): check if the block is preconfirmed before calling `setHead `
  .release-please-manifest.json
  go.mod
  go.sum
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/prover/event_handler/block_proposed_pacaya.go
Labels: category.enhancement, area.client

#18874 chore(main): release docs-site 1.23.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18876 fix(protocol): make `RegularERC20` predeployed in genesis
  packages/protocol/package.json
  packages/protocol/test/genesis/generate/erc20.ts
  packages/protocol/test/genesis/generate/utils.ts
Labels: area.protocol

#18878 fix(taiko-client): remove ontake info in log to avoid panic
  packages/taiko-client/prover/prover.go
Labels: area.client

#18880 test(taiko-client): introduce `MemoryBlobServer` for tests
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
  packages/taiko-client/internal/testutils/interfaces.go
  packages/taiko-client/internal/testutils/memory_blob_server.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/utils/txmgr_selector.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/proof_submitter/proof_contester_ontake.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: category.enhancement, area.client

#18881 test(taiko-client): add multi-blobs tests for proposer
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/memory_blob_server.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#18882 chore(taiko-client): update Go contract bindings
  go.mod
  go.sum
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_taiko_anchor.go
Labels: area.client

#18885 feat(taiko-client): add proof type to batch proof acceptance log messages
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
Labels: area.client

#18886 fix(taiko-client): fix bug about nil interface check
  packages/taiko-client/pkg/utils/txmgr_selector.go
Labels: area.client

#18890 chore(taiko-client): remove an unused argument in `NewProofSubmitterPacaya`
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/prover.go
Labels: area.client

#18891 fix(protocol): use `PacayaForkRouter` instead of `ForkRouter`
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Labels: area.protocol

#18893 fix(taiko-client): use Pacaya abi for prover set
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
Labels: category.bug, area.protocol

#18895 fix(protocol): fix `tid` in `getTransitionByParentHash`
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
Labels: area.protocol

#18892 feat(taiko-client): check whether a submitted Pacaya batch proof is valid
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/interfaces.go
  packages/taiko-client/pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  packages/taiko-client/pkg/config/protocol_config.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/event_handler/assignment_expired.go
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/event_handler/block_proposed_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#18805 feat(protocol): add solver support for l2 to l1 eth bridging
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.h.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault_solver.t.sol
Labels: area.protocol

#18901 chore(protocol): add comment about signals in anchor
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
Labels: area.protocol

#18906 feat(protocol): check `lastVerifiedBatchId` with Pacaya fork height in `getLastVerifiedTransition`
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Labels: area.protocol

#18905 feat(protocol): allow specifying signals per L2 block
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer2/based/TaikoAnchor.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/RouterTest.t.sol
  packages/protocol/test/layer2/TaikoAnchor.t.sol
Labels: area.protocol

#18902 feat(taiko-client): introduce `AnchorV3GasLimit`
  go.mod
  go.sum
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_pacaya.go
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_taiko_anchor.go
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor.go
  packages/taiko-client/driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/prover/event_handler/block_proposed_pacaya.go
  packages/taiko-client/prover/event_handler/util.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
Labels: area.client

#18883 feat(protocol): support delayed forced inclusion of txs
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/based/IProposeBatch.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/fork-router/ForkRouter.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouterTestBase.sol
Labels: area.protocol

#18910 feat(protocol): add scripts back for testing bridge
  packages/protocol/script/shared/SetAddress.s.sol
  packages/protocol/script/shared/SetRemoteBridgeSuites.s.sol
Labels: category.enhancement, area.protocol

#18908 chore(taiko-client): update some comments
  .github/workflows/taiko-client--pages.yml
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
Labels: area.client

#18875 chore(main): release taiko-alethia-protocol 2.1.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18915 chore(docs-site): update banner
  packages/docs-site/src/content/config.ts
Labels: area.docs

#18916 chore(main): release docs-site 1.23.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18923 feat(taiko-client): use Keccak256 for packing difficulty calculation
  packages/taiko-client/bindings/encoding/input.go
Labels: area.client

#18924 feat(protocol): make more addresses in protocol immutable
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/mainnet/resolvers/RollupResolver.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/contracts/layer1/provers/ProverSetBase.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC1155.sol
  packages/protocol/contracts/shared/tokenvault/BridgedERC721.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaOntakeL1.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaOntakeL2.s.sol
  packages/protocol/script/layer1/mainnet/DeployProverSet.s.sol
  packages/protocol/script/layer1/preconf/DeployPreconfContracts.s.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/generate/taikoAnchor.ts
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_BondToken.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Cooldown.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/InboxTest_StopBatch.t.sol
  packages/protocol/test/layer1/team/tokenunlock/TokenUnlock.t.sol
  packages/protocol/test/shared/tokenvault/ERC1155Vault.t.sol
  packages/protocol/test/shared/tokenvault/ERC721Vault.t.sol
Labels: area.protocol

#18930 chore(taiko-client): update Go contract bindings
  packages/protocol/contracts/layer1/devnet/verifiers/OpVerifier.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_prover_set.go
  packages/taiko-client/bindings/pacaya/gen_taiko_anchor.go
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/integration_test/deploy_l1_contract.sh
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
Labels: area.client

#18934 chore(taiko-client): update Go contract bindings
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
Labels: area.client

#18933 docs(protocol): update mainnet deployment docs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18931 fix(taiko-client): add all rest transactions into payload
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
Labels: area.client

#18939 chore(docs-site): disable banner
  packages/docs-site/src/content/config.ts
Labels: area.docs

#18940 chore(main): release docs-site 1.23.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18937 feat(protocol): use immutables and add verifiers in `ComposeVerifier`
  packages/protocol/contracts/layer1/devnet/verifiers/DevnetVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyTwoVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/SgxAndZkVerifier.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
Labels: area.protocol, category.feature

#18942 refactor(taiko-client): export manual ABIs
  packages/taiko-client/bindings/encoding/input.go
Labels: area.client

#18920 fix(taiko-client): set p2p node, taiko flag, update optimism lib
  go.mod
  go.sum
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
Labels: area.client

#18936 fix(taiko-client): fix the workflow to get `proof_verifier`
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_compose_verifier.go
  packages/taiko-client/bindings/pacaya/gen_preconf_whitelist.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
Labels: category.enhancement, area.client

#18941 feat(taiko-client): introduce zkAny proof
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/internal/docker/nodes/docker-compose.yml
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/prover.go
Labels: area.client, category.feature

#18947 fix(docs-site): fix release version filter
  packages/docs-site/src/content/docs/network-reference/software-releases-and-deployments.md
Labels: area.docs

#18945 docs(protocol): update `tier_router` for zk any on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#18950 chore(taiko-client): change `SetHeadL1Origin` && `UpdateL1Origin` to `taikoauth_` namespace
  go.mod
  go.sum
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/pkg/rpc/engine.go
Labels: area.client

#18946 fix(taiko-client)!: use bytes type that supports hex string unmarshalling on `ExecutableData`
  packages/taiko-client/driver/preconf_blocks/api.go
Labels: area.client

#18955 fix(taiko-client): fix and optimize force batch proving && unit test
  packages/taiko-client/prover/proof_submitter/proof_buffer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
  packages/taiko-client/prover/prover_test.go
Labels: category.bug, area.client

#18954 feat(protocol): add blobCreatedIn to BlobParams
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/IForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
Labels: area.protocol

#18894 feat(docs-site): structure docs and add Gwyneth docs
  packages/docs-site/astro.config.ts
  packages/docs-site/src/assets/gwyn-logo-dark.svg
  packages/docs-site/src/assets/gwyn-logo-light.svg
  packages/docs-site/src/components/starlight/GwynethTitle.astro
  packages/docs-site/src/components/starlight/SiteTitle.astro
  packages/docs-site/src/content/docs/resources/faqs.md
  packages/docs-site/src/content/docs/start-here/getting-started.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/block-states.mdx
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/bridging.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/economics.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-architecture/taiko-alethia-nodes.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/based-rollups.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/contestable-rollup.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/inception-layers.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/protocol-design/multi-proofs.md
  packages/docs-site/src/content/docs/taiko-alethia-protocol/what-is-taiko-alethia.md
  packages/docs-site/src/content/docs/taiko-gwyneth-protocol/booster-rollups.md
  packages/docs-site/src/content/docs/taiko-gwyneth-protocol/what-is-taiko-gwyneth.mdx
Labels: area.docs

#18960 feat(taiko-client): changes for `meta.blobCreatedIn`
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_ontake.go
  packages/taiko-client/bindings/metadata/metadata_pacaya.go
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_prover_set.go
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/txlist_fetcher/blob.go
Labels: area.client

#18961 chore(main): release docs-site 1.24.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#18958 chore(taiko-client): deduplicate compress function
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/pkg/utils/utils.go
Labels: area.client

#18962 fix(taiko-client): pacaya block timestamp
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
Labels: category.bug, area.client

#18928 chore(main): release taiko-alethia-protocol 2.1.0
  .release-please-manifest.json
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Labels: autorelease: pending

#18944 test(taiko-client): add more preconfirmation P2P network tests
  go.mod
  go.sum
  packages/taiko-client/cmd/main.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/config_test.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/integration_test/test_env.sh
Labels: category.enhancement, area.client

#18967 fix(protocol): fix a `blobParams.createdIn` issue
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Labels: area.protocol

#18963 chore(protocol): keep `provingWindow` 5h for both TEE and ZK
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/tiers/TierProviderBase.sol
Labels: area.protocol

#18969 chore(protocol): update `DevnetInbox.chainId`
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
Labels: area.protocol

#18968 fix(taiko-client): remove unused param when inserting blocks && upgrade `golangci-lint`
  packages/taiko-client/Makefile
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/interface.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/ontake.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/txlist_fetcher/blob.go
  packages/taiko-client/driver/txlist_fetcher/calldata.go
  packages/taiko-client/driver/txlist_fetcher/interface.go
Labels: area.client

#18970 feat(taiko-client): include `ParentMetaHash` for proposing Ontake blocks for better revert protection
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
Labels: area.client

#18971 feat(taiko-client): include `ParentMetaHash` for better revert protection
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
Labels: area.client

#18919 feat(eventindexer): pacaya event updates
  packages/eventindexer/.golangci.yml
  packages/eventindexer/cmd/flags/indexer.go
  packages/eventindexer/contracts/pacaya/taikoinbox/TaikoInbox.go
  packages/eventindexer/event.go
  packages/eventindexer/indexer/config.go
  packages/eventindexer/indexer/filter.go
  packages/eventindexer/indexer/filter_ontake.go
  packages/eventindexer/indexer/filter_pacaya.go
  packages/eventindexer/indexer/indexer.go
  packages/eventindexer/indexer/save_batch_proposed_event.go
  packages/eventindexer/indexer/save_batches_proved_event.go
  packages/eventindexer/indexer/save_batches_verified_event.go.go
  packages/eventindexer/indexer/save_block_verified_event.go
  packages/eventindexer/migrations/20270906208853_alter_events_table_add_num_blocks_column.sql
  packages/eventindexer/migrations/20270906208854_alter_events_table_add_num_blocks_index.sql
  packages/eventindexer/migrations/20270906208856_alter_events_table_add_batch_id_column.sql
  packages/eventindexer/migrations/20270906208857_alter_events_table_add_event_batch_id_index.sql
  packages/eventindexer/pkg/repo/event.go
  packages/eventindexer/pkg/repo/event_test.go
  packages/eventindexer/prometheus.go
  packages/eventindexer/scripts/abigen_v3.sh
  packages/relayer/.golangci.yml
Labels: area.event-indexer

#18974 feat(taiko-client): handle blobCreatedIn being 0, missing basefee/prevrandao/extradata, anchor removal
  .gitignore
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/txlist_fetcher/blob.go
  packages/taiko-client/pkg/rpc/blob_datasource.go
Labels: area.client

#18977 fix(taiko-client): decompress transaction list when inserting the preconf block
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
Labels: area.client

#18978 feat(taiko-client): add preconf whitelist + update method to check operator
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/pkg/rpc/client.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18981 feat(taiko-client): check `p2pSigner` before gossiping
  packages/taiko-client/driver/preconf_blocks/api.go
Labels: area.client

#18982 fix(taiko-client): check if preconfirmation whitelist address is set before fetching it
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#18979 feat(protocol): only request sgx as min tier for zk any
  packages/protocol/contracts/layer1/mainnet/rollup/MainnetTierRouter.sol
Labels: area.protocol, category.feature

#18983 fix(taiko-client): add check on `RaikoZKVMHostEndpoint`
  packages/taiko-client/prover/prover.go
Labels: category.bug, area.client

#18984 refactor(protocol): do not delete old transition as it will not refund enough gas
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Labels: area.protocol

#18985 refactor(taiko-client): optimize logging to avoid misunderstanding
  packages/taiko-client/prover/prover.go
Labels: category.enhancement, area.client

#18922 feat(taiko-client): zk any for ontake fork
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_producer/sgx_producer.go
  packages/taiko-client/prover/proof_producer/zkvm_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/prover.go
Labels: area.client, category.feature

#18988 feat(taiko-client): changes based on `taiko-geth` #391
  go.mod
  go.sum
  packages/taiko-client/pkg/rpc/engine.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/proposer/proposer_test.go
Labels: area.client

#18991 feat(protocol): script changes
  packages/protocol/contracts/layer1/verifiers/compose/AnyTwoVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/SgxAndZkVerifier.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
Labels: area.protocol

#18989 chore(taiko-client): bump taiko-geth version
  go.mod
  go.sum
Labels: area.client

#18993 feat(protocol): add helder constants for preconf
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfConstants.sol
Labels: area.protocol

#18987 docs(protocol): update mainnet deployment docs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.docs

#18997 feat(docs-site): update tierRouter docs and graphics, proving guide
  packages/docs-site/src/assets/content/docs/network-reference/proof-tier-config-alethia.webp
  packages/docs-site/src/content/docs/guides/node-operators/enable-a-prover.mdx
  packages/docs-site/src/content/docs/network-reference/alethia-addresses.md
  packages/docs-site/src/content/docs/network-reference/network-configuration.mdx
Labels: area.docs

#18998 fix(protocol): move numTransactions and timestamp to blobs
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
Labels: area.protocol

#18999 chore(main): release docs-site 1.25.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19001 fix(protocol): 1 block per forced transaction
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
Labels: area.protocol

#19004 feat(protocol): add `ITaikoInbox.Config` to `ITaikoInbox.BatchInfo`
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
Labels: area.protocol

#19005 fix(taiko-client): optimize logging
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client

#19006 fix(taiko-client): fix logging
  packages/taiko-client/prover/proof_submitter/proof_submitter.go
Labels: area.client

#19003 feat(taiko-client): move `numTransactions` and `timestamp` to blobs
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/bindings/metadata/interface.go
  packages/taiko-client/bindings/metadata/metadata_pacaya.go
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_forced_inclusion_store.go
  packages/taiko-client/bindings/pacaya/gen_prover_set.go
  packages/taiko-client/bindings/pacaya/gen_taiko_inbox.go
  packages/taiko-client/bindings/pacaya/gen_taiko_wrapper.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/blob/syncer.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/txlist_decompressor/txlist_decompressor.go
  packages/taiko-client/pkg/config/protocol_config.go
  packages/taiko-client/pkg/utils/utils.go
  packages/taiko-client/proposer/transaction_builder/blob.go
  packages/taiko-client/proposer/transaction_builder/calldata.go
  packages/taiko-client/proposer/transaction_builder/common.go
  packages/taiko-client/prover/event_handler/block_proposed_pacaya.go
Labels: area.client

#19010 docs(docs-site): add tenderly info
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs, area.website
