Repository taikoxyz/taiko-mono, pull requests merged in 2025-04, with the labels that each got.

#19186 docs(protocol): fixed dead links
  packages/protocol/docs/how_taiko_is_deployed.md
Labels: area.docs

#19184 feat(taiko-client): check proof status in `BatchesProved` event handler
  packages/taiko-client/prover/event_handler/transition_proved.go
Labels: area.client

#19189 chore(taiko-client): remove a duplicated check for P2P message
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19191 docs(protocol): updated broken links
  packages/protocol/docs/analysis/MrPotatoMagic-Analysis.md
  packages/protocol/docs/how_taiko_proves_blocks.md
Labels: area.docs

#19187 feat(taiko-client): improve P2P message checks in `OnUnsafeL2Payload`
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19196 feat(protocol): update config script
  packages/protocol/script/layer1/provers/config_dcap_sgx_verifier.sh
Labels: area.protocol

#19199 docs(protocol): update contract logs related pivot proof
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19193 chore(eventindexer): golangci-lint v2 migrate
  packages/eventindexer/.golangci.yml
  packages/eventindexer/indexer/index_erc20_transfers.go
  packages/eventindexer/pkg/http/user_bridged.go
  packages/eventindexer/pkg/http/user_proposed_block.go
  packages/eventindexer/pkg/http/user_proved_block.go
  packages/eventindexer/pkg/mock/event_repository.go
  packages/eventindexer/pkg/repo/chart.go
Labels: area.event-indexer

#19194 chore(relayer): golangci-lint v2 migrate
  packages/relayer/.golangci.yml
  packages/relayer/processor/is_profitable.go
  packages/relayer/processor/process_message.go
  packages/relayer/types.go
Labels: area.relayer

#19202 feat(taiko-client): clear buffer & make `proofPollingInterval` configurable
  packages/taiko-client/cmd/flags/prover.go
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/interface.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
Labels: area.client, category.feature

#19204 docs(protocol): add new l2 resolver for Pacaya
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19201 fix(protocol): change modifier to `onlyOwner`
  packages/protocol/contracts/layer1/verifiers/SgxVerifier.sol
  packages/protocol/contracts/shared/libs/LibStrings.sol
Labels: category.bug, area.protocol

#19203 fix(protocol): some issue caused by Hekla upgrade
  packages/protocol/script/layer1/hekla/UpdatePacayaL2.s.sol
  packages/protocol/script/layer2/hekla/DeployPacayaL2.s.sol
Labels: area.protocol

#19213 feat(taiko-client): remove some unused variables in `rpc` package
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/pkg/rpc/utils.go
  packages/taiko-client/proposer/config.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
  packages/taiko-client/prover/proof_submitter/transaction/sender_test.go
Labels: area.client

#19212 chore(protocol): make base fee change 4 times slower than Ethereum
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19215 chore(docs-site): update proverset guide, alethia and hekla addresses, include surge in devtools
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
  packages/docs-site/src/content/docs/network-reference/alethia-addresses.md
  packages/docs-site/src/content/docs/network-reference/hekla-addresses.md
  packages/docs-site/src/content/docs/resources/developer-tools.mdx
Labels: area.docs

#19221 chore(repo): remove blobstorage package
  README.md
  packages/blobstorage/.default.indexer.env
  packages/blobstorage/.default.server.env
  packages/blobstorage/.gitignore
  packages/blobstorage/CHANGELOG.md
  packages/blobstorage/README.md
  packages/blobstorage/TaikoL1.json
  packages/blobstorage/api/api.go
  packages/blobstorage/api/config.go
  packages/blobstorage/bindings/taikol1/TaikoL1.go
  packages/blobstorage/blob_hash.go
  packages/blobstorage/block_meta.go
  packages/blobstorage/cmd/flags/api.go
  packages/blobstorage/cmd/flags/common.go
  packages/blobstorage/cmd/flags/database.go
  packages/blobstorage/cmd/flags/indexer.go
  packages/blobstorage/cmd/main.go
  packages/blobstorage/cmd/utils/subcommand.go
  packages/blobstorage/db.go
  packages/blobstorage/docker-compose/docker-compose.yml
  packages/blobstorage/docs/docs.go
  packages/blobstorage/docs/index.html
  packages/blobstorage/docs/swagger.json
  packages/blobstorage/docs/swagger.yaml
  packages/blobstorage/indexer/beaconclient.go
  packages/blobstorage/indexer/config.go
  packages/blobstorage/indexer/indexer.go
  packages/blobstorage/migrations/16667_create_blob_hashes_table.sql
  packages/blobstorage/migrations/16668_add_block_id_index.sql
  packages/blobstorage/migrations/16669_add_blob_hash_index.sql
  packages/blobstorage/migrations/16670_create_blocks_meta_table.sql
  packages/blobstorage/migrations/16671_create_unique_blob_hashes_table.sql
  packages/blobstorage/package.json
  packages/blobstorage/pkg/db/db/db.go
  packages/blobstorage/pkg/db/db/db_test.go
  packages/blobstorage/pkg/http/get_blob.go
  packages/blobstorage/pkg/http/server.go
  packages/blobstorage/pkg/metrics/metrics.go
  packages/blobstorage/pkg/metrics/metrics_test.go
  packages/blobstorage/pkg/repo/blob_hash.go
  packages/blobstorage/pkg/repo/block_meta.go
  packages/blobstorage/pkg/repo/db.go
  packages/blobstorage/pkg/repo/repositories.go
  packages/blobstorage/pkg/utils/utils.go
  packages/blobstorage/python_query.py
  packages/blobstorage/scripts/abigen.sh
  packages/blobstorage/scripts/swagger.sh
Labels: area.repo

#19218 chore(main): release docs-site 1.27.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19209 feat(protocol): support hekla pivot setup
  packages/protocol/script/layer1/provers/config_dcap_sgx_verifier.sh
Labels: area.protocol

#19210 docs(protocol): document vault upgrades on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
Labels: area.protocol

#19228 fix(taiko-client): use proof type from raiko
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
Labels: area.client

#19226 chore(protocol): add extra comments to TaikoInbox
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
Labels: area.protocol

#19232 fix(protocol): fix deployment in `DeployProtocolOnL1`
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
Labels: area.protocol

#19234 fix(docs-site): fix proverset doc
  packages/docs-site/src/content/docs/guides/node-operators/deploy-a-proverset.mdx
Labels: area.docs

#19235 chore(main): release docs-site 1.27.3
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19236 feat(taiko-client): introduce `isBatchPreconfirmed` check in `BatchProposed` event handler
  .github/workflows/taiko-client--test.yml
  packages/taiko-client/.golangci.yml
  packages/taiko-client/Makefile
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/driver_test.go
Labels: category.enhancement, area.client

#19240 fix(taiko-client): don't return err when single sp1 proof is null
  packages/taiko-client/prover/config.go
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
Labels: area.client

#19242 feat(protocol): rename pivot verifier to geth verifier
  packages/protocol/contracts/layer1/devnet/verifiers/DevnetVerifier.sol
  packages/protocol/contracts/layer1/hekla/verifiers/HeklaVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyTwoVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/AnyVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/ComposeVerifier.sol
  packages/protocol/contracts/layer1/verifiers/compose/SgxAndZkVerifier.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/script/layer1/provers/config_dcap_sgx_verifier.sh
Labels: area.protocol

#19192 refactor(eventindexer, relayer): simplify end index calculations using min function
  packages/eventindexer/indexer/filter.go
  packages/relayer/types.go
Labels: area.relayer, area.event-indexer

#19216 chore(guardian-prover-health-check): golangci-lint v2 migrate
  packages/guardian-prover-health-check/.golangci.yml
  packages/guardian-prover-health-check/repo/healthcheck.go
Labels: area.guardian-prover-dashboard

#19217 refactor(eventindexer, relayer): use slices.Delete replace manual ops
  packages/eventindexer/pkg/mock/event_repository.go
  packages/relayer/pkg/mock/event_repository.go
Labels: area.relayer, area.event-indexer

#19245 chore(docs-site): rename + diagram fix pivot to sgxgeth
  packages/docs-site/src/assets/content/docs/taiko-alethia-protocol/raiko-image-draft.webp
  packages/docs-site/src/assets/content/docs/taiko-alethia-protocol/raiko-registration-flow.webp
  packages/docs-site/src/content/docs/taiko-alethia-protocol/pacaya-fork.mdx
Labels: area.docs

#19233 fix(protocol): fix l2 genesis
  packages/protocol/test/genesis/generate/taikoAnchor.ts
Labels: area.protocol

#19244 chore(protocol): improve contract var naming
  packages/protocol/contracts/shared/libs/LibStrings.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
Labels: area.protocol

#19246 chore(main): release docs-site 1.27.4
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19243 refactor(taiko-client): rename pivot verifier
  packages/taiko-client/bindings/pacaya/.githead
  packages/taiko-client/bindings/pacaya/gen_compose_verifier.go
  packages/taiko-client/internal/metrics/metrics.go
  packages/taiko-client/pkg/rpc/methods.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/common.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer_test.go
  packages/taiko-client/prover/proof_producer/interface.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/proof_submitter/transaction/builder.go
Labels: area.client

#19252 docs(protocol): upgrade renamed contracts
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19174 chore(main): release taiko-alethia-client 1.5.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19255 feat(protocol): use constant liveness bond per batch
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/preconf/PreconfInbox.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/script/layer1/hekla/UpdatePacayaL2.s.sol
  packages/protocol/script/layer1/hekla/UpgradeHeklaPacayaL2.s.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_BondToken.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Cooldown.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/InboxTest_StopBatch.t.sol
Labels: area.protocol

#19225 feat(taiko-client): improve `ImportChildBlocksFromCache` and increase cache size
  .github/workflows/taiko-client--docker.yml
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/queue.go
  packages/taiko-client/driver/preconf_blocks/queue_test.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#19195 feat(taiko-client): introduce `payloadQueue` for P2P gossip messages
  packages/taiko-client/bindings/encoding/struct.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/queue.go
  packages/taiko-client/driver/preconf_blocks/queue_test.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: category.enhancement, area.client

#19262 fix(taiko-client): fix an occasional `engine.SYNCING` error when receiving P2P preconf blocks
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/testutils/suite.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#19229 feat(protocol): add a few governance/treasury related contracts
  packages/protocol/.gas-snapshot
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/governance/MinimalOwner.sol
  packages/protocol/contracts/layer1/governance/TaikoTreasuryVault.sol
  packages/protocol/contracts/layer1/governance/TokenLocker.sol
  packages/protocol/script/gen-layouts.sh
  packages/protocol/test/layer1/governance/MinimalOwner.t.sol
  packages/protocol/test/layer1/governance/TaikoTreasuryVault.t.sol
  packages/protocol/test/layer1/governance/TokenLocker.t.sol
  packages/protocol/test/layer1/preconf/beacon/BeaconProofsVerification.t.sol
  packages/protocol/test/mocks/TestERC20.sol
Labels: area.protocol

#19257 feat(protocol): a few improvements to ProverMarket
  packages/protocol/.gas-snapshot
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/preconf/PreconfInbox.sol
  packages/protocol/contracts/layer1/prover-market/IProverMarket.sol
  packages/protocol/contracts/layer1/prover-market/ProverMarket.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
Labels: area.protocol

#19266 fix(eventindexer): eventindexer starting block for pacaya
  packages/eventindexer/contracts/pacaya/taikoinbox/TaikoInbox.go
  packages/eventindexer/indexer/indexer.go
  packages/eventindexer/indexer/set_initial_processing_block_height.go
Labels: area.event-indexer

#19268 docs(protocol): upgrade sgx-geth verifier on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19267 chore(protocol): give each fork a prefix to name functions with.
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
Labels: area.protocol

#19264 feat(protocol): enable ProverMarket to keep track of a fee moving average
  packages/protocol/.gas-snapshot
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/prover-market/IProverMarket.sol
  packages/protocol/contracts/layer1/prover-market/ProverMarket.sol
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/test/layer1/prover-market/ProverMarket.t.sol
Labels: area.protocol

#19272 chore(protocol, taiko-client): general typos fix
  packages/protocol/audit/code4rena-2024-03-taiko-final-report.md
  packages/protocol/contracts/layer1/automata-attestation/lib/PEMCertChainLib.sol
  packages/taiko-client/bindings/encoding/input.go
  packages/taiko-client/bindings/metadata/metadata_ontake.go
  packages/taiko-client/bindings/metadata/metadata_pacaya.go
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/internal/testutils/helper.go
  packages/taiko-client/internal/testutils/interfaces.go
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/proposer/transaction_builder/calldata_test.go
  packages/taiko-client/prover/event_handler/block_proposed.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.protocol, area.client

#19250 feat(protocol): allow perconfers/proposers to mark blocks
  packages/protocol/.gas-snapshot
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
Labels: shasta

#19271 feat(taiko-client): preconf handover skip slots
  packages/taiko-client/cmd/flags/driver.go
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
  packages/taiko-client/pkg/rpc/beaconclient.go
Labels: area.client

#19280 docs(protocol): upgrade logs of zk verifiers
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19247 feat(protocol): introduce prover market for Proposer-Prover Separation
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/preconf/PreconfInbox.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/prover-market/IProverMarket.sol
  packages/protocol/contracts/layer1/prover-market/ProverMarket.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer.md
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer_fee_above_liveness.md
  packages/protocol/gas-reports/inbox_without_provermarket.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.md
  packages/protocol/layout/layer2-contracts.md
  packages/protocol/package.json
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/prover-market/ProverMarket.t.sol
Labels: area.protocol, option.do-not-merge, shasta

#19284 chore(protocol): correct spelling in mainnet contract logs
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19289 docs(protocol): update verifier names in `UpgradeDevnetPacayaL1` contract
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
Labels: area.protocol

#19293 chore(protocol): change base fee min value and share percentage
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/test/layer2/LibEIP1559.t.sol
Labels: area.protocol

#19265 feat(protocol): using latest risc0 2.0.0 & sp1 4.0.0 verifier
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/package.json
  packages/protocol/script/layer1/provers/config_dcap_sgx_verifier.sh
  pnpm-lock.yaml
Labels: area.protocol

#19295 docs(protocol): change logs of `minGasExcess` and `sharingPctg` on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19296 chore(protocol): revert #19212
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
Labels: area.protocol

#19273 feat(protocol): introduce prover market for Proposer-Prover Separation
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/prover-market/IProverMarket.sol
  packages/protocol/contracts/layer1/prover-market/ProverMarket.sol
  packages/protocol/deployments/test_inbox_measure_gas_used.txt
  packages/protocol/foundry.toml
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer.md
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer_fee_above_liveness.md
  packages/protocol/gas-reports/inbox_without_provermarket.md
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/layout/layer1-contracts.md
  packages/protocol/layout/layer2-contracts.md
  packages/protocol/package.json
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
  packages/protocol/script/layer1/devnet/DeployPacayaL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/prover-market/ProverMarket.t.sol
Labels: area.protocol, option.do-not-merge, shasta

#19297 docs(protocol): change logs of `minGasExcess` and `sharingPctg` on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19287 chore(protocol): add URC (https://github.com/eth-fabric/urc main branch) dependency
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer.md
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer_fee_above_liveness.md
  packages/protocol/gas-reports/inbox_without_provermarket.md
  packages/protocol/gas-reports/test_inbox_with_provermarket_same_prover_as_proposer_measure_gas_used.md
  packages/protocol/package.json
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  pnpm-lock.yaml
Labels: shasta

#19291 refactor(protocol): refactor TaikoAnchor code
  packages/protocol/contracts/layer2/based/LibL2Config.sol
  packages/protocol/contracts/layer2/based/anchor/OntakeAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/TaikoAnchor.sol
  packages/protocol/contracts/layer2/based/eip1559/LibEIP1559.sol
  packages/protocol/contracts/shared/based/LibSharedData.sol
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/script/gen-layouts.sh
  packages/protocol/script/layer2/devnet/UpgradeDevnetPacayaL2.s.sol
  packages/protocol/script/layer2/hekla/DeployPacayaL2.s.sol
  packages/protocol/test/genesis/GenerateGenesis.g.sol
  packages/protocol/test/genesis/data/genesis_config.js
  packages/protocol/test/genesis/data/genesis_config.json
  packages/protocol/test/genesis/generate/interface.ts
  packages/protocol/test/genesis/generate/taikoAnchor.ts
  packages/protocol/test/genesis/test_config.js
  packages/protocol/test/layer2/Layer2Test.sol
  packages/protocol/test/layer2/based/anchor/TaikoAnchor.t.sol
  packages/protocol/test/layer2/based/eip1559/LibEIP1559.t.sol
  packages/protocol/test/layer2/helpers/TaikoAnchor_NoBaseFeeCheck.sol
Labels: shasta

#19307 fix(taiko-client): fix an issue in `RemovePreconfBlocks` when no `HeadL1Origin` in L2 EE
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/taiko-client/driver/chain_syncer/blob/syncer_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/pkg/rpc/methods.go
Labels: area.client

#19308 chore(protocol): rename verifier identifiers
  packages/protocol/script/layer1/hekla/DeployHeklaPacayaL1.s.sol
Labels: area.protocol

#19253 feat(protocol): introduce ShastaForkRouter with ITaikoInbox's functions named
  packages/protocol/contracts/layer1/based/IBondManager.sol
  packages/protocol/contracts/layer1/based/IProposeBatch.sol
  packages/protocol/contracts/layer1/based/IProveBatches.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/devnet/DevnetInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/ForcedInclusionStore.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/fork-router/ShastaForkRouter.sol
  packages/protocol/contracts/layer1/hekla/HeklaInbox.sol
  packages/protocol/contracts/layer1/mainnet/MainnetInbox.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/prover-market/ProverMarket.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/contracts/layer1/provers/ProverSetBase.sol
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/shared/based/ITaiko.sol
  packages/protocol/contracts/shared/tokenvault/ERC20Vault.sol
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer.txt
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer_fee_above_liveness.txt
  packages/protocol/gas-reports/inbox_with_provermarket_same_prover_as_proposer_measure_gas_used.txt
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/devnet/UpgradeDevnetPacayaL1.s.sol
  packages/protocol/test/layer1/Layer1Test.sol
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_BondToken.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Cooldown.t.sol
  packages/protocol/test/layer1/based/InboxTest_EtherAsBond.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/InboxTest_StopBatch.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
  packages/protocol/test/layer1/forced-inclusion/ForcedInclusionStore.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
  packages/protocol/test/layer1/prover-market/ProverMarket.t.sol
  packages/protocol/test/layer1/team/tokenunlock/TokenUnlock_ProverSet.t.sol
  packages/protocol/test/layer1/verifiers/SP1Verifier.t.sol
  packages/protocol/test/shared/tokenvault/ERC20Vault.h.sol
Labels: area.protocol, shasta

#19309 revert(protocol): remove marker from batch parameter
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer.txt
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer_fee_above_liveness.txt
  packages/protocol/gas-reports/inbox_with_provermarket_same_prover_as_proposer_measure_gas_used.txt
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
Labels: shasta

#19299 fix(taiko-client): a Pacaya height that the mainnet won't reach temporarily
  packages/taiko-client/pkg/rpc/client.go
Labels: area.client

#19313 feat(taiko-client): run tests post Pacaya fork
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/taiko-client/integration_test/l1_env.sh
Labels: area.protocol, area.client

#19314 fix(taiko-client): fix an issue in `isBatchPreconfirmed`
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/driver_test.go
Labels: area.client

#19315 chore(protocol): fix deployment scripts for Pacaya cleanup
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/script/layer1/based/deploy_protocol_on_l1.sh
Labels: area.protocol

#19316 fix(taiko-client): fix client docker workflow
  .github/workflows/taiko-client--docker.yml
Labels: area.client

#19317 refactor(taiko-client): fix tests & some refactoring & improve checks
  packages/taiko-client/prover/event_handler/batch_proposed.go
  packages/taiko-client/prover/event_handler/batches_proposed_test.go
  packages/taiko-client/prover/event_handler/batches_verified_test.go
  packages/taiko-client/prover/init.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/compose_proof_producer_test.go
  packages/taiko-client/prover/proof_producer/dummy_producer.go
  packages/taiko-client/prover/proof_producer/dummy_producer_test.go
  packages/taiko-client/prover/proof_producer/pivot_proof_producer.go
  packages/taiko-client/prover/proof_producer/proof_buffer.go
  packages/taiko-client/prover/proof_producer/proof_buffer_test.go
  packages/taiko-client/prover/proof_producer/proof_producer.go
  packages/taiko-client/prover/proof_submitter/interface.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
  packages/taiko-client/prover/prover.go
  packages/taiko-client/prover/prover_test.go
Labels: category.enhancement, area.client

#19323 fix(taiko-client): fix an issue in missing ancients search
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: area.client

#19334 fix(repo): fix codecov ci trigger
  .github/workflows/taiko-client--test.yml
Labels: area.client

#19322 feat(taiko-client): lookahead sliding window
  go.mod
  go.sum
  packages/taiko-client/driver/config.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/lookahead.go
  packages/taiko-client/driver/preconf_blocks/lookahead_test.go
  packages/taiko-client/driver/preconf_blocks/server.go
  packages/taiko-client/driver/preconf_blocks/server_test.go
  packages/taiko-client/pkg/rpc/client.go
Labels: area.client

#19339 feat(taiko-client): introduce `ImportPendingBlocksFromCache` in `PreconfBlockAPIServer`
  packages/taiko-client/driver/chain_syncer/blob/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/driver/preconf_blocks/api.go
  packages/taiko-client/driver/preconf_blocks/queue.go
  packages/taiko-client/driver/preconf_blocks/server.go
Labels: category.enhancement, area.client

#19338 feat(protocol): add `getEpochTimestamp(uint epochOffset)`
  packages/protocol/contracts/layer1/preconf/libs/LibPreconfUtils.sol
Labels: shasta

#19337 feat(protocol): change IProposeBatch and delete IPreconfRouter
  packages/protocol/contracts/layer1/based/IProposeBatch.sol
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/contracts/layer1/preconf/iface/IPreconfRouter.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter.sol
  packages/protocol/contracts/layer1/provers/ProverSet.sol
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer.txt
  packages/protocol/gas-reports/inbox_with_provermarket_diff_prover_and_proposer_fee_above_liveness.txt
  packages/protocol/gas-reports/inbox_with_provermarket_same_prover_as_proposer_measure_gas_used.txt
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/based/InboxTestBase.sol
  packages/protocol/test/layer1/based/InboxTest_BondMechanics.t.sol
  packages/protocol/test/layer1/based/InboxTest_CalldataForTxList.t.sol
  packages/protocol/test/layer1/based/InboxTest_Params.t.sol
  packages/protocol/test/layer1/based/InboxTest_ProposeAndProve.t.sol
  packages/protocol/test/layer1/based/helpers/StubInbox.sol
  packages/protocol/test/layer1/preconf/mocks/MockTaikoInbox.sol
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
Labels: shasta

#19340 refactor(taiko-client): rename `blobSyncer` to `eventSyncer`
  packages/taiko-client/driver/chain_syncer/chain_syncer.go
  packages/taiko-client/driver/chain_syncer/chain_syncer_test.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/common.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/interface.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/ontake.go
  packages/taiko-client/driver/chain_syncer/event/blocks_inserter/pacaya.go
  packages/taiko-client/driver/chain_syncer/event/syncer.go
  packages/taiko-client/driver/chain_syncer/event/syncer_test.go
  packages/taiko-client/driver/driver.go
  packages/taiko-client/driver/driver_test.go
  packages/taiko-client/proposer/proposer_test.go
  packages/taiko-client/prover/event_handler/block_proposed_test.go
  packages/taiko-client/prover/event_handler/transition_proved_test.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_ontake_test.go
  packages/taiko-client/prover/prover_test.go
Labels: area.client

#19352 fix(taiko-client): make metrics about sgx-geth more accurate
  packages/taiko-client/prover/proof_producer/compose_proof_producer.go
  packages/taiko-client/prover/proof_producer/interface.go
  packages/taiko-client/prover/proof_producer/sgx_geth_proof_producer.go
  packages/taiko-client/prover/proof_submitter/proof_submitter_pacaya.go
Labels: area.client

#19359 feat(protocol): measure and store `lastAnchorGasUsed` in TaikoAnchor
  packages/protocol/contracts/layer2/based/anchor/PacayaAnchor.sol
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
  packages/protocol/layout/layer2-contracts.txt
  packages/protocol/test/layer2/based/anchor/TaikoAnchor.t.sol
Labels: area.protocol
