Repository taikoxyz/taiko-mono, pull requests merged in 2025-06, with the labels that each got.

#19261 chore(main): release taiko-alethia-client 1.6.0
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19573 chore(repo): dependabot change
  .github/dependabot.yml
Labels: area.repo

#19336 feat(protocol): connect lookahead to preconf router
  packages/protocol/contracts/layer1/based/LibProverAuth.sol
  packages/protocol/contracts/layer1/preconf/iface/ILookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/LookaheadStore.sol
  packages/protocol/contracts/layer1/preconf/impl/PreconfRouter2.sol
  packages/protocol/layout/layer1-contracts.txt
  packages/protocol/script/gen-layouts.sh
Labels: area.protocol, shasta

#19553 feat(relayer): add bridged-token-scanner
  packages/tools/bridged-token-scanner/README.md
  packages/tools/bridged-token-scanner/index.js
  packages/tools/bridged-token-scanner/networks.js
  packages/tools/bridged-token-scanner/package-lock.json
  packages/tools/bridged-token-scanner/package.json
  packages/tools/bridged-token-scanner/utils.js
Labels: area.relayer

#19578 chore(main): release taiko-alethia-client 1.6.1
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19579 fix(docs-site): reflect actual live releases
  packages/docs-site/src/content/docs/network-reference/software-releases-and-deployments.md
Labels: area.docs

#19583 docs(protocol): deployment logs of sp1 v5.0.0 on mainnet
  packages/protocol/deployments/mainnet-contract-logs-L1.md
Labels: area.protocol

#19586 feat(protocol): mark forced-inclusion blocks in extraData
  packages/protocol/contracts/layer1/based/ITaikoInbox.sol
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/forced-inclusion/TaikoWrapper.sol
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/preconf/router/PreconfRouter.t.sol
Labels: area.protocol, shasta

#19593 chore(main): release taiko-alethia-client 1.6.2
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19563 docs(protocol): deployment logs for preconfirmation on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19591 chore(main): release docs-site 1.28.2
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19600 chore(main): release docs-site 1.28.3
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: tagged

#19606 feat(protocol): upgrade risc0 verifier to v2.1.0
  packages/protocol/deployments/hekla-contract-logs.md
  packages/protocol/deployments/mainnet-contract-logs-L1.md
  packages/protocol/script/layer1/based/UpgradeVerifier.s.sol
Labels: area.protocol

#19611 feat(protocol): restrict base fee in a range [0.005 - 2.5 gwei]
  packages/protocol/contracts/layer2/based/anchor/ShastaAnchor.sol
Labels: area.protocol, category.feature, shasta

#19597 feat(protocol): include msg.sender in public input hash to prevent proof theft
  packages/protocol/contracts/layer1/based/TaikoInbox.sol
  packages/protocol/contracts/layer1/verifiers/IVerifier.sol
  packages/protocol/contracts/layer1/verifiers/LibPublicInput.sol
  packages/protocol/contracts/layer1/verifiers/TaikoRisc0Verifier.sol
  packages/protocol/contracts/layer1/verifiers/TaikoSP1Verifier.sol
  packages/protocol/contracts/layer1/verifiers/TaikoSgxVerifier.sol
  packages/protocol/gas-reports/inbox_without_provermarket.txt
  packages/protocol/gas-reports/layer1-contracts.txt
  packages/protocol/test/layer1/verifiers/TaikoSP1Verifier.t.sol
Labels: area.protocol, shasta

#19622 chore(docs-site): record alethia addresses in contract-addresses page
  packages/docs-site/src/content/docs/network-reference/contract-addresses.mdx
Labels: area.docs

#19617 chore(main): release docs-site 1.29.0
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19625 chore(repo): add bridged token address form
  .github/ISSUE_TEMPLATE/add-token-address.yml
Labels: area.docs

#19631 fix(taiko-client): record private tx failed when not DeadlineExceeded
  packages/protocol/contract_layout_layer1.md
  packages/protocol/contract_layout_layer2.md
  packages/protocol/script/layer1/based/DeployProtocolOnL1.s.sol
  packages/protocol/test/shared/DeployCapability.sol
  packages/taiko-client/proposer/proposer.go
  packages/taiko-client/prover/proof_submitter/transaction/sender.go
Labels: category.bug, area.client

#19637 chore(main): release docs-site 1.29.1
  .release-please-manifest.json
  packages/docs-site/CHANGELOG.md
  packages/docs-site/package.json
Labels: autorelease: pending

#19641 docs(protocol): upgrade preconf whitelist
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol

#19663 feat(repo): use codeowners
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: area.repo

#19659 chore(main): release taiko-alethia-client 1.6.3
  .release-please-manifest.json
  packages/taiko-client/CHANGELOG.md
  packages/taiko-client/internal/version/version.go
  packages/taiko-client/package.json
Labels: autorelease: pending

#19678 docs(protocol): upgrade inbox & anchor contracts on Hekla
  packages/protocol/deployments/hekla-contract-logs.md
Labels: area.protocol
